<md-dialog class="reference-table draggable-dialog" aria-label="reference table edit dialog" drag-dialog>
    <md-toolbar>
        <dialog-header
                data-title="Reference Table: {{vm.referenceTable.name}}"
                cancel-dialog="vm.cancel()"
        >
        </dialog-header>
    </md-toolbar>
    <md-dialog-content class="custom-scrollbar p-24 dndScrollableElem">

        <div>

            <md-input-container>
                <label>Name</label>
                <input type="text" data-ng-model="vm.referenceTable.name">
            </md-input-container>

            <usercode-input data-item="vm.referenceTable"></usercode-input>

        </div>

        <div layout="row" class="reference-table-columns-filters-container">
            <md-input-container class="reference-table-keys-filter" md-no-float="">
                <input data-ng-model="vm.filterTerms.key"
                       placeholder="Search for keys">
            </md-input-container>

            <md-input-container class="reference-table-value-filter" md-no-float="">
                <input data-ng-model="vm.filterTerms.value"
                       placeholder="Search for values">
            </md-input-container>
        </div>

        <div layout="row" class="reference-table-columns-names-container">
            <div style="width: 350px;">Key</div>
            <div>Value</div>
        </div>

        <div class="referenceTableRowsHolder">

            <div data-ng-repeat="item in vm.referenceTable.rows | orderBy: 'order' | filter:vm.filterTerms as results track by item.order"
                 data-ng-init="$last && !vm.dragAndDropInited && vm.dragAndDrop.init()"
                 data-row-order="{{item.order}}">

                <!--<div layout="row">

                </div>-->
                <md-card class="position-relative e-reference-table-row-card">
                    <div layout="row">

                        <md-input-container class="no-error-spacer reference-table-key-input-container"
                                            style="width: 300px;">
                            <input type="text"
                                   data-ng-class="{'key-duplicate': item.is_duplicate && vm.validationEnabled}"
                                   data-ng-model="item.key"
                                   data-ng-keyup="vm.checkForDuplicates()">
                        </md-input-container>

                        <md-input-container class="no-error-spacer reference-table-value-input-container">
                            <input type="text" data-ng-model="item.value">
                        </md-input-container>

                        <md-button class="md-button md-warn"
                                   ng-click="vm.deleteRow($event, item.order)">
                            Delete
                        </md-button>

                    </div>

                    <!--<div class="e-reference-table-drag-icon-holder ert-grab-place"
                         data-ng-mousedown="vm.turnOnDragging()">
                        <ng-md-icon icon="dialpad" size="20" class="draggable-dialog-sign"></ng-md-icon>
                    </div>-->
                    <div class="e-reference-table-drag-icon-holder"
                         data-ng-mousedown="vm.turnOnDragging()">
                        <is-draggable-sign></is-draggable-sign>
                    </div>
                </md-card>

            </div>

        </div>

        <div>
            <md-button class="md-raised md-primary" ng-click="vm.createRow($event)">
                Add New Row
            </md-button>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <md-button ng-click="vm.cancel()">
            Close
        </md-button>

        <md-button class="md-raised" ng-click="vm.makeCopy($event)" data-ng-class="{'disabled-btn': vm.processing}"
        >
            Make a copy
        </md-button>

        <md-button class="md-raised" ng-click="vm.agree($event)" style="margin-right:20px;">
            <span data-ng-if="!vm.referenceTable.id">Create</span>
            <span data-ng-if="vm.referenceTable.id">Update</span>
        </md-button>
    </md-dialog-actions>
</md-dialog>