<md-dialog aria-label="" drag-dialog ng-cloak class="custom-field-config-dialog-view draggable-dialog"
           style="width: 60%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Custom field config manager</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content data-custom-scroll class="custom-scrollbar">

        <div layout="row">
            <md-input-container style="width: 100%">
                <label for="">Select field</label>
                <md-select data-ng-model="vm.reportField">
                    <md-option data-ng-value="item" data-ng-repeat="item in vm.reportFields">
                        {{item.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <div data-ng-if="vm.reportField.value_type == 'float'">
            <div data-ng-include="'views/float-custom-field-constructor-view.html'"></div>
        </div>

        <div data-ng-if="vm.reportField.value_type == 40">
            <div data-ng-include="'views/date-custom-field-constructor-view.html'"></div>
        </div>


    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="vm.cancel()">
            Cancel
        </md-button>
        <md-button class="md-raised" ng-click="vm.agree()" style="margin-right:20px;">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>