<md-dialog aria-label="" ng-cloak class="draggable-dialog" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Default pricing config</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content class="p-24">
        <div layout="row">
            <h3 style="color:#ff0000">Not yet implemented</h3>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="vm.cancel()">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>