<md-dialog aria-label="" ng-cloak class="entity-search-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Search {{vm.entityType}}</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <div class="entity-search-fixed-thead-wrapper">
        <table>
            <thead>
            <tr>
                <th data-ng-repeat="column in vm.columns[vm.entityType]">
                    <md-input-container class="md-block entity-search-filter" data-ng-if="column.name !== 'Instrument type'">
                        <label>{{column.name}}</label>
                        <input data-ng-model="vm.search[vm.entityType][column.key]"
                               data-ng-model-options="{debounce: 1000}"
                               data-ng-change="vm.updateTable()">
                    </md-input-container>
                </th>
            </tr>
            <tr>
                <th data-ng-repeat="column in vm.columns[vm.entityType]">
                    <dvi layout="row" data-ng-click="vm.sortBy(column.key)">
                        <b class="entity-search-col-b">
                            {{column.name}}
                            <span class="sortorder"
                                  data-ng-show="vm.sort === column.key"
                                  data-ng-class="{reverse: vm.sortDescending}"
                            ></span>
                        </b>
                    </dvi>
                </th>
            </tr>
            </thead>
        </table>
    </div>
    <md-dialog-content>
        <div>
            <table class="bordered entity-search-table">
                <thead>
                    <tr>
                        <th data-ng-repeat="column in vm.columns[vm.entityType]">
                            <md-input-container class="md-block entity-search-filter" data-ng-if="column.name !== 'Instrument type'">
                                <label>{{column.name}}</label>
                                <input data-ng-model-options="{debounce: 1000}">
                            </md-input-container>
                        </th>
                    </tr>
                    <tr>
                        <th data-ng-repeat="column in vm.columns[vm.entityType]">
                            <div layout="row">
                                <b class="entity-search-col-b">{{column.name}}</b>
                            </div>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr data-ng-click="vm.selectRow(item)"
                        ng-dblclick="vm.selectAndSave(item)"
                        data-ng-repeat="item in vm.items"
                        class="{{item.active ? 'active' : ''}}"
                        style="height: 40px">
                        <td data-ng-repeat="column in vm.columns[vm.entityType]"
                            data-ng-bind="vm.getTdValue(item, column.key)"></td>
                    </tr>
                </tbody>

            </table>

            <div data-ng-if="!vm.items.length" style="text-align: center; margin-top: 20px">No result found</div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="vm.cancel()">
            Cancel
        </md-button>
        <md-button class="md-raised md-primary" ng-click="vm.agree()" style="margin-right:20px;">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>