<md-dialog aria-label="" ng-cloak class="export-pdf-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Export to PDF</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>

        <div layout="column">

            <div layout="row">

                <md-input-container>

                    <label for="">Layout</label>

                    <md-select data-ng-model="vm.settings.layout" data-ng-change="vm.generatePreview()">
                        <md-option data-ng-repeat="item in vm.layouts" ng-value="item.value">
                            {{item.name}}
                        </md-option>
                    </md-select>

                </md-input-container>

                <md-input-container style="width: 100px;">

                    <label for="">Font Size</label>

                    <md-select data-ng-model="vm.settings.fontSize" data-ng-change="vm.generatePreview()">
                        <md-option data-ng-repeat="item in vm.fontSizes" ng-value="item.value">
                            {{item.name}}
                        </md-option>
                    </md-select>

                </md-input-container>

                <md-input-container>
                    <label for="">Title</label>
                    <input type="text" data-ng-model="vm.settings.title">
                </md-input-container>

                <md-input-container>
                    <label for="">Logo (URL)</label>
                    <input type="text" data-ng-model="vm.settings.logoURL">
                </md-input-container>

                <div>

                    <md-button data-ng-click="vm.toggleCssEditor = !vm.toggleCssEditor">
                        <span data-ng-if="!vm.toggleCssEditor">Show CSS Editor</span>
                        <span data-ng-if="vm.toggleCssEditor">Hide CSS Editor</span>
                    </md-button>

                    <div class="ace-editor css-editor" id="aceEditor" style="height: 200px;"
                         data-ng-show="vm.toggleCssEditor">

                    </div>
                </div>

                <md-button data-ng-click="vm.generatePreview()">Preview</md-button>

            </div>

            <div layout="row">

                <md-input-container>
                    <label for="">Notes</label>
                    <input type="text" data-ng-model="vm.settings.notes">
                </md-input-container>

                <md-input-container style="width: 160px;">

                    <md-checkbox ng-model="vm.settings.splitLongWords"
                                 ng-change="vm.generatePreview()"
                                 aria-label="">
                        Split Long Words
                    </md-checkbox>

                </md-input-container>

            </div>

        </div>

        <div data-ng-if="!vm.previewReady">
            <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
                <progress-circular diameter="100"></progress-circular>
            </div>
        </div>

        <div data-ng-show="vm.previewReady && !vm.error">

            <canvas id="pdf-container" class="pdf-container"></canvas>

        </div>

        <div data-ng-show="vm.previewReady && vm.error">

            <div style="max-width: 300px; margin: 10px auto; color: red; white-space: pre; background: #ddd; border: grey">
                {{vm.error}}
            </div>

        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="vm.cancel()">
            Cancel
        </md-button>
        <md-button ng-click="vm.agree()" class="md-primary md-raised" style="margin-right:20px;">
            Download
        </md-button>
    </md-dialog-actions>
</md-dialog>