<md-dialog aria-label="" ng-cloak class="g-report-settings-dialog-view draggable-dialog" drag-dialog style="width: 75%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Report settings</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content data-custom-scroll class="custom-scrollbar" style="background: #E5E5E5;">

        <md-card style="margin-top: 10px;">

            <md-card-content>

                <div data-ng-if="vm.checkReadyStatus()">

                    <h2>General Settings</h2>

                    <div layout="row">

                        <md-input-container>

                            <label for="">Date</label>

                            <zh-date-picker data-ng-model="vm.reportOptions.report_date"
                                            position="left"></zh-date-picker>

                        </md-input-container>

                        <md-input-container>

                            <label for="">Pricing Policy</label>

                            <md-select data-ng-model="vm.reportOptions.pricing_policy">
                                <md-option data-ng-repeat="item in vm.pricingPolicies" ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                    </div>

                    <hr>

                    <div layout="row">

                        <md-input-container>

                            <label for="">Currency</label>

                            <md-select data-ng-model="vm.reportOptions.report_currency">
                                <md-option data-ng-repeat="item in vm.currencies" ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                        <md-input-container>

                            <label for="">Cost method</label>

                            <md-select data-ng-model="vm.reportOptions.cost_method">
                                <md-option ng-value="1">AVCO
                                </md-option>
                                <md-option ng-value="2">FIFO
                                </md-option>
                                <!--<md-option ng-value="3">LIFO-->
                                <!--</md-option>-->
                            </md-select>

                        </md-input-container>

                    </div>

                    <hr>

                    <h2>Advanced Settings</h2>

                    <div layout="row">

                        <div layout="column" class="m-r-16">

                            <md-checkbox data-ng-model="vm.reportOptions.portfolio_mode">Portfolio mode
                            </md-checkbox>
                            <md-checkbox data-ng-model="vm.reportOptions.account_mode">Account mode
                            </md-checkbox>
                            <md-checkbox data-ng-model="vm.reportOptions.show_transaction_details">Detail by transaction
                                details
                            </md-checkbox>

                        </div>

                        <div layout="column">

                            <md-checkbox data-ng-model="vm.reportOptions.strategy1_mode">Strategy 1 mode
                            </md-checkbox>
                            <md-checkbox data-ng-model="vm.reportOptions.strategy2_mode">Strategy 2 mode
                            </md-checkbox>
                            <md-checkbox data-ng-model="vm.reportOptions.strategy3_mode">Strategy 3 mode
                            </md-checkbox>

                        </div>

                    </div>

                    <hr>

                    <h2>Filters</h2>

                    <div layout="row">

                        <md-input-container>

                            <label for="">Portfolios</label>

                            <md-select multiple data-ng-model="vm.reportOptions.portfolios"
                                       md-on-close="searchTerm = ''">
                                <md-select-header>
                                    <input data-ng-model="searchTerm"
                                           type="search"
                                           placeholder="Search for a ..."
                                           ng-keydown="vm.onSearchChange($event)"
                                           class="md-text md-select-search-pattern">
                                </md-select-header>
                                <md-option
                                        data-ng-repeat="item in vm.portfolios | orderBy:'-'+item.name | filter:{name: searchTerm}"
                                        ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                        <md-input-container>

                            <label for="">Accounts</label>

                            <md-select multiple data-ng-model="vm.reportOptions.accounts"
                                       md-on-close="searchTerm = ''">
                                <md-select-header>
                                    <input data-ng-model="searchTerm"
                                           type="search"
                                           placeholder="Search for a ..."
                                           ng-keydown="vm.onSearchChange($event)"
                                           class="md-text md-select-search-pattern">
                                </md-select-header>
                                <md-option
                                        data-ng-repeat="item in vm.accounts | orderBy:'-'+item.name | filter:{name: searchTerm}"
                                        ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                    </div>

                    <div layout="row">

                        <md-input-container>

                            <label for="">Strategies 1</label>

                            <md-select multiple data-ng-model="vm.reportOptions.strategies1"
                                       md-on-close="searchTerm = ''">
                                <md-select-header>
                                    <input data-ng-model="searchTerm"
                                           type="search"
                                           placeholder="Search for a ..."
                                           ng-keydown="vm.onSearchChange($event)"
                                           class="md-text md-select-search-pattern">
                                </md-select-header>
                                <md-option
                                        data-ng-repeat="item in vm.strategies1 | orderBy:'-'+item.name | filter:{name: searchTerm}"
                                        ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                        <md-input-container>

                            <label for="">Strategies 2</label>

                            <md-select multiple data-ng-model="vm.reportOptions.strategies2"
                                       md-on-close="searchTerm = ''">
                                <md-select-header>
                                    <input data-ng-model="searchTerm"
                                           type="search"
                                           placeholder="Search for a ..."
                                           ng-keydown="vm.onSearchChange($event)"
                                           class="md-text md-select-search-pattern">
                                </md-select-header>
                                <md-option
                                        data-ng-repeat="item in vm.strategies2 | orderBy:'-'+item.name | filter:{name: searchTerm}"
                                        ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                        <md-input-container>

                            <label for="">Strategies 3</label>

                            <md-select multiple data-ng-model="vm.reportOptions.strategies3"
                                       md-on-close="searchTerm = ''">
                                <md-select-header>
                                    <input data-ng-model="searchTerm"
                                           type="search"
                                           placeholder="Search for a ..."
                                           ng-keydown="vm.onSearchChange($event)"
                                           class="md-text md-select-search-pattern">
                                </md-select-header>
                                <md-option
                                        data-ng-repeat="item in vm.strategies3 | orderBy:'-'+item.name | filter:{name: searchTerm}"
                                        ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>


                    </div>

                    <h2>Grouping</h2>

                    <div layout="row">
                        <md-radio-group ng-model="vm.reportOptions.calculationGroup" layout="row">

                            <md-radio-button value="portfolio" class="md-primary">Portfolio</md-radio-button>
                            <md-radio-button value="account">Account</md-radio-button>
                            <md-radio-button value="strategy1">Strategy 1</md-radio-button>
                            <md-radio-button value="strategy2">Strategy 2</md-radio-button>
                            <md-radio-button value="strategy3">Strategy 3</md-radio-button>

                        </md-radio-group>

                    </div>

                </div>

                <div data-ng-if="!vm.checkReadyStatus()">
                    <div layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                </div>

            </md-card-content>

        </md-card>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="vm.cancel()">
            Close
        </md-button>
        <md-button class="md-raised" ng-click="vm.saveSettings()">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>