<md-dialog aria-label="" ng-cloak class="g-report-settings-dialog-view draggable-dialog" drag-dialog style="width: 75%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <ng-md-icon icon="dialpad" size="20" class="draggable-dialog-sign"></ng-md-icon>
            <h2>Report settings</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content   style="background: #E5E5E5;">

        <md-card style="margin-top: 10px;">

            <md-card-content>

                <div data-ng-if="vm.checkReadyStatus()">

                    <div data-ng-if="vm.entityType == 'balance-report' || vm.entityType == 'pl-report' || vm.entityType == 'performance-report'">

                        <h2>General Settings</h2>

                        <div layout="row" style="margin-bottom: 20px">

                            <md-input-container data-ng-if="vm.entityType == 'pl-report'">

                                <label for="">First Date</label>

                                <zh-date-picker data-date-value="vm.reportOptions.pl_first_date"
                                                data-ng-model="vm.reportOptions.pl_first_date"
                                                position="left"></zh-date-picker>

                            </md-input-container>

                            <md-input-container>

                                <label for="">Date</label>

                                <zh-date-picker data-date-value="vm.reportOptions.report_date"
                                                data-ng-model="vm.reportOptions.report_date"
                                                position="left"></zh-date-picker>

                            </md-input-container>

                            <!--<md-input-container>

                                <label for="">Pricing Policy</label>

                                <md-select data-ng-model="vm.reportOptions.pricing_policy">
                                    <md-option data-ng-repeat="item in vm.pricingPolicies" ng-value="item.id">
                                        {{item.name}}
                                    </md-option>
                                </md-select>

                            </md-input-container>-->

                            <md-input-container>
                                <label>Pricing Policy</label>
                                <div>
                                    <md-select ng-model="vm.reportOptions.pricing_policy"
                                               md-container-class="common-select-container"
                                               md-on-close="searchTerm = ''">
                                        <md-select-header>
                                            <input data-ng-model="searchTerm"
                                                   type="search"
                                                   placeholder="Search for a ..."
                                                   class="md-text md-select-search-pattern select-input-filter"
                                                   ng-keydown="$event.stopPropagation()">
                                        </md-select-header>

                                        <div class="select-options-holder">

                                            <md-option data-ng-repeat="item in vm.pricingPolicies | filter:{name: searchTerm}"
                                                    ng-value="item.id">
                                                {{item.name}}
                                            </md-option>

                                        </div>

                                    </md-select>
                                </div>
                            </md-input-container>

                        </div>

                        <div layout="row">

                            <!--<md-input-container>

                                <label for="">Currency</label>

                                <md-select data-ng-model="vm.reportOptions.report_currency">
                                    <md-option data-ng-repeat="item in vm.currencies" ng-value="item.id">{{item.name}}
                                    </md-option>
                                </md-select>

                            </md-input-container>-->

                            <md-input-container>
                                <label>Currency</label>
                                <div>
                                    <md-select ng-model="vm.reportOptions.report_currency"
                                               md-container-class="common-select-container"
                                               md-on-close="searchTerm = ''">
                                        <md-select-header>
                                            <input data-ng-model="searchTerm"
                                                   type="search"
                                                   placeholder="Search for a ..."
                                                   class="md-text md-select-search-pattern select-input-filter"
                                                   ng-keydown="$event.stopPropagation()">
                                        </md-select-header>

                                        <div class="select-options-holder">

                                            <md-option data-ng-repeat="item in vm.currencies | filter:{name: searchTerm}"
                                                       ng-value="item.id">
                                                {{item.name}}
                                            </md-option>

                                        </div>

                                    </md-select>
                                </div>
                            </md-input-container>

                            <md-input-container>

                                <label for="">Cost method</label>

                                <md-select data-ng-model="vm.reportOptions.cost_method">
                                    <md-option ng-value="1">AVCO
                                    </md-option>
                                    <md-option ng-value="2">FIFO
                                    </md-option>
                                    <!--<md-option ng-value="3">LIFO-->
                                    <!--</md-option>-->
                                </md-select>

                            </md-input-container>

                        </div>

                        <h2>Consolidation</h2>

                        <div layout="row">

                            <div layout="column" class="m-r-16">

                                <md-input-container style="margin-bottom: 20px;">
                                    <label for="">Portfolio mode</label>
                                    <md-select data-ng-model="vm.reportOptions.portfolio_mode">
                                        <md-option ng-value="opt.value" ng-repeat="opt in vm.selectOptions">
                                            {{opt.caption}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container style="margin-bottom: 20px;">
                                    <label for="">Account position</label>
                                    <md-select data-ng-model="vm.accountsPosition">
                                        <md-option ng-value="opt.value" ng-repeat="opt in vm.selectOptions">
                                            {{opt.caption}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container style="margin-bottom: 20px;">
                                    <label for="">Account cash</label>
                                    <md-select data-ng-model="vm.accountsCash">
                                        <md-option ng-value="opt.value" ng-repeat="opt in vm.selectOptions">
                                            {{opt.caption}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                            </div>

                            <div layout="column">

                                <md-input-container style="margin-bottom: 20px;">
                                    <label for="">Strategy 1 mode</label>
                                    <md-select data-ng-model="vm.reportOptions.strategy1_mode">
                                        <md-option ng-value="opt.value" ng-repeat="opt in vm.strategiesSelectOptions">
                                            {{opt.caption}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container style="margin-bottom: 20px;">
                                    <label for="">Strategy 2 mode</label>
                                    <md-select data-ng-model="vm.reportOptions.strategy2_mode">
                                        <md-option ng-value="opt.value" ng-repeat="opt in vm.strategiesSelectOptions">
                                            {{opt.caption}}
                                        </md-option>
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container style="margin-bottom: 20px;">
                                    <label for="">Strategy 3 mode</label>
                                    <md-select data-ng-model="vm.reportOptions.strategy3_mode">
                                        <md-option ng-value="opt.value" ng-repeat="opt in vm.strategiesSelectOptions">
                                            {{opt.caption}}
                                        </md-option>
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                            </div>

                            <div layout="row">

                                <md-input-container>
                                    <label for="">Offsetting size</label>
                                    <md-select data-ng-model="vm.reportOptions.approach_multiplier">
                                        <md-option ng-value="0">0/100</md-option>
                                        <md-option ng-value="0.5">50/50</md-option>
                                        <md-option ng-value="1">100/0</md-option>
                                    </md-select>
                                </md-input-container>

                            </div>

                        </div>

                    </div>

                    <div data-ng-if="vm.entityType == 'transaction-report'">

                        <h2>General Settings</h2>

                        <div layout="row" style="margin-bottom: 20px">

                            <md-input-container>

                                <label for="">Begin date</label>

                                <zh-date-picker data-date-value="vm.reportOptions.begin_date"
                                                data-ng-model="vm.reportOptions.begin_date"
                                                position="left"
                                ></zh-date-picker>

                            </md-input-container>

                            <md-input-container>

                                <label for="">End date</label>

                                <zh-date-picker data-date-value="vm.reportOptions.end_date"
                                                data-ng-model="vm.reportOptions.end_date"
                                                position="left"
                                ></zh-date-picker>

                            </md-input-container>

                        </div>

                    </div>

                    <div data-ng-if="vm.entityType == 'cash-flow-projection-report'">

                        <h2>General Settings</h2>

                        <div layout="row" style="margin-bottom: 20px">

                            <md-input-container>

                                <label for="">Begin date</label>

                                <zh-date-picker data-date-value="vm.reportOptions.begin_date"
                                                data-ng-model="vm.reportOptions.begin_date"
                                                position="left"></zh-date-picker>

                            </md-input-container>

                            <md-input-container>

                                <label for="">End date</label>

                                <zh-date-picker data-date-value="vm.reportOptions.end_date"
                                                data-ng-model="vm.reportOptions.end_date"
                                                position="left"></zh-date-picker>

                            </md-input-container>

                            <md-input-container>

                                <label for="">Balance date</label>

                                <zh-date-picker data-date-value="vm.reportOptions.balance_date"
                                                data-ng-model="vm.reportOptions.balance_date"
                                                position="left"></zh-date-picker>

                            </md-input-container>

                            <md-input-container>

                                <label for="">Report date</label>

                                <zh-date-picker data-date-value=".reportOptions.report_date"
                                                data-ng-model="vm.reportOptions.report_date"
                                                position="left"></zh-date-picker>

                            </md-input-container>

                        </div>

                    </div>

                    <h2>Filters</h2>

                    <div layout="row" style="margin-bottom:20px">

                        <two-fields-multiselect get-data-method="vm.getPortfolios(vm.optionsForMultiselect)"
                                                title="Portfolios multiselector"
                                                selected-items="vm.reportOptions.portfolios"
                                                nothing-selected-text="Off"
                                                name-property="name"></two-fields-multiselect>

                        <!--<md-input-container>

                            <label for="">Accounts</label>

                            <md-select multiple data-ng-model="vm.reportOptions.accounts"
                                       md-on-close="searchTerm = ''">
                                <md-select-header>
                                    <input data-ng-model="searchTerm"
                                           type="search"
                                           placeholder="Search for a ..."
                                           ng-keydown="vm.onSearchChange($event)"
                                           class="md-text md-select-search-pattern">
                                </md-select-header>
                                <md-option
                                        data-ng-repeat="item in vm.accounts | orderBy:'-'+item.name | filter:{name: searchTerm}"
                                        ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>-->

                        <two-fields-multiselect get-data-method="vm.getAccounts(vm.optionsForMultiselect)"
                                                data-title="Accounts multiselector"
                                                data-selected-items="vm.reportOptions.account"
                                                nothing-selected-text="Off"
                                                data-name-property="name"></two-fields-multiselect>

                    </div>

                    <div layout="row" style="margin-bottom:20px">

                        <!--<md-input-container>

                            <label for="">Strategies 1</label>

                            <md-select multiple data-ng-model="vm.reportOptions.strategies1"
                                       md-on-close="searchTerm = ''">
                                <md-select-header>
                                    <input data-ng-model="searchTerm"
                                           type="search"
                                           placeholder="Search for a ..."
                                           ng-keydown="vm.onSearchChange($event)"
                                           class="md-text md-select-search-pattern">
                                </md-select-header>
                                <md-option
                                        data-ng-repeat="item in vm.strategies1 | orderBy:'-'+item.name | filter:{name: searchTerm}"
                                        ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>-->

                        <two-fields-multiselect get-data-method="vm.getStrategies1(vm.optionsForMultiselect)"
                                                data-title="Strategies 1 multiselector"
                                                data-selected-items="vm.reportOptions.strategies1"
                                                nothing-selected-text="Off"
                                                data-name-property="name"></two-fields-multiselect>

                        <!--<md-input-container>

                            <label for="">Strategies 2</label>

                            <md-select multiple data-ng-model="vm.reportOptions.strategies2"
                                       md-on-close="searchTerm = ''">
                                <md-select-header>
                                    <input data-ng-model="searchTerm"
                                           type="search"
                                           placeholder="Search for a ..."
                                           ng-keydown="vm.onSearchChange($event)"
                                           class="md-text md-select-search-pattern">
                                </md-select-header>
                                <md-option
                                        data-ng-repeat="item in vm.strategies2 | orderBy:'-'+item.name | filter:{name: searchTerm}"
                                        ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>-->

                        <two-fields-multiselect get-data-method="vm.getStrategies2(vm.optionsForMultiselect)"
                                                data-title="Strategies 2 multiselector"
                                                data-selected-items="vm.reportOptions.strategies2"
                                                nothing-selected-text="Off"
                                                data-name-property="name"></two-fields-multiselect>

                        <!--<md-input-container>

                            <label for="">Strategies 3</label>

                            <md-select multiple data-ng-model="vm.reportOptions.strategies3"
                                       md-on-close="searchTerm = ''">
                                <md-select-header>
                                    <input data-ng-model="searchTerm"
                                           type="search"
                                           placeholder="Search for a ..."
                                           ng-keydown="vm.onSearchChange($event)"
                                           class="md-text md-select-search-pattern">
                                </md-select-header>
                                <md-option
                                        data-ng-repeat="item in vm.strategies3 | orderBy:'-'+item.name | filter:{name: searchTerm}"
                                        ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>-->

                        <two-fields-multiselect get-data-method="vm.getStrategies3(vm.optionsForMultiselect)"
                                                data-title="Strategies 3 multiselector"
                                                data-selected-items="vm.reportOptions.strategies3"
                                                nothing-selected-text="Off"
                                                data-name-property="name"></two-fields-multiselect>

                    </div>

                    <div data-ng-if="vm.entityType == 'balance-report' || vm.entityType == 'pl-report'">

                        <h2>Transaction details</h2>

                        <div layout="row">

                            <md-input-container>
                                <md-checkbox data-ng-model="vm.reportOptions.show_transaction_details">
                                    Show transaction details
                                </md-checkbox>
                            </md-input-container>

                        </div>

                        <h2>Market Value/Exposure % calculation grouping</h2>

                        <div layout="row">
                            <md-radio-group ng-model="vm.reportOptions.calculationGroup" layout="row">

                                <md-radio-button value="portfolio" class="md-primary">Portfolio</md-radio-button>
                                <md-radio-button value="account" class="md-primary">Account</md-radio-button>
                                <md-radio-button value="strategy1" class="md-primary">Strategy 1</md-radio-button>
                                <md-radio-button value="strategy2" class="md-primary">Strategy 2</md-radio-button>
                                <md-radio-button value="strategy3" class="md-primary">Strategy 3</md-radio-button>

                            </md-radio-group>

                        </div>

                    </div>

                </div>

                <div data-ng-if="!vm.checkReadyStatus()">
                    <div layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                </div>

            </md-card-content>

        </md-card>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="vm.cancel()">
            Close
        </md-button>
        <md-button class="md-raised" ng-click="vm.saveSettings()">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>