<md-dialog aria-label="" ng-cloak class="g-report-settings-dialog-view draggable-dialog" drag-dialog style="width: 75%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Report settings</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content data-custom-scroll class="custom-scrollbar" style="background: #E5E5E5;">

        <md-card style="margin-top: 10px;">

            <md-card-content>

                <div data-ng-if="vm.checkReadyStatus()">

                    <div layout="row">

                        <md-input-container>

                            <label for="">Date</label>

                            <zh-date-picker data-ng-model="vm.reportOptions.report_date"
                                            position="left"></zh-date-picker>

                        </md-input-container>

                        <md-input-container>

                            <label for="">Pricing Policy</label>

                            <md-select data-ng-model="vm.reportOptions.pricing_policy">
                                <md-option data-ng-repeat="item in vm.pricingPolicies" ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                    </div>

                    <hr>

                    <div layout="row">

                        <md-input-container>

                            <label for="">Currency</label>

                            <md-select data-ng-model="vm.reportOptions.report_currency">
                                <md-option data-ng-repeat="item in vm.currencies" ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                        <md-input-container>

                            <label for="">Cost method</label>

                            <md-select data-ng-model="vm.reportOptions.report_currency">
                                <md-option ng-value="1">AVCO
                                </md-option>
                                <md-option ng-value="2">FIFO
                                </md-option>
                                <!--<md-option ng-value="3">LIFO-->
                                <!--</md-option>-->
                            </md-select>

                        </md-input-container>

                    </div>

                    <hr>

                    <div layout="row">

                        <div layout="column" class="m-r-16">

                            <md-checkbox data-ng-model="vm.reportOptions.detail_by_portfolio">Detail by portfolio
                            </md-checkbox>
                            <md-checkbox data-ng-model="vm.reportOptions.detail_by_account">Detail by account
                            </md-checkbox>
                            <md-checkbox data-ng-model="vm.reportOptions.show_transaction_details">Detail by transaction
                                details
                            </md-checkbox>

                        </div>

                        <div layout="column">

                            <md-checkbox data-ng-model="vm.reportOptions.detail_by_strategy1">Detail by strategy 1
                            </md-checkbox>
                            <md-checkbox data-ng-model="vm.reportOptions.detail_by_strategy2">Detail by strategy 2
                            </md-checkbox>
                            <md-checkbox data-ng-model="vm.reportOptions.detail_by_strategy3">Detail by strategy 3
                            </md-checkbox>

                        </div>

                    </div>

                    <hr>

                    <div layout="row">

                        <md-input-container>

                            <label for="">Portfolios</label>

                            <md-select data-ng-model="vm.reportOptions.portfolios">
                                <md-option data-ng-repeat="item in vm.portfolios" ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                        <md-input-container>

                            <label for="">Accounts</label>

                            <md-select data-ng-model="vm.reportOptions.accounts">
                                <md-option data-ng-repeat="item in vm.accounts" ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                    </div>

                    <hr>

                    <div layout="row">

                        <md-input-container>

                            <label for="">Strategies 1</label>

                            <md-select data-ng-model="vm.reportOptions.strategies1">
                                <md-option data-ng-repeat="item in vm.strategies1" ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                        <md-input-container>

                            <label for="">Strategies 2</label>

                            <md-select data-ng-model="vm.reportOptions.strategies2">
                                <md-option data-ng-repeat="item in vm.strategies2" ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                        <md-input-container>

                            <label for="">Strategies 3</label>

                            <md-select data-ng-model="vm.reportOptions.strategies3">
                                <md-option data-ng-repeat="item in vm.strategies3" ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>


                    </div>

                    <hr>

                    <div layout="row">

                        <md-input-container>

                            <label for="">Transaction classes</label>

                            <md-select data-ng-model="vm.reportOptions.transaction_classes">
                                <md-option data-ng-repeat="item in vm.transactionClasses" ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                    </div>


                </div>

                <div data-ng-if="!vm.checkReadyStatus()">
                    <div layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                </div>

            </md-card-content>

        </md-card>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="vm.cancel()">
            Close
        </md-button>
        <md-button class="md-raised" ng-click="vm.saveSettings()">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>