<md-dialog aria-label="" ng-cloak class="help-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Help</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content data-custom-scroll class="custom-scrollbar">
        <iframe src="https://finmars.com/portal/help/index.html" frameborder="0"></iframe>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="vm.cancel()">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>