<md-dialog aria-label="" ng-cloak class="instrument-import-manager-dialog-view draggable-dialog" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Instrument import manager</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content data-custom-scroll class="custom-scrollbar" style="background: #E5E5E5;">
        <div data-ng-if="vm.readyStatus.mapping" layout="column">
            <div layout="row">
                <md-card style="width: 100%">
                    <md-card-content class="p-t-26">
                        <div layout="row">
                            <div layout="column">
                                <md-input-container flex="40" style="margin-bottom: 0">
                                    <label for="">ESIN</label>
                                    <input type="text" data-ng-model="vm.config.instrument_code">
                                </md-input-container>
                                <div layout="row" layout-align="begin center">
                                    <md-button class="md-raised md-sm-btn" data-ng-click="vm.appendString('Equity')">Equity
                                    </md-button>
                                    <md-button class="md-raised md-sm-btn" data-ng-click="vm.appendString('Corp')">Corp
                                    </md-button>
                                    <md-button class="md-raised md-sm-btn" data-ng-click="vm.appendString('Index')">Index
                                    </md-button>
                                </div>
                                <div layout="row" layout-align="begin center">
                                    <md-button class="md-raised md-sm-btn" data-ng-click="vm.appendString('Govt')">Govt
                                    </md-button>
                                    <md-button class="md-raised md-sm-btn" data-ng-click="vm.appendString('Curncy')">Curncy
                                    </md-button>
                                    <md-button class="md-raised md-sm-btn" data-ng-click="vm.appendString('Comdty')">Comdty
                                    </md-button>
                                </div>
                            </div>
                            <div layout="column">
                                <md-input-container flex="40">
                                    <label for="">Import scheme</label>
                                    <md-select style="width: 200px"
                                               data-ng-model="vm.config.instrument_download_scheme">
                                        <md-option data-ng-repeat="item in vm.instrumentSchemes" ng-value="item.id">
                                            {{item.scheme_name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-button class="md-raised md-primary" data-ng-click="vm.openEditMapping($event)">
                                    Edit mapping
                                </md-button>
                            </div>
                            <div layout="row">
                                <md-button class="md-raised colored-btn" data-ng-click="vm.load()" style="height: 32px">
                                    Load
                                </md-button>
                                <div data-ng-if="vm.readyStatus.processing">
                                    <md-progress-circular md-mode="indeterminate"
                                                          md-diameter="48"></md-progress-circular>
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="row">
                <div flex="50">
                    <h2 class="title-padding">Received data</h2>
                    <md-card class="{{vm.dataIsImported ? '' : 'card-opacity'}}">
                        <md-card-content>
                            <div data-ng-repeat="item in vm.mappedFields" layout="row">
                                <div flex="50">
                                    <p data-ng-bind="item.key"></p>
                                </div>
                                <div flex="50">
                                    <md-input-container>
                                        <label for="">Value</label>
                                        <input type="text" data-ng-model="item.value">
                                    </md-input-container>
                                </div>
                            </div>

                        </md-card-content>
                    </md-card>
                </div>
                <div flex="50">
                    <div layout="column">
                        <h2 class="title-padding">Instrument data</h2>
                        <div layout="row">
                            <md-button class="md-raised" data-ng-click="vm.recalculate()">Recalculate</md-button>
                            <md-button class="md-raised" ng-click="vm.agree()" style="margin-right:20px;">
                                Add to database
                            </md-button>
                        </div>
                    </div>
                    <md-card class="{{vm.dataIsImported ? '' : 'card-opacity'}}">
                        <md-card-content class="p-t-26">
                            <md-input-container class="md-block">
                                <label for="">Name</label>
                                <input type="text" data-ng-model="vm.config.instrument.name">
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label for="">User code</label>
                                <input type="text" data-ng-model="vm.config.instrument.user_code">
                            </md-input-container>
                            <md-input-container class="md-block" style="min-height: 64px">
                                <label for="">Instrument type</label>
                                <md-select data-ng-model="vm.config.instrument.instrument_type">
                                    <md-option data-ng-repeat="item in vm.instrumentTypes" ng-value="item.id">{{item.name}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label for="">Reference for pricing</label>
                                <input type="text" data-ng-model="vm.config.instrument.reference_for_pricing">
                            </md-input-container>

                            <div class="bordered-with-color" style="margin-bottom: 20px">
                                <md-input-container class="md-block" style="min-height: 64px">
                                    <label for="">Pricing model</label>
                                    <md-select data-ng-model="vm.config.instrument.daily_pricing_model">
                                        <md-option data-ng-repeat="item in vm.dailyModels" ng-value="item.id">{{item.name}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" style="min-height: 64px">
                                    <label for="">Price download mode</label>
                                    <md-select data-ng-model="vm.config.instrument.priceDownloadScheme">
                                        <md-option data-ng-repeat="item in vm.priceDownloadSchemes" ng-value="item.id">{{item.name}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label for="">Default price</label>
                                    <input type="text" data-ng-model="vm.config.instrument.default_price">
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label for="">Default accrued</label>
                                    <input type="text" data-ng-model="vm.config.instrument.default_accrued">
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label for="">Payment size default</label>
                                    <input type="text" data-ng-model="vm.config.instrument.payment_size_detail">
                                </md-input-container>
                            </div>

                            <md-input-container class="md-block" style="min-height: 64px">
                                <label for="">Pricing currency</label>
                                <md-select data-ng-model="vm.config.instrument.pricing_currency">
                                    <md-option data-ng-repeat="item in vm.currencies" ng-value="item.id">{{item.name}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" style="min-height: 64px">
                                <label for="">Accrued currency</label>
                                <md-select data-ng-model="vm.config.instrument.accrued_currency">
                                    <md-option data-ng-repeat="item in vm.currencies" ng-value="item.id">{{item.name}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label for="">Short name</label>
                                <input type="text" data-ng-model="vm.config.instrument.short_name">
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label for="">Public name</label>
                                <input type="text" data-ng-model="vm.config.instrument.public_name">
                            </md-input-container>

                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
        <div data-ng-if="!vm.readyStatus.mapping">
            <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
                <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="vm.cancel()">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>