<md-dialog aria-label="" ng-cloak class="instrument-scheme-manager-dialog-view">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Instrument scheme manager</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content style="background: #E5E5E5;">
        <div data-ng-if="vm.readyStatus.scheme">
            <div layout="row" layout-align="center center">
                <md-card flex="50" class="inm-card-special">
                    <md-card-content>
                        <md-input-container class="md-block">
                            <label for="">Scheme name</label>
                            <input type="text" data-ng-model="vm.schemeName">
                        </md-input-container>
                    </md-card-content>
                </md-card>
                <md-card flex="50" class="inm-card-special">
                    <md-card-content>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Provider</label>
                            <md-select data-ng-model="vm.schemeProvider" data-ng-if="vm.readyStatus.dataProviders">
                                <md-option data-ng-repeat="item in vm.dataProviders" data-ng-value="item.id">
                                    {{item.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <div data-ng-if="!vm.readyStatus.dataProviders">
                            <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
                                <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="row">
                <div layout="column" flex="50">
                    <div layout="row">
                        <h4 style="padding-left: 10px">Fields to load</h4>
                    </div>
                    <div layout="column">

                        <md-card data-ng-repeat="item in vm.providerFields track by $index" flex="100">
                            <md-card-content>
                                <div class="fields-holder" layout="row">
                                    <div class="iscm-item">
                                        <md-input-container>
                                            <label for="">Field</label>
                                            <input type="text" data-ng-model="item.name">
                                        </md-input-container>
                                    </div>
                                    <div>
                                        <md-button style="min-width: 40px;"
                                                   data-ng-click="vm.removeProviderField(item, $index)"
                                                   class="md-raised">x
                                        </md-button>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div layout="row">
                        <md-button class="md-raised" data-ng-click="vm.addProviderField()">
                            Add field
                        </md-button>
                    </div>

                </div>
                <div layout="column" flex="50">
                    <div layout="row">
                        <h4 style="padding-left: 10px">Map on instrument fields:</h4>
                    </div>
                    <div layout="column">
                        <div data-ng-repeat="item in vm.mapFields" layout="row">
                            <md-card flex="100">
                                <md-card-content>
                                    <div layout="row">
                                        <div flex="50">
                                            <md-input-container>
                                                <md-select data-ng-model="item.key">
                                                    <md-option data-ng-repeat="item in vm.baseAttrs"
                                                               ng-value="item.key">
                                                        {{item.name}}
                                                    </md-option>
                                                    <md-option data-ng-repeat="item in vm.entityAttrs"
                                                               ng-value="item.key">
                                                        {{item.name}}
                                                    </md-option>
                                                    <md-option data-ng-repeat="item in vm.attrs" ng-value="item.key">
                                                        {{item.name}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                        <div flex="40">
                                            <md-input-container>
                                                <label for="">Expression</label>
                                                <input type="text" data-ng-model="item.expression">
                                            </md-input-container>
                                        </div>
                                        <div flex="10">
                                            <md-button style="min-width: 40px;"
                                                       data-ng-click="vm.removeMappingField(item, $index)"
                                                       data-ng-if="!item.required"
                                                       class="md-raised">x
                                            </md-button>
                                        </div>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                    </div>
                    <div layout="row">
                        <md-button class="md-raised" data-ng-click="vm.addMapField()">Add field</md-button>
                    </div>
                </div>
            </div>
            <md-divider style="margin: 20px"></md-divider>
            <div layout="column">
                <div layout="row">
                    <md-card flex="50">
                        <md-card-content>
                            <md-input-container style="width: 100%">
                                <label for="">Factor upload method</label>
                                <md-select></md-select>
                            </md-input-container>
                        </md-card-content>
                    </md-card>
                </div>
                <div layout="row">
                    <md-card flex="50">
                        <md-card-content>
                            <md-input-container style="width: 100%">
                                <label for="">Accrual schedule upload</label>
                                <md-select></md-select>
                            </md-input-container>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
        <div data-ng-if="!vm.readyStatus.scheme">
            <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
                <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="vm.cancel()">
            Cancel
        </md-button>
        <md-button class="md-raised md-primary" ng-click="vm.agree()" style="margin-right:20px;">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>