<md-dialog aria-label="" ng-cloak class="loader-dialog draggable-dialog" drag-dialog>
    <md-toolbar>
        <dialog-header data-title="{{vm.title}}"
                       data-cancel-dialog="vm.cancel()"></dialog-header>
    </md-toolbar>
    <md-dialog-content class="p-24">

        <div>
            <div class="e-data-loader" layout="row" layout-sm="column" layout-align="center center">
                <progress-circular diameter="50"></progress-circular>
            </div>

        </div>
    </md-dialog-content>
</md-dialog>