<md-dialog aria-label="configuration dialog"
           class="marketplace-configuration-dialog draggable-dialog"
           drag-dialog>
    <md-toolbar>
        <dialog-header
                data-title="Marketplace"
                data-processing="vm.processing"
                cancel-dialog="vm.cancel()"
        >
        </dialog-header>
    </md-toolbar>
    <md-dialog-content>
        <md-content>
            <div data-ng-if="vm.checkReadyStatus()" class="position-relative">

                <div layout="row" layout-align="center center">
                    <md-card flex="100" class="inm-card-special">
                        <md-card-content layout="column">


                            <div layout="row">

                                <div class="configuration-card-image">

                                    <img data-ng-if="vm.item.thumbnail" ng-src="{{vm.item.thumbnail}}" alt="">
                                    <div data-ng-if="!vm.item.thumbnail" class="configuration-card-no-thumbnail"
                                         ng-style="{'backgroundColor': vm.getAvatar(vm.item.name[0])}">
                                        {{vm.item.name.charAt(0)}}
                                    </div>

                                </div>

                                <div>

                                    <div class="configuration-card-from-marketplace-organization">
                                        {{vm.item.organization_object.name}}
                                    </div>

                                    <div>
                                        <h3 class="configuration-card-name" style="margin: 4px 0">{{vm.item.name}}</h3>
                                    </div>

                                    <div layout="row" data-ng-if="vm.item.localItem">
                                        Current: ({{vm.item.localItem.version}} {{vm.item.localItem.channel}})
                                    </div>

                                    <div layout="row">

                                        <md-select data-ng-model="vm.channel" data-ng-change="vm.getVersions()">
                                            <md-option value="stable">Stable</md-option>
                                            <md-option value="rc">Release Candidate</md-option>
                                        </md-select>

                                        <md-select data-ng-model="vm.version">
                                            <md-option data-ng-repeat="versionItem in vm.versions"
                                                       ng-value="versionItem.version">{{versionItem.version}}
                                            </md-option>
                                        </md-select>

                                        <div data-ng-if="!vm.item.localItem">
                                            <md-button class="md-primary md-raised configuration-card-open"
                                                       data-ng-click="vm.installConfiguration($event, vm.item)">
                                                Install
                                            </md-button>
                                        </div>

                                        <div data-ng-if="vm.item.localItem">

                                            <div data-ng-if="vm.item.latest_release_object.version == vm.item.localItem.version">
                                                <!--                        <span style="background: #00cc7d; padding: 4px; border-radius: 4px; display: inline-block; margin: 4px;">Installed</span>-->
                                                <md-button class="md-primary md-raised configuration-card-open"
                                                           data-ng-click="vm.installConfiguration($event, vm.item)">
                                                    Reinstall
                                                </md-button>
                                            </div>

                                            <div data-ng-if="vm.item.latest_release_object.version != vm.item.localItem.version">
                                                <md-button class="md-primary md-raised configuration-card-open"
                                                           data-ng-click="vm.installConfiguration($event, vm.item)">
                                                    Update
                                                </md-button>
                                            </div>

                                        </div>

                                        <div style="padding: 0 8px;">Download count: {{vm.item.download_count}}</div>

                                    </div>


                                </div>

                            </div>

                            <div>
                                <h3>Description</h3>
                                <div data-ng-if="vm.item.description">{{vm.item.description}}</div>
                                <div data-ng-if="!vm.item.description">No description</div>
                            </div>

                            <div>
                                <h3>Other Info</h3>

                                <div>
                                    <div class="configuration-card-from-marketplace-code">Code:
                                        <b>{{vm.item.configuration_code}}</b>
                                    </div>
                                    <div class="configuration-card-from-marketplace-version">Version:
                                        <b>{{vm.item.latest_release_object.version}}</b></div>
                                    <div class="configuration-card-from-marketplace-version">Developer:
                                        <b>{{vm.item.organization_object.name}}</b></div>
                                    <div class="configuration-card-from-marketplace-version">Type:
                                        <b data-ng-if="vm.item.is_package">Is a Package</b>
                                        <b data-ng-if="!vm.item.is_package">Is a Module¬</b>
                                    </div>
                                </div>
                            </div>


                        </md-card-content>
                    </md-card>
                </div>

                <div class="loader-overlay" data-ng-show="vm.processing">
                    <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
                        <!--<md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>-->
                        <progress-circular diameter="100"></progress-circular>
                    </div>
                </div>

            </div>
            <div data-ng-if="!vm.checkReadyStatus()">
                <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
                    <progress-circular diameter="100"></progress-circular>
                </div>
            </div>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between">

        <div layout="row">
            <md-button class="" ng-click="vm.cancel()" style="margin: 0">
                Close
            </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>
<div data-ng-if="vm.activeTaskId" style="position: absolute; top:10px; right: 10px; z-index: 1; background: #fff;">
    <task-card task-id="vm.activeTaskId"></task-card>
</div>