<md-dialog aria-label="" ng-cloak class="draggable-dialog width-50" drag-dialog>
    <md-toolbar>
        <dialog-header
                data-title="Portfolio Bundle Manager"
                cancel-dialog="vm.cancel()"
        >
        </dialog-header>
    </md-toolbar>
    <md-dialog-content class="p-24">

        <div layout="column"
             data-ng-if="vm.readyStatus.content">

            <md-input-container>
                <label>Name</label>
                <input type="text" data-ng-model="vm.item.name">
            </md-input-container>

            <md-input-container>
                <label>User Code</label>
                <input type="text" data-ng-model="vm.item.user_code">
            </md-input-container>

            <div class="m-t-16">

                <div><label for="">Notes</label></div>
                <textarea name="" data-ng-model="vm.item.notes" cols="60" rows="5"></textarea>

            </div>

            <div class="g-report-settings-row p-b-16">
                <div class="default-f-s">Portfolios multiselector</div>

                <two-fields-multiselect get-data-method="vm.getRegisters()"
                                        model="vm.item.registers"
                                        selected-items="vm.item.registers"
                                        nothing-selected-text="Off"
                                        selected-items-indication="chips"
                                        name-property="short_name"
                                        small-options="{tooltipText: 'Portfolios multiselector'}"
                                        class="g-report-settings-field"></two-fields-multiselect>
            </div>


        </div>

        <div data-ng-if="!vm.readyStatus.content">

            <div class="m-16" layout="row" layout-sm="column" layout-align="space-around">
                <progress-circular diameter="100"></progress-circular>
            </div>

        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="vm.cancel()">
            Close
        </md-button>
        <md-button class="" ng-click="vm.editAsJson($event)" >
            Edit as JSON
        </md-button>
        <md-button class="" ng-click="vm.agree()" style="margin-right:20px;">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>