<md-dialog aria-label="" ng-cloak class="reference-table draggable-dialog" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <ng-md-icon icon="dialpad" size="20" class="draggable-dialog-sign"></ng-md-icon>
            <h2>Reference Table: {{vm.referenceTable.name}}</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content class="custom-scrollbar p-24">
        <div>

            <div data-ng-repeat="item in vm.referenceTable.rows track by $index">

                <div layout="row">

                    <md-input-container >
                        <label>Key</label>
                        <input type="text" data-ng-class="{'key-duplicate': item.is_duplicate && vm.validationEnabled}" data-ng-model="item.key" data-ng-keyup="vm.checkForDuplicates()">
                    </md-input-container>

                    <md-input-container>
                        <label>Value</label>
                        <input type="text" data-ng-model="item.value">
                    </md-input-container>

                    <md-button class="md-button md-warn" ng-click="vm.deleteRow($event, $index)">
                        Delete
                    </md-button>

                </div>

            </div>

            <div>

                <md-button class="md-raised md-primary" ng-click="vm.createRow($event)">
                    Add New Row
                </md-button>

            </div>

        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="vm.cancel()">
            Close
        </md-button>
        <md-button class="md-raised" ng-click="vm.agree($event)" style="margin-right:20px;">
            Update
        </md-button>
    </md-dialog-actions>
</md-dialog>