<md-dialog aria-label="rename field dialog" class="warning-dialog draggable-dialog" drag-dialog>
    <md-toolbar>
        <dialog-header data-title="{{vm.title}}"
                       data-cancel-dialog="vm.cancel()"></dialog-header>
    </md-toolbar>
    <md-dialog-content class="p-24" style="min-width: 400px;">
        <div>

            <!--<p>Column Id: {{vm.data.key}}</p>
            <p>
                <span data-ng-if="!vm.data.layout_name">Current</span>
                <span data-ng-if="vm.data.layout_name">Original</span>
                name: {{vm.data.name}}
            </p>

            <md-input-container>
                <label>Name</label>
                <input type="text" data-ng-model="vm.layout_name">
            </md-input-container>-->
            <div class="m-b-24">
                <text-input data-label="ID"
                            data-model="vm.data.key"
                            data-small-options="vm.smallOptions2"></text-input>
            </div>

            <div class="m-b-24">
                <text-input data-label="Original name"
                            data-model="vm.data.name"
                            data-small-options="vm.smallOptions2"></text-input>
            </div>

            <div>
                <text-input data-label="Name"
                            data-model="vm.layout_name"
                            data-small-options="vm.smallOptions"></text-input>
            </div>

        </div>
    </md-dialog-content>
    <md-dialog-actions class="layout-row fc-space-between">
        <md-button class="link-button"
                   data-ng-click="vm.cancel()">
            Close
        </md-button>
        <md-button class="md-primary"
                   data-ng-click="vm.agree()">
            Ok
        </md-button>
    </md-dialog-actions>
</md-dialog>