<md-dialog class="draggable-dialog width-50" drag-dialog >

    <md-toolbar>
        <div class="md-toolbar-tools">
            <is-draggable-sign></is-draggable-sign>

            <h2>Matrix Settings</h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-dialog-content class="p-16">

       <div>

           <div layout="row">

               <div class="m-t-16 m-b-16">

                   <md-input-container style="width: 200px;">
                       <label for="">Abscissa</label>
                       <md-select data-ng-model="vm.settings.abscissa"
                                  md-on-close="abscissaSearchTerm = ''">
                           <md-select-header>
                               <input data-ng-model="abscissaSearchTerm"
                                      type="search"
                                      placeholder="Search for a ..."
                                      class="md-text md-select-search-pattern select-input-filter"
                                      ng-keydown="$event.stopPropagation()">
                           </md-select-header>
                           <md-option
                                   data-ng-repeat="attribute in vm.attributes | orderBy:'-name' | filter:{name: abscissaSearchTerm} track by attribute.key "
                                   ng-value="attribute.key">
                               {{attribute.name}}
                           </md-option>
                       </md-select>
                   </md-input-container>

               </div>

               <div class="m-t-16 m-b-16">

                   <md-input-container style="width: 200px;">
                       <label for="">Ordinate</label>
                       <md-select data-ng-model="vm.settings.ordinate"
                                  md-on-close="ordinateSearchTerm = ''">
                           <md-select-header>
                               <input data-ng-model="ordinateSearchTerm"
                                      type="search"
                                      placeholder="Search for a ..."
                                      class="md-text md-select-search-pattern select-input-filter"
                                      ng-keydown="$event.stopPropagation()">
                           </md-select-header>
                           <md-option
                                   data-ng-repeat="attribute in vm.attributes | orderBy:'-name' | filter:{name: ordinateSearchTerm} track by attribute.key "
                                   ng-value="attribute.key">
                               {{attribute.name}}
                           </md-option>
                       </md-select>
                   </md-input-container>

               </div>

               <div class="m-t-16 m-b-16">

                   <md-input-container style="width: 200px;">
                       <label for="">Value</label>
                       <md-select data-ng-model="vm.settings.value_key"
                                  md-on-close="valueSearchTerm = ''">
                           <md-select-header>
                               <input data-ng-model="valueSearchTerm"
                                      type="search"
                                      placeholder="Search for a ..."
                                      class="md-text md-select-search-pattern select-input-filter"
                                      ng-keydown="$event.stopPropagation()">
                           </md-select-header>
                           <md-option
                                   data-ng-repeat="attribute in vm.numericAttributes | orderBy:'-name' | filter:{name: valueSearchTerm} track by attribute.key "
                                   ng-value="attribute.key">
                               {{attribute.name}}
                           </md-option>
                       </md-select>
                   </md-input-container>

                   <md-button class="md-raised md-primary" ng-click="vm.openNumberFormatSettings($event)" style="margin-right:20px;">
                       Format Settings
                   </md-button>

               </div>

           </div>


       </div>

    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">
        <md-button class="md-raised" ng-click="vm.cancel()">CANCEL</md-button>
        <md-button class="md-raised" ng-click="vm.save()">OK</md-button>
    </md-dialog-actions>
</md-dialog>