<md-dialog aria-label="" ng-cloak class="configuration-import-dialog-view draggable-dialog width-80" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Configuration export manager</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content style="background: #fff; padding: 16px">

        <div data-ng-if="vm.readyStatus.content">

            <div layout="row">

                <div class="width-50">
                    <md-input-container class="width-80">
                        <label>File Name</label>
                        <input type="text" data-ng-model="vm.filename">
                    </md-input-container>
                </div>

                <div class="width-50">

                    <div data-ng-if="vm.readyStatus.layouts">

                        <div data-ng-if="vm.layouts.length" layout="row">

                            <div class="width-70">

                                <md-input-container class="width-80">
                                    <label>Layout</label>
                                    <md-select data-ng-model="vm.activeLayout" data-ng-change="vm.syncWithLayout()">
                                        <md-option data-ng-repeat="layout in vm.layouts" ng-value="layout">
                                            {{ layout.name }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                            </div>

                            <div class="width-30">
                                <md-button class="md-raised" data-ng-click="vm.updateLayout()">Save layout
                                </md-button>
                            </div>


                        </div>
                        <div data-ng-if="!vm.layouts.length">
                            <md-button class="md-raised" data-ng-click="vm.createLayout()">Save layout
                            </md-button>
                        </div>
                    </div>

                    <div data-ng-if="!vm.readyStatus.layouts">
                        <div layout="row" layout-sm="column" layout-align="space-around" class="">
                            <md-progress-circular md-mode="indeterminate" md-diameter="24"></md-progress-circular>
                        </div>
                    </div>

                </div>

            </div>

            <div>

                <md-checkbox data-ng-checked="vm.selectAllState"
                             data-ng-click="vm.toggleSelectAll()"
                             aria-label="checkbox">
                </md-checkbox>

                <b>Select all</b>

            </div>

            <div data-ng-repeat="item in vm.items | orderBy: 'order'">

                <h2 data-ng-if="item.first" data-ng-bind="item.first"></h2>
                <div class="cie-entity-holder">
                    <md-checkbox data-ng-checked="item.active"
                                 data-ng-click="vm.toggleActiveForChilds(item)"
                                 data-ng-class="{'some-checkboxes-ticked': item.someChildsActive}"
                                 aria-label="checkbox">
                    </md-checkbox>
                    <span data-ng-bind="vm.getEntityName(item)"></span> <span class="cie-dependency"
                                                                              data-ng-bind="vm.getEntityDependenciesCaptions(item)"></span>
                    ({{item.count}})
                    <md-button class="md-raised" ng-click="item.displayItems = !item.displayItems" aria-label="checkboxes show hide button"><span
                            data-ng-if="!item.displayItems">Show</span><span data-ng-if="item.displayItems">Hide</span>
                    </md-button>
                </div>


                <div data-ng-show="item.displayItems" style="padding-left: 20px">

                    <div data-ng-repeat="child in item.content">
                        <md-checkbox data-ng-checked="child.active"
                                     data-ng-click="vm.updateActiveForParent(child, item)"
                                     aria-label="checkbox">
                        </md-checkbox>
                        {{vm.getItemName(child)}}
                    </div>

                </div>


            </div>

            <!--<h2>Layouts</h2>
            <div data-ng-repeat="layoutsItem in vm.layoutsItems">

                <div class="cie-entity-holder">
                    <md-checkbox data-ng-checked="layoutsItem.active"
                                 data-ng-click="vm.toggleActiveForChilds(layoutsItem)"
                                 data-ng-class="{'some-checkboxes-ticked': layoutsItem.someChildsActive}"
                                 aria-label="checkbox">
                    </md-checkbox>
                    <span data-ng-bind="vm.getEntityName(layoutsItem)"></span> <span class="cie-dependency"
                                                                              data-ng-bind="vm.getEntityDependenciesCaptions(layoutsItem)"></span>
                    ({{layoutsItem.count}})
                    <md-button class="md-raised" ng-click="layoutsItem.displayItems = !layoutsItem.displayItems" aria-label="checkboxes show hide button"><span
                            data-ng-if="!layoutsItem.displayItems">Show</span><span data-ng-if="layoutsItem.displayItems">Hide</span>
                    </md-button>
                </div>


                <div data-ng-show="layoutsItem.displayItems" style="padding-left: 20px">

                    <div data-ng-repeat="child in layoutsItem.content">
                        <md-checkbox data-ng-checked="child.active"
                                     data-ng-click="vm.updateActiveForParent(child, item)"
                                     aria-label="checkbox">
                        </md-checkbox>
                        {{vm.getItemName(child)}}
                    </div>

                </div>

            </div>-->

            <!--<h2>Schemes</h2>
            <div data-ng-repeat="schemesItem in vm.schemesItems">

                <div class="cie-entity-holder">
                    <md-checkbox data-ng-checked="schemesItem.active"
                                 data-ng-click="vm.toggleActiveForChilds(schemesItem)"
                                 data-ng-class="{'some-checkboxes-ticked': schemesItem.someChildsActive}"
                                 aria-label="checkbox">
                    </md-checkbox>
                    <span data-ng-bind="vm.getEntityName(schemesItem)"></span> <span class="cie-dependency"
                                                                                     data-ng-bind="vm.getEntityDependenciesCaptions(schemesItem)"></span>
                    ({{schemesItem.count}})
                    <md-button class="md-raised" ng-click="schemesItem.displayItems = !schemesItem.displayItems" aria-label="checkboxes show hide button"><span
                            data-ng-if="!schemesItem.displayItems">Show</span><span data-ng-if="schemesItem.displayItems">Hide</span>
                    </md-button>
                </div>


                <div data-ng-show="schemesItem.displayItems" style="padding-left: 20px">

                    <div data-ng-repeat="child in schemesItem.content">
                        <md-checkbox data-ng-checked="child.active"
                                     data-ng-click="vm.updateActiveForParent(child, item)"
                                     aria-label="checkbox">
                        </md-checkbox>
                        {{vm.getItemName(child)}}
                    </div>

                </div>

            </div>-->

            <!--<h2>Entities</h2>
            <div data-ng-repeat="entitiesItem in vm.entitiesItems">

                <div class="cie-entity-holder">
                    <md-checkbox data-ng-checked="entitiesItem.active"
                                 data-ng-click="vm.toggleActiveForChilds(entitiesItem)"
                                 data-ng-class="{'some-checkboxes-ticked': entitiesItem.someChildsActive}"
                                 aria-label="checkbox">
                    </md-checkbox>
                    <span data-ng-bind="vm.getEntityName(entitiesItem)"></span> <span class="cie-dependency"
                                                                                     data-ng-bind="vm.getEntityDependenciesCaptions(entitiesItem)"></span>
                    ({{entitiesItem.count}})
                    <md-button class="md-raised" ng-click="entitiesItem.displayItems = !entitiesItem.displayItems" aria-label="checkboxes show hide button"><span
                            data-ng-if="!entitiesItem.displayItems">Show</span><span data-ng-if="entitiesItem.displayItems">Hide</span>
                    </md-button>
                </div>


                <div data-ng-show="entitiesItem.displayItems" style="padding-left: 20px">

                    <div data-ng-repeat="child in entitiesItem.content">
                        <md-checkbox data-ng-checked="child.active"
                                     data-ng-click="vm.updateActiveForParent(child, item)"
                                     aria-label="checkbox">
                        </md-checkbox>
                        {{vm.getItemName(child)}}
                    </div>

                </div>

            </div>-->

            <!--<h2>Attributes</h2>
            <div data-ng-repeat="attrsItem in vm.attrsItems">

                <div class="cie-entity-holder">
                    <md-checkbox data-ng-checked="attrsItem.active"
                                 data-ng-click="vm.toggleActiveForChilds(attrsItem)"
                                 data-ng-class="{'some-checkboxes-ticked': attrsItem.someChildsActive}"
                                 aria-label="checkbox">
                    </md-checkbox>
                    <span data-ng-bind="vm.getEntityName(attrsItem)"></span> <span class="cie-dependency"
                                                                                      data-ng-bind="vm.getEntityDependenciesCaptions(entitiesItem)"></span>
                    ({{attrsItem.count}})
                    <md-button class="md-raised" ng-click="attrsItem.displayItems = !attrsItem.displayItems" aria-label="checkboxes show hide button"><span
                            data-ng-if="!attrsItem.displayItems">Show</span><span data-ng-if="attrsItem.displayItems">Hide</span>
                    </md-button>
                </div>


                <div data-ng-show="attrsItem.displayItems" style="padding-left: 20px">

                    <div data-ng-repeat="child in entitiesItem.content">
                        <md-checkbox data-ng-checked="child.active"
                                     data-ng-click="vm.updateActiveForParent(child, item)"
                                     aria-label="checkbox">
                        </md-checkbox>
                        {{vm.getItemName(child)}}
                    </div>

                </div>

            </div>-->

        </div>

        <div data-ng-if="!vm.readyStatus.content">
            <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
                <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
            </div>
        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="vm.cancel()" aria-label="cancel button">
            Cancel
        </md-button>

        <a class="md-raised md-button" id="exportButton" data-ng-click="vm.agree($event)" aria-label="export button">
            Export
        </a>
    </md-dialog-actions>
</md-dialog>