<md-dialog aria-label="" ng-cloak class="configuration-import-dialog-view draggable-dialog" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Configuration import manager</h2>
            <span flex></span>
            <div data-ng-if="vm.activeItemTotal">
                {{vm.getCounter()}} / {{vm.activeItemTotal}}
            </div>
        </div>
    </md-toolbar>
    <md-dialog-content style="background: #fff; padding: 16px">

        <div>

            <md-checkbox ng-checked="vm.selectAllState" data-ng-click="vm.toggleSelectAll()"
                         aria-label="checkbox">
            </md-checkbox>

            <b>Select all</b>

        </div>

        <div data-ng-repeat="item in vm.items | orderBy: 'order__'">

            <h2 data-ng-if="item.first__" data-ng-bind="item.first__"></h2>
            <div class="cie-entity-holder">
                <md-checkbox data-ng-checked="item.active"
                             data-ng-click="vm.toggleActiveForChilds(item)"
                             data-ng-class="{'some-checkboxes-ticked': item.someChildsActive}"
                             aria-label="checkbox">
                </md-checkbox>
                <span data-ng-bind="vm.getEntityName(item)"
                      data-ng-class="{'used-dynamic-attrs': item.attributeIsUsed__}"></span> <span
                    class="cie-dependency"
                    data-ng-bind="vm.getEntityDependenciesCaptions(item)"></span>
                ({{item.count}})
                <md-button class="md-raised" ng-click="item.displayItems = !item.displayItems"
                           aria-label="display items button"><span
                        data-ng-if="!item.displayItems">Show</span><span data-ng-if="item.displayItems">Hide</span>
                </md-button>
            </div>


            <div data-ng-show="item.displayItems" style="padding-left: 20px">

                <div data-ng-repeat="child in item.content">
                    <h4 data-ng-if="child.first__" data-ng-bind="child.first__"></h4>
                    <md-checkbox data-ng-checked="child.active"
                                 data-ng-click="vm.updateActiveForParent(child, item)"
                                 aria-label="checkbox">
                    </md-checkbox>
                    <span data-ng-class="{'used-dynamic-attrs': child.countOfUsages__}">
                        {{vm.getItemName(child)}} <span
                            data-ng-if="child.countOfUsages__">(<b>{{child.countOfUsages__}}</b>)</span>
                    </span>
                </div>

            </div>


        </div>

        <div class="configuration-import-loader" data-ng-if="vm.processing">
            <md-progress-circular md-mode="indeterminate"
                                  md-diameter="48"></md-progress-circular>
        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center"
                       style="border-top: 1px solid #ddd; min-height: 66px">

        <div class="p-t-8">
            <md-checkbox ng-checked="vm.settings.mode === 'overwrite'" data-ng-click="vm.toggleMode('overwrite')"
                         aria-label="checkbox">
            </md-checkbox>

            <b>Overwrite existing data</b>
        </div>

        <div>

            <md-button class="md-raised" ng-click="vm.cancel()" aria-label="cancel button">
                Cancel
            </md-button>

            <md-button class="md-raised {{vm.processing ? 'disabled-btn': ''}}" ng-click="vm.agree($event)"
                       style="margin-right:20px;" aria-label="import button">
                Import
            </md-button>

        </div>
    </md-dialog-actions>
</md-dialog>