<md-dialog aria-label="" ng-cloak class="configuration-import-dialog-view draggable-dialog" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Configuration export manager</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content style="background: #fff; padding: 16px">

        <div data-ng-repeat="item in vm.items">

            <div class="cie-entity-holder">
                <md-checkbox ng-checked="item.active" data-ng-click="vm.toggleActiveForChilds(item)"
                             aria-label="checkbox">
                </md-checkbox>
                <span data-ng-bind="vm.getEntityName(item)"></span> <span class="cie-dependency"
                                                                          data-ng-bind="vm.getEntityDependenciesCaptions(item)"></span>
                ({{item.count}})
                <md-button class="md-raised" ng-click="item.displayItems = !item.displayItems"><span
                        data-ng-if="!item.displayItems">Show</span><span data-ng-if="item.displayItems">Hide</span>
                </md-button>
            </div>


            <div data-ng-show="item.displayItems" style="padding-left: 20px">

                <div data-ng-repeat="child in item.content">
                    <md-checkbox ng-checked="child.active" data-ng-click="vm.updateActiveForParent(child, item)"
                                 aria-label="checkbox">
                    </md-checkbox>
                    {{vm.getItemName(child)}}
                </div>

            </div>


        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="vm.cancel()">
            Cancel
        </md-button>

        <a class="md-raised md-button" id="exportButton" data-ng-click="vm.agree($event)">
            Export
        </a>
    </md-dialog-actions>
</md-dialog>