<md-dialog aria-label="" ng-cloak class="success-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{vm.success.title}}</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content data-custom-scroll class="custom-scrollbar">
        <div class="warning-text">
            <p>{{vm.success.description}}</p>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="vm.cancel()">
            Cancel
        </md-button>
        <md-button ng-click="vm.agree()" style="margin-right:20px;">
            OK
        </md-button>
    </md-dialog-actions>
</md-dialog>