<md-dialog class="draggable-dialog attr-selector-dialog" aria-label="table attr selector dialog" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <is-draggable-sign></is-draggable-sign>

            <h2>{{ vm.title }}</h2>
        </div>
    </md-toolbar>

    <md-dialog-content class="p-16">

        <div class="attr-selector-btns-holder">
            <div class="attr-selector-breadcrumbs"><span ng-bind="vm.currentLocation"></span></div>

            <md-button class="md-primary md-raised attr-selector-back-btn"
                       ng-click="vm.returnToPrevGroup()"
                       aria-label="return to prev group of attributes">
                <ng-md-icon icon="chevron_left" size="24"></ng-md-icon>
            </md-button>

            <div layout="row" class="m-b-24" style="margin-left: 30px">
                <input data-ng-model="vm.searchTerms"
                       type="search"
                       placeholder="Search for a ..."
                       class="md-text md-select-search-pattern select-input-filter attr-selector-filter"
                       ng-keydown="$event.stopPropagation()">
            </div>

            <div class="attr-selector-btns-container">
                <div ng-repeat="item in vm.activeGroup.items | orderBy: ['order', 'name'] | filter: {name: vm.searchTerms}">
                    <md-button class="md-raised"
                               ng-class="{'md-primary': item.isGroup}"
                               ng-click="vm.openGroupOrSelectAttr(item)"
                               aria-label="open group of attributes">
                        <span ng-bind="item.name"></span>
                    </md-button>
                </div>
            </div>
        </div>

    </md-dialog-content>

    <md-dialog-actions class="dialog-bottom-footer" layout="row" layout-align="space-between">
        <md-button class="md-raised" data-ng-click="vm.cancel()">Close</md-button>
        <md-button class="md-raised" data-ng-click="vm.agree()">Save</md-button>
    </md-dialog-actions>
</md-dialog>