<md-dialog class="ttype-add-input-dialog draggable-dialog ttypeAddInputElemToResize"
           aria-label="fields dialog"
           drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <is-draggable-sign></is-draggable-sign>

            <h2>Add transaction type input</h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-dialog-content class="p-16">

        <div class="flex-column">
            <text-input label="Name"
                        placeholder-text="Enter input name here"
                        model="vm.name"
                        small-options="{tooltipText: 'Input name'}"
                        event-signal="vm.textEventSignal"
                        on-blur-callback="vm.validateInputName()"
                        style="width: 240px;"></text-input>

            <dropdown-select label="Value type"
                             placeholder-text="Choose input value type"
                             model="vm.valueType"
                             menu-options="vm.valueTypeOptions"
                             small-options="{tooltipText: 'Input value type'}"
                             event-signal="vm.valueTypeSignal"
                             on-change-callback="vm.onValueTypeChange()"
                             style="width: 240px;"></dropdown-select>

            <dropdown-select label="Content type"
                             placeholder-text="Choose content type"
                             model="vm.contentType"
                             menu-options="vm.contentTypeOptions"
                             small-options="{tooltipText: 'Input content type'}"
                             event-signal="vm.contentTypeSignal"
                             is-disabled="vm.contentTypeDisabled()"
                             style="width: 240px;"></dropdown-select>
        </div>

    </md-dialog-content>

    <md-dialog-actions class="flex-row fc-space-between">
        <div>
            <md-button ng-click="vm.cancel()">
                Cancel
            </md-button>
        </div>

        <div>
            <md-button ng-click="vm.agree()" style="margin-right:20px;">
                OK
            </md-button>
        </div>

        <dialog-window-resizer data-ng-if="vm.dialogElemToResize"
                               data-elem-to-resize="vm.dialogElemToResize"
                               class="dialog-window-resizer_type1"></dialog-window-resizer>
    </md-dialog-actions>
</md-dialog>