<md-dialog aria-label="ace dialog"
           class="ace-editor-dialog draggable-dialog dialog-actions-bottom"
           drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Universal Input</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="ace-editor" id="aceEditor">

        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between">
        <md-button ng-click="vm.cancel()" style="margin-right:20px;">
            Close
        </md-button>

        <div layout="row">

            <div style="background: #fff;
    border-radius: 6px;">
                <md-input-container flex="40" style="margin-bottom: 0" class="ng-hide">
                    <input type="file" id="importDataUploadInput" input-file-directive
                           read-file="vm.file"
                           read-file-change="vm.applyFile(vm.file, $event)">
                </md-input-container>
                <div class="input-upload-file-container">
                    <p class="importDataUploadInput">File</p>
                    <label for="importDataUploadInput" class="md-button md-raised outline-button IFUlabel"
                           style="background: var(--primary-color);; !important;">
                        <span>Browse</span></label>
                </div>
            </div>


            <md-button ng-click="vm.agree()">
                Import
            </md-button>
            <div style="padding-top: 12px; width: 30px" data-ng-if="!vm.processing">
                &nbsp;
            </div>

            <div layout="row" layout-sm="column" layout-align="space-around" class="m-l-8" data-ng-if="vm.processing"
                 style="padding-top: 6px; width: 30px">
                <!--<md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>-->
                <progress-circular diameter="20"></progress-circular>
            </div>
        </div>
    </md-dialog-actions>
</md-dialog>