<div class="report-viewer-charts">

    <div data-ng-show="readyStatuses.chartIsReady"
         ng-class="getPieChartGlobalClasses()"
         layout="{{pieChartLayout}}">
        <div class="report-viewer-chart-holder"></div>

        <div ng-if="readyStatuses.legendsAreReady" class="pie-chart-legends-holder">
            <ul class="pie-chart-legends-ul" style="{{setLegendsUlStyle()}}">
                <li ng-repeat="legend in CDWithPositiveValues" class="pie-chart-legend">
                    <div class="pie-chart-legend-color" style="{{getLegendBackgroundColor(legend.name)}}"></div>
                    <span class="pie-chart-legend-value">- <span class="text-weight-bold">Name:</span> {{legend.name}}; <span class="text-weight-bold">Percentage:</span> {{legend.percentage}}%</span>
                    <md-tooltip class="tooltip_1"
                                md-direction="top"
                                ng-bind="legend.numericValue"></md-tooltip>
                </li>
            </ul>
        </div>
    </div>

    <div data-ng-if="!readyStatuses.chartIsReady">
        <div layout="row" layout-sm="column" layout-align="space-around" class="loader-center-64">
            <progress-circular diameter="64"></progress-circular>
        </div>
    </div>

</div>