<div class="report-viewer-charts">

    <div layout="row" class="m-b-16">
        <h3 data-ng-bind="chartName" class="dashboard-chart-name-h"></h3>
    </div>

    <div data-ng-show="readyStatuses.chartIsReady"
         ng-class="getPieChartGlobalClasses()"
         layout="{{pieChartLayout}}"
         layout-align="{{pieChartLayoutAlign}}">

        <div class="report-viewer-chart-holder"></div>

        <div ng-if="readyStatuses.legendsAreReady" class="pie-chart-legends-holder">
            <ul class="pie-chart-legends-ul" style="{{setLegendsUlStyle()}}">
                <li ng-repeat="legend in chartDataWithPosNums" class="pie-chart-legend">
                    <div class="pie-chart-legend-color" style="{{getLegendBackgroundColor(legend.colorNumber)}}"></div>
                    <span class="pie-chart-legend-value">{{legend.name}}: {{formatValue(legend.numericValue)}}; {{legend.percentage}}%</span>
                    <!--<md-tooltip class="tooltip_1"
                                md-direction="top"
                                style="{{getTooltipStyle()}}">{{formatValue(legend.numericValue)}}</md-tooltip>-->
                </li>

                <li ng-repeat="legend in chartDataWithNegNums" class="pie-chart-legend">
                    <div class="pie-chart-legend-color" style="{{getLegendBackgroundColor(legend.colorNumber)}}"></div>
                    <span class="pie-chart-legend-value">- <span class="text-weight-bold">Name:</span> {{legend.name}}; <span class="text-weight-bold">Percentage:</span> -{{legend.percentage}}%</span>
                    <md-tooltip class="tooltip_1"
                                ng-class="{'red-text': number_format.negative_color_format_id === 1}"
                                md-direction="top"
                                style="{{getTooltipStyle()}}">
                        {{formatValue(legend.numericValue, true)}}
                    </md-tooltip>
                </li>
            </ul>
        </div>
    </div>

    <div data-ng-if="!readyStatuses.chartIsReady">
        <div layout="row" layout-sm="column" layout-align="space-around" class="loader-center-64">
            <progress-circular diameter="100"></progress-circular>
        </div>
    </div>

</div>