<div>

    <table>

        <thead>

        <tr>

            <th>
                Pricing Policy
            </th>

            <th>
                Pricing Scheme
            </th>

            <th>
                Pricing Scheme Clarification
            </th>

            <th>
                Parameter Clarification
            </th>

            <th>
                Edit Default Parameters
            </th>

            <th>
                Edit Scheme
            </th>

            <th>
                Notes
            </th>


        </tr>

        </thead>

        <tbody>

        <tr data-ng-if="item in vm.entity.pricing_policies">

            <td>
                {{item.pricing_policy_object.name}}
            </td>

            <td>
                {{item.pricing_scheme_object.name}}
            </td>

            <td>
                {{item.notes_for_user}}
            </td>

            <td>
                {{item.parameter_notes}}
            </td>

            <td>

                -

            </td>

            <td>
                <md-button class="md-raised" data-ng-click="vm.editPricingScheme($event, item)">Edit</md-button>
            </td>

            <td>
                {{item.notes}}
            </td>

        </tr>

        </tbody>


    </table>


</div>