<md-dialog aria-label="" ng-cloak class="list-layouts-dialog draggable-dialog" style="width: 50%" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <ng-md-icon icon="dialpad" size="20" class="draggable-dialog-sign"></ng-md-icon>
            <h2>Layouts</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content  >

        <div data-ng-if="vm.readyStatus.items">
            <div data-ng-repeat="item in vm.items" class="ll-layout-item {{item.is_default ? 'active' : ''}}"
                 style="padding: 10px" layout="row" layout-align="space-between center">
                <div layout="row" class="ll-name" data-ng-click="vm.selectLayout(item)">
                    {{item.name}}
                </div>
                <div>

                    <md-button class="md-button ll-delete-btn" ng-click="vm.download($event, item)">
                        <ng-md-icon icon="cloud_download" size="24"></ng-md-icon>
                    </md-button>

                    <md-button class="md-button ll-delete-btn" ng-click="vm.deleteItem($event, item)">
                        <ng-md-icon icon="delete" size="24"></ng-md-icon>
                    </md-button>
                </div>
            </div>
        </div>

        <div data-ng-if="!vm.readyStatus.items" class="dialog-loader">
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">

        <div>
            <md-button class="md-raised md-primary" ng-click="vm.uploadLayout($event)">
                Upload
            </md-button>
        </div>

        <div>
            <md-button ng-click="vm.cancel()">
                Cancel
            </md-button>
            <md-button ng-click="vm.agree()" style="margin-right:20px;">
                OK
            </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>