<md-dialog
        class="save-as-layouts-dialog draggable-dialog"
        aria-label="save as layout dialog"
        drag-dialog
        style="width: 50%;">
    <md-toolbar>
        <dialog-header title="{{vm.label || 'Layouts'}}"
                       cancel-dialog="vm.cancel()"></dialog-header>
    </md-toolbar>

    <md-dialog-content>
        <div data-ng-if="vm.readyStatus" class="flex-column"
             style="padding: 20px;">
            <!--<div data-ng-if="vm.complexSaveAsLayoutDialog" style="margin-left: 10px;">
                <p>Write new layout name.</p>
            </div>-->

            <md-input-container style="width: 100%;">
                <label for="">Layout Name</label>
                <input data-ng-keydown="vm.change($event)"
                       type="text"
                       data-ng-model="vm.layout.name"
                       class="layout-name-pan"/>
            </md-input-container>

            <usercode-input data-item="vm.layout"
                            data-error="vm.error"
                            data-occupied-user-codes="vm.occupiedUserCodes"></usercode-input>


            <!--          <md-input-container style="width: 100%;">
                        <label for="">Layout User Code</label>
                        <input data-ng-keydown="vm.change($event)"
                               type="text"
                               data-ng-model="vm.layoutUserCode"
                               data-ng-keyup="vm.validateUserCode()"/>
                        &lt;!&ndash; data-ng-keydown="vm.userCodeIsTouched = true" &ndash;&gt;
                      </md-input-container>-->

            <!--<div class="color-danger m-l-16"
                 data-ng-if="vm.userCodeIsTouched && vm.userCodeError">Only alphabet, numbers and underscores allowed
            </div>-->
        </div>

        <div data-ng-if="!vm.readyStatus" class="flex-row fc-space-around">
            <progress-circular data-diameter="50"></progress-circular>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="vm.cancel()">
            Cancel
        </md-button>
        <md-button ng-click="vm.agree($event)"
                   style="margin-right: 20px;"
                   data-ng-disabled="!vm.layout.user_code || vm.error">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>
