.md-button {
  text-transform: none;
  font-weight: 600;
  line-height: 1;
  border-radius: 100px;
}

.md-button.md-raised {
  box-shadow: 0px 1px 3px 1px #00000026;
  box-shadow: 0px 1px 2px 0px #0000004D;
}

.md-button.signed-button {
  border-radius: initial;
}

.md-button.md-primary.md-raised {
  padding: 0 15px;

  //font-weight: 700;
  color: #fff;
  background-color: #f05a22;

  //border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);

  &:not([disabled]):hover {
    opacity: 0.5;
    background-color: #f05a22;
  }

  &:not([disabled]).md-focused {
    opacity: 0.5;
    background-color: #f05a22;
  }
}

.md-button.md-primary {
  color: #f05a22;
}

.md-button.outline-button {
  min-width: auto;
  max-height: 36px;
  background-color: #ffffff;
  color: #f05a22;
  //font-weight: 700;

  border: 1px solid #7d7d7d;
  //border-radius: 3px;

  &:not([disabled]):hover {
    background-color: #FDECE5
  }

  span.material-icons {
    color: @text-lighten;
  }

  ng-md-icon svg {
    fill: @text-lighten;
  }
}

.md-button.align-button {
  background-color: #ffffff;
  color: @g-top-part-color;

  &:hover {
    color: @md-primary-color;
  }

  &.active {
    color: @md-primary-color;
    background-color: rgba(240, 90, 34, 0.1);
  }

}

button.md-raised.md-warn.md-button {
  fill: #fff;
}

.classifier-select-dialog-view {
  width: 500px;
}

.icon-btn-basics {
  background-color: transparent;
  border: none;
}


.md-button.link-button {
  background-color: #ffffff;
  color: #f05a22;
  // font-weight: 700;
  font-weight: 500;
  //border-radius: 3px;

  &:not([disabled]):hover {
    background-color: @btnHover;
  }
}