a.fc-event.system {
  color: #777;
}

.data-calendar-page-content {
  #calendar {
    width: 70%;
    float: left;
  }

  .calendar-event-detail {
    padding: 16px;
    width: 30%;
    float: right;
    box-sizing: border-box;
  }
}