.classifier-select-dialog-view {
  max-height: 90%;
  overflow: hidden;

  .md-toolbar-tools {
    height: 87px;
    max-height: 87px;
    padding: 0 24px;
    color: #333333;
    font-size: 20px;
  }

  .classifier-tree-filter-container {
    // height: 48px;
    flex: 0 0 48px;

    padding: 0 15px;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    border-top: 1px solid rgba(224, 224, 224, 1);
    border-bottom: 1px solid rgba(224, 224, 224, 1);

    .material-icons {
      margin-right: 30px;
      color: #747474;
    }

    input {
      width: 100%;
      border: none;
      outline: none;
    }
  }

  md-dialog-content {
    height: 410px;
    max-height: 410px;
    min-height: 410px;
    overflow: hidden;
  }

  md-dialog-actions.classifier-footer {
    height: 62px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    opacity: 1;

    &.edit {
      opacity: 0.5;
    }

    button {

      &:disabled {
        opacity: 0.5;
      }

      span {
        color: @orange;
      }
    }
  }
}

.classifier-sel-tree-wrapper {
  position: relative;
  height: 395px;

  .tree-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    opacity: 0.5;

  }
}

.classifier-tree-container {
  /* height: 410px;
  max-height: 410px;
  min-height: 410px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 150px;
}

.classifier-tree {
  width: 100%;
  /*max-height: 348px;
  min-height: 348px;*/
  flex: 0 1 100%;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: auto;

  &.shadow {
    box-shadow: inset 0 -8px 12px -8px rgba(0, 0, 0, 0.25),
                inset 0 8px 12px -8px rgba(0, 0, 0, 0.25);
  }

  &.top-shadow {
    box-shadow: inset 0 8px 12px -8px rgba(0, 0, 0, 0.25);

  }

  &.bottom-shadow {
    box-shadow: inset 0 -8px 12px -8px rgba(0, 0, 0, 0.25);
  }


  .classifier-node-holder {
    flex-basis: 100%;
  }

  .classifier-node-children {
    padding-left: 20px;
  }

  .classifier-node {
    position: relative;
    cursor: pointer;

    .classifier-node-row {

      .row-content {
        // height: 36px;
        height: 26px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .pointer {
        color: #747474;
      }

      /* .drop-inside-node-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 65%;
      } */

      &.opened {
        .pointer {
          transform: rotate(90deg);
        }
      }

      &.has-active-child {
        color: @orange;

        .pointer {
          color: @orange;
        }
      }

      button {
        display: flex;

        span {
          color: #FFFFFF;
        }
      }
    }

    /* .node-drop-container-1 {
      position: absolute;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    } */

  }

  .classifier-node {

    &.active,
    &.edit {

      > .classifier-node-row {
        background-color: @orange;
        color: #fff;

        .pointer {
          color: #fff;
        }
      }

    }

    &.edit {
      .classifier-name {
        width: 80%;
        margin-right: 20px;
        outline: none;
        border: none;
      }
    }

  }

  .node-drop-container-2 {
    position: relative;
    height: 10px;
    z-index: 2;

    &.dnd-mouse-hover {
      // height: 36px;
      height: 30px;
      background-color: #f2f2f2;
    }
  }

}

.classifier-tree.dnd-in-progress {

  .classifier-node.dnd-mouse-hover {

    > .classifier-node-row {
      background-color: @paleOrange;
    }

  }

  /* .classifier-node {
    .node-drop-container-1 {
      display: block;
      z-index: 1;
    }
  } */


}