.configuration-import-export-mixin() {
  .cie-first-level-group-h1 {
    margin: 30px 0 40px;
  }

  .cie-entities-group-h2 {
    margin-left: 20px;
  }

  .cie-entity-holder {
    position: relative;
    margin-bottom: 6px;
    margin-top: 6px;
    margin-left: 20px;
  }

  .cie-dependency {
    position: absolute;
    color: red;
    font-size: 11px;
    z-index: 1;
    bottom: 2px;
    left: 4px;
  }

  .cie-entity-items-holder {
    margin-left: 40px;
  }
}

.configuration-import-dialog-view {
  width: 70%;
  .configuration-import-export-mixin();
}

.configuration-export-page {
  .configuration-import-export-mixin();
}

.toolbar-progression-indication {
  position: relative;
  width: 330px;
  text-align: end;

  span:first-child {
    position: absolute;
    left: 0;
  }
}

.child-with-icon {
  position: relative;
  padding-left: 25px;

  ng-md-icon {
    height: 19px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.used-dynamic-attrs {
  font-weight: bold;
}

.configuration-import-loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .6;

  md-progress-circular {
    margin: 256px auto;
  }
}