.configuration-import-dialog-view {

  width: 70%;

  .cie-entity-holder {
    position: relative;
    margin-bottom: 6px;
    margin-top: 6px;
  }

  .cie-dependency {
    position: absolute;
    color: red;
    font-size: 11px;
    z-index: 1;
    bottom: 2px;
    left: 4px;
  }

}

.some-checkboxes-ticked {
  div.md-icon {
    border-color: #ff4081;
  }
}

.used-dynamic-attrs {
  font-weight: bold;
}

.configuration-import-loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .6;

  md-progress-circular {
    margin: 256px auto;
  }
}