.dashboard {

  .dashboard-row {
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .dashboard-cell {

    padding: 10px;

    box-sizing: border-box;

    overflow: auto;

    &.bordered::after {

      content: '';

      position: absolute;
      display: block;
      z-index: -1;

      border: 1px solid #ddd;

      width: calc(100% - 8px);
      height: calc(100% - 8px);

      top: 2px;
      left: 2px;


    }

  }

}