.ec-layout-btn {
  line-height: 1;
  fill: #898989;

  &.active {
    background: #AC8EA6;
    fill: #fff;
  }
}
.entity-constructor {
  min-height: 100%;
  height:100%;
  md-tabs {
    height:100%;
  }
}
.ec-layout-box {
  overflow: hidden;
}
.ec-md-content {
  background: #E5E5E5;
}
.ec-layout {
  overflow: hidden;
}
.ec-attr-card {
  padding-left: 1em;
  overflow: hidden;
  fill: #898989;
  .options-holder {
    button {
      float: right;
      line-height: 1;
      padding: 0;
      min-width: 36px;
    }
  }
}