div.h-instrument-select {
  z-index: 0;
}

.entity-search-dialog {
  md-dialog-content {
    overflow: hidden;
  }
}

.entity-search-fixed-thead-wrapper {
  position: absolute;
  background-color: #ffffff;
  top: 64px;
  left: 0;
  z-index: 2;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 37px;

  table {
    table-layout: fixed;

    thead {
      border-bottom: solid 2px #000000;
    }
  }
}

.entity-search-table-container {
  height: 250px;
  padding: 20px;
  overflow-y: auto;
}

.entity-search-filter {
  margin: 0;
}

.entity-search-col-b {
  margin-bottom: 15px;
  padding-left: 3px;
  cursor: pointer;
}

table.entity-search-table {
  table-layout: fixed;
  thead {
    border-bottom: none;
    tr {
      border-bottom: none;
    }
  }
  td {
    text-overflow: ellipsis;
    overflow: hidden;
  }

}

.entity-search-settings-header {
  width: 50px;
}