.entity-viewer-holder {

  .no-data-block {
    font-size: 24px;
    padding: 120px;
    margin-left: 26vw;
  }

  .ev-content {
    overflow: visible;
    box-sizing: border-box;
    padding-bottom: 200px;
    min-width: 100%;
  }

  .g-wrapper .g-row {
    border-bottom: 1px solid #ddd;
    overflow: hidden;

    height: 23px;
  }

  .g-wrapper .g-group-holder {
    line-height: initial;
    padding-top: 4px;

    position: relative;

    .g-row-selection {
      position: absolute;
      background: #fff;
      top: 0;
      left: 0;
      height: 23px;
    }

    &.selected {

      background: rgba(205, 136, 99, .4);

      .g-row-selection {
        background: #ffeee8;
        fill: #4C334D;

      }

    }

  }

  .ev-viewport {
    overflow: auto;
    position: relative;
  }

  .level-1 {
    padding-left: 35px;
  }

  .level-2 {
    padding-left: 50px;
  }

  .level-3 {
    padding-left: 70px;
  }

  .level-4 {
    padding-left: 90px;
  }

  .level-5 {
    padding-left: 110px;
  }


  .g-column-bottom-row {
    position: relative;
  }

  .ev-fold-button {
    width: 14px;
    height: 14px;
    float: left;
    background: #fff;
    border: 1px solid #333;
    text-align: center;
    margin-right: 4px;
    line-height: 14px;
    cursor: pointer;

    &:hover {
      background: #ddd;
    }
  }

  .g-cell-wrap {
    background: transparent;
  }

  .g-wrapper .g-row-selection {
    background: transparent;
  }

  .g-row {

    &.selected {
      //background: #ffeee8;
      background: #eacec5;

      .g-row-selection {
        fill: #4C334D;
      }
    }

    &.selected.selected-blue {
      background: #b6d1ec;
    }

    &.activated {
      //background: #ffeee8;
      background: #eacec5;
    }
  }

  .placeholder-row {
    height: 24px;
    background-color: #fff;
    border-bottom: 1px solid #363636;
  }

  .placeholder-text {
    display: inline-block;
    background-color: #444;
    height: 12px;
    border-radius: 100px;
    margin: 3px 0;
    opacity: .1;
    animation: fading 1.5s infinite;
  }

  @keyframes fading {
    0% {
      opacity: .1;
    }
    50% {
      opacity: .2;
    }
    100% {
      opacity: .1;
    }
  }

  .g-wrapper .group-table-body {
    background: #d6d6d6;
  }

  .g-wrapper .group-table-body .ev-content {
    background: #DCDCDC;
  }

  .ev-loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #4C334D; /* Blue */
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: ev-spin 2s linear infinite;
  }

  .md-button.grouping-area-settings-btn {
    width: 30px;
    min-height: 30px;
    height: 30px;
    padding: 4px;
    margin: 0;
  }

  @keyframes ev-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .ev-progressbar-holder {
    height: 4px;
    background: #4C334D;
  }

  .proxyline {
    opacity: .4;
  }

  .control-button {
    //background: #ddd;
    background-color: rgb(63, 81, 181);
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    margin: 2px;
    height: 20px;
    border: 0;
    border-right: 1px solid #000;
    border-bottom: 1px solid;
    cursor: pointer;

    &:hover {
      //opacity: 0.7;
      background-color: #2f3e9b;
    }
  }

  .control-button.load-more {
    margin-right: 8px;
  }

}

.ev-dropdown {
  display: block;
  background: #fff;
  width: 320px;
  border: 1px solid #DCDCDC;
  z-index: 3;
}

.ev-dropdown-option {
  display: block;
  height: 24px;
  cursor: pointer;
  border-bottom: 1px solid rgba(158, 158, 158, 0.2);
  padding: 8px 0 0 24px;
  text-decoration: none;
  color: #000;

  &:visited {
    color: #000;
  }

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    background: rgba(158, 158, 158, 0.2);
  }

  a {
    text-decoration: none;
    color: #000;
  }

}

.ev-dropdown-submenu {
  //height: 200px;
  width: 320px;
  background: #fff;
  position: absolute;
  left: 320px;
  margin-top: -26px;
  display: none;
  //overflow: auto;
  &:hover {
    display: block;
  }
}

.ev-dropdown-menu-holder:hover {
  & > .ev-dropdown-submenu {
    display: block;
  }
}



.g-content-wrap-right {
  position: absolute;
  left: 50%;
}