.entity-search-dialog {
  md-dialog-content {
    position: relative;
    padding: 20px;
  }
}
.entity-search-table-wrapper {
  position: relative;
  overflow: hidden;
}

.entity-search-fixed-thead-wrapper {
  position: absolute;
  background-color: #ffffff;
  top: 65px;
  left: 0;
  z-index: 2;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 37px;
}

.entity-search-filter {
  margin: 0;
}

.entity-search-col-b {
  margin-bottom: 15px;
  padding-left: 3px;
}