.grid-table-top-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*.grid-table-header {
  position: relative;
  display: flex;
  flex-direction: row;
}*/

.grid-table-row {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 48px;
  padding-left: 36px;
  border-top: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.grid-table-row-checkbox {
  position: absolute;
  top: 14px;
  left: 15px;

  md-checkbox {
    margin-bottom: 0;
  }
}

.grid-table-cell {
  position: relative;
  height: 100%;
  padding: 0 14px;
  box-sizing: border-box;

  .gt-cell-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .gt-header-cell-content {

    .gt-sorting-icon {
      position: absolute;
      left: 1px;
      top: 14px;
      fill: #747474;
    }

    .gt-cell-text {
      span {
        cursor: pointer;
        font-size: 13px;
        color: #666666;

        &:hover {
          color: #000;
        }
      }
    }

    &.gt-sorting-on {
      .gt-cell-text {
        font-weight: bold;
      }
    }
  }

  .gt-cell-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    .gt-cell-text {
      position: relative;
      flex: 0 1 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      span {
        // position: absolute;
        font-size: 14px;
        /*overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        bottom: 0;
        left: 0;*/
      }
    }

    .gt-cell-edit-btn {
      flex: 0 0 24px;
      min-width: 24px;
      width: 24px;
      min-height: 24px;
      height: 24px;
      padding: 0;
      margin: 0;
      fill: #747474;
      opacity: 0;
    }
  }

  .gt-cell-selector-container {
    padding-top: 5px;

    md-input-container {
      width: 100%;

      md-select {
        font-size: 14px;
        margin: 0;
      }
    }
  }

}

.grid-table-cell:hover .gt-cell-edit-btn {
    opacity: 1;
}

.popup-area-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 53;
  top: 0;
  left: 0;
}

.popup-area {
  position: absolute;
  min-width: 300px;
  background-color: #fff;
  z-index: 54;
  padding: 16px;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.popup-area-container {
  position: relative;
  padding-bottom: 42px;
}

.popup-area-main {
  margin-bottom: 6px;
}

.popup-area-footer {
  position: absolute;
  width: 100%;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  bottom: 0;

  button.md-button:not([disabled]) {
    min-height: 36px;
    height: 36px;
    color: #f05a22;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 700;
    min-width: 0;
    padding: 0 12px;
    margin-bottom: 0;

    &:hover {
      background-color: rgba(240,90,34,0.2);
    }

  }

}