.g-wrapper {
  .g-drag-section-title {
    padding-left: .5em;
    padding-top: 1em;
  }
  overflow: hidden;
  .g-workarea {
    float: left;
    width: calc(~"100% - 240px");
  }
  .g-sidebar {
    float: right;
    width: 240px;
  }
  .g-cell {
    float: left;
    padding: 20px;
  }
  .g-thead {
    &:after{
      content: '';
      clear: both;
      display: block;
    }
  }
  .g-group-holder {
    background: #DCDCDC;
    &:after{
      content: '';
      clear: both;
      display: block;
    }
    padding-left: 20px;
  }
  .g-group {
    float: left;
    text-transform: uppercase;
    color: #4C334D;
    margin-right: .5em;
    &:after{
      display: inline-block;
      margin-left: .5em;
      content: '>'
    }
    &:last-child:after {
      content: ''
    }
  }
  .g-row {
    &:after{
      content: '';
      clear: both;
      display: block;
    }
  }
  .g-grouping-section {
    background: #DCDCDC;
  }
  .g-drag-section-title {
    margin: 0;
  }
  .g-settings-btn {
    float: right;
    margin-top: -1.5em;
  }
  .groups-holder {
    width: calc(~"100% - 120px");
    float: left;
  }
  .g-columns-component.g-thead {
    background: #4C334D;
  }
  .g-second-line {
    &:after {
      display: block;
      clear: both;
      content: '';
    }
  }
  .group-item {
    float: left;
    display: block;
    height: 2em;
    overflow: hidden;

    .add {
      .md-button {
        //background: #C6C6C6 ;
        //border-radius: 50%;
        fill: #767676;
      }
    }
    .sort {
      .md-button {
        //background: #C6C6C6;
        //border-radius: 50%;
        fill: #767676;
      }
    }
    .settings-btn {
      .md-button {

        fill: #767676;
        svg {
          background: transparent;
        }
      }
    }
    .caption {
      color: #0C0C0C;
      margin-right: 1em;
      margin-left: 1em;
      padding-top: .6em;
      font-size: .8em;
    }
    .md-button {
      min-width: auto;
      line-height: 1;
      //margin-left: 3px;
      //margin-right: 3px;
      margin-right: 0px;
      margin-left: 0px;
      margin-top: -.1em;
      svg {
        border-radius: 50%;
        background: #C6C6C6;
        height: 1.5em;
        width: 1.5em;
      }
    }
    &>div {
      float: left;
    }
  }
  .g-columns-component {
    .g-cell {
      display: block;
      padding: 0;
      height: 2em;
      .caption {
        color: #0C0C0C;
        padding-top: .6em;
        font-size: .8em;
      }
      .md-button {
        min-width: auto;
        line-height: 1;
        margin-top: -.1em;
        margin-right: 0;
        margin-left: 0;
        fill: #767676;
        margin-bottom: 0;
        svg {
          height: 1.5em;
          width: 1.5em;
        }
      }
      &>div {
        display: block;
        float: left;
      }
    }

  }
  
  .drop-new-group {
    float: left;
    height: 2.5em;
    padding-top: .6em;
    font-size: .8em;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
    margin: 8px;
    color: #575757;
    border: 1px dotted #575757;
  }

  .drop-new-field {
    float: left;
    height: 2.5em;
    padding-top: .6em;
    padding-left: 2em;
    font-size: .8em;
    padding-right: 2em;
    box-sizing: border-box;
    margin: 8px;
    color: #999199;
    border: 1px dotted #999199;
  }
}