md-content.md-default-theme {
  background-color: #eee;
}

.md-select-menu-container.md-active md-select-menu {
  background: #fff;
}

.md-button.md-fab {
  height: 38px;
  width: 38px;
}

body {
  //background: #4C334D;
}

md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}

md-content {
  background: transparent;
}

md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}

h2 {
  font-weight: 400;
}

.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

.md-toolbar-tools {
  background-color: #4C334D;
}

md-sidenav {
  fill: #737373;
  overflow: hidden;
  a {
    color: #fff;
  }
  color: #fff;
  .md-button {
    color: #fff;
  }
  .md-toolbar-tools {
    background-color: #3B283B;
  }
  md-content {
    background-color: #3B283B;
  }
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}

.user-avatar {
  border-radius: 99%;
}

.min-height {
  min-height: 100%;
  height: 100%;
}

.sidenav-wrapper {
  width: 200px;
  menu-toggle {
    ul {
      padding-left: 0;
      .sidemenu-btn {
        padding-left: 40px;
        &.active {
          background: rgba(255, 255, 255, .1);
        }
      }
    }
  }
}

.side-menu {
  padding-left: 0;
}

.md-button.md-fab {
  line-height: 1;
}

.sidemenu-btn {
  width: 100%;
  display: block;
  text-align: left;
  padding-left: 1em;
  margin-left: 0;
  .dropdown-icon {
    float: right;
    fill: #fff;
  }
}

.to-small-btn {
  position: absolute;
  bottom: 5em;
  right: 0em;
}

.g-modal-dialog {
  width: 400px;
}

a.md-button.md-default-theme.md-fab:not([disabled]):hover, a.md-button.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-fab:not([disabled]):hover, .md-button.md-fab:not([disabled]):hover {
  background-color: #3B283B;
}

a.md-button.md-default-theme.md-fab, a.md-button.md-fab, .md-button.md-default-theme.md-fab, .md-button.md-fab {
  background-color: #4C334D;
}

.md-open-menu-container.md-active {
  z-index: 10001;
}

.md-datepicker-calendar-pane {
  z-index: 11020;
}

.md-dialog-container {
  z-index: 11000;
  overflow: visible;
}

.md-select-menu-container {
  z-index: 11010;
}

.md-dialog-backdrop {
  display: none;
}

.md-button.md-fab.md-mini {
  line-height: 1;
}

.add-portfolio-dialog, .edit-portfolio-dialog {
  width: 70%;
}

.delete-portfolio-dialog {
  .warning-text {
    padding: 1em;
  }
}

.warning-dialog {
  .warning-text {
    padding: 0 20px;
  }
}

.header-misc {
  .md-button {
    min-width: 0;
    line-height: 1;
    padding: 4px;
    margin-top: 12px;
    min-height: 0;
    height: 32px;
    fill: #fff;
  }
  .header-profile {
    padding-top: 5px;
  }
  .header-profile-name {
    //padding-top: 5px;
    position: relative;
    top: -16px;
    display: inline-block;
    margin-left: 10px;
  }
}

.e-data-loader {
  padding-top: 10em;
}

.zh-loader {
  border: 2px solid #fff; /* Light grey */
  border-top: 2px solid #3B283B; /* Blue */
  border-bottom: 2px solid #3B283B;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.instrument-select-dialog-view {
  md-dialog-content {
    padding: 25px;
  }
}
.h-instrument-select {
  display: none !important;
}
.instrument-table-results {
  .instrument-table-row {
    cursor: pointer;
    &.active {
      background: #eee;
    }
    &:hover {
      background: #eee;
    }
  }
}
.dropdown.contextmenu {
  md-menu-content {
    border: 1px solid #DCDCDC;
    padding: 0;
    md-menu-item {
      border-bottom: 1px solid #DCDCDC;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.m-large {
  margin-top: 200px;
  margin-bottom: 200px;
}
md-option.disabled {
  pointer-events: none;
  opacity: .5;
}