//.report-bg-level-1 {
//  background: #F1D6D6;
//}
//
//.report-bg-level-2 {
//  background: #D6E0F1;
//}
//
//.report-bg-level-3 {
//  background: #D6F1D8;
//}
//
//.report-bg-level-4 {
//  background: #a8e4ff;
//}

//.report-bg-level-1 {
//  background: #FC5D3C;
//}
//
//.report-bg-level-2 {
//  background: #FF8860;
//}
//
//.report-bg-level-3 {
//  background: #F7BFAB;
//}
//
//.report-bg-level-4 {
//  background: #FFCDB8;
//}

.report-grand-total-bg {
  background: #f08947;
}

.report-bg-level-1 {
  background: #F4B083;
}

.report-bg-level-2 {
  background: #F7CAAC;
}

.report-bg-level-3 {
  background: #FBE4D5;
}

.report-bg-level-4 {
  background: #FFF0E1;
}

.report-bg-level-5 {
  background: #FFF6F7;
}

.g-wrapper .g-row .g-cell.text-right {
  text-align: right;
}

.g-wrapper .g-row .g-cell.negative-red {
  color: #FA393E;
}

.g-wrapper .g-row-selection {
  border-bottom: 1px solid #363636;
  height: 23px;
}

.g-wrapper .g-row {
  border-bottom: none;
  overflow: auto;
  height: 24px;
}

.g-cell {
  border-bottom: 1px solid #363636;
  height: 11px;
  padding: 4px 15px 8px;
  font-size: 14px;
  overflow: hidden;
}

.g-cell:last-child {
  margin-right: 0;
}

.g-cell.border-bottom-transparent {
  border-bottom: 1px solid transparent;
}

.g-cell.border-right-transparent {
  border-right: 1px solid transparent;
}