.active-cell-mixin() {
  &.active {
    color: var(--secondary-color);
    background: var(--state-active-background-color);

    &:hover {
      //background: #f08947;
      opacity: .9;
    }
  }
}

.rv-matrix-cell-mixin() {
  cursor: pointer;
  //white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 8px 0; // variable cellHorPaddings inside reportViewerMatrixDirective.js based on this
  /*padding-left: 8px;
  padding-right: 8px;*/
  box-sizing: border-box;
  color: var(--secondary-color);
  font-size: 14px; // context.font inside reportViewerMatrixDirective.js based on this

  border-right: 1px solid var(--table-border-color);
  border-bottom: 1px solid var(--table-border-color);

  &:not(.report-viewer-empty-header-cell):hover {
    //background: rgba(240,90,34,.11);
    opacity: .8;
  }

  .active-cell-mixin();
}

.report-viewer-matrix {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;

  .report-viewer-matrix-holder {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    //display: block;
    //border: 1px solid #D8DDDC;
    border: 1px solid var(--table-border-color);
    border-radius: 6px;
  }

  .axis-attr-selector-btns-holder {
    position: absolute;
    top: 0;
    left: 0;

    .axis-attr-selector-btn {
      position: absolute;
      width: 18px;
      height: 18px;
      background-color: var(--dropdown-background-color);
      padding: 0;
      border: 1px solid var(--table-border-color);
      border-radius: 100%;
      z-index: 3;

      &[disabled] {
        opacity: .5;
      }

      &.abscissa {
        top: 50%;
        transform: translateY(-50%);
        right: -9px;
      }

      &.ordinate {
        bottom: -9px;
        left: 50%;
        transform: translateX(-50%);
      }

      span.material-icons {
        color: @gray;
        font-size: 18px;
      }
    }

  }

  .rv-matrix-header {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    background: var(--card-background-color);
    overflow: hidden;

    .rvm-header-row-holder {
      flex: 0 1 100%;
      position: relative;
      width: 100%;
      overflow: hidden;
      z-index: 0;
    }

    .report-viewer-matrix-column-header-cell {
      float: left;
      position: relative;
      cursor: pointer;

      z-index: 2;
      text-align: center;
      overflow: hidden;
      //background-color: rgba(242, 242, 242, 1);
      background-color: var(--table-header-background-color);

      //border-right: 1px solid rgba(224, 224, 224, 1);
      //border-right: 1px solid #EAEEED;
      border-right: none;
      .rv-matrix-cell-mixin();
      //padding-top: 4px;

      //font-family: Roboto, "Helvetica Neue", sans-serif;
      color: var(--secondary-color);
      //font-size: 13px;
      font-size: 12px;
      //font-weight: 700;
      padding: 0 6px !important;
      display: flex;
      justify-content: center;
      align-items: center;

      .selector-button-popup .selector-button-popup-btn {
        position: relative;
        top: -6px;
      }

      span {
        display: -webkit-box;
        position: relative;
        font-size: 12px;
        line-height: 18px;
        max-height: 36px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    .report-viewer-empty-header-cell {
      /*float: none;
      position: relative;
      cursor: default;
      background: #3B283B;
      color: #fff;
      border-right: 1px solid var(--secondary-color);
      border-bottom: 1px solid var(--secondary-color);
      .rv-matrix-cell-mixin();*/
      float: none;
      flex: 0 0 auto;
      cursor: default;

      .selector-button-popup {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 79px;
        max-width: 100%;
      }

      .report-viewer-matrix-value-name {
        font-size: 14px;
        color: var(--secondary-color);
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      /* .matrix-settings-button {
        position: absolute;
        max-width: 48px;
        max-height: 48px;
        right: 0;
        top: 0;
        fill: #333;
        min-height: 12px;
        min-width: 12px;
        margin: 0;
        width: 100%;
        height: 100%;

        ng-md-icon {
          position: absolute;
          top: calc(50% - 12px);
          left: calc(50% - 12px);
        }
      } */

    }

    .rv-matrix-header-total-cell {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: var(--card-background-color);

      z-index: 2;
      border-bottom: 1px solid var(--table-border-color);
      border-left: 1px solid var(--table-border-color);
      .rv-matrix-cell-mixin();

      font-size: 13px;
      color: var(--secondary-color);
      font-weight: 700;
    }

  }

  .report-viewer-matrix-row {
    z-index: 0;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }


  .rv-matrix-body {
    position: relative;
    width: 100%;
    min-height: 0;
    overflow: hidden;
  }

  .rv-matrix-value-cells-container {
    position: relative;
    flex: 0 1 100%;
    overflow: auto;
    box-sizing: border-box;
    background: var(--card-background-color);
  }

  .report-viewer-matrix-bottom-row {
    //box-shadow: inset 0 1px 0 #ddd;
    border-bottom: 1px solid var(--table-border-color);

    .report-viewer-matrix-cell {
      border: 0;
      //border-right: 1px solid #e0e0e0;
      border-right: 1px solid var(--table-border-color);
    }
  }

  .report-viewer-cell-border-left {
    //box-shadow: inset 1px 0px 0px #ddd;
    font-weight: 700;
  }

  .rv-matrix-left-col {
    .report-viewer-matrix-cell {
      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .report-viewer-matrix-cell {
    cursor: pointer;
    float: left;
    background: var(--page-background-color);
    .rv-matrix-cell-mixin();

    padding: 0 6px !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &.negative-red {
      color: var(--error-color);;
    }

    span {
      display: -webkit-box;
      position: relative;
      font-size: 14px;
      line-height: 20px;
      max-height: 40px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  div.report-viewer-matrix-cell-total {
    font-weight: 700;
    color: var(--secondary-color);
  }

  .rv-matrix-fixed-bottom-row {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    //border-top: 1px solid var(--secondary-color);
    background: var(--card-background-color);
    overflow: hidden;
    z-index: 2;

    .rv-matrix-rb-cell {
      position: absolute;
      top: 0;
      right: 0;
      color: var(--secondary-color);
      background: var(--card-background-color);
      //border-left: 1px solid var(--secondary-color);
      font-weight: 700;
      float: none;
      z-index: 2;
      .active-cell-mixin();

      &.negative-red {
        color: var(--error-color);;
      }
    }
  }

  .rv-matrix-lb-cell {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 700;
    //background: rgba(242, 242, 242, 1);
    background: var(--table-header-background-color);
    border-bottom: 0;

    &:hover {
      //background: #F4B083;
      //background: rgba(240,90,34,.11);
      opacity: .8;
    }

    .active-cell-mixin();
  }

  .rv-matrix-left-col {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    //background: rgba(255, 255, 255, 0);
    background: var(--card-background-color);
    height: 100%;
    z-index: 1;
    box-sizing: border-box;

    .rvm-fixed-col-holder {
      position: relative;
      height: 100%;
      overflow: hidden;
      box-sizing: border-box;
      background: var(--card-background-color);
      border-right: 1px solid var(--table-border-color);
    }

    .report-viewer-matrix-cell {
      float: none;
    }
  }

  .rv-matrix-right-col {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
  }

  .rv-matrix-part-to-scroll {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--page-background-color);
  }

  .rv-matrix-colored-cell {
    //background-color: rgba(242, 242, 242, 1);
    background-color: var(--table-header-background-color);
    color: var(--secondary-color);
    //text-align: left;
  }

}

.report-viewer-matrix.matrix-with-fixed-totals {

  .rv-matrix-left-col {
    .rvm-fixed-col-holder {
      border-right: 1px solid var(--table-border-color);
    }
  }

  .rv-matrix-lb-cell {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--page-background-color);
    border-top: none;
    border-right: 1px solid var(--table-border-color);
    border-top: none;
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 700;
    background: var(--card-background-color);
    z-index: 2;
  }

}

.report-viewer-matrix-holder.has-x-scroll {
  .rv-matrix-fixed-bottom-row {
    bottom: 14px;
  }

  .rv-matrix-left-col {
    padding-bottom: 15px;
  }

  .rv-matrix-right-col {
    bottom: 14px;
  }
}

.report-viewer-matrix-holder.has-y-scroll {
  .rv-matrix-header {
    padding-right: 14px;
  }

  .rv-matrix-value-cells-container {
    overflow-y: scroll;
  }

  .rv-matrix-header-total-cell {
    right: 14px;
  }

  .rv-matrix-fixed-bottom-row {
    right: 14px;
  }

  .rv-matrix-right-col {
    right: 14px;
  }
}

.matrix-inside-report-builder {
  .report-viewer-matrix {
    border-top: 2px solid var(--table-border-color);
    box-sizing: border-box;
  }
}


