.report-viewer-matrix {

  height: 100%;
  width: 100%;
  overflow: auto;

  .report-viewer-matrix-holder {
    display: block;
  }

  .report-viewer-matrix-row {
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .report-viewer-matrix-column-header-cell {
    background: #4C334D;
    color: #fff;
    text-align: center;
    //padding-top: 4px;
  }

  .report-viewer-matrix-row-header-cell {
    background: #4C334D;
    color: #fff;
    text-align: left;
  }

  .report-viewer-matrix-bottom-row {
    border-top: 1px solid #ddd;
  }

  .report-viewer-cell-border-left {
    border-left: 1px solid #ddd;
  }

  .report-viewer-matrix-cell {
    float: left;
    //padding: 10px;
    box-sizing: border-box;
    text-align: center;
    //line-height: 1.5;

    padding-left: 8px;
    padding-right: 8px;

    cursor: pointer;

    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;

    &.active {
      color: #fff;
      background: #f08947;

      &:hover {
        background: #f08947;
        opacity: .9;
      }
    }

    &:hover {
      background: #F4B083;
    }
  }

  .report-viewer-empty-header-cell {
    cursor: default;
    background: #3B283B;
    color: #fff;
    &:hover {
      background: #3B283B;
    }
  }

}