.data-provider-btn-sref {
  min-width: 70px;
  padding-top: 0px;
  ng-md-icon {
    position: relative;
    top: 6px;
  }
}

.instrument-scheme-manager-dialog-view {
  min-width: 75%;
}

.inm-card-special {
  md-input-container {
    margin: 0;
  }
  md-select {
    margin: 12px;
    position: relative;
    top: -10px;
  }
}

.instrument-scheme-manager-dialog-view {
  md-input-container {
    margin: 0;
  }
}