// table-attributes-selector-dialog-view
.attr-selector-dialog {
  min-width: 500px;
  min-height: 80%;
  padding-bottom: 52px;
}

.attr-selector-btns-holder {
  padding: 5px 25px 0;
}

.attr-selector-breadcrumbs {
  margin-bottom: 10px;

  span {
    margin-left: 10px;
  }
}

.attr-selector-back-btn {
  position: relative;
  min-width: 36px;
  min-height: 36px;
  height: 36px;
  width: 36px;
  fill: #fff;
  padding-top: 4px;
  margin-bottom: 25px;
}

.attr-selector-filter {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  padding: 0 0 5px 11px;
}

.attr-selector-btns-container {
  margin-left: 24px;
  margin-bottom: 14px;
}
// < table-attributes-selector-dialog-view >

// table-attributes-menu-constructor-dialog-view
.attr-menu-constructor-dialog {

  .column-titles-row {

    div {
      width: 250px;
      margin: 0 10px 0 13px;
    }
  }

}
// < table-attributes-menu-constructor-dialog-view >

// tabs-editor-dialog-view
.tab-editor-dialog {
  .tabs-dnd-container {
    padding: 8px;
  }
}

md-card.tab-editor-tab-card {
  padding: 0 10px;
  cursor: grab;
}
// < tabs-editor-dialog-view >