.transaction-type-operations-block {
  .md-button {
    font-size: 13px;
  }

}

.ttype-actions-empty-row {
  height: 62px;
}

.transaction-type-actions-tab-view {
  .expr-btn {
    margin-top: 0;
    position: relative;
    top: -8px;
  }
  .expression-input-container {
    width: 60%;
  }
  .custom-small-icon-btn, .expr-btn {
    min-width: 24px;
    height: 24px;
    min-height: 24px;
    line-height: 24px;
  }
}

md-input-container.orange-actions-selector {
    md-select {
      .md-select-value.md-select-placeholder {
        color: #e49400;
      }
      .md-select-value {
        border-bottom-color: #e49400;
      }
    }

    md-select:not([disabled]):focus {
      .md-select-value {
        border-bottom-color: #e49400;
      }
    }
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value.orange-actions-selector label, md-input-container:not(.md-input-invalid).md-input-has-value.orange-actions-selector label {
  color: #e49400;
}

.ttype-action-info-container {
  & > span {
    margin-right: 15px;
  }
}

.ttype-fields-group-container {
  padding: 0 10px;
}

.ttype-fields-group-header {
  margin-left: 10px;
}

.ttype-fields-field-wrap {
  md-input-container {
    width: 84%;
  }
}
