.transaction-type-operations-block {
  .md-button {
    font-size: 13px;
  }

}

.transaction-type-actions-tab-view {
  .custom-small-icon-btn, .expr-btn {
    min-width: 24px;
    height: 24px;
    min-height: 24px;
    line-height: 24px;
  }
}