.vault-page {

  padding: 16px;

  .vault-engine-card {
    margin-bottom: 16px;
  }

  .vault-engine-secret {
    padding: 8px;
    border: 1px solid #ddd;
    margin: 8px;
    align-items: center;
  }

  .vault-engine-card-secrets-holder {
    padding-left: 16px;
  }

  .vault-engine-card-title {
    margin: 8px 0;
  }

  .vault-engine-card-button {
    margin: 8px 0;
  }

  .vault-secret-dialog-vault-secret-item {

    align-items: center;
    display: flex;

    font-size: 14px;
    border: 1px solid #ddd;
    margin: 8px;

  }

}