.vault-page {

  padding: 16px;

  .vault-engine-card {
    margin-bottom: 16px;
  }

  .vault-engine-secret {
    padding: 8px;
    border: 1px solid var(--table-border-color);
    margin: 8px;
    align-items: center;
  }

  .vault-engine-card-secrets-holder {
    padding-left: 16px;
  }

  .vault-engine-card-title {
    margin: 8px 0;
  }

  .vault-engine-card-button {
    margin: 8px 0;
  }

  .vault-seal-key-item {
    align-items: center;
    font-size: 16px;
    font-weight: bold;

    pre {
      background: #ddd;
      padding: 4px;
      margin-left: 24px;
    }
  }


}

.vault-secret-dialog-vault-secret-item {

  align-items: center;
  display: flex;
  font-size: 14px;
  border: 1px solid var(--table-border-color);
  margin: 8px;
  padding: 8px 16px;
  justify-content: space-between;

  .md-button {
    height: 24px;
    min-height: 24px;
    line-height: 24px;
    width: 60px;
    min-width: 40px;

  }

}