.view-constructor {
  min-width: 600px;

  .g-checkbox-row {
    div:first-of-type {
      padding-top: 8px;
    }
    md-card {
      //width: 250px;
      display: inline-block;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: .5em;
      padding-bottom: .5em;
      margin-top: 0;
    }
    md-checkbox.md-g-green.md-checked .md-icon {
      background-color: #58BF64;
    }
  }

}