<md-dialog aria-label="event">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Event <b>{{vm.event.event_schedule_object.name}}</b> (With Reaction)</h2>
        </div>
    </md-toolbar>
    <md-dialog-content data-custom-scroll class="custom-scrollbar md-padding">

        <p>
            {{vm.event.event_schedule_object.display_description}}
        </p>

        <p>
            <b>Please select the reaction (blue button = book as pending)</b>
        </p>

        <div layout="row">
            <md-button aria-label="event button" data-ng-repeat="button in vm.actionButtons"
                       class="md-raised {{buttons.is_sent_to_pending  ? 'md-primary': ''}}"
                       data-ng-bind="button.display_text" data-ng-click="vm.eventAction($event, button.id)"></md-button>
        </div>


    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <md-button aria-label="cancel" class="md-raised md-warn" data-ng-click="vm.skip()">
            Skip
        </md-button>
        <md-button aria-label="cancel" class="md-raised" data-ng-click="vm.informed()">
            OK, do nothing
        </md-button>
        <md-button aria-label="cancel" class="md-raised" data-ng-click="vm.applyDefault()">
            Apply Default
        </md-button>
    </md-dialog-actions>
</md-dialog>