<md-dialog aria-label="" class="draggable-dialog width-40" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <is-draggable-sign></is-draggable-sign>
            <h2>Copy Database</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content class="p-24">

        <div data-ng-if="vm.processing" class="p-t-24 p-b-24">
            <div layout="row" layout-sm="column" layout-align="space-around">
                <progress-circular data-diameter="50"></progress-circular>
            </div>

        </div>

        <div data-ng-if="!vm.processing">

            <div>

                Original Ecosystem name: {{vm.referenceMasterUser.name}}

            </div>

            <div class="m-t-16">
                <md-input-container class="width-100">
                    <label>Name</label>
                    <input type="text" data-ng-model="vm.name">
                </md-input-container>
            </div>

        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="vm.cancel()">
            Close
        </md-button>
        <md-button class="md-raised" ng-class="{'disabled-btn': vm.processing}" ng-click="vm.agree()" style="margin-right:20px;">
            Copy
        </md-button>
    </md-dialog-actions>
</md-dialog>