<md-dialog aria-label="" ng-cloak class="two-factor-setup-dialog width-50">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Two Factor Verification Setup</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content data-custom-scroll class="custom-scrollbar">

        <div class="p-24">

            <div data-ng-show="vm.currentStep == 1">

                <p>
                    Two-step verification adds an extra layout of protection to your account.
                    Whenever you sign in to the Finmars you will need to enter both your password and a security code on
                    your mobile phone.
                </p>

            </div>

            <div data-ng-show="vm.currentStep == 2">

                <p>
                    An authenticator app lets you generate security codes on your mobile phone.
                </p>
                <p>
                    To configure your authenticator app:
                </p>
                <ul>
                    <li>Add a new time-based token.</li>
                    <li>Use your app to scan the QR code below</li>
                </ul>

                <div class="code-holder text-center">

                </div>

                <div class="m-t-16 text-center">

                    <md-button class="md-primary md-raised"
                               ng-click="vm.isShowAuthenticatorApps = true">Show authenticator Apps
                    </md-button>

                </div>

                <div data-ng-show="vm.isShowAuthenticatorApps">
                    <ul class="fa-ul flex-row flex-content-space-around">
                        <li>
                            <div class="text-center">Google Authenticator</div>

                            <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en"
                               class="text-link"
                               target="_blank">
                                <img alt='Get it on Google Play' src="portal/content/img/google-play.png" width="150"/>
                            </a>

                            <a href="https://apps.apple.com/ru/app/google-authenticator/id388497605"
                               class="text-link"
                               target="_blank">
                                <img alt='Download on the app store' src="portal/content/img/app-store.png" width="150"/>
                            </a>

                        </li>

                        <li>
                            <div class="text-center">Microsoft Authenticator</div>

                            <a href="https://play.google.com/store/apps/details?id=com.azure.authenticator&hl=ru"
                               class="text-link"
                               target="_blank">
                                <img alt='Get it on Google Play' src="portal/content/img/google-play.png" width="150"/>
                            </a>

                            <a href="https://apps.apple.com/us/app/microsoft-authenticator/id983156458"
                               class="text-link"
                               target="_blank">
                                <img alt='Download on the app store' src="portal/content/img/app-store.png" width="150"/>
                            </a>

                        </li>
                    </ul>

                </div>

            </div>

            <div data-ng-show="vm.currentStep == 3">

                <p style="margin-bottom: 25px;">
                    Enter the security code generated by your authenticator app to make sure it's configured correctly.
                </p>

                <div>

                    <md-input-container class="md-block" style="margin: 0">
                        <label>Security code</label>
                        <input data-ng-model="vm.securityCode" data-ng-change="vm.validateCode()"
                               data-ng-blur="vm.validateCode()">
                    </md-input-container>

                </div>

                <div data-ng-show="vm.securityCode.length == 6">

                    <div data-ng-show="vm.codeIsValid" class="color-success">
                        Code is correct!
                    </div>

                    <div data-ng-show="!vm.codeIsValid" class="text-warning-red">
                        Something went wrong. Code is invalid!
                    </div>


                </div>

            </div>
        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">

        <div layout="row">
            &nbsp;

            <md-button class="md-raised" ng-click="vm.currentStep = vm.currentStep - 1"
                       data-ng-if="vm.currentStep != 1">
                Back
            </md-button>

        </div>

        <div>

            <md-button class="md-raised md-primary" ng-click="vm.currentStep = vm.currentStep + 1"
                       data-ng-if="vm.currentStep != 3">
                Next
            </md-button>

            <md-button data-ng-if="vm.currentStep == 3"
                       class="md-raised md-primary"
                       ng-class="{'disabled-btn': !vm.codeIsValid}"
                       ng-click="vm.agree()" style="margin-right:20px;">
                Finish
            </md-button>

        </div>
    </md-dialog-actions>
</md-dialog>