<md-dialog aria-label="dashboard report viewer component settings dialog"
           class="draggable-dialog width-50"
           drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Matrix Component Editor</h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-dialog-content class="p-16">

        <div class="dashboard-constructor-field2" style="margin: 0 10px;">
            <md-input-container class="m-0 width-100">
                <label>Chart Label</label>
                <input type="text" data-ng-model="vm.item.data.custom_component_name">
            </md-input-container>
        </div>

        <div class="dashboard-constructor-field1"
             style="margin: 0 10px 24px;">

            <md-input-container data-ng-if="vm.availableAbscissaAttrs && vm.availableAbscissaAttrs.length > 0"
                                class="m-0 width-100"
                                aria-label="select with filter">
                <label>Column (Axis X)</label>
                <md-select ng-model="vm.item.data.settings.abscissa"
                           md-container-class="common-select-container"
                           md-on-close="vm.abscissaSearchTerm = ''">

                    <md-select-header>
                        <input data-ng-model="vm.abscissaSearchTerm"
                               type="search"
                               placeholder="Search for a ..."
                               class="md-text md-select-search-pattern select-input-filter"
                               ng-keydown="$event.stopPropagation()">
                    </md-select-header>

                    <div class="select-options-holder">

                        <md-option
                                data-ng-repeat="attr in vm.availableAbscissaAttrs | orderBy: 'order' | filter:vm.abscissaFilterExpr"
                                ng-value="attr.attribute_data.key"
                                ng-bind="vm.getSelectName(attr)">
                        </md-option>

                    </div>

                </md-select>
            </md-input-container>

        </div>

        <div class="dashboard-constructor-field1"
             style="margin: 0 10px 24px;">

            <md-input-container data-ng-if="vm.availableOrdinateAttrs && vm.availableOrdinateAttrs.length > 0"
                                class="m-0 width-100"
                                aria-label="select with filter">
                <label>Category</label>
                <md-select ng-model="vm.item.data.settings.ordinate"
                           md-container-class="common-select-container"
                           md-on-close="vm.ordinateSearchTerm = ''">

                    <md-select-header>
                        <input data-ng-model="vm.ordinateSearchTerm"
                               type="search"
                               placeholder="Search for a ..."
                               class="md-text md-select-search-pattern select-input-filter"
                               ng-keydown="$event.stopPropagation()">
                    </md-select-header>

                    <div class="select-options-holder">

                        <md-option
                                data-ng-repeat="attr in vm.availableOrdinateAttrs | orderBy: 'order' | filter:vm.ordinateFilterExpr"
                                ng-value="attr.attribute_data.key"
                                ng-bind="vm.getSelectName(attr)">
                        </md-option>

                    </div>

                </md-select>
            </md-input-container>

        </div>


        <div class="m-b-24" layout="row">

            <div class="dashboard-constructor-field1"
                 style="margin: 0 10px;">

                <md-input-container data-ng-if="vm.availableValueAttrs && vm.availableValueAttrs.length > 0"
                                    class="m-0 width-100"
                                    aria-label="select with filter">
                    <label>Values</label>
                    <md-select ng-model="vm.item.data.settings.value_key"
                               md-container-class="common-select-container"
                               md-on-close="vm.valuesSearchTerm = ''">

                        <md-select-header>
                            <input data-ng-model="vm.valuesSearchTerm"
                                   type="search"
                                   placeholder="Search for a ..."
                                   class="md-text md-select-search-pattern select-input-filter"
                                   ng-keydown="$event.stopPropagation()">
                        </md-select-header>

                        <div class="select-options-holder">

                            <md-option
                                    data-ng-repeat="attr in vm.availableValueAttrs | orderBy: 'order' | filter:vm.valuesFilterExpr"
                                    ng-value="attr.attribute_data.key"
                                    ng-bind="vm.getSelectName(attr)">
                            </md-option>

                        </div>

                    </md-select>
                </md-input-container>

            </div>

            <div>
                <number-format-menu data-format-settings="vm.item.data.settings.number_format"
                                    data-button-content="<span>Number Format</span>"
                                    data-button-classes="md-raised md-primary"
                                    class="dashboard-constructor-btn-among-fields"></number-format-menu>
            </div>

            <md-input-container class="dashboard-constructor-field1"
                                style="margin: 0 10px;">
                <label for="">Calculation</label>
                <md-select data-ng-model="vm.item.data.settings.subtotal_formula_id">
                    <md-option value="1">Sum</md-option>
                    <md-option value="2">Weighted Market Value</md-option>
                    <md-option value="3">Weighted Market Value Percent</md-option>
                    <md-option value="4">Weighted Exposure</md-option>
                    <md-option value="5">Weighted Exposure Percent</md-option>
                    <md-option value="6">Weighted Average Market Value</md-option>
                    <md-option value="7">Weighted Average Market Value Percent</md-option>
                    <md-option value="8">Weighted Average Exposure</md-option>
                    <md-option value="9">Weighted Average Exposure Percent</md-option>
                </md-select>
            </md-input-container>

        </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="vm.cancel()" style="margin-right:20px;">
            Cancel
        </md-button>
        <md-button ng-click="vm.agree()" style="margin-right:20px;">
            Apply
        </md-button>
    </md-dialog-actions>
</md-dialog>