<div class="popup-menu">
    <div>
        <md-button class="popup-menu-item">
            <ng-md-icon icon="add_circle"></ng-md-icon>
            <span>New layout</span>
        </md-button>
    </div>

    <md-menu-divider></md-menu-divider>

    <div class="layouts-container">
        <md-button data-ng-repeat="layout in layouts" class="popup-menu-item" data-ng-click="openLayout(layout)">
            <ng-md-icon icon="home" ng-style="{ visibility: layout.is_default ? 'visible' : 'hidden' }"></ng-md-icon>
            <span>{{layout.name}}</span>
        </md-button>
    </div>

    <md-menu-divider></md-menu-divider>

    <div>
        <md-button class="popup-menu-item">
            <ng-md-icon icon="save"></ng-md-icon>
            <span>Save</span>
        </md-button>
    </div>

    <div>
        <md-button class="popup-menu-item">
            <ng-md-icon icon="visibility_off"
                        style="visibility: hidden;"></ng-md-icon>
            <span>Save as</span>
        </md-button>
    </div>

    <md-menu-divider></md-menu-divider>

    <div>
        <md-button class="popup-menu-item">
            <ng-md-icon icon="exit_to_app"></ng-md-icon>
            <span>Export</span>
        </md-button>
    </div>

    <div>
        <md-button class="popup-menu-item">
            <ng-md-icon icon="create"></ng-md-icon>
            <span>Rename</span>
        </md-button>
    </div>

    <div>
        <md-button class="popup-menu-item">
            <ng-md-icon icon="share"></ng-md-icon>
            <span>Share</span>
        </md-button>
    </div>

    <div>
        <md-button class="popup-menu-item"
                   data-ng-click="setAsDefault()"
                   data-ng-disabled="layout.is_default">
            <ng-md-icon icon="home"></ng-md-icon>
            <span>Make default</span>
        </md-button>
    </div>

    <md-menu-divider></md-menu-divider>

    <div>
        <md-button class="popup-menu-item" data-ng-click="deleteLayout($event)">
            <ng-md-icon icon="delete"></ng-md-icon>
            <span>Delete</span>
        </md-button>
    </div>

</div>