<md-card ng-class="getClassesForFilter()"
         class="g-filter-item">
    <!--<md-tooltip data-ng-if="sideNavCollapsed" class="" md-direction="top">{{filter.name}}<span
            data-ng-if="!getFilterType(filter['value_type'])">: {{filter.options.query}}</span></md-tooltip>-->

    <div layout="row"
         layout-align="center center"
         style="margin-bottom: 13px;">
        <span flex ng-bind="filter.name"
              flex="100"
              style="text-align: center;"></span>
    </div>

    <div layout="row" layout-align="center start">
        <md-checkbox ng-model="filter.options.enabled"
                     aria-label="filters"
                     class="md-primary table-filter-activity-checkbox"
                     ng-change="filterSettingsChange()"
                     flex="15"></md-checkbox>

        <div ng-if="filter.options.filter_type !== 'multiselector'"
             flex="70">
            <div ng-if="filter.options.filter_type !== 'selector'" class="table-filter-input-container">
                <md-input-container>
                    <label>
                        <span ng-bind="getFilterRegime()"></span>
                    </label>

                    <input data-ng-model="filter.options.filter_values[0]"
                           data-ng-change="filterSettingsChange()"
                           data-ng-model-options="{debounce: 1000}">
                </md-input-container>
            </div>

            <div ng-if="filter.options.filter_type === 'selector'"
                 class="table-filter-input-container text-filter-select">

                <md-menu>
                    <md-input-container>
                        <label>
                            <span ng-bind="getFilterRegime()"></span>
                        </label>

                        <input ng-model="filter.options.filter_values[0]"
                               ng-change="filterSettingsChange()"
                               ng-model-options="{debounce: 1000}"
                               ng-click="$mdOpenMenu($event)">
                        <!--<input ng-model="filter.options.filter_values[0]"
                               ng-change="filterSettingsChange()"
                               ng-model-options="{debounce: 1000}"
                               ng-click="toggleFilterSelectMenu('show')">-->
                    </md-input-container>

                    <md-menu-content class="text-filter-select-menu">
                        <md-input-container md-no-float class="no-error-spacer">
                            <input type="search"
                                   ng-model="searchTerm"
                                   placeholder="Search for a ..."
                                   class="md-text md-select-search-pattern simple-search-filter-input"
                                   ng-keydown="$event.stopPropagation()">
                        </md-input-container>
                            <md-button ng-repeat="rowContent in columnRowsContent | orderBy: 'name' | filter: searchTerm as results track by $index"
                                       ng-bind="rowContent.name"
                                       ng-click="selectFilterOption(rowContent.name)">
                            </md-button>

                    </md-menu-content>
                </md-menu>

                <!--<div class="table-filter-select-options text-filter-select-menu visibility-hidden">
                    <md-input-container md-no-float>
                        <input type="search"
                               ng-model="searchTerm"
                               placeholder="Search for a ..."
                               class="md-text md-select-search-pattern simple-search-filter-input"
                               ng-keydown="$event.stopPropagation()">
                    </md-input-container>
                    <div class="table-filter-select-options-holder">
                        <md-button
                                ng-repeat="rowContent in columnRowsContent | filter: searchTerm as results track by $index"
                                ng-bind="rowContent"
                                ng-click="selectFilterOption(rowContent)">
                        </md-button>
                    </div>
                </div>-->

            </div>

        </div>

        <div ng-if="filter.options.filter_type === 'multiselector'"
             flex="70">
            <two-fields-multiselect ng-model="filter.options.filter_values"
                                    ng-change="filterSettingsChange()"
                                    title="{{getMultiselectorName()}}"
                                    items="columnRowsContent"
                                    model="filter.options.filter_values"
                                    nothing-selected-text="Off"
                                    name-property="name"
                                    class="table-filter-input-container"></two-fields-multiselect>
        </div>

        <div class="settings-btn" flex="15">
            <md-menu>
                <md-button aria-label="Open phone interactions menu"
                           class="md-icon-button"
                           ng-click="$mdMenu.open($event)">
                    <ng-md-icon icon="settings"></ng-md-icon>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item>
                        <md-menu>
                            <md-button class="g-settings-option-btn"
                                       ng-click="$mdOpenMenu($event)"
                                       aria-label="show submenu with filter types">
                                <ng-md-icon icon="arrow_drop_up"
                                            class="z-arrow-left-icon"></ng-md-icon>
                                <span>Filter</span>
                            </md-button>
                            <md-menu-content class="dropdown-buttons-menu" width="3">
                                <md-button ng-click="changeFilterType('contains')">
                                    <ng-md-icon icon="done"
                                                ng-show="filter.options.filter_type !== 'contains'"
                                                style="visibility: hidden;"></ng-md-icon>
                                    <ng-md-icon icon="done"
                                                ng-show="filter.options.filter_type === 'contains'"></ng-md-icon>
                                    Contains
                                </md-button>
                                <md-button ng-click="changeFilterType('does_not_contains')">
                                    <ng-md-icon icon="done"
                                                ng-show="filter.options.filter_type !== 'does_not_contains'"
                                                style="visibility: hidden;"></ng-md-icon>
                                    <ng-md-icon icon="done"
                                                ng-show="filter.options.filter_type === 'does_not_contains'"></ng-md-icon>
                                    Does not contains
                                </md-button>
                                <md-button ng-click="changeFilterType('selector')">
                                    <ng-md-icon icon="done"
                                                ng-show="filter.options.filter_type !== 'selector'"
                                                style="visibility: hidden;"></ng-md-icon>
                                    <ng-md-icon icon="done"
                                                ng-show="filter.options.filter_type === 'selector'"></ng-md-icon>
                                    Select
                                </md-button>
                                <md-button ng-click="changeFilterType('multiselector')">
                                    <ng-md-icon icon="done"
                                                ng-show="filter.options.filter_type !== 'multiselector'"
                                                style="visibility: hidden;"></ng-md-icon>
                                    <ng-md-icon icon="done"
                                                ng-show="filter.options.filter_type === 'multiselector'"></ng-md-icon>
                                    Multiple Select
                                </md-button>
                                <md-button ng-click="changeFilterType('empty')">
                                    <ng-md-icon icon="done"
                                                ng-show="filter.options.filter_type !== 'empty'"
                                                style="visibility: hidden;"></ng-md-icon>
                                    <ng-md-icon icon="done"
                                                ng-show="filter.options.filter_type === 'empty'"></ng-md-icon>
                                    Empty cells
                                </md-button>
                                <md-menu-item ng-if="!isRootEntityViewer">
                                    <use-from-above-button item="filter.options.use_from_above"
                                                           data="{attributes: attributesFromAbove}"
                                                           class="rv-filter-link-to-above-btn"></use-from-above-button>
                                </md-menu-item>
                                <md-button>

                                </md-button>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-item>

                    <md-menu-item>
                        <md-checkbox ng-model="filter.options.exclude_empty_cells"
                                     ng-change="filterSettingsChange()"
                                     class="md-primary g-filter-options-checkbox"
                                     aria-label="hide rows with empty cells checkbox">
                            Exclude cells with no value
                        </md-checkbox>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button ng-click="renameFilter(filter, $mdMenu, $event)"
                                   class="g-settings-option-btn">
                            <ng-md-icon icon="visibility_off"
                                        style="visibility: hidden;"></ng-md-icon>
                            <span>Rename</span>
                        </md-button>
                        <md-menu-content style="display: none"></md-menu-content>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button ng-click="removeFilter(filter)" class="g-settings-option-btn">
                            <ng-md-icon icon="visibility_off"></ng-md-icon>
                            <span>Remove</span>
                        </md-button>
                    </md-menu-item>

                </md-menu-content>
            </md-menu>

            <!--<md-menu data-ng-if="!options.isRootEntityViewer">
                <md-button aria-label="Open phone interactions menu" class="md-icon-button"
                           ng-click="openFilterSettings($mdOpenMenu, $event)">
                    <ng-md-icon icon="settings"></ng-md-icon>
                </md-button>
    
                <md-menu-content width="3">
                    <md-menu-item>
                        <md-menu>
                            <md-button aria-label="show submenu with filter types">
                                &lt;!&ndash;<ng-md-icon icon="visibility_off"
                                            style="visibility: hidden;"></ng-md-icon>&ndash;&gt;
                                <ng-md-icon icon="arrow_drop_up"
                                            class="z-dropdown-icon"></ng-md-icon>
                                <span>Filter</span>
                            </md-button>
                            <md-menu-content>
                                <md-button>Equal</md-button>
                                <md-button>Not equal</md-button>
                                <md-button>Greater than</md-button>
                                <md-button>Greater or equal to</md-button>
                                <md-button>Lesser than</md-button>
                                <md-button>Lesser or equal to</md-button>
                                <md-button>From ... to ... (incl)</md-button>
                                <md-button>Top N items</md-button>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-item>
                    <md-menu-item>
                        <md-menu>
                            <md-button ng-click="renameFilter(filter, $mdMenu, $event)"
                                       class="g-settings-option-btn">
                                <ng-md-icon icon="visibility_off"
                                            style="visibility: hidden;"></ng-md-icon>
                                <span>Rename</span>
                            </md-button>
                            <md-menu-content style="display: none"></md-menu-content>
                        </md-menu>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="removeFilter(filter)" class="g-settings-option-btn">
                            <ng-md-icon icon="visibility_off"></ng-md-icon>
                            <span>Remove</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="useFromAbove(filter)" class="g-settings-option-btn">
                            <ng-md-icon icon="done" data-ng-show="filter.options.useFromAbove"></ng-md-icon>
                            <ng-md-icon icon="done" style="visibility: hidden;"
                                        data-ng-show="!filter.options.useFromAbove"></ng-md-icon>
                            <span>Link to above</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>-->
        </div>




    </div>

</md-card>