<div>

    <div data-ng-if="item.type == 'preinit'" class="g-row report-preinit-row">

        <div class="g-row-selection" data-ng-click="toggleSelectRow($event, item)">
            <ng-md-icon icon="done" data-ng-show="item.selectedRow"></ng-md-icon>
        </div>

        <div data-ng-repeat="group in item.value track by $index" class="g-group">
            <span data-ng-bind="bindGroupValue(group)"></span>
        </div>

    </div>

    <div data-ng-if="item.type == 'init'" class="g-row report-init-row">

        <div class="g-row-selection" data-ng-click="toggleSelectRow($event, item)">
            <ng-md-icon icon="done" data-ng-show="item.selectedRow"></ng-md-icon>
        </div>

        <div data-ng-repeat="group in item.value track by $index" class="g-group">
            <span data-ng-bind="bindGroupValue(group)"></span>
        </div>

    </div>

    <div data-ng-if="item.type == 'breadcrumbs'" class="g-row report-breacrumbs-row">

        <div>
            <div class="g-row-selection" data-ng-click="toggleSelectRow($event, item)">
                <ng-md-icon icon="done" data-ng-show="item.selectedRow"></ng-md-icon>
            </div>
            <div class="g-cell-wrap" data-ng-repeat="column in item.cellsCaptions track by $index">
                <div class="g-cell
                {{resolveReportCellBackground('header', item, column, $index)}}
                {{resolveReportCellBorder('header', item, column, $index)}}">
                    {{bindGroupValue(item.cellsCaptions[$index])}}
                </div>
            </div>
            <div class="g-cell g-cell-group" >
                <div data-ng-repeat="group in item.value track by $index">
                    <span data-ng-bind="bindGroupValue(group)"></span>
                </div>
            </div>
        </div>

    </div>

    <div data-ng-if="item.type == 'header'" class="g-row report-header-row">

        <div>
            <div class="g-row-selection" data-ng-click="toggleSelectRow($event, item)">
                <ng-md-icon icon="done" data-ng-show="item.selectedRow"></ng-md-icon>
            </div>
            <div class="g-cell-wrap" data-ng-repeat="column in columns track by $index">
                <div class="g-cell
                {{resolveReportCellBackground('header', item, column, $index)}}
                {{resolveReportCellBorder('header', item, column, $index)}}"
                     data-ng-if="checkReportColumnCaption(item.cellsCaptions, column, $index)">
                    {{bindGroupValue(item.cellsCaptions[$index])}}
                </div>

                <div class="g-cell {{getAlign(column)}} {{resolveReportCellBorder('header', item, column, $index)}}"
                     data-ng-if="!checkReportColumnCaption(item.cellsCaptions, column, $index)">
                                <span title="{{bindCellTitle(item, column)}}"
                                      data-ng-bind-html="bindCell(item.value, column) | trustAsHtml"></span>
                </div>
            </div>
        </div>
    </div>


    <div data-ng-if="item.type == 'normal'" class="g-row report-normal-row">

        <div>
            <div class="g-row-selection" data-ng-click="toggleSelectRow($event, item)">
                <ng-md-icon icon="done" data-ng-show="item.selectedRow"></ng-md-icon>
            </div>
            <div class="g-cell-wrap" data-ng-repeat="column in columns track by $index">
                <div class="g-cell
                {{resolveReportCellBackground('normal', item, column, $index)}}
                {{resolveReportCellBorder('normal', item, column, $index)}}"
                     data-ng-if="checkReportColumnCaption(item.cellsCaptions, column, $index)">
                    {{bindGroupValue(item.cellsCaptions[$index])}}
                </div>
                <div class="g-cell {{getAlign(column)}} {{resolveReportCellBorder('normal', item, column, $index)}}"
                     data-ng-if="!checkReportColumnCaption(item.cellsCaptions, column, $index)">
                                <span title="{{bindCellTitle(item.value, column)}}"
                                      data-ng-bind-html="bindCell(item.value, column) | trustAsHtml"></span>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-if="item.type == 'subtotal-line'" class="g-row report-subtotal-line-row">

        <div>
            <div class="g-row-selection" data-ng-click="toggleSelectRow($event, item)">
                <ng-md-icon icon="done" data-ng-show="item.selectedRow"></ng-md-icon>
            </div>
            <div class="g-cell-wrap" data-ng-repeat="column in columns track by $index">
                <div class="g-cell
                 {{resolveReportCellBackground('subtotal-line', item, column, $index)}}
                {{resolveReportCellBorder('subtotal', item, column, $index)}}"
                     data-ng-if="checkReportColumnCaption(item.cellsCaptions, column, $index)">
                    <b data-ng-if="$index !== 0"><span data-ng-if="isSubtotalHided(column)" title="{{bindCellTitle(item.value, column)}}"
                             data-ng-bind-html="bindCellSubTotal(item.value, column) | trustAsHtml"></span></b>
                </div>
                <div class="g-cell {{getAlign(column)}}
                {{resolveReportCellItemBackground('subtotal-line', item, column, $index)}}
                {{resolveReportCellBorder('subtotal', item, column, $index)}} "
                     data-ng-if="!checkReportColumnCaption(item.cellsCaptions, column, $index)">
                    <b><span title="{{bindCellTitle(item.value, column)}}"
                             data-ng-if="isSubtotalHided(column)"
                             data-ng-bind-html="bindCellSubTotal(item.value, column) | trustAsHtml"></span></b>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-if="item.type == 'subtotal'" class="g-row report-subtotal-row">

        <div>
            <div class="g-row-selection" data-ng-click="toggleSelectRow($event, item)">
                <ng-md-icon icon="done" data-ng-show="item.selectedRow"></ng-md-icon>
            </div>
            <div class="g-cell-wrap" data-ng-repeat="column in columns track by $index">
                <div class="g-cell
                {{resolveReportCellBackground('subtotal', item, column, $index)}}
                {{resolveReportCellBorder('subtotal', item, column, $index)}}"
                     data-ng-if="checkReportColumnCaption(item.cellsCaptions, column, $index)">
                    <span data-ng-if="isSubtotalHided(column)">{{item.cellsCaptions[$index].value}}</span>
                </div>
                <div class="g-cell {{getAlign(column)}}
                {{resolveReportCellItemBackground('subtotal', item, column, $index)}}
                {{resolveReportCellBorder('subtotal', item, column, $index)}} "
                     data-ng-if="!checkReportColumnCaption(item.cellsCaptions, column, $index)">
                    <b><span title="{{bindCellTitle(item.value, column)}}"
                             data-ng-if="isSubtotalHided(column)"
                             data-ng-bind-html="bindCellSubTotal(item.value, column) | trustAsHtml"></span></b>
                </div>
            </div>
        </div>
    </div>

</div>