<div class="g-columns-component g-thead" group-column-init-width columns="columns">

    <div class="g-column-title-row"
         layout="row"
         data-ng-if="components.columnAreaHeader">
        <p class="g-column-title"><span class="g-meta-circle red">C</span>OLUMN AREA
            <ng-md-icon class="tooltips-sign"
                        icon="info"
                        size="20"
                        style="fill: #777777">
                <md-tooltip class="tooltip_1" md-direction="top">tooltip text</md-tooltip>
            </ng-md-icon>
        </p>
        <div ng-if="!isReport && downloadedItemsCount"
             class="g-downloaded-items-count">Objects Loaded: {{downloadedItemsCount}}</div>
    </div>

    <div class="g-column-bottom-row">
        <div class="g-cell-select all {{isAllSelected ? 'active' : ''}}" data-ng-click="selectAllRows()">
            <ng-md-icon icon="signal_cellular_0_bar"></ng-md-icon>
        </div>
        <div class="g-scroll-wrapper">
            <div class="g-scrollable-area">
                <!--<div dragula="'columns-bag'" dragula-model="columns" class="g-columns-holder">-->
                <div class="g-columns-holder">
                    <!--<div data-ng-init="initDragula()" class="g-columns-holder">-->
                    <md-card class="g-cell g-column"
                             data-ng-repeat="column in columns track by column.key"
                             on-finish-render
                             data-ng-style="column.style"
                             data-callback="triggerResizeTableHeadColumns()"
                             data-column-key="{{column.key}}"
                             data-column-id="{{column.___column_id}}">
                        <div class="g-column-content" data-ng-class="{'p-r-8': viewContext === 'dashboard' && !hasFoldingBtn($index)}">
                            <div class="column-left-content">
                                <div class="sort"
                                     data-ng-if="isSortable(column) && checkReportSortButton(column, $index)">
                                    <md-button class="column-sort column-btns"
                                               data-ng-show="column.options.sort === 'ASC'"
                                               aria-label="open settings"
                                               data-ng-click="sortHandler(column, 'DESC')">
                                        <ng-md-icon icon="keyboard_arrow_down"></ng-md-icon>
                                    </md-button>
                                    <md-button class="column-sort-up column-btns"
                                               data-ng-show="column.options.sort === 'DESC'"
                                               aria-label="open settings"
                                               data-ng-click="sortHandler(column, 'ASC')">
                                        <ng-md-icon icon="keyboard_arrow_up"></ng-md-icon>
                                    </md-button>
                                    <md-button class="column-sort column-both-sorted column-btns"
                                               data-ng-show="!column.options.sort"
                                               aria-label="open settings"
                                               data-ng-click="sortHandler(column, 'DESC')">
                                        <ng-md-icon class="c-up" icon="keyboard_arrow_up"></ng-md-icon>
                                        <ng-md-icon class="c-down" icon="keyboard_arrow_down"></ng-md-icon>
                                    </md-button>
                                </div>
                                <!-- if inside .caption will be two <span> with ng-if, firefox will add white space to column name -->
                                <!-- IMPORTANT .column-name-span class needed for converting table into file -->
                                <div ng-if="!column.layout_name" class="caption">
                                    <span ng-bind="column.name" class="column-name-span"></span>
                                </div>
                                <div ng-if="column.layout_name" class="caption">
                                    <span ng-bind="column.layout_name" class="column-name-span"></span>
                                </div>
                            </div>

                            <div data-ng-if="viewContext !== 'dashboard'" class="settings-btn">
                                <md-menu data-ng-if="isReport && column.value_type == 20">
                                    <md-button aria-label="Open phone interactions menu"
                                               class="md-icon-button column-btns"
                                               ng-click="$mdOpenMenu($event)">
                                        <ng-md-icon icon="settings"></ng-md-icon>
                                    </md-button>
                                    <md-menu-content width="4">

                                        <md-menu-item>
                                            <md-button ng-click="renameColumn(column, $mdMenu, $event)"
                                                       class="g-settings-option-btn">
                                                <ng-md-icon icon="visibility_off"
                                                            style="visibility: hidden;"></ng-md-icon>
                                                <span>Rename</span>
                                            </md-button>
                                        </md-menu-item>

                                        <md-menu-item data-ng-if="checkForExistingGroupingColumn(column.key)">
                                            <md-button data-ng-click="addColumnEntityToGrouping(column)"
                                                       class="g-settings-option-btn">
                                                <ng-md-icon icon="visibility_off"
                                                            style="visibility: hidden;"></ng-md-icon>
                                                <span>Add to grouping</span>
                                            </md-button>
                                        </md-menu-item>

                                        <md-menu-item>
                                            <!--<md-button class="g-settings-option-btn"
                                                       ng-click="openColumnNumbersRenderingSettings(column, $event)">
                                                <ng-md-icon icon="visibility_off"
                                                            style="visibility: hidden;"></ng-md-icon>
                                                <span>Number Format</span>
                                            </md-button>-->
                                            <md-menu  md-offset="20px 0">

                                                <md-button aria-label="show number formatting menu"
                                                           ng-click="$mdOpenMenu($event)">
                                                    <ng-md-icon icon="done"
                                                                class="z-menu-icon"
                                                                style="visibility: hidden;"></ng-md-icon>
                                                    <span>Number Format</span>
                                                    <ng-md-icon icon="arrow_drop_up"
                                                                class="z-dropdown-icon"></ng-md-icon>
                                                </md-button>

                                                <md-menu-content width="4">

                                                    <md-menu-item>
                                                        <md-button ng-click="activateColumnNumberRenderingPreset(column, 'price')"
                                                                   class="g-settings-option-btn">
                                                            <ng-md-icon icon="visibility_off"
                                                                        style="visibility: hidden;"></ng-md-icon>
                                                            <span>Price (0)</span>
                                                        </md-button>
                                                    </md-menu-item>

                                                    <md-menu-item>
                                                        <md-button ng-click="activateColumnNumberRenderingPreset(column, 'market_value')"
                                                                   class="g-settings-option-btn">
                                                            <ng-md-icon icon="visibility_off"
                                                                        style="visibility: hidden;"></ng-md-icon>
                                                            <span>Market Value (000'000)</span>
                                                        </md-button>
                                                    </md-menu-item>

                                                    <md-menu-item>
                                                        <md-button class="g-settings-option-btn"
                                                                   ng-click="activateColumnNumberRenderingPreset(column, 'amount')">
                                                            <ng-md-icon icon="visibility_off"
                                                                        style="visibility: hidden;"></ng-md-icon>
                                                            <span>Amount (000'000.00)</span>
                                                        </md-button>
                                                    </md-menu-item>

                                                    <md-menu-item>
                                                        <md-button class="g-settings-option-btn"
                                                                   ng-click="activateColumnNumberRenderingPreset(column, 'exposure')">
                                                            <ng-md-icon icon="visibility_off"
                                                                        style="visibility: hidden;"></ng-md-icon>
                                                            <span>Exposure (0.0%)</span>
                                                        </md-button>
                                                    </md-menu-item>

                                                    <md-menu-item>
                                                        <md-button class="g-settings-option-btn"
                                                                   ng-click="activateColumnNumberRenderingPreset(column, 'return')">
                                                            <ng-md-icon icon="visibility_off"
                                                                        style="visibility: hidden;"></ng-md-icon>
                                                            <span>Return (0.00%)</span>
                                                        </md-button>
                                                    </md-menu-item>

                                                    <md-menu-item>
                                                        <md-button class="g-settings-option-btn"
                                                                   ng-click="openColumnNumbersRenderingSettings(column, $event)">
                                                            <ng-md-icon icon="visibility_off"
                                                                        style="visibility: hidden;"></ng-md-icon>
                                                            <span>Custom</span>
                                                        </md-button>
                                                    </md-menu-item>

                                                </md-menu-content>
                                            </md-menu>
                                        </md-menu-item>

                                        <md-menu-item data-ng-if="$index !== 0">
                                            <md-button ng-click="selectSubtotalType(column, 1)"
                                                       class="g-settings-option-btn">
                                                <ng-md-icon icon="done"
                                                            data-ng-show="!checkSubtotalFormula(column, 1)"
                                                            class="z-menu-icon"
                                                            style="visibility: hidden;"></ng-md-icon>
                                                <ng-md-icon icon="done"
                                                            data-ng-show="checkSubtotalFormula(column, 1)"
                                                            class="z-menu-icon"></ng-md-icon>
                                                <span>Subtotal SUM</span>
                                            </md-button>
                                        </md-menu-item>

                                        <md-menu-item data-ng-if="$index !== 0">
                                            <md-menu md-offset="18px 0">
                                                <md-button aria-label="Open phone interactions menu"
                                                           class=""
                                                           ng-click="$mdOpenMenu($event)">
                                                    <ng-md-icon icon="done"
                                                                class="z-menu-icon"
                                                                style="visibility: hidden;"></ng-md-icon>
                                                    <span>Subtotal Weighted</span>
                                                    <ng-md-icon icon="arrow_drop_up"
                                                                class="z-dropdown-icon"></ng-md-icon>
                                                </md-button>
                                                <md-menu-content width="3">
                                                    <md-menu-item>
                                                        <md-button ng-click="selectSubtotalType(column, 2)"
                                                                   class="g-settings-option-btn">
                                                            <ng-md-icon icon="done"
                                                                        data-ng-show="!checkSubtotalFormula(column, 2)"
                                                                        class="z-menu-icon"
                                                                        style="visibility: hidden;"></ng-md-icon>
                                                            <ng-md-icon icon="done"
                                                                        data-ng-show="checkSubtotalFormula(column, 2)"
                                                                        class="z-menu-icon"></ng-md-icon>
                                                            <span>Market Value</span>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button ng-click="selectSubtotalType(column, 3)"
                                                                   class="g-settings-option-btn">
                                                            <ng-md-icon icon="done"
                                                                        data-ng-show="!checkSubtotalFormula(column, 3)"
                                                                        class="z-menu-icon"
                                                                        style="visibility: hidden;"></ng-md-icon>
                                                            <ng-md-icon icon="done"
                                                                        data-ng-show="checkSubtotalFormula(column, 3)"
                                                                        class="z-menu-icon"></ng-md-icon>
                                                            <span>Market Value %</span>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button ng-click="selectSubtotalType(column, 4)"
                                                                   class="g-settings-option-btn">
                                                            <ng-md-icon icon="done"
                                                                        data-ng-show="!checkSubtotalFormula(column, 4)"
                                                                        class="z-menu-icon"
                                                                        style="visibility: hidden;"></ng-md-icon>
                                                            <ng-md-icon icon="done"
                                                                        data-ng-show="checkSubtotalFormula(column, 4)"
                                                                        class="z-menu-icon"></ng-md-icon>
                                                            <span>Exposure</span>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button ng-click="selectSubtotalType(column, 5)"
                                                                   class="g-settings-option-btn">
                                                            <ng-md-icon icon="done"
                                                                        data-ng-show="!checkSubtotalFormula(column, 5)"
                                                                        class="z-menu-icon"
                                                                        style="visibility: hidden;"></ng-md-icon>
                                                            <ng-md-icon icon="done"
                                                                        data-ng-show="checkSubtotalFormula(column, 5)"
                                                                        class="z-menu-icon"></ng-md-icon>
                                                            <span>Exposure %</span>
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </md-menu-item>

                                        <md-menu-item data-ng-if="$index !== 0">
                                            <md-menu md-offset="18px 0">
                                                <md-button aria-label="Open phone interactions menu"
                                                           class=""
                                                           ng-click="$mdOpenMenu($event)">
                                                    <ng-md-icon icon="done"
                                                                class="z-menu-icon"
                                                                style="visibility: hidden;"></ng-md-icon>
                                                    <span>Subtotal Avg. Weighted</span>
                                                    <ng-md-icon icon="arrow_drop_up"
                                                                class="z-dropdown-icon"></ng-md-icon>
                                                </md-button>
                                                <md-menu-content width="3">
                                                    <md-menu-item>
                                                        <md-button ng-click="selectSubtotalType(column, 6)"
                                                                   class="g-settings-option-btn">
                                                            <ng-md-icon icon="done"
                                                                        data-ng-show="!checkSubtotalFormula(column, 6)"
                                                                        class="z-menu-icon"
                                                                        style="visibility: hidden;"></ng-md-icon>
                                                            <ng-md-icon icon="done"
                                                                        data-ng-show="checkSubtotalFormula(column, 6)"
                                                                        class="z-menu-icon"></ng-md-icon>
                                                            <span>Market Value</span>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button ng-click="selectSubtotalType(column, 7)"
                                                                   class="g-settings-option-btn">
                                                            <ng-md-icon icon="done"
                                                                        data-ng-show="!checkSubtotalFormula(column, 7)"
                                                                        class="z-menu-icon"
                                                                        style="visibility: hidden;"></ng-md-icon>
                                                            <ng-md-icon icon="done"
                                                                        data-ng-show="checkSubtotalFormula(column, 7)"
                                                                        class="z-menu-icon"></ng-md-icon>
                                                            <span>Market Value %</span>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button ng-click="selectSubtotalType(column, 8)"
                                                                   class="g-settings-option-btn">
                                                            <ng-md-icon icon="done"
                                                                        data-ng-show="!checkSubtotalFormula(column, 8)"
                                                                        class="z-menu-icon"
                                                                        style="visibility: hidden;"></ng-md-icon>
                                                            <ng-md-icon icon="done"
                                                                        data-ng-show="checkSubtotalFormula(column, 8)"
                                                                        class="z-menu-icon"></ng-md-icon>
                                                            <span>Exposure</span>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button ng-click="selectSubtotalType(column, 9)"
                                                                   class="g-settings-option-btn">
                                                            <ng-md-icon icon="done"
                                                                        data-ng-show="!checkSubtotalFormula(column, 9)"
                                                                        class="z-menu-icon"
                                                                        style="visibility: hidden;"></ng-md-icon>
                                                            <ng-md-icon icon="done"
                                                                        data-ng-show="checkSubtotalFormula(column, 9)"
                                                                        class="z-menu-icon"></ng-md-icon>
                                                            <span>Exposure %</span>
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </md-menu-item>

                                        <md-menu-item>
                                            <md-button ng-click="reportHideSubtotal(column)"
                                                       class="g-settings-option-btn">
                                                <ng-md-icon icon="done" style="visibility: hidden;"></ng-md-icon>
                                                <span data-ng-show="!column.report_settings.hide_subtotal">Hide subtotal</span><span
                                                    data-ng-show="column.report_settings.hide_subtotal">Show subtotal</span>
                                            </md-button>
                                        </md-menu-item>

                                        <md-menu-item data-ng-if="checkReportRemoveButton(column, $index)">
                                            <md-button ng-click="removeColumn(column)"
                                                       class="g-settings-option-btn">
                                                <ng-md-icon icon="visibility_off"></ng-md-icon>
                                                <span>Remove</span>
                                            </md-button>
                                        </md-menu-item>

                                    </md-menu-content>
                                </md-menu>

                                <md-menu data-ng-if="isReport && column.value_type != 20">
                                    <md-button aria-label="Open phone interactions menu"
                                               class="md-icon-button column-btns"
                                               ng-click="$mdOpenMenu($event)">
                                        <ng-md-icon icon="settings"></ng-md-icon>
                                        {{column.value_type}}
                                    </md-button>
                                    <md-menu-content>

                                        <md-menu-item>
                                            <md-menu>
                                                <md-button ng-click="renameColumn(column, $mdMenu, $event)"
                                                           class="g-settings-option-btn">
                                                    <ng-md-icon icon="visibility_off"
                                                                style="visibility: hidden;"></ng-md-icon>
                                                    <span>Rename</span>
                                                </md-button>
                                                <md-menu-content style="display: none"></md-menu-content>
                                            </md-menu>
                                        </md-menu-item>

                                        <md-menu-item data-ng-if="checkForExistingGroupingColumn(column.key)">
                                            <md-menu>
                                                <md-button data-ng-click="addColumnEntityToGrouping(column)"
                                                           class="g-settings-option-btn">
                                                    <ng-md-icon icon="visibility_off"
                                                                style="visibility: hidden;"></ng-md-icon>
                                                    <span>Add to grouping</span>
                                                </md-button>
                                                <md-menu-content style="display: none"></md-menu-content>
                                            </md-menu>
                                        </md-menu-item>

                                        <md-menu-item data-ng-if="!checkForExistingGroupingColumn(column.key)">
                                            <md-menu>
                                                <md-button data-ng-click="removeGroup(column.___column_id)"
                                                           class="g-settings-option-btn">
                                                    <ng-md-icon icon="visibility_off"></ng-md-icon>
                                                    <span>Remove</span>
                                                </md-button>
                                                <md-menu-content style="display: none"></md-menu-content>
                                            </md-menu>
                                        </md-menu-item>

                                        <md-menu-item data-ng-if="checkReportRemoveButton(column, $index)">
                                            <md-menu>
                                                <md-button ng-click="removeColumn(column)"
                                                           class="g-settings-option-btn">
                                                    <ng-md-icon icon="visibility_off"></ng-md-icon>
                                                    <span>Remove</span>
                                                </md-button>
                                                <md-menu-content style="display: none"></md-menu-content>
                                            </md-menu>
                                        </md-menu-item>

                                    </md-menu-content>
                                </md-menu>

                                <md-menu data-ng-if="!isReport">

                                    <md-button aria-label="Open phone interactions menu"
                                               class="md-icon-button column-btns"
                                               ng-click="$mdOpenMenu($event)">
                                        <ng-md-icon icon="settings"></ng-md-icon>
                                    </md-button>

                                    <md-menu-content width="4">
                                        <md-menu-item>
                                            <md-menu>
                                                <md-button ng-click="renameColumn(column, $mdMenu, $event)"
                                                           class="g-settings-option-btn">
                                                    <ng-md-icon icon="visibility_off"
                                                                style="visibility: hidden;"></ng-md-icon>
                                                    <span>Rename</span>
                                                </md-button>
                                                <md-menu-content style="display: none"></md-menu-content>
                                            </md-menu>
                                        </md-menu-item>

                                        <md-menu-item data-ng-if="checkForExistingGroupingColumn(column.key)">
                                            <md-menu>
                                                <md-button data-ng-click="addColumnEntityToGrouping(column)"
                                                           class="g-settings-option-btn">
                                                    <ng-md-icon icon="visibility_off"
                                                                style="visibility: hidden;"></ng-md-icon>
                                                    <span>Add to grouping</span>
                                                </md-button>
                                                <md-menu-content style="display: none"></md-menu-content>
                                            </md-menu>
                                        </md-menu-item>

                                        <md-menu-item>
                                            <md-button ng-click="removeColumn(column)" class="g-settings-option-btn">
                                                <ng-md-icon icon="visibility_off"></ng-md-icon>
                                                <span>Remove</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>

                            <div data-ng-if="viewContext === 'dashboard'"
                                 class="settings-btn dashboard-fold-btns-container">
                                <div data-ng-if="hasFoldingBtn($index)">
                                    <div data-ng-hide="!groupLevelIsFolded($index)"
                                         class="ev-fold-button"
                                         data-ng-click="unfoldLevel(column.key, $index)">+
                                    </div>
                                    <div data-ng-hide="groupLevelIsFolded($index)"
                                         class="ev-fold-button"
                                         data-ng-click="foldLevel(column.key, $index)">-
                                    </div>
                                </div>
                            </div>

                            <div class="column-name-tooltip-wrap">
                                <div class="column-name-tooltip-content">
                                    <span ng-if="!column.layout_name" data-ng-bind="column.name"></span>
                                    <span ng-if="column.layout_name" data-ng-bind="column.layout_name"></span>
                                </div>
                            </div>
                        </div>
                        <div class="resize-slider" data-group-column-resizer
                             ev-data-service="evDataService"
                             ev-event-service="evEventService"></div>
                    </md-card>
                </div>
                <div class="drop-new-field" id="columnsbag" data-ng-if="!isItemAddition">
                    Drop New Column
                </div>
            </div>
        </div>
    </div>
</div>