<div data-ng-if="item.___type === 'group'" class="ev-left-panel-tree-elem">

    <div data-ng-if="item.___parentId" layout="row">
        <div data-ng-if="item.___is_open" data-ng-click="unfoldGroup($event)">+</div>
        <div data-ng-if="!item.___is_open" data-ng-click="foldGroup($event)">-</div>
        <div data-ng-click="toggleGroupSelection($event)" data-ng-class="{'selected-group': item.___is_selected}" class="ev-left-panel-tree-elem-name"> {{item.___group_name}}</div>
    </div>

    <div data-ng-if="item.___is_open">
        <div data-ng-repeat="child in item.results">

            <g-ev-left-panel-tree-elem item="child" ev-data-service="evDataService"
                                       ev-event-service="evEventService"></g-ev-left-panel-tree-elem>

        </div>
    </div>

</div>