<div class="g-filters width-100 gFilters"
     data-ng-class="{'open-filters': isFiltersOpened}">

    <div class="g-filters-holder width-100 flex-row fc-space-between flex-i-start">
        <div class="flex-row flex-i-start">

            <div class="g-filter-left-part gFiltersLeftPart">
<!--                <md-button class="g-filter-settings-big-left-btn md-icon-button primary-button rounded"-->
<!--                           ng-click="calculateReport()">-->
<!--                    <span class="material-icons">add</span>-->
<!--                    <md-tooltip md-direction="top">Add</md-tooltip>-->
<!--                </md-button>-->

                <md-menu>
                    <md-button class="g-filter-settings-big-left-btn md-icon-button primary-button rounded"
                               ng-click="$mdOpenMenu($event)">
                        <span class="material-icons">add</span>
                        <md-tooltip md-direction="top">Add</md-tooltip>
                    </md-button>

                    <md-menu-content width="4">
                        <md-menu-item data-ng-repeat="item in addMenu.data.menu.root.items">
                            <md-button data-ng-click="dispatchAddMenuAction($event, item)" class="g-settings-option-btn">
                                <span>{{item.name}}</span>
                            </md-button>
                        </md-menu-item>

                    </md-menu-content>
                </md-menu>



                <md-button class="g-toggle-use-from-above-filters md-icon-button chain-button"
                           ng-class="{'g-use-from-above-filters-hidden': !showUseFromAboveFilters}"
                           data-ng-click="toggleUseFromAboveFilters()">
                    <span class="material-icons">link</span>
                </md-button>
            </div>

            <div class="gFiltersContainerWidth">

                <div ng-if="readyStatus.filters">
                    <div popup
                         popup-template-url="'views/popups/entity-viewer/g-filter-settings.html'"
                         popup-data="popupData"
                         popup-event-service="popupEventService"
                         popup-x="popupPosX"
                         popup-y="popupPosY"
                         backdrop-classes="fpBackClasses"
                         popup-classes="fpClasses"
                         on-save="filterSettingsChange()"
                         class="g-filter-chips-wrap"></div>
                    <chips-list chips-list="filtersChips"
                                chips-deletion="true"
                                chips-addition="ADD FILTER"
                                on-chip-click="onFilterChipClick(chipsData, event)"
                                hide-overflowing-chips="false"
                                on-chips-deletion="removeFilter(chipsData)"
                                on-add-chip-click="addFilter(event)"
                                on-first-render-ending="onChipsFirstRender()"
                                class="g-filter-chips"></chips-list>
                </div>

            </div>

        </div>

        <div class="icon-buttons gFiltersRightPart">

            <md-button class="signed-button" data-ng-click="calculateReport()">
                <div class="flex-column flex-i-center">
                    <span class="material-icons">refresh</span>
                    <span>Refresh</span>
                </div>
            </md-button>

            <md-menu class="full-width" data-ng-if="isRootEntityViewer">
                <md-button class="signed-button" data-ng-click="$mdOpenMenu($event)">
                    <div class="flex-column flex-i-center">
                        <span class="material-icons">view_stream</span>
                        <span>Split</span>
                    </div>
                </md-button>

                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button data-ng-click="toggleSplitPanel($event, 'balance-report')"
                                   class="g-settings-option-btn">

                            <span class="material-icons" data-ng-show="currentAdditions.type === 'balance-report'">done</span>
                            <span class="material-icons" data-ng-show="currentAdditions.type !== 'balance-report'" style="visibility: hidden;">done</span>

                            <span>Open Balance Report view panel</span>

                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button data-ng-click="toggleSplitPanel($event, 'pl-report')"
                                   class="g-settings-option-btn">

                            <span class="material-icons" data-ng-show="currentAdditions.type === 'pl-report'">done</span>
                            <span class="material-icons" data-ng-show="currentAdditions.type !== 'pl-report'" style="visibility: hidden;">done</span>

                            <span>Open P&L Report view panel</span>

                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button data-ng-click="toggleSplitPanel($event, 'transaction-report')"
                                   class="g-settings-option-btn">

                            <span class="material-icons" data-ng-show="currentAdditions.type === 'transaction-report'">done</span>
                            <span class="material-icons" data-ng-show="currentAdditions.type !== 'transaction-report'" style="visibility: hidden;">done</span>

                            <span>Open Transaction Report view panel</span>

                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <md-menu class="full-width"  data-ng-if="isRootEntityViewer">
                <md-button class="signed-button" data-ng-click="$mdOpenMenu($event)">
                    <div class="flex-column flex-i-center">
                        <span class="material-icons">view_module</span>
                        <span>Matrix</span>
                    </div>
                </md-button>

                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button data-ng-click="toggleMatrix($event)" class="g-settings-option-btn">

                            <span class="material-icons" data-ng-show="viewContext === 'matrix'">done</span>
                            <span class="material-icons" data-ng-show="viewContext !== 'matrix'" style="visibility: hidden;">done</span>

                            <span>Open Matrix</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <md-menu>
                <md-button class="signed-button" data-ng-click="$mdOpenMenu($event)">
                    <div class="flex-column flex-i-center">
                        <span class="material-icons">upgrade</span>
                        <span>Export</span>
                    </div>
                </md-button>

                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button data-ng-click="exportAsPdf($event)" class="g-settings-option-btn">
                            <span>Export to PDF</span>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button data-ng-click="exportAsCSV()" class="g-settings-option-btn">
                            <span>Export to CSV</span>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button data-ng-click="exportAsExcel()" class="g-settings-option-btn">
                            <span>Export to Excel</span>
                        </md-button>
                    </md-menu-item>


                    <md-menu-item>
                        <md-button data-ng-click="copyReport()" class="g-settings-option-btn">
                            <span>Copy all to buffer</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button data-ng-click="copySelectedToBuffer()" class="g-settings-option-btn">
                            <span>Copy selected to buffer</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <md-menu>
                <md-button class="signed-button" data-ng-click="$mdOpenMenu($event)">
                    <div class="flex-column flex-i-center">
                        <span class="material-icons">more_vert</span>
                        <span>More</span>
                    </div>
                </md-button>

                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button  data-ng-click="openViewConstructor($event)" class="g-settings-option-btn">
                            <span>View Constructor</span>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button data-ng-click="openCustomFieldsManager()" class="g-settings-option-btn">
                            <span>Custom Columns</span>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button data-ng-click="toggleAutoRefresh()" class="g-settings-option-btn">
                            <span data-ng-if="rvAutoRefresh">Disable Auto Refresh</span>
                            <span data-ng-if="!rvAutoRefresh">Enable Auto Refresh</span>
                        </md-button>
                    </md-menu-item>

                </md-menu-content>
            </md-menu>

        </div>
    </div>

    <div data-ng-if="viewContext !== 'dashboard'"
         class="drop-area-wrap column-to-filters-drop-area display-none gFiltersDropArea">
        <div class="g-drop-area gDropArea"></div>

        <div class="drop-area-content">
            <span>Drop here to add filters</span>
        </div>
    </div>

    <div data-ng-if="viewContext !== 'dashboard'"
         class="drop-area-wrap remove-column-drop-area display-none gDeletionDropArea">
        <div class="g-drop-area gDropArea"></div>

        <div class="drop-area-content">
            <span class="material-icons">delete</span>
        </div>
    </div>


</div>