<div class="g-table-body">
    <!--<div class="ev-progressbar-holder" layout="row" layout-sm="column">
        <progress-linear class="ev-progressbar"></progress-linear>
    </div>-->

    <div class="ev-viewport">
        <div class="ev-content"></div>
    </div>

    <div class="drop-area-wrap left-side-groups-drop-area display-none gLeftSideGroupsHolder">
        <div class="g-drop-area gDropArea"></div>

        <div class="drop-area-content">
            <span>Drop here to add grouping</span>
        </div>
    </div>

    <div class="drop-area-wrap right-side-columns-drop-area display-none gRightSideColumnsHolder">
        <div class="g-drop-area gDropArea"></div>

        <div class="drop-area-content">
            <span>Drop here to add column</span>
        </div>
    </div>
</div>