<div class="g-table-body">
    <div class="ev-progressbar-holder" layout="row" layout-sm="column">
        <progress-linear class="ev-progressbar"></progress-linear>
    </div>

    <div class="ev-viewport">
        <div class="ev-content"></div>
    </div>

    <div class="drop-area left-side-groups-drop-area">
        <div class="drop-area-holder gLeftSideGroupsHolder"></div>

        <div class="drop-area-content">
                <span>
                    Drop here to add grouping
                </span>
        </div>

    </div>
</div>