<div class="g-wrapper">
    <div class="g-workarea">
        <div class="g-grouping-section">
            <group-grouping items="grouping"></group-grouping>
        </div>
        <div class="g-table-section">
            <div class="g-row-selection" style="display: none;">
                <group-row-selection items="items"></group-row-selection>
            </div>
            <div class="g-table-wrap">
                <group-columns columns="columns"></group-columns>
                <group-table-body items="items" columns="columns"></group-table-body>
            </div>
        </div>
    </div>
    <div class="g-sidebar">
        <div class="g-filter">
            <group-sidebar-filter></group-sidebar-filter>
        </div>
    </div>
</div>