<div class="g-wrapper" group-height-aligner additions-status="additionsStatus">
    <div class="g-workarea main-area">
        <div class="g-grouping-section">
            <group-grouping tabs="tabs" grouping="grouping" filters="filters" columns="columns" external-callback="externalCallback()"></group-grouping>
        </div>
        <div class="g-table-section">
            <div class="g-table-wrap" group-column-resizer items="items">
                <group-columns columns="columns" is-item-addition="false"></group-columns>
                <group-table-body items="items"
                                  tabs="tabs"
                                  class="group-table-body"
                                  entity-type="portfolio"
                                  grouping="grouping"
                                  columns="columns"></group-table-body>
            </div>
        </div>
    </div>
    <div class="g-sidebar main-sidebar">
        <div class="g-filter">
            <group-sidebar-filter filters="filters" external-callback="externalCallback()"></group-sidebar-filter>
        </div>
    </div>
    <div class="g-additions" data-ng-if="additionsState">
        <div class="g-height-slider"></div>
        <div class="g-additions-data-editor">

        </div>
        <div class="g-additions-workarea">
            <div class="g-workarea">
                <div class="g-table-section">
                    <div class="g-table-wrap" group-column-resizer items="itemAdditions">
                        <group-columns columns="itemAdditionsColumns" is-item-addition="true"></group-columns>
                        <group-table-body items="itemAdditions"
                                          class="group-table-body"
                                          entity-type="transaction"
                                          columns="itemAdditionsColumns"></group-table-body>
                    </div>
                </div>
            </div>
            <div class="g-sidebar additions-sidebar">
                <div class="g-filter">
                    <group-sidebar-filter filters="itemAdditionsFilters" external-callback="externalAdditionsCallback()"></group-sidebar-filter>
                </div>
            </div>
        </div>
    </div>
</div>