<md-dialog aria-label="entity viewer view constructor dialog" class="g-modal-dialog draggable-dialog view-constructor" g-dialog-draggable>

    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="start center">
            <ng-md-icon icon="dialpad" size="20" class="draggable-dialog-sign"></ng-md-icon>
            <h2 style="user-select: none; position: relative;">View Constructor
                <ng-md-icon class="tooltips-sign" icon="info" size="20" style="fill: #fff">
                    <md-tooltip md-direction="top">tooltip text</md-tooltip>
                </ng-md-icon>
            </h2>
        </div>
    </md-toolbar>

    <md-dialog-content class="vc-dnd-scrollable-elem">
        <div ng-if="vm.readyStatus.content">

            <div ng-show="vm.cardsDividedIntoTabs">

                <md-tabs md-dynamic-height md-border-bottom id="dialogbag" ng-init="vm.initDnd()">

                    <md-tab label="Selected" md-tab-class="vc-tab-selected">
                        <md-content class="md-padding">

                            <input type="text"
                                   ng-model="selectedAttrSearchTerms"
                                   placeholder="Search for a ..."
                                   class="view-constructor-card-search">

                            <div class="g-th-checkbox-row">
                                <span class="g-meta-circle red">C</span>
                                <span class="g-meta-circle green">G</span>
                                <span class="g-meta-circle blue">F</span>
                            </div>

                            <!--<div>
                                <div layout="row" class="view-constructor-attributes-separator">
                                    <p>Groups</p>
                                </div>

                                <div class="vc-selected-attrs-holder vcSelectedGroups" style="min-height: 35px">
                                    <div class="g-checkbox-row vcSelectedGroupItem"
                                         data-ng-repeat="item in vm.selectedGroups | filter: {name: selectedAttrSearchTerms} as results track by item.key"
                                         layout="row"
                                         data-attribute-key="{{item.key}}"
                                         data-vm-key="{{item.attrsVmKey}}">

                                        <div flex="90" layout="row">
                                            <div class="view-constructor-checkboxes-container"
                                                 layout="row"
                                                 layout-align="start center">
                                                <md-checkbox ng-model="item.columns"
                                                             aria="columns"
                                                             ng-change="vm.onSelectedAttrsChange(vm['{{item.attrsVmKey}}'], item)"
                                                             aria-label="user attributes for columns">
                                                </md-checkbox>
                                                <md-checkbox ng-model="item.groups"
                                                             aria="groups"
                                                             class="md-g-green"
                                                             ng-change="vm.onSelectedAttrsChange(vm['{{item.attrsVmKey}}'], item)"
                                                             aria-label="user attributes for groups">
                                                </md-checkbox>
                                                <md-checkbox ng-model="item.filters"
                                                             aria="filters"
                                                             class="md-primary"
                                                             ng-style="vm.checkAreaAccessibility(item, 'filter') ? {'visibility': 'hidden'} : {}"
                                                             ng-change="vm.onSelectedAttrsChange(vm['{{item.attrsVmKey}}'], item)"
                                                             aria-label="user attributes for filters">
                                                </md-checkbox>
                                            </div>

                                            <div class="g-modal-draggable-card vcSelectedGroupsDraggableCard">
                                                <md-card class="modal-dialog-card" data-key-identifier="{{item.key}}">
                                                    {{item.name}}
                                                </md-card>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div>
                                <div layout="row" class="view-constructor-attributes-separator">
                                    <p>Columns</p>
                                </div>

                                <div class="vcSelectedColumns" style="min-height: 35px">
                                    <div class="g-checkbox-row vcSelectedColumnItem"
                                         data-ng-repeat="item in vm.selectedColumns | filter: {name: selectedAttrSearchTerms} as results track by item.key"
                                         layout="row"
                                         data-attribute-key="{{item.key}}"
                                         data-vm-key="{{item.attrsVmKey}}">

                                        <div flex="90" layout="row">
                                            <div class="view-constructor-checkboxes-container"
                                                 layout="row"
                                                 layout-align="start center">
                                                <md-checkbox ng-model="item.columns"
                                                             aria="columns"
                                                             data-ng-change="vm.onSelectedAttrsChange(vm['{{item.attrsVmKey}}'], item)"
                                                             aria-label="user attributes for columns">
                                                </md-checkbox>
                                                <md-checkbox ng-model="item.groups"
                                                             aria="groups"
                                                             class="md-g-green"
                                                             ng-style="vm.checkAreaAccessibility(item, 'group') ? {'visibility': 'hidden'} : {}"
                                                             data-ng-change="vm.onSelectedAttrsChange(vm['{{item.attrsVmKey}}'], item)"
                                                             aria-label="user attributes for groups">
                                                </md-checkbox>
                                                <md-checkbox ng-model="item.filters"
                                                             aria="filters"
                                                             class="md-primary"
                                                             ng-style="vm.checkAreaAccessibility(item, 'filter') ? {'visibility': 'hidden'} : {}"
                                                             ng-change="vm.onSelectedAttrsChange(vm['{{item.attrsVmKey}}'], item)"
                                                             aria-label="user attributes for filters">
                                                </md-checkbox>
                                            </div>

                                            <div class="g-modal-draggable-card vcSelectedColumnsDraggableCard">
                                                <md-card class="modal-dialog-card" data-key-identifier="{{item.key}}">
                                                    {{item.name}}
                                                </md-card>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>-->

                            <div class="vc-selected-columns">
                                <div layout="row" class="view-constructor-attributes-separator">
                                    <p>Groups and Columns</p>
                                </div>

                                <div class="vcSelectedGroups">
                                    <div class="g-checkbox-row vcSelectedGroupItem"
                                         data-ng-repeat="item in vm.selectedGroups | filter: {name: selectedAttrSearchTerms} as results track by item.key"
                                         layout="row"
                                         data-attribute-key="{{item.key}}"
                                         data-vm-key="{{item.attrsVmKey}}">

                                        <div flex="90" layout="row">
                                            <div class="view-constructor-checkboxes-container"
                                                 layout="row"
                                                 layout-align="start center">
                                                <md-checkbox ng-model="item.columns"
                                                             aria="columns"
                                                             data-ng-change="vm.onSelectedAttrsChange(vm['{{item.attrsVmKey}}'], item)"
                                                             aria-label="user attributes for columns">
                                                </md-checkbox>
                                                <md-checkbox ng-model="item.groups"
                                                             aria="groups"
                                                             class="md-g-green"
                                                             ng-style="vm.checkAreaAccessibility(item, 'group') ? {'visibility': 'hidden'} : {}"
                                                             data-ng-change="vm.onSelectedAttrsChange(vm['{{item.attrsVmKey}}'], item)"
                                                             aria-label="user attributes for groups">
                                                </md-checkbox>
                                                <md-checkbox ng-model="item.filters"
                                                             aria="filters"
                                                             class="md-primary"
                                                             data-ng-change="vm.onSelectedAttrsChange(vm['{{item.attrsVmKey}}'], item)"
                                                             aria-label="user attributes for filters">
                                                </md-checkbox>
                                            </div>

                                            <div class="g-modal-draggable-card">
                                                <md-card class="modal-dialog-card" data-key-identifier="{{item.key}}">
                                                    {{item.name}}
                                                </md-card>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="vc-selected-attrs-holder vcSelectedColumns">
                                    <div class="g-checkbox-row vcSelectedColumnItem"
                                         data-ng-repeat="item in vm.selectedColumns | filter: {name: selectedAttrSearchTerms} as results track by item.key"
                                         layout="row"
                                         data-attribute-key="{{item.key}}"
                                         data-vm-key="{{item.attrsVmKey}}">

                                        <div flex="90" layout="row">
                                            <div class="view-constructor-checkboxes-container"
                                                 layout="row"
                                                 layout-align="start center">
                                                <md-checkbox ng-model="item.columns"
                                                             aria="columns"
                                                             data-ng-change="vm.onSelectedAttrsChange(vm['{{item.attrsVmKey}}'], item)"
                                                             aria-label="user attributes for columns">
                                                </md-checkbox>
                                                <md-checkbox ng-model="item.groups"
                                                             aria="groups"
                                                             class="md-g-green"
                                                             ng-style="vm.checkAreaAccessibility(item, 'group') ? {'visibility': 'hidden'} : {}"
                                                             data-ng-change="vm.onSelectedAttrsChange(vm['{{item.attrsVmKey}}'], item)"
                                                             aria-label="user attributes for groups">
                                                </md-checkbox>
                                                <md-checkbox ng-model="item.filters"
                                                             aria="filters"
                                                             class="md-primary"
                                                             data-ng-change="vm.onSelectedAttrsChange(vm['{{item.attrsVmKey}}'], item)"
                                                             aria-label="user attributes for filters">
                                                </md-checkbox>
                                            </div>

                                            <div class="g-modal-draggable-card">
                                                <md-card class="modal-dialog-card" data-key-identifier="{{item.key}}">
                                                    {{item.name}}
                                                </md-card>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <md-button class="md-raised md-primary vc-selected-add-attr-btn"
                                           ng-click="vm.selectAttribute('column', $event)">Add column</md-button>

                            </div>

                            <div class="vc-selected-filters">
                                <div layout="row" class="view-constructor-attributes-separator">
                                    <p>Filters</p>
                                </div>

                                <div class="vc-selected-attrs-holder vcSelectedFilters">
                                    <div class="g-checkbox-row vcSelectedFilterItem"
                                         data-ng-repeat="item in vm.selectedFilters | filter: {name: selectedAttrSearchTerms} as results track by item.key"
                                         layout="row"
                                         data-attribute-key="{{item.key}}"
                                         data-vm-key="{{item.attrsVmKey}}">

                                        <div flex="90" layout="row">
                                            <div class="view-constructor-checkboxes-container"
                                                 layout="row"
                                                 layout-align="start center">
                                                <md-checkbox ng-model="item.columns"
                                                             aria="columns"
                                                             data-ng-change="vm.onSelectedAttrsChange(vm['{{item.attrsVmKey}}'], item)"
                                                             aria-label="user attributes for columns">
                                                </md-checkbox>
                                                <md-checkbox ng-model="item.groups"
                                                             aria="groups"
                                                             class="md-g-green"
                                                             ng-style="vm.checkAreaAccessibility(item, 'group') ? {'visibility': 'hidden'} : {}"
                                                             data-ng-change="vm.onSelectedAttrsChange(vm['{{item.attrsVmKey}}'], item)"
                                                             aria-label="user attributes for groups">
                                                </md-checkbox>
                                                <md-checkbox ng-model="item.filters"
                                                             aria="filters"
                                                             class="md-primary"
                                                             data-ng-change="vm.onSelectedAttrsChange(vm['{{item.attrsVmKey}}'], item)"
                                                             aria-label="user attributes for filters">
                                                </md-checkbox>
                                            </div>

                                            <div class="g-modal-draggable-card">
                                                <md-card class="modal-dialog-card" data-key-identifier="{{item.key}}">
                                                    {{item.name}}
                                                </md-card>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <md-button class="md-raised md-primary vc-selected-add-attr-btn"
                                           ng-click="vm.selectAttribute('filter', $event)" >Add filter</md-button>
                            </div>

                        </md-content>
                    </md-tab>

                    <md-tab label="System">
                        <md-content class="md-padding">

                            <input type="text"
                                   ng-model="entitySearchTerms"
                                   placeholder="Search for a ..."
                                   class="view-constructor-card-search">

                            <div class="g-th-checkbox-row">
                                <span class="g-meta-circle red">C</span>
                                <span class="g-meta-circle green">G</span>
                                <span class="g-meta-circle blue">F</span>
                            </div>

                            <div class="g-checkbox-row" data-ng-repeat="item in vm.entityAttrs | filter: {name: entitySearchTerms}" layout="row">
                                <div class="view-constructor-checkboxes-container"
                                     layout="row"
                                     layout-align="start center">
                                    <md-checkbox ng-model="item.columns"
                                                 aria="columns"
                                                 data-ng-change="vm.updateAttrs(vm.entityAttrs)"
                                                 aria-label="system attributes for columns">
                                    </md-checkbox>
                                    <md-checkbox
                                            ng-model="item.groups" aria="groups" class="md-g-green"
                                            data-ng-change="vm.updateAttrs(vm.entityAttrs)"
                                            ng-style="vm.checkAreaAccessibility(item, 'group') ? {'visibility': 'hidden'} : {}"
                                            aria-label="system attributes for groups">
                                    </md-checkbox>
                                    <md-checkbox
                                            ng-model="item.filters"
                                            aria="filters"
                                            class="md-primary"
                                            data-ng-change="vm.updateAttrs(vm.entityAttrs)"
                                            ng-style="vm.checkAreaAccessibility(item, 'filter') ? {'visibility': 'hidden'} : {}"
                                            aria-label="system attributes for filters">
                                    </md-checkbox>
                                </div>
                                <div class="g-modal-draggable-card vcDraggableCard" >
                                    <md-card class="modal-dialog-card" data-key-identifier="{{item.key}}">{{item.name}}</md-card>
                                </div>
                            </div>

                        </md-content>
                    </md-tab>

                    <md-tab label="User Attributes" data-ng-if="vm.MABtnVisibility(vm.entityType)">
                        <md-content class="md-padding">

                            <input type="text"
                                   ng-model="userAttrSearchTerms"
                                   placeholder="Search for a ..."
                                   class="view-constructor-card-search">

                            <div class="g-th-checkbox-row">
                                <span class="g-meta-circle red">C</span>
                                <span class="g-meta-circle green">G</span>
                                <span class="g-meta-circle blue">F</span>
                            </div>
                            <div class="g-checkbox-row" data-ng-repeat="item in vm.attrs | filter: {name: userAttrSearchTerms}" layout="row">
                                <div class="view-constructor-checkboxes-container"
                                     layout="row"
                                     layout-align="start center">
                                    <md-checkbox ng-model="item.columns"
                                                 aria="columns"
                                                 data-ng-change="vm.updateAttrs(vm.attrs)"
                                                 aria-label="user attributes for columns">
                                    </md-checkbox>
                                    <md-checkbox ng-model="item.groups"
                                                 aria="groups"
                                                 class="md-g-green"
                                                 data-ng-change="vm.updateAttrs(vm.attrs)"
                                                 aria-label="user attributes for groups">
                                    </md-checkbox>
                                    <md-checkbox ng-model="item.filters" aria="filters"
                                                 class="md-primary" data-ng-change="vm.updateAttrs(vm.attrs)"
                                                 aria-label="user attributes for filters">
                                    </md-checkbox>
                                </div>
                                <div class="g-modal-draggable-card vcDraggableCard">
                                    <md-card class="modal-dialog-card" data-key-identifier="{{item.key}}">{{item.name}}</md-card>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>

                </md-tabs>
            </div>

            <div ng-show="!vm.cardsDividedIntoTabs" class="md-padding">

                <input type="text"
                       ng-model="allAttrsSearchTerms"
                       placeholder="Search for a ..."
                       class="view-constructor-card-search">

                <div class="g-th-checkbox-row">
                    <span class="g-meta-circle red">C</span>
                    <span class="g-meta-circle green">G</span>
                    <span class="g-meta-circle blue">F</span>
                </div>

                <div class="g-checkbox-row"
                     data-ng-repeat="item in vm.attrsList | filter: {name: allAttrsSearchTerms}"
                     layout="row">
                    <div class="view-constructor-checkboxes-container"
                         layout="row"
                         layout-align="start center">
                        <md-checkbox ng-model="item.columns"
                                     aria="columns"
                                     data-ng-change="vm.updateAttrs(vm.attrsList)"
                                     aria-label="system attributes for columns">
                        </md-checkbox>
                        <md-checkbox
                                ng-model="item.groups" aria="groups" class="md-g-green"
                                data-ng-change="vm.updateAttrs(vm.attrsList)"
                                ng-style="vm.checkAreaAccessibility(item, 'group') ? {'visibility': 'hidden'} : {}"
                                aria-label="system attributes for groups">
                        </md-checkbox>
                        <md-checkbox
                                ng-model="item.filters"
                                aria="filters"
                                class="md-primary"
                                data-ng-change="vm.updateAttrs(vm.attrsList)"
                                ng-style="vm.checkAreaAccessibility(item, 'filter') ? {'visibility': 'hidden'} : {}"
                                aria-label="system attributes for filters">
                        </md-checkbox>
                    </div>

                    <div class="g-modal-draggable-card vcDraggableCard" >
                        <md-card class="modal-dialog-card" data-key-identifier="{{item.key}}">{{item.name}}</md-card>
                    </div>
                </div>

            </div>

        </div>

        <div data-ng-if="!vm.readyStatus.content" class="dialog-loader">
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">
        <div>
            <md-button data-ng-if="vm.MABtnVisibility(vm.entityType)" class="md-raised md-primary" style="margin: 0;"
                       data-ui-sref="app.attributesManager({entityType: vm.entityType})" data-ng-click="vm.cancel()">
                Manage attributes
            </md-button>

            <md-button class="md-raised"
                       ng-click="vm.cardsDividedIntoTabs = !vm.cardsDividedIntoTabs">
                <span ng-if="vm.cardsDividedIntoTabs">See All</span>
                <span ng-if="!vm.cardsDividedIntoTabs">See Tabs</span>
            </md-button>
        </div>

        <md-button class="md-raised" ng-click="vm.cancel()">
            OK
        </md-button>
    </md-dialog-actions>

</md-dialog>
