<md-dialog aria-label="Mango (Fruit)" ng-cloak class="g-modal-dialog drag" g-dialog-draggable>
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="start center">
            <h2 style="user-select: none; position: relative;">View Constructor
                <ng-md-icon class="tooltips-sign" icon="info" size="20" style="fill: #fff">
                    <md-tooltip md-direction="top">tooltip text</md-tooltip>
                </ng-md-icon>
            </h2>
            <!-- <span class="tooltips-sign white">
                (i)
                <md-tooltip md-direction="top">tooltip text</md-tooltip>
            </span> -->
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div data-ng-if="vm.readyStatus.content">
            <md-tabs md-dynamic-height md-border-bottom id="dialogbag">
                <md-tab label="System">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.baseAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria="columns" data-ng-change="vm.updateAttrs()">
                                </md-checkbox>
                                <md-checkbox
                                        ng-style="vm.checkAreaAccessibility(item, 'group') ? {'visibility': 'hidden'} : {}"
                                        ng-model="item.groups" aria="groups" class="md-g-green"
                                        data-ng-change="vm.updateAttrs()">
                                </md-checkbox>
                                <md-checkbox
                                        ng-style="vm.checkAreaAccessibility(item, 'filter') ? {'visibility': 'hidden'} : {}"
                                        ng-model="item.filters" aria="filters" class="md-primary"
                                        data-ng-change="vm.updateAttrs()">
                                </md-checkbox>
                            </div>
                            <div dragula="'columns-bag'" class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{item.name}}</md-card>
                            </div>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.entityAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria="columns" data-ng-change="vm.updateAttrs()">
                                </md-checkbox>
                                <md-checkbox
                                        ng-style="vm.checkAreaAccessibility(item, 'group') ? {'visibility': 'hidden'} : {}"
                                        ng-model="item.groups" aria="groups" class="md-g-green"
                                        data-ng-change="vm.updateAttrs()">
                                </md-checkbox>
                                <md-checkbox
                                        ng-style="vm.checkAreaAccessibility(item, 'filter') ? {'visibility': 'hidden'} : {}"
                                        ng-model="item.filters" aria="filters" class="md-primary"
                                        data-ng-change="vm.updateAttrs()">
                                </md-checkbox>
                            </div>
                            <div dragula="'columns-bag'" class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{item.name}}</md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="User Attributes">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.attrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria="columns" data-ng-change="vm.updateAttrs()">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria="groups" class="md-g-green"
                                             data-ng-change="vm.updateAttrs()">
                                </md-checkbox>
                                <md-checkbox data-ng-if="vm.isReport == true" ng-model="item.filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs()">
                                </md-checkbox>
                                <md-checkbox data-ng-if="vm.isReport == false" style="visibility: hidden"
                                             ng-model="item.filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs()">
                                </md-checkbox>
                            </div>
                            <div dragula="'columns-bag'" class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{item.name}}</md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Custom Attributes" data-ng-if="vm.entityType === 'balance-report'">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.custom" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria="columns" data-ng-change="vm.updateAttrs()">
                                </md-checkbox>
                                <md-checkbox style="visibility: hidden" ng-model="item.groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs()">
                                </md-checkbox>
                                <md-checkbox style="visibility: hidden" ng-model="item.filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs()">
                                </md-checkbox>
                            </div>
                            <div dragula="'columns-bag'" class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{item.name}}</md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <!--<md-tab label="Attributes">-->
                <!--<md-content class="md-padding">-->
                <!--<div class="g-th-checkbox-row">-->
                <!--<span class="g-meta-circle green">G</span>-->
                <!--<span class="g-meta-circle red">C</span>-->
                <!--<span class="g-meta-circle blue">F</span>-->
                <!--</div>-->
                <!--<div class="g-checkbox-row" data-ng-repeat="item in vm.attrs">-->
                <!--<md-checkbox ng-model="item.groups" aria="groups" class="md-g-green"-->
                <!--data-ng-change="vm.updateAttrs()">-->
                <!--</md-checkbox>-->
                <!--<md-checkbox ng-model="item.columns" aria="columns" data-ng-change="vm.updateAttrs()">-->
                <!--</md-checkbox>-->
                <!--<md-checkbox style="visibility: hidden" ng-model="item.filters" aria="filters"-->
                <!--class="md-primary" data-ng-change="vm.updateAttrs()">-->
                <!--</md-checkbox>-->
                <!--<span flex></span>-->
                <!--<div dragula="'columns-bag'" class="g-modal-draggable-card">-->
                <!--<md-card class="modal-dialog-card">{{item.name}}</md-card>-->
                <!--</div>-->
                <!--</div>-->
                <!--</md-content>-->
                <!--</md-tab>-->
            </md-tabs>
        </div>
        <div data-ng-if="!vm.readyStatus.content" class="dialog-loader">
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <md-button data-ng-if="vm.MABtnVisibility(vm.entityType)" class="md-raised md-primary" style="margin: 0;"
                   data-ui-sref="app.attributesManager({entityType: vm.entityType})" data-ng-click="vm.cancel()">
            Manage attributes
        </md-button>
        <md-button data-ng-if="vm.entityType === 'balance-report'" class="md-raised md-primary" style="margin: 0;"
                   data-ui-sref="app.reports.balanceCustomAttributesManager" data-ng-click="vm.cancel()">
            Custom attributes
        </md-button>
        <md-button class="md-raised" ng-click="vm.cancel()">
            OK
        </md-button>
    </md-dialog-actions>
</md-dialog>
