<md-dialog aria-label="Report fields modal" ng-cloak class="g-modal-dialog drag view-constructor" g-dialog-draggable>
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="start center">
            <h2 style="user-select: none; position: relative;">View Constructor
                <ng-md-icon class="tooltips-sign" icon="info" size="20" style="fill: #fff">
                    <md-tooltip md-direction="top">tooltip text</md-tooltip>
                </ng-md-icon>
            </h2>
            <!-- <span class="tooltips-sign white">
                (i)
                <md-tooltip md-direction="top">tooltip text</md-tooltip>
            </span> -->
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div data-ng-if="vm.readyStatus.content">
            <md-tabs md-dynamic-height md-border-bottom id="dialogbag">

                <md-tab label="Complex Transaction">
                    <md-content class="md-padding">

                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.complexTransactionAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.complexTransactionAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.complexTransactionAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary"
                                             data-ng-change="vm.updateAttrs(vm.complexTransactionAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                        <div layout="row" class="view-constructor-attributes-separator"
                             data-ng-show="vm.complexTransactionDynamicAttrs.length > 0">
                            <p>User Attributes</p>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.complexTransactionDynamicAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.complexTransactionDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.complexTransactionDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary"
                                             data-ng-change="vm.updateAttrs(vm.complexTransactionDynamicAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                    </md-content>
                </md-tab>

                <md-tab label="Transaction">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.transactionAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.transactionAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.transactionAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.transactionAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                        <div class="g-checkbox-row" data-ng-repeat="item in vm.linkedInstrumentAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.linkedInstrumentAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.linkedInstrumentAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary"
                                             data-ng-change="vm.updateAttrs(vm.linkedInstrumentAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                        <div layout="row" class="view-constructor-attributes-separator"
                             data-ng-show="vm.linkedInstrumentDynamicAttrs.length > 0">
                            <p>User Attributes</p>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.linkedInstrumentDynamicAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.linkedInstrumentDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.linkedInstrumentDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary"
                                             data-ng-change="vm.updateAttrs(vm.linkedInstrumentDynamicAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>


                    </md-content>
                </md-tab>

                <md-tab label="Portfolio">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.portfolioAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.portfolioAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.portfolioAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.portfolioAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                        <div layout="row" class="view-constructor-attributes-separator"
                             data-ng-show="vm.portfolioDynamicAttrs.length > 0">
                            <p>User Attributes</p>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.portfolioDynamicAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.portfolioDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.portfolioDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary"
                                             data-ng-change="vm.updateAttrs(vm.portfolioDynamicAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                    </md-content>
                </md-tab>

                <md-tab label="Instrument">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.instrumentAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.instrumentAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.instrumentAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.instrumentAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                        <div layout="row" class="view-constructor-attributes-separator"
                             data-ng-show="vm.instrumentDynamicAttrs.length > 0">
                            <p>User Attributes</p>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.instrumentDynamicAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.instrumentDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.instrumentDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary"
                                             data-ng-change="vm.updateAttrs(vm.instrumentDynamicAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                    </md-content>
                </md-tab>

                <md-tab label="Responsible">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.responsibleAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.responsibleAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.responsibleAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.responsibleAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                        <div layout="row" class="view-constructor-attributes-separator"
                             data-ng-show="vm.responsibleDynamicAttrs.length > 0">
                            <p>User Attributes</p>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.responsibleDynamicAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.responsibleDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.responsibleDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary"
                                             data-ng-change="vm.updateAttrs(vm.responsibleDynamicAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                    </md-content>
                </md-tab>

                <md-tab label="Counterparty">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.counterpartyAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.counterpartyAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.counterpartyAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.counterpartyAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                        <div layout="row" class="view-constructor-attributes-separator"
                             data-ng-show="vm.counterpartyDynmicAttrs.length > 0">
                            <p>User Attributes</p>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.counterpartyDynmicAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.counterpartyDynmicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.counterpartyDynmicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary"
                                             data-ng-change="vm.updateAttrs(vm.counterpartyDynmicAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                    </md-content>
                </md-tab>

                <!--<md-tab label="Allocations">-->
                <!--<md-content class="md-padding">-->
                <!--<div class="g-th-checkbox-row">-->
                <!--<span class="g-meta-circle red">C</span>-->
                <!--<span g-meta-circle green">G</span>-->
                <!--<span g-meta-circle blue">F</span>-->
                <!--</div>-->
                <!--<div class="g-checkbox-row" data-ng-repeat="item in vm.allocationBalanceAttrs" layout="row">-->
                <!--<div>-->
                <!--<md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"-->
                <!--data-ng-change="vm.updateAttrs()">-->
                <!--</md-checkbox>-->
                <!--<md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"-->
                <!--class="md-g-green"-->
                <!--data-ng-change="vm.updateAttrs()">-->
                <!--</md-checkbox>-->
                <!--<md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"-->
                <!--class="md-primary" data-ng-change="vm.updateAttrs()">-->
                <!--</md-checkbox>-->
                <!--</div>-->
                <!--<div class="g-modal-draggable-card">-->
                <!--<md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="g-checkbox-row" data-ng-repeat="item in vm.allocationPlAttrs" layout="row">-->
                <!--<div>-->
                <!--<md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"-->
                <!--data-ng-change="vm.updateAttrs()">-->
                <!--</md-checkbox>-->
                <!--<md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"-->
                <!--class="md-g-green"-->
                <!--data-ng-change="vm.updateAttrs()">-->
                <!--</md-checkbox>-->
                <!--<md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"-->
                <!--class="md-primary" data-ng-change="vm.updateAttrs()">-->
                <!--</md-checkbox>-->
                <!--</div>-->
                <!--<div class="g-modal-draggable-card">-->
                <!--<md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>-->
                <!--</div>-->
                <!--</div>-->

                <!--</md-content>-->
                <!--</md-tab>-->

                <md-tab label="Accounts">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.accountPositionAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.accountPositionAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.accountPositionAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary"
                                             data-ng-change="vm.updateAttrs(vm.accountPositionAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                        <div class="g-checkbox-row" data-ng-repeat="item in vm.accountCashAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.accountCashAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.accountCashAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.accountCashAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                        <div class="g-checkbox-row" data-ng-repeat="item in vm.accountInterimAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.accountInterimAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.accountInterimAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.accountInterimAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                        <div layout="row" class="view-constructor-attributes-separator"
                             data-ng-show="vm.accountPositionDynamicAttrs.length > 0 || vm.accountCashDynamicAttrs.length > 0 || vm.accountInterimDynamicAttrs.length > 0 ">
                            <p>User Attributes</p>
                        </div>

                        <div class="g-checkbox-row" data-ng-repeat="item in vm.accountPositionDynamicAttrs"
                             layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.accountPositionDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.accountPositionDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary"
                                             data-ng-change="vm.updateAttrs(vm.accountPositionDynamicAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                        <div class="g-checkbox-row" data-ng-repeat="item in vm.accountCashDynamicAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.accountCashDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.accountCashDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary"
                                             data-ng-change="vm.updateAttrs(vm.accountCashDynamicAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                        <div class="g-checkbox-row" data-ng-repeat="item in vm.accountInterimDynamicAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.accountInterimDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.accountInterimDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary"
                                             data-ng-change="vm.updateAttrs(vm.accountInterimDynamicAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                    </md-content>
                </md-tab>

                <md-tab label="Currencies">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.transactionCurrencyAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.transactionCurrencyAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.transactionCurrencyAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary"
                                             data-ng-change="vm.updateAttrs(vm.transactionCurrencyAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                        <div class="g-checkbox-row" data-ng-repeat="item in vm.settlementCurrencyAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.settlementCurrencyAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.settlementCurrencyAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary"
                                             data-ng-change="vm.updateAttrs(vm.settlementCurrencyAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                    </md-content>
                </md-tab>

                <md-tab label="Strategies">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.strategy1cashAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.strategy1cashAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.strategy1cashAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.strategy1cashAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                        <div class="g-checkbox-row" data-ng-repeat="item in vm.strategy1positionAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.strategy1positionAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.strategy1positionAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary"
                                             data-ng-change="vm.updateAttrs(vm.strategy1positionAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                        <div class="g-checkbox-row" data-ng-repeat="item in vm.strategy2cashAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.strategy2cashAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.strategy2cashAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.strategy2cashAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                        <div class="g-checkbox-row" data-ng-repeat="item in vm.strategy2positionAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.strategy2positionAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.strategy2positionAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary"
                                             data-ng-change="vm.updateAttrs(vm.strategy2positionAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                        <div class="g-checkbox-row" data-ng-repeat="item in vm.strategy3cashAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.strategy3cashAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.strategy3cashAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.strategy3cashAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                        <div class="g-checkbox-row" data-ng-repeat="item in vm.strategy3positionAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.strategy3positionAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.strategy3positionAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary"
                                             data-ng-change="vm.updateAttrs(vm.strategy3positionAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>

                    </md-content>
                </md-tab>

                <md-tab label="Custom Attributes">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.custom" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.custom)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.custom)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.custom)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
        <div data-ng-if="!vm.readyStatus.content" class="dialog-loader">
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <md-button data-ng-if="vm.MABtnVisibility(vm.entityType)" class="md-raised md-primary" style="margin: 0;"
                   data-ui-sref="app.attributesManager({entityType: vm.entityType})" data-ng-click="vm.cancel()">
            Manage attributes
        </md-button>
        <md-button data-ng-if="vm.entityType === 'balance-report' || vm.entityType === 'pnl-report'"
                   class="md-raised md-primary" style="margin: 0;"
                   data-ui-sref="app.reports.customAttributesManager({entityType: vm.entityType})"
                   data-ng-click="vm.cancel()">
            Custom attributes
        </md-button>
        <md-button class="md-raised" ng-click="vm.cancel()">
            OK
        </md-button>
    </md-dialog-actions>
</md-dialog>
