<md-dialog aria-label="Report fields modal" ng-cloak class="g-modal-dialog drag" g-dialog-draggable>
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="start center">
            <h2 style="user-select: none; position: relative;">View Constructor
                <ng-md-icon class="tooltips-sign" icon="info" size="20" style="fill: #fff">
                    <md-tooltip md-direction="top">tooltip text</md-tooltip>
                </ng-md-icon>
            </h2>
            <!-- <span class="tooltips-sign white">
                (i)
                <md-tooltip md-direction="top">tooltip text</md-tooltip>
            </span> -->
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div data-ng-if="vm.readyStatus.content">
            <md-tabs data-ng-init="vm.initDnd()" md-dynamic-height md-border-bottom id="dialogbag">

                <md-tab label="Balance">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.balanceAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.balanceAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.balanceAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.balanceAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card" data-key-identifier="{{item.key}}">
                                    {{::vm.bindReportItemName(item)}}
                                </md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Performance">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.balancePerformanceAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.balancePerformanceAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.balancePerformanceAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.balancePerformanceAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Instrument">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.instrumentAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.instrumentAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.instrumentAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.instrumentAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.instrumentTypeAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.instrumentTypeAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.instrumentTypeAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.instrumentTypeAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.instrumentDynamicAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.instrumentDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.instrumentDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.instrumentDynamicAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Account">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.accountAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.accountAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.accountAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.accountAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.accountTypeAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.accountTypeAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.accountTypeAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.accountTypeAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.accountDynamicAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.accountDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.accountDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.accountDynamicAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Portfolio">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.portfolioAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.portfolioAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.portfolioAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.portfolioAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.portfolioDynamicAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.portfolioDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.portfolioDynamicAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.portfolioDynamicAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Strategies">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.strategy1attrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.strategy1attrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.strategy1attrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.strategy1attrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.strategy1subgroupAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.strategy1subgroupAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.strategy1subgroupAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.strategy1subgroupAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.strategy1groupAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.strategy1groupAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.strategy1groupAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.strategy1groupAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.strategy2attrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.strategy2attrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.strategy2attrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.strategy2attrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.strategy2subgroupAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.strategy2subgroupAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.strategy2subgroupAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.strategy2subgroupAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.strategy2groupAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.strategy2groupAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.strategy2groupAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.strategy2groupAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.strategy3attrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.strategy3attrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.strategy3attrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.strategy3attrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.strategy3subgroupAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.strategy3subgroupAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.strategy3subgroupAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.strategy3subgroupAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.strategy3groupAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.strategy3groupAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.strategy3groupAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.strategy3groupAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Custom Columns">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.custom" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.custom)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.custom)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.custom)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Mismatch">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.balanceMismatchAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.balanceMismatchAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.balanceMismatchAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.balanceMismatchAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Allocation">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in vm.allocationAttrs" layout="row">
                            <div>
                                <md-checkbox ng-model="item.columns" aria-label="Columns" aria="columns"
                                             data-ng-change="vm.updateAttrs(vm.allocationAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.groups" aria-label="Groups" aria="groups"
                                             class="md-g-green"
                                             data-ng-change="vm.updateAttrs(vm.allocationAttrs)">
                                </md-checkbox>
                                <md-checkbox ng-model="item.filters" aria-label="Filters" aria="filters"
                                             class="md-primary" data-ng-change="vm.updateAttrs(vm.allocationAttrs)">
                                </md-checkbox>
                            </div>
                            <div class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{::vm.bindReportItemName(item)}}</md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
        <div data-ng-if="!vm.readyStatus.content" class="dialog-loader">
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <md-button data-ng-if="vm.MABtnVisibility(vm.entityType)" class="md-raised md-primary" style="margin: 0;"
                   data-ui-sref="app.attributesManager({entityType: vm.entityType})" data-ng-click="vm.cancel()">
            Manage attributes
        </md-button>
        <md-button data-ng-if="vm.entityType === 'balance-report' || vm.entityType === 'pnl-report'"
                   class="md-raised md-primary" style="margin: 0;"
                   data-ui-sref="app.reports.customAttributesManager({entityType: vm.entityType})"
                   data-ng-click="vm.cancel()">
            Custom attributes
        </md-button>
        <md-button class="md-raised" ng-click="vm.cancel()">
            OK
        </md-button>
    </md-dialog-actions>
</md-dialog>
