<div class="g-sidebar-filter-component">
    <p class="area-title"><span class="g-meta-circle blue">F</span>ILTER AREA</p>
    <div dragula="'filters-bag'" dragula-model="filters">
        <md-card data-ng-repeat="filter in filters"
                 class="{{filter.options.enabled ? '' : 'f-disabled' }} g-filter-item" layout="row">
            <md-checkbox ng-model="filter.options.enabled" aria="filters" class="md-primary"
                         ng-change="toggleFilterState(filter)" flex="15">
            </md-checkbox>
            <md-input-container flex="65">
                <label data-ng-bind="filter.name"></label>
                <input data-ng-model="filter.options.query" data-ng-change="filterChange(filter)"
                       data-ng-model-options="{debounce: 1000}">
            </md-input-container>
            <div class="settings-btn" flex="20">
                <md-menu>
                    <md-button aria-label="Open phone interactions menu" class="md-icon-button"
                               ng-click="openFilterSettings($mdOpenMenu, $event)">
                        <ng-md-icon icon="settings"></ng-md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="removeFilter(filter)" class="g-settings-option-btn">
                                <ng-md-icon icon="visibility_off"></ng-md-icon>
                                <span>Remove</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-card>
    </div>

</div>