<div class="g-sidebar-filter-component" layout="column">

    <group-actions-block ev-data-service="evDataService"
                         ev-event-service="evEventService"></group-actions-block>

    <div data-ng-if="isReport" layout="column">

        <div data-ng-if="entityType == 'balance-report' || entityType == 'pnl-report'">
            <md-card class="g-sidebar-report-card">

                <md-card-content>

                    <p class="g-r-card-title">
                        Report settings
                    </p>

                    <div layout="column" style="padding-top: 16px">

                        <div data-ng-if="entityType == 'pnl-report'">
                            <complex-zh-date-picker data-date="reportOptions.pl_first_date"
                                                    data-datepicker-options="reportLayoutOptions.datepickerOptions.reportFirstDatepicker"
                                                    data-display-options="pnlDatepickerDisplayOptions"
                                                    data-callback-method="updateReportOptions()">
                            </complex-zh-date-picker>
                        </div>

                        <complex-zh-date-picker data-date="reportOptions.report_date"
                                                data-datepicker-options="reportLayoutOptions.datepickerOptions.reportLastDatepicker"
                                                data-display-options="{position: 'left'}"
                                                data-callback-method="updateReportOptions()"
                                                data-on-ready-callback="onDatepickerReady()">
                        </complex-zh-date-picker>

                        <md-input-container style="margin-bottom: 20px;">

                            <label for="">Currency</label>

                            <md-select data-ng-model="reportOptions.report_currency" ng-change="updateReportOptions()"
                                       md-on-close="searchTerm = ''">
                                <md-select-header>
                                    <input data-ng-model="searchTerm"
                                           type="search"
                                           placeholder="Search for a ..."
                                           class="md-text md-select-search-pattern">
                                </md-select-header>
                                <md-option
                                        data-ng-repeat="item in currencies | orderBy:'-'+field.name | filter:{name: searchTerm}"
                                        ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                        <md-input-container>

                            <label for="">Pricing Policy</label>

                            <md-select data-ng-model="reportOptions.pricing_policy"
                                       ng-change="updateReportOptions()"
                                       md-container-class="common-select-container"
                                       md-on-close="searchTerm = ''">
                                <md-select-header>
                                    <input data-ng-model="searchTerm"
                                           type="search"
                                           placeholder="Search for a ..."
                                           class="md-text md-select-search-pattern select-input-filter" ng-keydown="$event.stopPropagation()">
                                </md-select-header>
                                <md-option data-ng-repeat="item in pricingPolicies" ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                    </div>

                </md-card-content>

            </md-card>
        </div>
        <div data-ng-if="entityType == 'transaction-report'">
            <md-card class="g-sidebar-report-card">

                <md-card-content>

                    <p class="g-r-card-title">
                        Report settings
                    </p>

                    <div layout="column" style="padding-top: 16px">

                        <md-input-container>

                            <label for="">Begin date</label>

                            <zh-date-picker data-date-value="reportOptions.begin_date"
                                            data-ng-model="reportOptions.begin_date"
                                            position="left"
                                            ng-change="updateReportOptions()"></zh-date-picker>

                        </md-input-container>

                        <md-input-container>

                            <label for="">End date</label>

                            <zh-date-picker data-date-value="reportOptions.end_date"
                                            data-ng-model="reportOptions.end_date"
                                            position="left"
                                            ng-change="updateReportOptions()"></zh-date-picker>

                        </md-input-container>

                    </div>

                </md-card-content>

            </md-card>
        </div>
        <div data-ng-if="entityType == 'cash-flow-projection-report'">
            <md-card class="g-sidebar-report-card">

                <md-card-content>

                    <p class="g-r-card-title">
                        Report settings
                    </p>

                    <div layout="column" style="padding-top: 16px">

                        <md-input-container>

                            <label for="">Begin date</label>

                            <zh-date-picker data-date-value="reportOptions.begin_date"
                                            data-ng-model="reportOptions.begin_date"
                                            position="left"
                                            ng-change="updateReportOptions()"></zh-date-picker>

                        </md-input-container>

                        <md-input-container>

                            <label for="">End date</label>

                            <zh-date-picker data-date-value="reportOptions.end_date"
                                            data-ng-model="reportOptions.end_date"
                                            position="left"
                                            ng-change="updateReportOptions()"></zh-date-picker>

                        </md-input-container>

                        <md-input-container>

                            <label for="">Balance date</label>

                            <zh-date-picker data-date-value="reportOptions.balance_date"
                                            data-ng-model="reportOptions.balance_date"
                                            position="left"
                                            ng-change="updateReportOptions()"></zh-date-picker>

                        </md-input-container>

                        <md-input-container>

                            <label for="">Report date</label>

                            <zh-date-picker data-date-value="reportOptions.report_date"
                                            data-ng-model="reportOptions.report_date"
                                            position="left"
                                            ng-change="updateReportOptions()"></zh-date-picker>

                        </md-input-container>


                    </div>

                </md-card-content>

            </md-card>
        </div>
        <div data-ng-if="entityType == 'performance-report'">
            <md-card class="g-sidebar-report-card">

                <md-card-content>

                    <p class="g-r-card-title">
                        Report settings
                    </p>

                    <div layout="column" style="padding-top: 16px">

                        <md-input-container>

                            <label for="">Begin Date</label>

                            <zh-date-picker data-date-value="reportOptions.begin_date"
                                            data-ng-model="reportOptions.begin_date"
                                            position="left"
                                            ng-change="updateReportOptions()"></zh-date-picker>


                        </md-input-container>

                        <md-input-container>

                            <label for="">End Date</label>

                            <zh-date-picker data-date-value="reportOptions.end_date"
                                            data-ng-model="reportOptions.end_date"
                                            position="left"
                                            ng-change="updateReportOptions()"></zh-date-picker>

                        </md-input-container>


                        <md-input-container style="margin-bottom: 20px;">

                            <label for="">Currency</label>

                            <md-select data-ng-model="reportOptions.report_currency" md-on-close="searchTerm = ''"
                                       ng-change="updateReportOptions()">
                                <md-select-header>
                                    <input data-ng-model="searchTerm"
                                           type="search"
                                           placeholder="Search for a ..."
                                           class="md-text md-select-search-pattern">
                                </md-select-header>
                                <md-option
                                        data-ng-repeat="item in currencies | orderBy:'-'+field.name | filter:{name: searchTerm}"
                                        ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                        <md-input-container>

                            <label for="">Pricing Policy</label>

                            <md-select data-ng-model="reportOptions.pricing_policy" ng-change="updateReportOptions()">
                                <md-option data-ng-repeat="item in pricingPolicies" ng-value="item.id">{{item.name}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                    </div>

                    <div layout="column" style="margin-top: 16px;">

                        <md-button data-ng-click="openPeriodsDialog($event)" class="md-primary md-raised">Periodicity
                        </md-button>

                    </div>

                </md-card-content>

            </md-card>
        </div>
    </div>

    <div layout="row" layout-align="space-between center">
        <p class="area-title g-section-title"><span class="g-meta-circle blue">F</span><span class="after-text">ILTER AREA</span>
            <ng-md-icon class="tooltips-sign" icon="info" size="20" style="fill: #777777">
                <md-tooltip class="tooltip_1" md-direction="top">tooltip text</md-tooltip>
            </ng-md-icon>
        </p>
        <md-button aria-label="resize"
                   class="to-small-btn filter-sidenav f-s-collapse fab md-raised"
                   data-ng-click="resizeFilterSideNav('collapse')">
            <md-tooltip class="" md-direction="top">Collapse area</md-tooltip>
            <ng-md-icon icon="chevron_right"></ng-md-icon>
        </md-button>
    </div>
    <div layout="row">
        <md-button aria-label="resize"
                   class="to-small-btn filter-sidenav f-s-expand fab md-raised"
                   data-ng-click="resizeFilterSideNav('expand')">
            <md-tooltip class="" md-direction="top">Expand area</md-tooltip>
            <ng-md-icon icon="chevron_left"></ng-md-icon>
        </md-button>
    </div>
    <div layout="row" class="filters-control-btn s-f-expanded-btns">
        <md-button class="md-raised" data-ng-click="selectAll()">
            Select all
        </md-button>
        <md-button class="md-raised" data-ng-click="deselectAll()">
            Deselect all
        </md-button>
    </div>
    <div class="s-f-collapsed-btns" layout="column">
        <md-button class="md-raised to-small-btn" data-ng-click="selectAll()">
            <ng-md-icon icon="select_all"></ng-md-icon>
            <md-tooltip md-direction="top">Select all</md-tooltip>
        </md-button>
        <md-button class="md-raised to-small-btn" data-ng-click="deselectAll()">
            <ng-md-icon icon="highlight_off"></ng-md-icon>
            <md-tooltip md-direction="top">Deselect all</md-tooltip>
        </md-button>
        <md-button class="md-raised to-small-btn clear-all" data-ng-click="clearAll()">
            <ng-md-icon icon="clear_all"></ng-md-icon>
            <md-tooltip md-direction="top">Clear all</md-tooltip>
        </md-button>
    </div>
    <div layout="row" class="filters-control-btn s-f-expanded-btns">
        <md-button class="md-raised clear-all full-width" data-ng-click="clearAll()">
            Clear all
        </md-button>
    </div>
    <!--<div dragula="'filters-bag'" dragula-model="filters" class="filters-holder">-->
    <div class="g-filters-holder">
        <md-card data-ng-repeat="filter in filters"
                 class="{{filter.options.enabled ? '' : 'f-disabled' }} g-filter-item"
                 layout="row">
            <md-tooltip data-ng-if="sideNavCollapsed" class="" md-direction="top">{{filter.name}}<span
                    data-ng-if="!getFilterType(filter['value_type'])">: {{filter.options.query}}</span></md-tooltip>
            <md-checkbox ng-model="filter.options.enabled" aria-label="filters" class="md-primary"
                         ng-change="toggleFilterState(filter)" flex="15">
            </md-checkbox>
            <md-input-container flex="65">
                <label>

                    <span data-ng-if="!filter.layout_name">{{filter.name}}</span>
                    <span data-ng-if="filter.layout_name">{{filter.layout_name}}</span>

                </label>
                <div data-ng-if="filter['value_type'] === 'mc_field'">
                    <div data-ng-if="fields[filter.key]">
                        <md-select data-ng-model="filter.options.query"
                                   md-on-close="searchTerm = ''"
                                   data-ng-change="filterChange(filter)"
                                   multiple="{{fields['value_type'] == 'mc_field' ? 'true' : 'false'}}">
                            <md-select-header>
                                <input data-ng-model="searchTerm"
                                       type="search"
                                       placeholder="Search for a ..."
                                       class="md-text md-select-search-pattern">
                            </md-select-header>
                            <md-option
                                    data-ng-repeat="field in fields[filter.key] | orderBy:'-'+field.name | filter:{ name:searchTerm}"
                                    ng-value="resolveFilterValue(field)">
                                {{field.name}}
                            </md-option>
                        </md-select>
                    </div>
                    <div data-ng-if="!fields[filter.key]">
                        <div layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                </div>
                <div data-ng-if="filter['value_type'] === 'field'">
                    <div data-ng-if="fields[filter.key]">
                        <md-select data-ng-model="filter.options.query"
                                   md-on-close="searchTerm = ''"
                                   data-ng-change="filterChange(filter)"
                        >
                            <md-select-header>
                                <input data-ng-model="searchTerm"
                                       type="search"
                                       placeholder="Search for a ..."
                                       class="md-text md-select-search-pattern">
                            </md-select-header>
                            <md-option
                                    data-ng-repeat="field in fields[filter.key] | orderBy:'-'+field.name | filter:{ name:searchTerm}"
                                    ng-value="resolveFilterValue(field)">
                                {{field.name}}
                            </md-option>
                        </md-select>
                    </div>
                    <div data-ng-if="!fields[filter.key]">
                        <div layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                </div>
                <div data-ng-if="filter['value_type'] === 30">
                    <div data-ng-if="fields[filter.key]">
                        <md-select data-ng-model="filter.options.query"
                                   md-on-close="searchTerm = ''"
                                   data-ng-change="filterChange(filter)">
                            <md-select-header>
                                <input data-ng-model="searchTerm"
                                       type="search"
                                       placeholder="Search for a ..."
                                       class="md-text md-select-search-pattern">
                            </md-select-header>
                            <md-option
                                    data-ng-repeat="field in fields[filter.key] | orderBy:'-'+field.name | filter:{ name:searchTerm}"
                                    ng-value="resolveFilterValue(field)">
                                {{field.name}}
                            </md-option>
                        </md-select>
                    </div>
                    <div data-ng-if="!fields[filter.key]">
                        <div layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                </div>
                <div data-ng-if="filter['value_type'] === 10 || filter['value_type'] === 20">
                    <input data-ng-model="filter.options.query" data-ng-change="filterChange(filter)"
                           data-ng-model-options="{debounce: 1000}">
                </div>
                <div data-ng-if="filter['value_type'] === 40">

                    <zh-date-picker data-date-value="filter.options.query"
                                    data-ng-model="filter.options.query"
                                    position="left"
                                    ng-change="filterChange(filter)"></zh-date-picker>
                </div>
            </md-input-container>
            <div class="settings-btn" flex="20">
                <md-menu data-ng-if="options.isRootEntityViewer">
                    <md-button aria-label="Open phone interactions menu" class="md-icon-button"
                               ng-click="openFilterSettings($mdOpenMenu, $event)">
                        <ng-md-icon icon="settings"></ng-md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-menu>
                                <md-button ng-click="renameFilter(filter, $mdMenu, $event)"
                                           class="g-settings-option-btn">
                                    <ng-md-icon icon="visibility_off"
                                                style="visibility: hidden;"></ng-md-icon>
                                    <span>Rename</span>
                                </md-button>
                                <md-menu-content style="display: none"></md-menu-content>
                            </md-menu>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="removeFilter(filter)" class="g-settings-option-btn">
                                <ng-md-icon icon="visibility_off"></ng-md-icon>
                                <span>Remove</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu data-ng-if="!options.isRootEntityViewer">
                    <md-button aria-label="Open phone interactions menu" class="md-icon-button"
                               ng-click="openFilterSettings($mdOpenMenu, $event)">
                        <ng-md-icon icon="settings"></ng-md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-menu>
                                <md-button ng-click="renameFilter(filter, $mdMenu, $event)"
                                           class="g-settings-option-btn">
                                    <ng-md-icon icon="visibility_off"
                                                style="visibility: hidden;"></ng-md-icon>
                                    <span>Rename</span>
                                </md-button>
                                <md-menu-content style="display: none"></md-menu-content>
                            </md-menu>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="removeFilter(filter)" class="g-settings-option-btn">
                                <ng-md-icon icon="visibility_off"></ng-md-icon>
                                <span>Remove</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="useFromAbove(filter)" class="g-settings-option-btn">
                                <ng-md-icon icon="done" data-ng-show="filter.options.useFromAbove"></ng-md-icon>
                                <ng-md-icon icon="done" style="visibility: hidden;"
                                            data-ng-show="!filter.options.useFromAbove"></ng-md-icon>
                                <span>Use from above</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-card>
    </div>
    <div class="drop-new-filter">
        Drop new Filter
    </div>

</div>