<!--<div class="g-table-body-component" data-group-vertical-scroll>-->
<div class="g-table-body-component custom-scrollbar" data-custom-scroll data-scroll-sticky="true">
    <div data-ng-if="!checkReady()">
        <div layout="row" layout-sm="column">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
    </div>
    <!--<div data-ng-show="checkReady()" ng-cloak style="padding-bottom: 75px">-->
    <div data-ng-show="checkReady()" ng-cloak>
        <div>
            <div data-ng-if="options.grouping.length" contextmenu-container="gtbody.contextmenu">

                <div data-ng-if="!options.isReport" data-ng-repeat="item in items" on-finish-render="{{entityType}}">
                    <div class="g-group-holder {{ checkRowSelection(item) ? 'selected-row' : '' }}">
                        <div class="g-row-selection" data-ng-click="toggleSelectRow($event, item)">
                            <ng-md-icon icon="done" data-ng-show="item.selectedRow"></ng-md-icon>
                        </div>
                        <md-card class="group-row-fold-holder">
                            <div>
                                <md-button class="" aria-label="hide/show grouping" data-ng-show="item.isFolded"
                                           data-ng-click="toggleGroupFold(item)">
                                    <ng-md-icon icon="add"></ng-md-icon>
                                </md-button>
                                <md-button class="" aria-label="hide/show grouping" data-ng-show="!item.isFolded"
                                           data-ng-click="toggleGroupFold(item)">
                                    <ng-md-icon icon="remove"></ng-md-icon>
                                </md-button>
                            </div>
                        </md-card>
                        <div data-ng-repeat="group in item.groups track by $index" class="g-group">
                            <span data-ng-bind="bindGroupValue(group)"></span>
                        </div>
                    </div>
                    <div data-ng-repeat="groupedItem in item.items" contextmenu-item="groupedItem"
                         data-ng-show="!item.isFolded" data-ng-right-click="$mdOpenMenu($event)"
                         class="{{ checkRowSelection(groupedItem) ? 'selected-row' : ''}} g-row"
                         data-ng-click="rowCallback(groupedItem, $event)">

                        <div class="g-row-selection" data-ng-click="toggleSelectRow($event, groupedItem)">
                            <ng-md-icon icon="done" data-ng-show="groupedItem.selectedRow"></ng-md-icon>
                        </div>

                        <div class="g-cell-wrap" data-ng-repeat="column in columns">
                            <div class="g-cell {{getAlign(column)}}">
                                <span title="{{bindCellTitle(groupedItem, column)}}"
                                      data-ng-bind-html="bindCell(groupedItem, column) | trustAsHtml"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-ng-if="options.isReport" class="report-holder">

                    <!-- preInit.initGroup start -->

                    <group-bind-report-row on-finish-render="{{entityType}}"
                                           data-ng-repeat="item in reportItemsProjection() track by $index"
                                           item="item"></group-bind-report-row>


                    <!-- !preInit.initGroup end-->


                </div>
            </div>
            <div data-ng-if="!options.grouping.length" contextmenu-container="gtbody.contextmenu">
                <div data-ng-repeat="item in items" on-finish-render="{{entityType}}"
                     class="{{ checkRowSelection(item) ? 'selected-row' : ''}} g-row"
                     contextmenu-item="item" data-ng-click="rowCallback(item, $event)">
                    <div class="g-row-selection" data-ng-click="toggleSelectRow($event, item)">
                        <ng-md-icon icon="done" data-ng-show="item.selectedRow"></ng-md-icon>
                    </div>
                    <div class="g-cell-wrap" data-ng-repeat="column in columns">
                        <div class="g-cell {{getAlign(column)}}">
                            <span title="{{bindCellTitle(item, column)}}"
                                  data-ng-bind-html="bindCell(item, column) | trustAsHtml"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-end-row"></div>
        {{paginationItemsTotal}}
        <div
                data-ng-if="!options.isReport"
                paging
                class="g-table-body-pagination"
                page="options.paginationPageCurrent"
                page-size="options.paginationItemPerPage"
                total="options.paginationItemsTotal"
                paging-action="changePage(page)">
        </div>

        <div data-ng-if="!items.length && options.isReport">
            <h1 style="margin-top: 64px;text-align: left;margin-bottom: 64px;margin-left: 38vh;">Press calculate to
                build report</h1>
        </div>
    </div>
</div>
<div contextmenu="gtbody.contextmenu" class="dropdown contextmenu ng-hide">
    <md-menu-content width="4" ng-if="rightClickStatus()">
        <md-menu-item>
            <md-button ng-click="editEntity($event, gtbody.contextmenu.get().item)" class="g-settings-option-btn">
                <ng-md-icon icon="mode_edit"></ng-md-icon>
                <span>Edit</span>
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="deleteEntity($event, gtbody.contextmenu.get().item)"
                       class="g-settings-option-btn">
                <ng-md-icon icon="delete"></ng-md-icon>
                <span>Delete</span>
            </md-button>
        </md-menu-item>
    </md-menu-content>
</div>