<div class="popup-menu">

    <div>
        <md-button ng-click="popupData.changeSortMode(popupData.column, 'default')"
                   class="popup-menu-item">
            <span class="material-icons" data-ng-show="!popupData.column.options || !popupData.column.options.sort_mode || popupData.column.options.sort_mode === 'default'">done</span>
            <span class="material-icons" style="visibility: hidden;" data-ng-show="popupData.column.options && popupData.column.options.sort_mode && popupData.column.options.sort_mode !== 'default'">done</span>
            <span>Native</span>
        </md-button>
    </div>

    <div>
        <md-button ng-click="popupData.changeSortMode(popupData.column, 'manual')"
                   data-ng-disabled="!popupData.column.manual_sort_layout_user_code"
                   class="popup-menu-item">
            <span class="material-icons" data-ng-show="popupData.column.options && popupData.column.options.sort_mode && popupData.column.options.sort_mode === 'manual'">done</span>
            <span class="material-icons" style="visibility: hidden;" data-ng-show="!popupData.column.options || !popupData.column.options.sort_mode || popupData.column.options.sort_mode !== 'manual'">done</span>
            <span>Manual</span>
        </md-button>
    </div>

<!--    <div>-->
<!--        <md-button ng-click="popupData.changeSortMode(popupData.column, 'external')"-->
<!--                   class="popup-menu-item">-->
<!--            <span class="material-icons" data-ng-show="popupData.column.options && popupData.column.options.sort_mode && popupData.column.options.sort_mode === 'external'">done</span>-->
<!--            <span class="material-icons" style="visibility: hidden;" data-ng-show="!popupData.column.options || !popupData.column.options.sort_mode || popupData.column.options.sort_mode !== 'external'">done</span>-->
<!--            <span>External</span>-->
<!--        </md-button>-->
<!--    </div>-->


</div>