<!--<md-menu>

    <md-button aria-label="entity viewer column settings"
               class="md-icon-button column-btns column-settings-menu"
               ng-click="$mdOpenMenu($event)">
        <ng-md-icon icon="settings"></ng-md-icon>
    </md-button>

    <md-menu-content width="4">-->
<div class="popup-menu">

    <div ng-if="popupData.data.column.groups"
         ng-include="'views/popups/entity-viewer/g-rv-group-settings-menu-options.html'"></div>

    <div>
<!--            <md-button ng-click="popupData.data.renameColumn(popupData.data.column, $mdMenu, $event)"-->
            <md-button ng-click="popupData.data.renameColumn(popupData.data.column, $mdMenu, $event)"
                       class="popup-menu-item">
                <ng-md-icon icon="visibility_off"
                            style="visibility: hidden;"></ng-md-icon>
                <span>Rename</span>
            </md-button>
        </div>

    <div data-ng-if="!popupData.data.columnHasCorrespondingGroup(popupData.data.column.key)">
        <md-button data-ng-click="popupData.data.addColumnEntityToGrouping(popupData.data.column)"
                   class="popup-menu-item">
            <ng-md-icon icon="visibility_off"
                        style="visibility: hidden;"></ng-md-icon>
            <span>Add to grouping</span>
        </md-button>
    </div>

    <div data-ng-if="popupData.data.checkForFilteringBySameAttr(popupData.data.column.key)">
        <md-button data-ng-click="popupData.data.addFiltersWithColAttr(popupData.data.column)"
                   class="popup-menu-item">
            <ng-md-icon icon="visibility_off"
                        style="visibility: hidden;"></ng-md-icon>
            <span>Add to Filters</span>
        </md-button>
    </div>

    <div>
        <md-button ng-click="popupData.data.resizeColumn(popupData.data.column, $mdMenu, $event)"
                   class="popup-menu-item">
            <ng-md-icon icon="visibility_off"
                        style="visibility: hidden;"></ng-md-icon>
            <span>Resize</span>
        </md-button>
    </div>

    <div data-ng-if="!popupData.data.isReport || !popupData.data.columnHasCorrespondingGroup(popupData.data.column.key);">
        <md-menu md-offset="260px 0">
            <md-button aria-label="Open phone interactions menu"
                       class="popup-menu-item"
                       ng-click="$mdMenu.open()">
                <ng-md-icon icon="done"
                            class="z-menu-icon"
                            style="visibility: hidden;"></ng-md-icon>
                <span>Text aligning</span>
                <ng-md-icon icon="arrow_drop_up"
                            class="z-dropdown-icon"></ng-md-icon>
            </md-button>

            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="popupData.data.changeColumnTextAlign(popupData.data.column, 'left')"
                               class="g-settings-option-btn">
                        <ng-md-icon icon="done"
                                    data-ng-show="!popupData.data.checkColTextAlign(popupData.data.column, 'left')"
                                    class="z-menu-icon"
                                    style="visibility: hidden;"></ng-md-icon>
                        <ng-md-icon icon="done"
                                    data-ng-show="popupData.data.checkColTextAlign(popupData.data.column, 'left')"
                                    class="z-menu-icon"></ng-md-icon>
                        <span>Left</span>
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button ng-click="popupData.data.changeColumnTextAlign(popupData.data.column, 'center')"
                               class="g-settings-option-btn">
                        <ng-md-icon icon="done"
                                    data-ng-show="!popupData.data.checkColTextAlign(popupData.data.column, 'center')"
                                    class="z-menu-icon"
                                    style="visibility: hidden;"></ng-md-icon>
                        <ng-md-icon icon="done"
                                    data-ng-show="popupData.data.checkColTextAlign(popupData.data.column, 'center')"
                                    class="z-menu-icon"></ng-md-icon>
                        <span>Center</span>
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button ng-click="popupData.data.changeColumnTextAlign(popupData.data.column, 'right')"
                               class="g-settings-option-btn">
                        <ng-md-icon icon="done"
                                    data-ng-show="!popupData.data.checkColTextAlign(popupData.data.column, 'right')"
                                    class="z-menu-icon"
                                    style="visibility: hidden;"></ng-md-icon>
                        <ng-md-icon icon="done"
                                    data-ng-show="popupData.data.checkColTextAlign(popupData.data.column, 'right')"
                                    class="z-menu-icon"></ng-md-icon>
                        <span>Right</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>

    <div data-ng-if="popupData.data.isReport && popupData.data.columnHasCorrespondingGroup(popupData.data.column.key)">
        <md-button data-ng-click="popupData.data.removeGroup(popupData.data.column.___column_id || popupData.data.column.___group_type_id)"
                   class="popup-menu-item">
            <ng-md-icon icon="visibility_off"></ng-md-icon>
            <span>Remove</span>
        </md-button>
    </div>

    <div data-ng-if="!popupData.data.isReport || !popupData.data.columnHasCorrespondingGroup(popupData.data.column.key)">
        <md-button ng-click="popupData.data.removeColumn(popupData.data.column)"
                   class="popup-menu-item">
            <ng-md-icon icon="visibility_off"></ng-md-icon>
            <span>Remove</span>
        </md-button>
    </div>
</div>

<!--    </md-menu-content>
</md-menu>-->
