<div class="popup-menu">
    <div>
        <md-button ng-click="popupData.data.changeColumnTextAlign(popupData.data.column, 'left')"
                   class="popup-menu-item">
            <ng-md-icon icon="done"
                        data-ng-show="!popupData.data.checkColTextAlign(popupData.data.column, 'left')"
                        class="z-menu-icon"
                        style="visibility: hidden;"></ng-md-icon>
            <ng-md-icon icon="done"
                        data-ng-show="popupData.data.checkColTextAlign(popupData.data.column, 'left')"
                        class="z-menu-icon"></ng-md-icon>
            <span>Left</span>
        </md-button>
    </div>

    <div>
        <md-button ng-click="popupData.data.changeColumnTextAlign(popupData.data.column, 'center')"
                   class="popup-menu-item">
            <ng-md-icon icon="done"
                        data-ng-show="!popupData.data.checkColTextAlign(popupData.data.column, 'center')"
                        class="z-menu-icon"
                        style="visibility: hidden;"></ng-md-icon>
            <ng-md-icon icon="done"
                        data-ng-show="popupData.data.checkColTextAlign(popupData.data.column, 'center')"
                        class="z-menu-icon"></ng-md-icon>
            <span>Center</span>
        </md-button>
    </div>

    <div>
        <md-button ng-click="popupData.data.changeColumnTextAlign(popupData.data.column, 'right')"
                   class="popup-menu-item">
            <ng-md-icon icon="done"
                        data-ng-show="!popupData.data.checkColTextAlign(popupData.data.column, 'right')"
                        class="z-menu-icon"
                        style="visibility: hidden;"></ng-md-icon>
            <ng-md-icon icon="done"
                        data-ng-show="popupData.data.checkColTextAlign(popupData.data.column, 'right')"
                        class="z-menu-icon"></ng-md-icon>
            <span>Right</span>
        </md-button>
    </div>
</div>