<div class="popup-menu">
    <div>
        <md-button ng-click="popupData.data.selectSubtotalType(popupData.data.column, 2)"
                   class="popup-menu-item">
            <span class="material-icons" data-ng-show="popupData.data.checkSubtotalFormula(popupData.data.column, 2)">done</span>
            <span class="material-icons" style="visibility: hidden;" data-ng-show="!popupData.data.checkSubtotalFormula(popupData.data.column, 2)">done</span>
<!--            <ng-md-icon icon="done"
                        data-ng-show="!popupData.data.checkSubtotalFormula(popupData.data.column, 2)"
                        class="z-menu-icon"
                        style="visibility: hidden;"></ng-md-icon>
            <ng-md-icon icon="done"
                        data-ng-show="popupData.data.checkSubtotalFormula(popupData.data.column, 2)"
                        class="z-menu-icon"></ng-md-icon>-->
            <span>Market Value</span>
        </md-button>
    </div>

    <div>
        <md-button ng-click="popupData.data.selectSubtotalType(popupData.data.column, 3)"
                   class="popup-menu-item">
            <span class="material-icons" data-ng-show="popupData.data.checkSubtotalFormula(popupData.data.column, 3)">done</span>
            <span class="material-icons" style="visibility: hidden;" data-ng-show="!popupData.data.checkSubtotalFormula(popupData.data.column, 3)">done</span>
<!--            <ng-md-icon icon="done"
                        data-ng-show="!popupData.data.checkSubtotalFormula(popupData.data.column, 3)"
                        class="z-menu-icon"
                        style="visibility: hidden;"></ng-md-icon>
            <ng-md-icon icon="done"
                        data-ng-show="popupData.data.checkSubtotalFormula(popupData.data.column, 3)"
                        class="z-menu-icon"></ng-md-icon>-->
            <span>Market Value %</span>
        </md-button>
    </div>

    <div>
        <md-button ng-click="popupData.data.selectSubtotalType(popupData.data.column, 4)"
                   class="popup-menu-item">
            <span class="material-icons" data-ng-show="popupData.data.checkSubtotalFormula(popupData.data.column, 4)">done</span>
            <span class="material-icons" style="visibility: hidden;" data-ng-show="!popupData.data.checkSubtotalFormula(popupData.data.column, 4)">done</span>
<!--            <ng-md-icon icon="done"
                        data-ng-show="!popupData.data.checkSubtotalFormula(popupData.data.column, 4)"
                        class="z-menu-icon"
                        style="visibility: hidden;"></ng-md-icon>
            <ng-md-icon icon="done"
                        data-ng-show="popupData.data.checkSubtotalFormula(popupData.data.column, 4)"
                        class="z-menu-icon"></ng-md-icon>-->
            <span>Exposure</span>
        </md-button>
    </div>

    <div>
        <md-button ng-click="popupData.data.selectSubtotalType(popupData.data.column, 5)"
                   class="popup-menu-item">
            <span class="material-icons" data-ng-show="popupData.data.checkSubtotalFormula(popupData.data.column, 5)">done</span>
            <span class="material-icons" style="visibility: hidden;" data-ng-show="!popupData.data.checkSubtotalFormula(popupData.data.column, 5)">done</span>
<!--            <ng-md-icon icon="done"
                        data-ng-show="!popupData.data.checkSubtotalFormula(popupData.data.column, 5)"
                        class="z-menu-icon"
                        style="visibility: hidden;"></ng-md-icon>
            <ng-md-icon icon="done"
                        data-ng-show="popupData.data.checkSubtotalFormula(popupData.data.column, 5)"
                        class="z-menu-icon"></ng-md-icon>-->
            <span>Exposure %</span>
        </md-button>
    </div>
</div>