<div class="popup-menu">
    <div>
        <md-button ng-click="popupData.data.activateColumnNumberRenderingPreset(popupData.data.column, 'price')"
                   class="popup-menu-item">
            <ng-md-icon icon="visibility_off"
                        style="visibility: hidden;"></ng-md-icon>
            <span>Price (0)</span>
        </md-button>
    </div>

    <div>
        <md-button ng-click="popupData.data.activateColumnNumberRenderingPreset(popupData.data.column, 'market_value')"
                   class="popup-menu-item">
            <ng-md-icon icon="visibility_off"
                        style="visibility: hidden;"></ng-md-icon>
            <span>Market Value (000'000)</span>
        </md-button>
    </div>

    <div>
        <md-button class="popup-menu-item"
                   ng-click="popupData.data.activateColumnNumberRenderingPreset(popupData.data.column, 'amount')">
            <ng-md-icon icon="visibility_off"
                        style="visibility: hidden;"></ng-md-icon>
            <span>Amount (000'000.00)</span>
        </md-button>
    </div>

    <div>
        <md-button class="popup-menu-item"
                   ng-click="popupData.data.activateColumnNumberRenderingPreset(popupData.data.column, 'exposure')">
            <ng-md-icon icon="visibility_off"
                        style="visibility: hidden;"></ng-md-icon>
            <span>Exposure (0.0%)</span>
        </md-button>
    </div>

    <div>
        <md-button class="popup-menu-item"
                   ng-click="popupData.data.activateColumnNumberRenderingPreset(popupData.data.column, 'return')">
            <ng-md-icon icon="visibility_off"
                        style="visibility: hidden;"></ng-md-icon>
            <span>Return (0.00%)</span>
        </md-button>
    </div>

    <div>
        <md-button class="popup-menu-item"
                   ng-click="popupData.data.openColumnNumbersRenderingSettings(popupData.data.column, $event)">
            <ng-md-icon icon="visibility_off"
                        style="visibility: hidden;"></ng-md-icon>
            <span>Custom</span>
        </md-button>
    </div>

</div>