<div class="popup-menu">

    <div ng-if="popupData.data.column.groups"
         ng-include="'views/popups/entity-viewer/g-rv-group-settings-menu-options.html'"></div>

    <div>
            <md-button ng-click="popupData.data.renameColumn(popupData.data.column, $mdMenu, $event)"
                       class="popup-menu-item">
                <ng-md-icon icon="visibility_off"
                            style="visibility: hidden;"></ng-md-icon>
                <span>Rename</span>
            </md-button>
        </div>

    <div data-ng-if="!popupData.data.columnHasCorrespondingGroup(popupData.data.column.key)">
        <md-button data-ng-click="popupData.data.addColumnEntityToGrouping(popupData.data.column)"
                   class="popup-menu-item">
            <ng-md-icon icon="visibility_off"
                        style="visibility: hidden;"></ng-md-icon>
            <span>Add to grouping</span>
        </md-button>
    </div>

    <div>
        <md-button data-ng-disabled="!popupData.data.checkForFilteringBySameAttr(popupData.data.column.key)"
                   data-ng-click="popupData.data.addFiltersWithColAttr(popupData.data.column)"
                   class="popup-menu-item">
            <ng-md-icon icon="visibility_off"
                        style="visibility: hidden;"></ng-md-icon>
            <span>Add to Filters</span>
        </md-button>
    </div>

    <div>
        <md-button ng-click="popupData.data.resizeColumn(popupData.data.column, $mdMenu, $event)"
                   class="popup-menu-item">
            <ng-md-icon icon="visibility_off"
                        style="visibility: hidden;"></ng-md-icon>
            <span>Resize</span>
        </md-button>
    </div>

    <div data-ng-if="!popupData.data.isReport || !popupData.data.columnHasCorrespondingGroup(popupData.data.column.key);">

        <md-button aria-label="Open phone interactions menu"
                   class="popup-menu-item"
                   popup
                   popup-template-url="'views/popups/entity-viewer/g-report-viewer-text-aligning-popup-menu.html'"
                   open-on="mouse_over"
                   close-on-click-outside="true"
                   close-on-mouse-leave="true"
                   prevent-default="'true'"
                   on-save-callback=""
                   popup-data="popupData"
                   position-relative-to="element"
                   relative-popup-x="right"
                   relative-popup-y="top"
                   backdrop-classes="'low-z-index-backdrop'"
                   popup-event-service="popupEventService">
            <ng-md-icon icon="done"
                        class="z-menu-icon"
                        style="visibility: hidden;"></ng-md-icon>
            <span>Text aligning</span>
            <ng-md-icon icon="arrow_drop_up"
                        class="z-dropdown-icon"></ng-md-icon>
        </md-button>

    </div>

    <div data-ng-if="popupData.data.isReport && popupData.data.columnHasCorrespondingGroup(popupData.data.column.key)">
        <md-button data-ng-click="popupData.data.removeGroup(popupData.data.column.___column_id || popupData.data.column.___group_type_id)"
                   class="popup-menu-item">
            <ng-md-icon icon="visibility_off"></ng-md-icon>
            <span>Remove</span>
        </md-button>
    </div>

    <div data-ng-if="!popupData.data.isReport || !popupData.data.columnHasCorrespondingGroup(popupData.data.column.key)">
        <md-button ng-click="popupData.data.removeColumn(popupData.data.column)"
                   class="popup-menu-item">
            <ng-md-icon icon="visibility_off"></ng-md-icon>
            <span>Remove</span>
        </md-button>
    </div>
</div>