<div class="popup-menu">
    <div>
        <md-button ng-click="popupData.data.selectSubtotalType(popupData.data.item, 6)"
                   class="popup-menu-item">
            <span class="material-icons" data-ng-show="popupData.data.checkSubtotalFormula(popupData.data.item, 6)">done</span>
            <span class="material-icons" style="visibility: hidden;" data-ng-show="!popupData.data.checkSubtotalFormula(popupData.data.item, 6)">done</span>
<!--            <ng-md-icon icon="done"
                        data-ng-show="!popupData.data.checkSubtotalFormula(popupData.data.item, 6)"
                        class="z-menu-icon"
                        style="visibility: hidden;"></ng-md-icon>
            <ng-md-icon icon="done"
                        data-ng-show="popupData.data.checkSubtotalFormula(popupData.data.item, 6)"
                        class="z-menu-icon"></ng-md-icon>-->
            <span>Market Value</span>
        </md-button>
    </div>
    <div>
        <md-button ng-click="popupData.data.selectSubtotalType(popupData.data.item, 7)"
                   class="popup-menu-item">
            <span class="material-icons" data-ng-show="popupData.data.checkSubtotalFormula(popupData.data.item, 7)">done</span>
            <span class="material-icons" style="visibility: hidden;" data-ng-show="!popupData.data.checkSubtotalFormula(popupData.data.item, 7)">done</span>
<!--            <ng-md-icon icon="done"
                        data-ng-show="!popupData.data.checkSubtotalFormula(popupData.data.item, 7)"
                        class="z-menu-icon"
                        style="visibility: hidden;"></ng-md-icon>
            <ng-md-icon icon="done"
                        data-ng-show="popupData.data.checkSubtotalFormula(popupData.data.item, 7)"
                        class="z-menu-icon"></ng-md-icon>-->
            <span>Market Value %</span>
        </md-button>
    </div>
    <div>
        <md-button ng-click="popupData.data.selectSubtotalType(popupData.data.item, 8)"
                   class="popup-menu-item">
            <span class="material-icons" data-ng-show="popupData.data.checkSubtotalFormula(popupData.data.item, 8)">done</span>
            <span class="material-icons" style="visibility: hidden;" data-ng-show="!popupData.data.checkSubtotalFormula(popupData.data.item, 8)">done</span>
<!--            <ng-md-icon icon="done"
                        data-ng-show="!popupData.data.checkSubtotalFormula(popupData.data.item, 8)"
                        class="z-menu-icon"
                        style="visibility: hidden;"></ng-md-icon>
            <ng-md-icon icon="done"
                        data-ng-show="popupData.data.checkSubtotalFormula(popupData.data.item, 8)"
                        class="z-menu-icon"></ng-md-icon>-->
            <span>Exposure</span>
        </md-button>
    </div>
    <div>
        <md-button ng-click="popupData.data.selectSubtotalType(popupData.data.item, 9)"
                   class="popup-menu-item">
            <span class="material-icons" data-ng-show="popupData.data.checkSubtotalFormula(popupData.data.item, 9)">done</span>
            <span class="material-icons" style="visibility: hidden;" data-ng-show="!popupData.data.checkSubtotalFormula(popupData.data.item, 9)">done</span>
<!--            <ng-md-icon icon="done"
                        data-ng-show="!popupData.data.checkSubtotalFormula(popupData.data.item, 9)"
                        class="z-menu-icon"
                        style="visibility: hidden;"></ng-md-icon>
            <ng-md-icon icon="done"
                        data-ng-show="popupData.data.checkSubtotalFormula(popupData.data.item, 9)"
                        class="z-menu-icon"></ng-md-icon>-->
            <span>Exposure %</span>
        </md-button>
    </div>
</div>