<md-dialog aria-label="" ng-cloak class="forum-send-message-dialog draggable-dialog" drag-dialog>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Write a message</h2>
			<span flex></span>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div layout="column">
			<div data-ng-if="vm.isQuotation">
				<div layout="row" layout-align="start center" style="margin-bottom: 10px">
					<h4 class="author-username" data-ng-bind="vm.quotation.sender_object.username"></h4>
					<p class="thread-message-create-data" data-ng-bind="vm.quotation.created | date:'HH:mm dd/MM/yyyy'"></p>
				</div>
				<div layout="row">
					<p class="thread-message-text" data-ng-bind-html="vm.quotation.text | trustAsHtml"></p>
				</div>
			</div>
			<md-input-container flex="100" style="margin-bottom: 0">
				<label>Message</label>
				<!-- <div data-ng-model="vm.message" contenteditable="true" cols="30" rows="10" data-ng-bind-html="vm.message | trustAsHtml" data-ng-change="vm.alertMessage()"></div> -->
				<textarea data-ng-model="vm.message" contenteditable="true" cols="30" rows="10">
				</textarea>
			</md-input-container>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button class="md-raised" ng-click="vm.cancel()">
			Cancel
		</md-button>
		<md-button class="md-raised md-primary" ng-click="vm.agree()" style="margin-right:20px;">
			Send
		</md-button>
	</md-dialog-actions>
</md-dialog>