<div>
	<md-content class="forum-content-padding">
		<h2>Thread group: <span data-ng-bind="vm.threadGroupName"></span></h2>
		<h3 class="forum-section-header">Threads list</h3>
		<div layout="row">
			<div layout="row" flex="50">
				<md-button ui-sref="app.forum.thread-groups" class="md-raised forum-back-btn" data-ng-click="vm.forumGoBackBtn()">Back</md-button>
			</div>
			<div layout="row" layout-align="end center" flex="50">
				<md-button class="md-raised md-primary" data-ng-click="vm.createThredsList($event)">Create thread</md-button>
			</div>
		</div>
		<div data-ng-if="vm.readyStatus.content">
			<md-card class="thread-forum-list-item" class="md-3-line" ng-repeat="item in vm.threads"
			>
				<a data-ui-sref="app.forum.thread({groupId: vm.threadGroupId, threadId: item.id})">
					<span data-ng-bind="item.subject"></span>
				</a>
				<md-divider></md-divider>
				<md-button class="forum-edit-thread" data-ng-click="vm.editThreadDialog('$event', item.id, item.subject)">
					<ng-md-icon icon="mode_edit" style="fill:#000000;"></ng-md-icon>
				</md-button>
			</md-card>
		</div>
		<div data-ng-if="!vm.readyStatus.content">
			<div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
				<md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
			</div>
		</div>
		<div layout="row">
			<div layout="row" flex="50">
				<md-button ui-sref="app.forum.thread-groups" class="md-raised forum-back-btn" data-ng-click="vm.forumGoBackBtn()">Back</md-button>
			</div>
			<div layout="row" layout-align="end center" flex="50">
				<md-button class="md-raised md-primary" data-ng-click="vm.createThredsList($event)">Create thread</md-button>
			</div>
		</div>
	</md-content>
</div>