<md-dialog aria-label="" ng-cloak class="thread-list-dialog-view draggable-dialog" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Enter threads list title</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content data-custom-scroll class="custom-scrollbar">
        <md-input-container style="margin-bottom: 0">
            <label>Title</label>
            <textarea data-ng-model="vm.listTitle" cols="30" rows="10"></textarea>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="vm.cancel()">
            Cancel
        </md-button>
        <md-button class="md-raised md-primary" ng-click="vm.agree()" style="margin-right:20px;">
            Create
        </md-button>
    </md-dialog-actions>
</md-dialog>