<div>
	<md-content class="forum-content-padding">
		<h2 class="forum-section-header list">Thread groups list</h2>
		<div layout="row" layout-align="end center">
			<md-button class="md-raised md-primary" data-ng-click="vm.createThredsGroup($event)">Create thread group</md-button>
		</div>
		<div data-ng-if="vm.readyStatus.content">

				<md-card class="group-forum-list-item" class="md-3-line" ng-repeat="item in vm.threadGroups"
				>
					<a href=""  data-ui-sref="app.forum.threads-list({groupId: item.id})">
						<span data-ng-bind="item.name"></span>
					</a>
				</md-card>


		</div>
		<div data-ng-if="!vm.readyStatus.content">
			<div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
				<md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
			</div>
		</div>
		<div layout="row" layout-align="end center">
			<md-button class="md-raised md-primary" data-ng-click="vm.createThredsGroup($event)">Create thread group</md-button>
		</div>
	</md-content>
</div>