<div>
	<md-content class="forum-content-padding">
		<h2 class="forum-section-header list">Thread groups list</h2>
		<div layout="row">
			<div layout="row" flex="50">
				<md-input-container class="forum-filter-by-tags">
					<label>Filter by tags</label>
					<md-select aria-label="" data-ng-model="vm.filterTags" multiple="true">
						<md-option data-ng-repeat="tag in vm.tags" ng-value="tag.id">{{tag.display_name}}</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div layout="row" layout-align="end center" flex="50">
				<md-button aria-label="" class="md-raised md-primary" data-ng-click="vm.createThredsGroup($event)">Create thread group</md-button>
			</div>
		</div>
		<div data-ng-if="vm.readyStatus.content">
			<md-card class="group-forum-list-item" class="md-3-line" ng-repeat="item in vm.threadGroups | forumFilterByTags : vm.filterTags"
			>
				<a href=""  data-ui-sref="app.forum.threads-list({groupId: item.id})">
					<span data-ng-bind="item.name"></span>
				</a>
				<div class="forum-manage-buttons">
					<md-button aria-label="" class="forum-manage-btn" data-ng-click="vm.editThreadsGroupsDialog('$event', item.id)">
						<ng-md-icon icon="mode_edit" size="20"></ng-md-icon>
					</md-button>
					<md-button class="forum-manage-btn" data-ng-click="vm.deleteThreadsGroup(item.id)">
						<ng-md-icon icon="clear" size="20"></ng-md-icon>
					</md-button>
				</div>
			</md-card>
		</div>
		<div data-ng-if="!vm.readyStatus.content">
			<div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
				<md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
			</div>
		</div>
		<div layout="row" layout-align="end center">
			<md-button aria-label="" class="md-raised md-primary" data-ng-click="vm.createThredsGroup($event)">Create thread group</md-button>
		</div>
	</md-content>
</div>