<div data-ng-controller="InstrumentTypeEventSchedulesTabController as vm">

    <div class="instrument-type-accruals-tab-view" data-ng-if="vm.readyStatus.gridTable">
        <v-accordion class="vAccordion--default" multiple>

            <v-pane data-ng-repeat="item in vm.entity.events track by $index" expanded="item.isPaneExpanded">
                <v-pane-header class="transaction-type-action-pane">
                    <div layout="row"
                         layout-align="space-between center" data-ng-click="vm.toggleItem($pane, item, $event)">
                        <div layout="row"
                             class="ttype-action-info-container"
                             layout-align="start center">

                            <span class="text-weight-bold"># {{$index + 1}}</span>

                            <span ng-if="item.isPaneExpanded">
                                <md-input-container class="no-error-spacer" style="min-height: 35px">
                                    <label></label>
                                    <input type="text"
                                           ng-model="item.name"
                                           class="ttype-action-notes-input text-weight-bold"
                                           placeholder="name">
                                </md-input-container>
                            </span>
                            <span class="text-weight-bold" ng-if="!item.isPaneExpanded"
                                  ng-bind="item.name"></span>
                        </div>

                        <div class="accrual-autogenerate">
                            <label for="accrual_autogenerate"
                                   aria-hidden="true" tabindex="-1">
                                Autogenerate
                            </label>
                            <md-checkbox ng-model="item.autogenerate" id="accrual_autogenerate">
                            </md-checkbox>

                        </div>

                        <div layout="row">
                            <md-button class="md-raised"
                                       style="background: #ffeee8;"
                                       data-ng-click="vm.deletePane(item, $index, $event)">Delete
                            </md-button>
                            <md-button class="md-raised"
                                       data-ng-click="vm.makeCopyOfAction(item, $index, $event)">Make copy
                            </md-button>
                            <md-button class="md-raised" ng-disabled="$index == 0"
                                       data-ng-click="vm.moveUp(item, $index, $event)">Move up
                            </md-button>
                            <md-button class="md-raised" ng-disabled="$index == vm.entity.events.length - 1"
                                       data-ng-click="vm.moveDown(item, $index, $event)">Move Down
                            </md-button>
                            <md-button class="md-raised" data-ng-click="vm.toggleItem($pane, item, $event)">
                                <span data-ng-if="item.isPaneExpanded">Collapse</span>
                                <span data-ng-if="!item.isPaneExpanded">Expand</span>
                            </md-button>
                        </div>
                    </div>

                </v-pane-header>

                <v-pane-content class="transaction-type-actions-fields" style="padding: 10px;">

                    <div style="width: 300px">
                        <text-input label="Message on the form"
                                    placeholder-text="Message on the form"
                                    model="item.data.form_message"
                        ></text-input>
                    </div>

                    <div layout="row">

                        <dropdown-select class="p-r-8" label="Event class"
                                         model="item.event_class"
                                         placeholder-text="Event class"
                                         menu-options="vm.eventClasses"
                                         small-options="{tooltipText: 'Event class'}"
                                         style="width: 50%">
                        </dropdown-select>

                    </div>

                    <grid-table data-gt-data-service="item.eventsGridTableDataService"
                                data-gt-event-service="item.eventsGridTableEventService"></grid-table>

                    <div>
                        Actions
                    </div>

                    <grid-table data-gt-data-service="item.eventActionsGridTableDataService"
                                data-gt-event-service="item.eventActionsGridTableEventService"></grid-table>

                </v-pane-content>

            </v-pane>

        </v-accordion>

        <div class="transaction-type-operations-block">

            <div layout="row" layout-align="end center">
                <md-button class="md-raised" data-ng-click="vm.createInstrumentTypeEvent()">
                    Create Event
                </md-button>
            </div>

        </div>

    </div>

</div>