<div data-ng-controller="InstrumentTypePricingTabController as vm">

    <div class="flex-column">

        <div class="flex-row m-b-13">

            <div class="p-r-8" style="width: 306px">
                <dropdown-select label="Pricing Currency"
                                 model="vm.entity.pricing_currency"
                                 placeholder-text="Pricing Currency"
                                 menu-options="vm.currencies"
                                 small-options="{tooltipText: 'Pricing Currency'}"
                                 on-change-callback="vm.onEntityChange()">
                </dropdown-select>
            </div>

            <!--                on-change-callback="vm.entityChange()"-->
            <!--                <dropdown-select class="p-r-8" label="Co-directional exposure currency"
                                             model="vm.entity.co_directional_exposure_currency"
                                             placeholder-text="Co-directional exposure currency"
                                             menu-options="vm.currencies"
                                             small-options="{tooltipText: 'Co-directional exposure currency'}"
                                             style="width: 200px;">
                            </dropdown-select>

                            <dropdown-select class="p-r-8" label="Counter-directional exposure currency"
                                             model="vm.entity.counter_directional_exposure_currency"
                                             placeholder-text="Counter-directional exposure currency"
                                             menu-options="vm.currencies"
                                             small-options="{tooltipText: 'Counter-directional exposure currency'}"
                                             style="width: 200px;">
                            </dropdown-select>-->

            <div class="p-r-8" style="width: 148px;">
                <number-input label="Pricing Multiplier"
                              model="vm.entity.price_multiplier"
                              small-options="{tooltipText: 'Pricing Multiplier'}">
                </number-input>
            </div>

            <div class="p-r-8" style="width: 148px;">
                <number-input label="Default Price"
                              model="vm.entity.default_price"
                              small-options="{tooltipText: 'Default Price'}">
                </number-input>
            </div>

            <div class="p-r-8" style="width: 306px;">
                <dropdown-select label="Pricing Condition"
                                 model="vm.entity.pricing_condition"
                                 placeholder-text="Pricing Condition"
                                 menu-options="vm.pricingConditions"
                                 small-options="{tooltipText: 'Pricing Condition'}">
                </dropdown-select>
            </div>

        </div>

        <div class="flex-row m-b-13">

            <div class="p-r-8" style="width: 306px;">
                <text-input model="vm.entity.reference_for_pricing"
                            label="ID for Price Downloading"
                            placeholder-text="ID for Price Downloading">
                </text-input>
            </div>
            <div class="p-r-8" style="width: 306px;">
                <md-button class="md-raised md-primary" data-ng-if="vm.entity.id"
                           data-ng-click="vm.runPricingInstrument($event)">Run Pricing
                </md-button>
            </div>

        </div>

    </div>

    <div>

        <table >

            <thead>
            <tr>
                <th>Pricing Policy</th>
                <th>Pricing Module</th>
                <th>Configure</th>
            </tr>
            </thead>

            <tr data-ng-repeat="item in vm.entity.pricing_policies">

                <td>
                    <div data-ng-if="!vm.pricingPolicies?.length">
                        <div class="overlay-loader" layout="row" layout-sm="column" layout-align="space-around">
                            <progress-circular diameter="50"></progress-circular>
                        </div>
                    </div>
                    <dropdown-select
                            class="pricing-policy"
                            label="Pricing Policy"
                            model="item.pricing_policy_id"
                            placeholder-text="Pricing Policy"
                            menu-options="vm.pricingPolicies"
                            small-options="{tooltipText: 'Pricing Policy'}"
                            style="width: 306px; margin-top: 24px">
                    </dropdown-select>
                </td>

                <td>
                    <dropdown-select
                            class="pricing-policy"
                            label="Pricing Module"
                            model="item.target_pricing_schema_user_code"
                            placeholder-text="Pricing Module"
                            menu-options="vm.pricingModules"
                            small-options="{tooltipText: 'Pricing Module'}"
                            style="width: 306px">
                    </dropdown-select>
                </td>

                <td>
                    <md-button data-ng-if="item.target_pricing_schema_user_code" class="outline-button m-t-20" data-ng-click="vm.configurePricingModule($event, item)">Configure</md-button>
                </td>

                <td>
                    <md-button class="outline-button m-t-20" data-ng-click="vm.removePricingPolicy(item)">&times;</md-button>
                </td>

            </tr>

        </table>

        <md-button class="md-primary md-raised" data-ng-click="vm.addPricingPolicy($event)">Add Pricing Policy</md-button>

        </div>


</div>