<div data-ng-if="vm.readyStatus.permissions">

    <h3>Group permissions</h3>

    <div>
        <div layout="column">
            <div layout="row" layout-align="space-between center"
                 class="permissions-table-header">
                <div>
                    <div class="permissions-columns">Group name
                    </div>
                </div>
                <div layout="row"
                     class="permissions-checkbox-holder"
                     flex="30"
                     layout-align="space-between center">
                    <div class="permissions-columns" flex="33">
                        Delegate
                        <ng-md-icon class="tooltip-inline-block"
                                    icon="info"
                                    size="20"
                                    style="fill: #777777">
                            <md-tooltip class="tooltip_2"
                                        md-direction="top">
                                tooltip
                                text
                            </md-tooltip>
                        </ng-md-icon>
                    </div>
                    <div class="permissions-columns" flex="33">
                        Write
                        <ng-md-icon class="tooltip-inline-block"
                                    icon="info"
                                    size="20"
                                    style="fill: #777777">
                            <md-tooltip class="tooltip_2"
                                        md-direction="top">
                                tooltip
                                text
                            </md-tooltip>
                        </ng-md-icon>
                    </div>
                    <div class="permissions-columns" flex="33">
                        Read
                        <ng-md-icon class="tooltip-inline-block"
                                    icon="info"
                                    size="20"
                                    style="fill: #777777">
                            <md-tooltip class="tooltip_2"
                                        md-direction="top">
                                tooltip
                                text
                            </md-tooltip>
                        </ng-md-icon>
                    </div>

                </div>
            </div>
            <md-divider></md-divider>
        </div>
        <div data-ng-repeat="group in vm.groups" layout="column">
            <div layout="row" layout-align="space-between center"
                 class="permissions-table-row">
                <div>
                    <p> {{ group.name }} </p>
                </div>
                <div layout="row"
                     class="permissions-checkbox-holder"
                     flex="30"
                     layout-align="space-between center">
                    <div flex="33" layout="center center">
                        <md-checkbox class="md-secondary"
                                     data-ng-class="{'disabled-btn': !group.objectPermissions.manage  && !vm.currentMember.is_admin && !vm.currentMember.is_owner}"
                                     ng-model="group.objectPermissions.manage"></md-checkbox>
                    </div>
                    <div flex="33" layout="center center">
                        <md-checkbox class="md-secondary"
                                     data-ng-class="{'disabled-btn': !group.objectPermissions.manage  && !vm.currentMember.is_admin && !vm.currentMember.is_owner}"
                                     ng-model="group.objectPermissions.change"></md-checkbox>
                    </div>
                    <div flex="33" layout="center center">
                        <md-checkbox class="md-secondary"
                                     data-ng-class="{'disabled-btn': !group.objectPermissions.manage  && !vm.currentMember.is_admin && !vm.currentMember.is_owner}"
                                     ng-model="group.objectPermissions.view"></md-checkbox>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
        </div>
    </div>

</div>

<div data-ng-if="!vm.readyStatus.permissions">
    <div layout="row" layout-sm="column" layout-align="space-around"
         class="m-large">
        <!--<md-progress-circular md-mode="indeterminate"-->
        <!--md-diameter="96"></md-progress-circular>-->
        <progress-circular diameter="100"></progress-circular>
    </div>
</div>