<div class="p-24">

    <div data-ng-if="vm.readyStatus.content">

        <table>

            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Unique Code
                </th>

                <th>Unique Key</th>
                <th></th>
            </tr>
            </thead>

            <tbody>

            <tr data-ng-repeat="item in vm.items track by $index">

                <td>
                    {{item.name}}
                </td>

                <td>
                    {{item.user_code}}
                </td>

                <td>
                    {{item.unique_key}}
                </td>

                <td>
                    <md-button class="" data-ng-click="vm.deleteItem($event, item, $index)">Delete
                    </md-button>
                </td>


            </tr>

            </tbody>

        </table>

    </div>

    <div data-ng-if="!vm.readyStatus.content">
        <div class="m-16" layout="row" layout-sm="column" layout-align="space-around">
            <progress-circular diameter="100"></progress-circular>
        </div>
    </div>

</div>