<div class="data-stats-page p-24">

    <h1>Finmars Data Fullness</h1>

    <div data-ng-if="vm.readyStatus.content">

        <div class="data-stats-section">
            <div layout="row" class="data-stats-section-header">General
                <md-button class="md-raised" data-ng-click="vm.showGeneralSection = !vm.showGeneralSection">Toggle
                </md-button>
                <div class="data-stats-section-progress-item" layout="row">
                    <div>
                        Filled for
                        {{vm.stats.general.filled_percent}}%
                    </div>
                    <md-progress-linear md-mode="determinate"
                                        value="{{vm.stats.general.filled_percent}}"></md-progress-linear>

                </div>
            </div>

            <div data-ng-show="vm.showGeneralSection" class="data-stats-section-content">

                <div class="data-stats-section-content-item">
                    Total Complex Transactions: <b>{{vm.stats.general.total_complex_transactions}}</b>
                </div>
                <div class="data-stats-section-content-item">
                    Total Transactions: <b>{{vm.stats.general.total_base_transactions}}</b>
                </div>

                <div class="data-stats-section-content-item">
                    First Transaction Date: <b>{{vm.stats.general.first_transaction_date}}</b>
                </div>

                <hr>

                <div class="data-stats-section-content-item">
                    Total Instruments: <b>{{vm.stats.general.total_instruments}}</b>
                </div>

                <div class="data-stats-section-content-item">
                    Total Currencies: <b>{{vm.stats.general.total_currencies}}</b>
                </div>

                <div class="data-stats-section-content-item">
                    Total Pricing Policies: <b>{{vm.stats.general.total_pricing_policies}}</b>
                </div>

                <hr>

                <div class="data-stats-section-content-item">
                    Total Portfolios: <b>{{vm.stats.general.total_portfolios}}</b>
                </div>

                <div class="data-stats-section-content-item">
                    Total Accounts: <b>{{vm.stats.general.total_accounts}}</b>
                </div>

                <hr>

                <div class="data-stats-section-content-item">
                    Days to Fill: <b>{{vm.stats.general.days_from_first_transaction}}</b>
                </div>

                <div class="data-stats-section-content-item">
                    Business Days to Fill: <b>{{vm.stats.general.bdays_from_first_transaction}}</b>
                </div>

            </div>
        </div>

        <div class="data-stats-section">
            <div layout="row" class="data-stats-section-header">Price History Section
                <md-button class="md-raised" data-ng-click="vm.showPriceHistorySection = !vm.showPriceHistorySection">
                    Toggle
                </md-button>
                <div class="data-stats-section-progress-item" layout="row">
                    <div>
                        Filled for
                        {{vm.stats.price_history.filled_percent}}%
                    </div>
                    <md-progress-linear md-mode="determinate"
                                        value="{{vm.stats.price_history.filled_percent}}"></md-progress-linear>

                </div>
            </div>

            <div data-ng-show="vm.showPriceHistorySection" class="data-stats-section-content">

                <div class="data-stats-section-content-item">
                    Total Instruments: <b>{{vm.stats.price_history.total_instruments}}</b>
                </div>
                <div class="data-stats-section-content-item">
                    Total Pricing Policies: <b>{{vm.stats.price_history.total_pricing_policies}}</b>
                </div>
                <div class="data-stats-section-content-item">
                    Total Prices: <b>{{vm.stats.price_history.total_prices}}</b>
                </div>
                <div class="data-stats-section-content-item">
                    Expecting Prices: <b>{{vm.stats.price_history.expecting_total_prices}}</b>
                </div>
                <div class="data-stats-section-content-item">
                    Expecting Business Days Prices: <b>{{vm.stats.price_history.expecting_total_bdays_prices}}</b>
                </div>


                <div>

                    <div>
                        Instruments
                        <md-button class="md-raised" data-ng-click="vm.showInstruments = !vm.showInstruments">Toggle
                        </md-button>
                    </div>
                    <div data-ng-show="vm.showInstruments">

                        <div class="m-t-8 m-b-8">

                            <md-input-container style="width: 90%">
                                <label for="">Search</label>
                                <input aria-label="search" type="text" data-ng-model="vm.instrumentQuery">
                            </md-input-container>

                        </div>

                        <div data-ng-repeat="item in vm.stats.price_history.instruments | filter: vm.instrumentQuery"
                             class="data-stats-section-content">

                            <div class="data-stats-section-content-item">Name: <b>{{item.instrument.name}}
                                ({{item.instrument.user_code}})</b></div>
                            <div class="data-stats-section-content-item">Expecting Prices:
                                <b>{{item.expecting_prices}}</b></div>
                            <div class="data-stats-section-content-item">Expecting Business Days Prices:
                                <b>{{item.expecting_bdays_prices}}</b></div>
                            <div class="data-stats-section-content-item">Prices: <b>{{item.prices}}</b></div>
                            <div class="data-stats-section-content-item">Last Date Price:
                                <b>{{item.last_price_date}}</b></div>

                            <div class="data-stats-section-content-item">
                                <div>
                                    Filled for {{item.prices / (item.expecting_bdays_prices / 100)}}%
                                </div>
                                <md-progress-linear md-mode="determinate"
                                                    value="{{item.prices / (item.expecting_bdays_prices / 100)}}"></md-progress-linear>

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>


        <div class="data-stats-section">
            <div layout="row" class="data-stats-section-header">Currency History Section
                <md-button class="md-raised"
                           data-ng-click="vm.showCurrencyHistorySection = !vm.showCurrencyHistorySection">Toggle
                </md-button>
                <div class="data-stats-section-progress-item" layout="row">

                    <div>
                        Filled for {{vm.stats.currency_history.filled_percent}}%
                    </div>
                    <md-progress-linear md-mode="determinate"
                                        value="{{vm.stats.currency_history.filled_percent}}"></md-progress-linear>

                </div>
            </div>

            <div data-ng-show="vm.showCurrencyHistorySection" class="data-stats-section-content">

                <div class="data-stats-section-content-item">
                    Total Currencies: <b>{{vm.stats.currency_history.total_currencies}}</b>
                </div>
                <div class="data-stats-section-content-item">
                    Total Pricing Policies: <b>{{vm.stats.price_history.total_pricing_policies}}</b>
                </div>
                <div class="data-stats-section-content-item">
                    Total FX Rates: <b>{{vm.stats.currency_history.total_fxrates}}</b>
                </div>
                <div class="data-stats-section-content-item">
                    Expecting FX Rates: <b>{{vm.stats.currency_history.expecting_total_fxrates}}</b>
                </div>
                <div class="data-stats-section-content-item">
                    Expecting Business Days FX Rates: <b>{{vm.stats.currency_history.expecting_total_bdays_fxrates}}</b>
                </div>


                <div>

                    <div>
                        Currencies
                        <md-button class="md-raised" data-ng-click="vm.showCurrencies = !vm.showCurrencies">Toggle
                        </md-button>
                    </div>
                    <div data-ng-show="vm.showCurrencies">

                        <div class="m-t-8 m-b-8">

                            <md-input-container style="width: 90%">
                                <label for="">Search</label>
                                <input aria-label="search" type="text" data-ng-model="vm.currencyQuery">
                            </md-input-container>

                        </div>

                        <div data-ng-repeat="item in vm.stats.currency_history.currencies | filter: vm.currencyQuery"
                             class="data-stats-section-content">

                            <div class="data-stats-section-content-item">Name: <b>{{item.currency.name}}
                                ({{item.currency.user_code}})</b></div>
                            <div class="data-stats-section-content-item">Expecting Prices:
                                <b>{{item.expecting_fxrates}}</b></div>
                            <div class="data-stats-section-content-item">Expecting Business Days Prices:
                                <b>{{item.expecting_bdays_fxrates}}</b></div>
                            <div class="data-stats-section-content-item">Prices: <b>{{item.fxrates}}</b></div>
                            <div class="data-stats-section-content-item">Last Date Price:
                                <b>{{item.last_fxrate_date}}</b></div>

                            <div class="data-stats-section-content-item">

                                <div>
                                    Filled for {{item.fxrates / (item.expecting_bdays_fxrates / 100)}}%
                                </div>
                                <md-progress-linear md-mode="determinate"
                                                    value="{{item.fxrates / (item.expecting_bdays_fxrates / 100)}}"></md-progress-linear>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>

        <div class="data-stats-section">
            <div layout="row" class="data-stats-section-header">Nav History
                <md-button class="md-raised" data-ng-click="vm.showNavHistorySection = !vm.showNavHistorySection">
                    Toggle
                </md-button>
                <div class="data-stats-section-progress-item" layout="row">

                    <div>
                        Filled for {{vm.stats.nav_history.filled_percent}}%
                    </div>
                    <md-progress-linear md-mode="determinate"
                                        value="{{vm.stats.nav_history.filled_percent}}"></md-progress-linear>

                </div>
            </div>
            <div data-ng-show="vm.showNavHistorySection" class="data-stats-section-content">

                <div class="data-stats-section-content-item">
                    Total Records: <b>{{vm.stats.nav_history.total_nav_histories}}</b>
                </div>

                <div class="data-stats-section-content-item">
                    Expecting Records: <b>{{vm.stats.nav_history.expecting_histories}}</b>
                </div>

                <div class="data-stats-section-content-item">
                    Expecting Business Days Records: <b>{{vm.stats.nav_history.expecting_bdays_histories}}</b>
                </div>

            </div>
        </div>

        <div class="data-stats-section">
            <div layout="row" class="data-stats-section-header">PL History
                <md-button class="md-raised" data-ng-click="vm.showPlHistorySection = !vm.showPlHistorySection">Toggle
                </md-button>
                <div class="data-stats-section-progress-item" layout="row">

                    <div>
                        Filled for {{vm.stats.pl_history.filled_percent}}%
                    </div>
                    <md-progress-linear md-mode="determinate"
                                        value="{{vm.stats.pl_history.filled_percent}}"></md-progress-linear>

                </div>
            </div>
            <div data-ng-show="vm.showPlHistorySection" class="data-stats-section-content">

                <div class="data-stats-section-content-item">
                    Total Records: <b>{{vm.stats.pl_history.total_pl_histories}}</b>
                </div>

                <div class="data-stats-section-content-item">
                    Expecting Records: <b>{{vm.stats.pl_history.expecting_pl_histories}}</b>
                </div>

                <div class="data-stats-section-content-item">
                    Expecting Business Days Records: <b>{{vm.stats.pl_history.expecting_pl_bdays_histories}}</b>
                </div>

            </div>
        </div>

        <div class="data-stats-section">
            <div layout="row" class="data-stats-section-header">Widget Stats History
                <md-button class="md-raised" data-ng-click="vm.showWidgetStatsSection = !vm.showWidgetStatsSection">
                    Toggle
                </md-button>
                <div class="data-stats-section-progress-item" layout="row">

                    <div>
                        Filled for {{vm.stats.widget_stats_history.filled_percent}}%
                    </div>
                    <md-progress-linear md-mode="determinate"
                                        value="{{vm.stats.widget_stats_history.filled_percent}}"></md-progress-linear>

                </div>
            </div>
            <div data-ng-show="vm.showWidgetStatsSection" class="data-stats-section-content">

                <div class="data-stats-section-content-item">
                    Total Records: <b>{{vm.stats.widget_stats_history.total_widget_stats}}</b>
                </div>

                <div class="data-stats-section-content-item">
                    Expecting Records: <b>{{vm.stats.widget_stats_history.expecting_widget_stats}}</b>
                </div>

                <div class="data-stats-section-content-item">
                    Expecting Business Days Records: <b>{{vm.stats.widget_stats_history.expecting_bdays_widget_stats}}</b>
                </div>

            </div>
        </div>


    </div>

    <div data-ng-if="!vm.readyStatus.content" style="width: 100%">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <progress-circular diameter="100"></progress-circular>
        </div>
    </div>

</div>