<div class="explorer-page">

    <div class="explorer-explorer-section ">

        <div layout="row">
            <h1 style="margin-top: 5px; font-family: 'Roboto Light'; font-size: 20px">Explorer</h1>

            <md-button data-ng-class="{'disabled-btn': vm.processing}"
                       data-ng-click="vm.listFiles()"
                       class="md-raised md-icon-button md-primary explorer-page-refresh-button"><span
                    class="material-icons">refresh</span>
                <md-tooltip md-direction="top">Refresh</md-tooltip>
            </md-button>


        </div>

        <div layout="column">

            <div class="explorer-toolbar" layout="row">

                <md-menu>
                    <md-button class="md-raised" data-ng-click="$mdOpenMenu($event)">
                        Create
                    </md-button>

                    <md-menu-content>
                        <md-menu-item>
                            <md-button class="md-raised" data-ng-click="vm.createFile($event)">Create File</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-raised" data-ng-click="vm.createFolder($event)">Create Folder
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-raised" data-ng-click="vm.uploadFiles($event)">Upload Files</md-button>
                        </md-menu-item>
                    </md-menu-content>

                </md-menu>

                <md-button class="md-raised" data-ng-click="vm.toggleHidden($event)">

                    <span data-ng-if="!vm.showHiddenFiles">Show Invisible Files</span>
                    <span data-ng-if="vm.showHiddenFiles">Hide Invisible Files</span>

                </md-button>

                <div data-ng-if="vm.selectedCount" layout="row" style="align-items: center">
                    Selected: {{vm.selectedCount}}

                    <md-menu>

                        <md-button class="md-raised md-icon-button" data-ng-click="$mdOpenMenu($event)">
                            <span class="material-icons">more_vert</span>
                        </md-button>

                        <md-menu-content>
                            <md-menu-item>
                                <md-button class="md-raised" data-ng-click="vm.downloadZip($event)">Download Selected as
                                    .zip
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button class="md-raised md-warn" data-ng-click="vm.deleteSelected($event)">Delete
                                    Selected
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>

                    </md-menu>

                </div>

                <input type="file" style="display: none" multiple id="explorerFileUploadInput" input-file-directive
                       read-file="vm.fileUploadInput"
                       read-file-change="vm.uploadFileHandler($event)">
            </div>
        </div>

        <hr>

        <div class="explorer-content">

            <div class="explorer-breadcrumbs">

                <div class="explorer-breadcrumbs-item" data-ng-click="vm.breadcrumbsNavigation(-1)">My Finmars</div>

                <span class="explorer-breadcrumbs-item-divider" data-ng-if="vm.currentPath.length">></span>

                <div data-ng-repeat="item in vm.currentPath track by $index">

                    <span data-ng-click="vm.breadcrumbsNavigation($index)"
                          class="explorer-breadcrumbs-item">{{item}}</span>

                    <span class="explorer-breadcrumbs-item-divider"
                          data-ng-if="$index < vm.currentPath.length - 1">></span>

                </div>

                <!--                <div data-ng-if="vm.showEditor">-->

                <!--                    <span class="explorer-breadcrumbs-item-divider">></span>-->
                <!--                    <span class=""-->
                <!--                          style="position: relative; top: 15px; margin-left: 13px;">{{vm.fileEditor.name}}</span>-->

                <!--                </div>-->

            </div>

            <div data-ng-if="!vm.processing" class="height-100">

                <div style="overflow: auto;" class="height-100" data-ng-if="!vm.showEditor">

                    <div>
                        <md-select-header>
                            <input data-ng-model="vm.searchTerm"
                                   type="search"
                                   placeholder="Search for a ..."
                                   class="md-text md-select-search-pattern select-input-filter"

                                   style="
                                    font-size: 12px;
                                    height: 24px;
                                    border: 1px solid #ddd; border-bottom: 0;"
                            >
                        </md-select-header>
                    </div>

                    <table class="explorer-table">

                        <thead>

                        <tr>
                            <th style="width: 10px">
                                <md-checkbox data-ng-click="vm.toggleSelectAll($event)"
                                             data-ng-checked="vm.allSelected"
                                >
                                </md-checkbox>
                            </th>

                            <th>
                                <div layout="row">
                                    <md-button data-ng-click="vm.sortBy('name')">Name</md-button>

                                    <div ng-show="vm.propertyName === 'name'">
                                        <span class="material-icons" ng-show="vm.reverse">arrow_drop_down</span>
                                        <span class="material-icons" ng-show="!vm.reverse">arrow_drop_up</span>
                                    </div>
                                    <div ng-show="vm.propertyName !== 'name'" style="width: 24px;">
                                        &nbsp;
                                    </div>
                                </div>

                            </th>
                            <th>
                                <div layout="row">
                                    <md-button data-ng-click="vm.sortBy('modified')">Date Modified</md-button>
                                    <div ng-show="vm.propertyName === 'modified'">
                                        <span class="material-icons" ng-show="vm.reverse">arrow_drop_down</span>
                                        <span class="material-icons" ng-show="!vm.reverse">arrow_drop_up</span>
                                    </div>
                                    <div ng-show="vm.propertyName !== 'modified'" style="width: 24px;">
                                        &nbsp;
                                    </div>
                                </div>

                            </th>
                            <th>
                                <div layout="row">
                                    <md-button data-ng-click="vm.sortBy('size')">Size</md-button>
                                    <div ng-show="vm.propertyName === 'size'">
                                        <span class="material-icons" ng-show="vm.reverse">arrow_drop_down</span>
                                        <span class="material-icons" ng-show="!vm.reverse">arrow_drop_up</span>
                                    </div>
                                    <div ng-show="vm.propertyName !== 'size'" style="width: 24px;">
                                        &nbsp;
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div layout="row">
                                    <md-button data-ng-click="vm.sortBy('mime_type')">Kind</md-button>
                                    <div ng-show="vm.propertyName === 'mime_type'">
                                        <span class="material-icons" ng-show="vm.reverse">arrow_drop_down</span>
                                        <span class="material-icons" ng-show="!vm.reverse">arrow_drop_up</span>
                                    </div>
                                    <div ng-show="vm.propertyName !== 'mime_type'" style="width: 24px;">
                                        &nbsp;
                                    </div>
                                </div>
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>

                        </thead>

                        <tbody>


                        <tr data-ng-repeat="item in vm.items | filter: {name: vm.searchTerm} | orderBy:vm.propertyName:vm.reverse"
                            class="explorer-{{::item.type}} explorer-item">

                            <td style="width: 10px">
                                <md-checkbox data-ng-click="vm.selectItem($event, item)"
                                             data-ng-checked="item.selected"
                                >
                                </md-checkbox>
                            </td>

                            <td>

                                <div data-ng-if="item.type == 'dir'">

                                    <div
                                            data-ng-click="vm.openFolder($event, item)"
                                            layout="row">
                                        <span class="material-icons"
                                              data-ng-if="item.name !== vm.member.username && item.name !== 'import'">folder</span>
                                        <span class="material-icons"
                                              data-ng-if="item.name === vm.member.username">folder_shared</span>
                                        <span class="material-icons"
                                              data-ng-if="item.name === 'import'">folder_special</span>
                                        <span class="explorer-item-name"
                                              title="{{::item.name}}">{{::item.name}}</span>
                                    </div>


                                </div>

                                <div data-ng-if="item.type == 'file'">

                                    <div
                                            data-ng-click="vm.editFile($event, item)"
                                            layout="row">
                                        <!--                                        <div data-ng-click="$mdMenu.open()" class="explorer-md-menu-trigger"></div>-->
                                        <span class="material-icons">text_snippet</span>
                                        <span class="explorer-item-name" title="{{::item.name}}">{{::item.name}}</span>
                                    </div>

                                </div>

                            </td>

                            <td title="{{::item.modified}}">
                                {{::item.modified | date: 'yyyy-MM-dd HH:mm:ss'}}
                            </td>

                            <td title="{{::item.size}}">
                                {{::item.size_pretty}}
                            </td>

                            <td>
                                {{::item.mime_type}}
                            </td>

                            <td>
                                <md-menu data-ng-if="item.type == 'file'">

                                    <md-button class="md-icon-button explorer-item-menu-button"
                                               data-ng-click="$mdOpenMenu($event)">
                                        <md-icon>more_vert</md-icon>
                                    </md-button>

                                    <md-menu-content>
                                        <md-menu-item>
                                            <md-button class="md-raised" data-ng-click="vm.openInNewTab($event, item)">
                                                Open In New Tab
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button class="md-raised" data-ng-click="vm.copyLink($event, item)">Copy
                                                Link
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button class="md-raised" data-ng-click="vm.copyFilePath($event, item)">
                                                Copy
                                                Explorer File Path
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button class="md-raised" data-ng-click="vm.editFile($event, item)">Edit
                                            </md-button>
                                        </md-menu-item>
                                        <!--                                        <md-menu-item>-->
                                        <!--                                            <md-button class="md-raised" data-ng-click="vm.renameFile($mdMenu, $event, item)">Rename-->
                                        <!--                                            </md-button>-->
                                        <!--                                        </md-menu-item>-->
                                        <md-menu-item>
                                            <md-button class="md-raised" data-ng-click="vm.downloadFile($event, item)">
                                                Download
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>

                                </md-menu>


                            </td>

                        </tr>


                        </tbody>


                    </table>

                </div>


                <div class="explorer-file-edit-section" data-ng-show="vm.showEditor">

                    <div data-ng-show="!vm.fileEditorLoading" class="height-100">

                        <div layout="row" class="explorer-file-edit-section-toolbar" layout-align="space-between">

                            <div layout="row">
                                <md-button class="md-raised" data-ng-click="vm.saveFileEditor($event)" layout="row"
                                           layout-align="center">Save
                                    <div layout="row" layout-sm="column" layout-align="space-around"
                                         style="margin-left: 4px; padding-top: 10px;"
                                         data-ng-if="vm.fileSaveProcessing">
                                        <progress-circular diameter="10"></progress-circular>
                                    </div>
                                </md-button>

                                <md-button class="md-raised" data-ng-click="vm.formatJSON($event)" layout="row"
                                           data-ng-if="vm.fileEditor.name.endsWith('.json')"
                                           layout-align="center">Format JSON
                                </md-button>

                            </div>

                            <div layout="row" layout-align="space-between"
                            >

                                <md-menu>
                                    <md-button class="md-raised" data-ng-click="$mdOpenMenu($event)">
                                        Settings
                                    </md-button>

                                    <md-menu-content>
                                        <md-menu-item>
                                            <md-button class="md-raised" data-ng-click="vm.renameFile($event)">Rename
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button class="md-raised md-warn" data-ng-click="vm.deleteFile($event)">
                                                Delete
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button class="md-raised" data-ng-click="vm.downloadFile($event)">
                                                Download
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>

                                </md-menu>


                            </div>
                        </div>

                        <div
                                class="file-preview-content-wrap">
                            <div class="ace-editor" id="fileEditorAceEditor"></div>
                        </div>

                    </div>

                    <div data-ng-show="vm.fileEditorLoading" class="height-100">

                        <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
                            <progress-circular diameter="100"></progress-circular>
                        </div>

                    </div>

                </div>


            </div>

            <div data-ng-if="vm.processing">

                <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
                    <progress-circular diameter="100"></progress-circular>
                </div>

            </div>

        </div>

    </div>

</div>