<div style="padding: 20px 20px 0">

    <div data-ng-if="vm.readyStatus.content" class="configuration-export-page">

        <h2 class="m-b-35">Configuration Export Manager</h2>

        <div layout="row" class="m-b-24">
            <div data-ng-if="vm.readyStatus.layouts">

                <div data-ng-if="vm.layouts.length" layout="row">
                    <div class="export-configuration-layout-select-container">
                        <md-input-container class="width-80">
                            <label>Layout</label>
                            <md-select data-ng-model="vm.activeLayout" data-ng-change="vm.syncWithLayout()">
                                <md-option data-ng-repeat="layout in vm.layouts" ng-value="layout">
                                    {{ layout.name }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div class="width-30">
                        <md-button class="md-raised" data-ng-click="vm.updateLayout()">Manage Configuration Export Settings
                        </md-button>
                    </div>
                </div>

                <div data-ng-if="!vm.layouts.length">
                    <md-button class="md-raised" data-ng-click="vm.createLayout()">Manage Configuration Export Settings
                    </md-button>
                </div>
            </div>

            <div data-ng-if="!vm.readyStatus.layouts">
                <div layout="row" layout-sm="column" layout-align="space-around" class="">
                    <md-progress-circular md-mode="indeterminate" md-diameter="24"></md-progress-circular>
                </div>
            </div>
        </div>

        <div layout="row">
            <div>
                <md-input-container class="export-configuration-file-name-input">
                    <label>Exported Configuration File Name</label>
                    <input type="text" data-ng-model="vm.filename">
                </md-input-container>
            </div>
        </div>

        <div layout="row" class="m-b-50 m-t-16">
            <div>
                <div><label for="">Notes</label></div>
                <textarea name=""
                          data-ng-model="vm.activeLayout.data.notes"
                          id=""
                          cols="60"
                          rows="5">
                </textarea>
            </div>

            <div>
                <md-button class="md-button md-raised export-configuration-export-btn"
                           ng-click="vm.export()">Export Configuration</md-button>
            </div>
        </div>

        <div>

            <md-checkbox data-ng-checked="vm.selectAllState"
                         data-ng-click="vm.toggleSelectAll()"
                         class="m-b-0"
                         aria-label="checkbox">
            </md-checkbox>

            <b>Select all</b>

        </div>

        <div data-ng-repeat="item in vm.items | orderBy: 'order__'">

            <h1 ng-if="item.first_level_header__"
                ng-bind="item.first_level_header__"
                class="cie-first-level-group-h1"></h1>
            <h2 ng-if="item.first_item__"
                ng-bind="item.first_item__"
                class="cie-entities-group-h2"></h2>

            <div class="cie-entity-holder">
                <md-checkbox data-ng-checked="item.active"
                             data-ng-click="vm.toggleActiveForChilds(item)"
                             data-ng-class="{'some-checkboxes-ticked': item.someChildsActive}"
                             aria-label="checkbox">
                </md-checkbox>
                <span data-ng-bind="vm.getEntityName(item)"
                      data-ng-class="{'used-dynamic-attrs': item.attributeIsUsed__}"></span> <span
                    class="cie-dependency"
                    data-ng-bind="vm.getEntityDependenciesCaptions(item)"></span>
                ({{item.count}})
                <md-button class="md-raised" ng-click="item.displayItems = !item.displayItems"
                           aria-label="checkboxes show hide button">
                    <span data-ng-if="!item.displayItems">Show</span>
                    <span data-ng-if="item.displayItems">Hide</span>
                </md-button>
            </div>


            <div data-ng-show="item.displayItems" class="cie-entity-items-holder">

                <div data-ng-repeat="child in item.content | orderBy: 'order__'">
                    <h4 data-ng-if="child.first_item__" data-ng-bind="child.first_item__"></h4>
                    <md-checkbox data-ng-checked="child.active"
                                 data-ng-click="vm.updateActiveForParent(child, item)"
                                 aria-label="checkbox">
                    </md-checkbox>
                    <span data-ng-class="{'used-dynamic-attrs': child.countOfUsages__ || child.countOfUsages__ === 0, 'child-with-icon': vm.checkForTextIcon(item.entity, child)}">
                        <ng-md-icon data-ng-if="vm.checkForTextIcon(item.entity, child)" icon="folder" fill="#000"
                                    size="20"></ng-md-icon>
                        {{vm.getItemName(child)}}
                        <span data-ng-if="child.countOfUsages__ || child.countOfUsages__ === 0">(<b>{{child.countOfUsages__}}</b>)</span>
                    </span>
                </div>

            </div>

        </div>

    </div>

    <div data-ng-if="!vm.readyStatus.content">
        <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
            <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
        </div>
    </div>

</div>