<!-- 403.html -->
<div class="error-403-container">
    <div class="error-403-content">
        <i class="material-icons error-icon">shield</i>
        <h1>Access Denied (403)</h1>
        <p data-ng-bind-html="errorMessage"></p>

        <p>Please contact your Finmars Security Officer</p>

        <button ng-click="goBack()" class="back-button">Go Back</button>
        <button ng-click="goHome()" class="home-button">Go Home</button>

        <div class="text-center m-t-16" >
            <a ng-click="goProfile()" class="finmars-link">Finmars SCSA</a>
        </div>
    </div>
</div>
