<div class="processes-page p-24">

    <div layout="row">
        <h1>Active Processes</h1>

        <button class="md-raised md-button" style="height: 24px; margin-top: 22px; margin-left: 16px;"
                data-ng-class="{'disabled-btn': !vm.readyStatus.data || vm.autoRefresh}"
                data-ng-click="vm.toggleShowAll()">

            <span data-ng-if="vm.showAll">Show Active</span>
            <span data-ng-if="!vm.showAll">Show All</span>

        </button>

        <button class="md-raised md-button" style="height: 24px; margin-top: 22px; margin-left: 16px;"
                data-ng-class="{'disabled-btn': !vm.readyStatus.data || vm.autoRefresh}"
                data-ng-click="vm.getData()">

            <span>Refresh list</span>

        </button>

        <button class="md-raised md-button" style="height: 24px; margin-top: 22px; margin-left: 16px;"
                data-ng-class="{'disabled-btn': !vm.readyStatus.data || vm.showAll}"
                data-ng-click="vm.autoRefresh = !vm.autoRefresh">

            <span data-ng-if="vm.autoRefresh">Disable Auto Refresh</span>
            <span data-ng-if="!vm.autoRefresh">Enable Auto Refresh</span>

        </button>

    </div>

    <div data-ng-if="vm.readyStatus.data">

        <div data-ng-if="vm.items.length">

            <div layout="row">

                <div class="m-16" style="width: 10%">
                    <b>Start Time</b>
                </div>

                <div class="m-16" style="width: 10%">
                    <b>Member</b>
                </div>

                <div class="m-16" style="width: 400px">
                    <b>Process</b>
                </div>

                <div class="m-16" style="width: 100px">
                    <b>Status</b>
                </div>

                <div class="m-16" style="min-width: 120px">
                    <b>Info</b>
                </div>

                <div class="m-16" style="min-width: 120px">
                    <b>File Report</b>
                </div>

            </div>

            <div data-ng-repeat="item in vm.items" layout="row">

                <div class="m-16" style="width: 10%">
                    {{vm.getStartedAt(item)}}
                </div>

                <div class="m-16" style="width: 10%">
                    {{item.member_object.display_name}}
                </div>

                <div class="m-16" style="width: 400px">
                    {{vm.getProcessName(item)}}
                </div>

                <div class="m-16" style="width: 100px">
                    {{vm.getStatus(item)}}
                </div>

                <div class="m-16" style="min-width: 120px">
                    {{vm.getInfo(item)}}
                </div>

                <div style="min-width: 120px">
                    <a data-ng-if="item.file_report" href="{{vm.getFileUrl(item.file_report)}}" download
                       style="text-decoration: none; color: #000; display: block; margin-top: 15px; padding: 0 20px;">Download</a>
                </div>

                <div>
                    <button class="md-raised md-button" data-ng-click="vm.delete(item)">Delete</button>
                </div>

            </div>

        </div>

        <div data-ng-if="!vm.items.length">
            <h4 class="text-center">No Active Processes</h4>
        </div>

    </div>

    <div data-ng-if="!vm.readyStatus.data" style="width: 100%">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <progress-circular diameter="100"></progress-circular>
        </div>
    </div>


</div>