<div style="padding: 0 20px;" class="mapping-tables-import-export">
    <h2 class="m-b-35">Reference Tables</h2>

    <div data-ng-if="vm.readyStatus.referenceTables">

        <div data-ng-repeat="item in vm.referenceTables">

            <div layout="row">

                <div style="width: 300px;">
                    <div style="font-size: 14px; font-weight: bold">{{item.name}}</div>
                    <div style="font-size: 12px;">User Code: {{item.user_code}}</div>
                </div>

                <button class="md-button md-raised md-primary"
                        data-ng-click="vm.openReferenceTable($event, item)">
                    Edit
                </button>

                <button class="md-button md-raised md-warn" data-ng-click="vm.deleteReferenceTable($event, item)">Delete
                </button>
                <!--                <md-button class="md-button md-raised"-->
                <!--                           data-ng-click="vm.exportReferenceTable($event, item)">-->
                <!--                    Export-->
                <!--                </md-button>-->
                <md-button class="md-button md-raised"
                           data-ng-click="vm.importReferenceTable($event, item)">
                    Import from .csv file
                </md-button>
            </div>

        </div>

        <div>
            <button class="md-button md-raised md-primary" data-ng-click="vm.createReferenceTable($event)">Add New
                Reference Table
            </button>
        </div>

    </div>

</div>