<div class="system-page">

    <h1 style="padding-left: 8px">System Dashboard</h1>

    <div>

        <div layout="column">


            <div data-ng-if="vm.readyStatus.data">

<!--                Deprecated-->
<!--                <md-card style="max-width: 400px;">-->

<!--                    <md-card-content layout="column">-->

<!--                        <h3>Finmars Update Center</h3>-->

<!--                        <div data-ng-if="!vm.currentMasterUser.is_update_available">-->
<!--                            <div class="m-b-16">Your ecosystem is up to date</div>-->

<!--                            <div>-->
<!--                                <div data-ng-repeat="version in vm.versions">-->


<!--                                    <div>{{version.app}}:{{version.version}}-->
<!--                                        <md-tooltip md-direction="top">-->
<!--                                            {{version.notes}}&nbsp;{{version.modified | date: 'yyyy-MM-dd HH:mm'}}-->
<!--                                        </md-tooltip>-->
<!--                                    </div>-->

<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div data-ng-if="vm.currentMasterUser.is_update_available">-->

<!--                            <h2>Current Version</h2>-->

<!--                            <div>-->
<!--                                <div data-ng-repeat="version in vm.versions">-->


<!--                                    <div>{{version.app}}:{{version.version}}-->
<!--                                        <md-tooltip md-direction="top">-->
<!--                                            {{version.notes}}&nbsp;{{version.modified | date: 'yyyy-MM-dd HH:mm'}}-->
<!--                                        </md-tooltip>-->
<!--                                    </div>-->

<!--                                </div>-->
<!--                            </div>-->

<!--                            <md-button class="md-raised md-primary" data-ng-click="vm.updateFinmars()">Update-->

<!--                            </md-button>-->

<!--                        </div>-->

<!--                    </md-card-content>-->

<!--                </md-card>-->

                <md-card layout="column">

                    <md-card-content layout="column">

                        <h3>Space</h3>

                        <div>

                            <p>
                            <div><b>Full</b> - Finmars will track changes of all important objects.</div>
                            <div><b>Disabled</b> - Journal is disabled, changes will not be tracked.</div>
                            </p>

                            <md-input-container style="margin-top: 0;">
                                <label>Journal Status</label>
                                <md-select aria-label="" data-ng-model="vm.master_user.journal_status">
                                    <md-option value="full">Full</md-option>
                                    <md-option value="disabled">Disabled</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div>

                            <p>
                            <div><b>Week</b> - Finmars will delete all journal records older then 1 week.</div>
                            <div><b>Month</b> - Finmars will delete all journal records older then 30 days.</div>
                            <div><b>Quarter</b> - Finmars will delete all journal records older then 90 days.</div>
                            </p>

                            <md-input-container style="margin-top: 0;">
                                <label>Journal Policy</label>
                                <md-select aria-label="" data-ng-model="vm.master_user.journal_storage_policy">
                                    <md-option value="week">Week</md-option>
                                    <md-option value="month">Month</md-option>
                                    <md-option value="quarter">Quarter</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div>
                            <md-button class="md-raised md-primary {{vm.masterUserProcessing ? 'disabled-btn' : ''}}"
                                       data-ng-click="vm.saveMasterUser($event)">Save Space Settings
                            </md-button>
                        </div>

                    </md-card-content>

                </md-card>


            </div>


        </div>

        <div data-ng-if="!vm.readyStatus.data" style="width: 100%">
            <div layout="row" layout-sm="column" layout-align="space-around">
                <progress-circular diameter="100"></progress-circular>
            </div>
        </div>

    </div>

    <div layout="column" data-ng-if="vm.checkReadyStatus()">

        <md-card layout="column">

            <md-card-content layout="column">

                <h3>Database</h3>

                <div data-ng-if="vm.readyStatus.tablesSize">

                    <div style="max-height: 600px; overflow: auto">

                        <table>
                            <thead>
                            <tr>
                                <th>Table Name</th>
                                <th>Size</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="item in vm.tablesSizes">
                                <td>{{item.table_name}}</td>
                                <td>{{item.pg_size_pretty}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

            </md-card-content>

        </md-card>


        <div data-ng-if="vm.readyStatus.stats">

            <md-card class="system-info-card">

                <h2>Machine</h2>
                <div ng-repeat="(key, value) in vm.systemInfo['vm']">
                    <div ng-if="vm.isObject(value)">
                        <!--                        <strong>{{ key }}:</strong>-->
                        <div style="margin-bottom: 16px;">
                            <div ng-repeat="(subKey, subValue) in value">
                                <strong>{{ subKey }}</strong>: {{ subValue | json }}
                            </div>
                        </div>
                    </div>
                    <div ng-if="!vm.isObject(value)">
                        <strong>{{ key }}:</strong> {{ value }}
                    </div>
                </div>

            </md-card>

            <md-card class="system-info-card">

                <h2>Python Libraries</h2>

                <div>
                    <strong>Python Version</strong> {{ vm.systemInfo['python_version'] }}
                </div>
                <div>
                    <strong>Django Version</strong> {{ vm.systemInfo['django_version'] }}
                </div>

                <div ng-repeat="(key, value) in vm.systemInfo['pip_freeze']">
                    <div ng-if="vm.isObject(value)">
                        <strong>{{ key }}:</strong>
                        <ul>
                            <li ng-repeat="(subKey, subValue) in value">
                                {{ subKey }}: {{ subValue | json }}
                            </li>
                        </ul>
                    </div>
                    <div ng-if="!vm.isObject(value)">
                        <strong>{{ key }}:</strong> {{ value }}
                    </div>
                </div>

            </md-card>

            <md-card class="system-info-card">

                <h2>Database Adapter</h2>
                <div ng-repeat="(key, value) in vm.systemInfo['db_adapter']">
                    <div ng-if="vm.isObject(value)">
                        <strong>{{ key }}:</strong>
                        <ul>
                            <li ng-repeat="(subKey, subValue) in value">
                                {{ subKey }}: {{ subValue | json }}
                            </li>
                        </ul>
                    </div>
                    <div ng-if="!vm.isObject(value)">
                        <strong>{{ key }}:</strong> {{ value }}
                    </div>
                </div>

            </md-card>

            <md-card class="system-info-card">

                <h2>Storage</h2>
                <div ng-repeat="(key, value) in vm.systemInfo['storage_adapter']">
                    <div ng-if="vm.isObject(value)">
                        <strong>{{ key }}:</strong>
                        <ul>
                            <li ng-repeat="(subKey, subValue) in value">
                                {{ subKey }}: {{ subValue | json }}
                            </li>
                        </ul>
                    </div>
                    <div ng-if="!vm.isObject(value)">
                        <strong>{{ key }}:</strong> {{ value }}
                    </div>
                </div>

            </md-card>

            <md-card class="system-info-card">

                <h2>Vault Status</h2>
                <div ng-repeat="(key, value) in vm.systemInfo['vault_status']">
                    <div ng-if="vm.isObject(value)">
                        <strong>{{ key }}:</strong>
                        <ul>
                            <li ng-repeat="(subKey, subValue) in value">
                                {{ subKey }}: {{ subValue | json }}
                            </li>
                        </ul>
                    </div>
                    <div ng-if="!vm.isObject(value)">
                        <strong>{{ key }}:</strong> {{ value }}
                    </div>
                </div>

            </md-card>

            <md-card class="system-info-card">

                <h2>RabbitMQ Status</h2>
                <div ng-repeat="(key, value) in vm.systemInfo['rabbitmq_status']">
                    <div ng-if="vm.isObject(value)">
                        <strong>{{ key }}:</strong>
                        <ul>
                            <li ng-repeat="(subKey, subValue) in value">
                                {{ subKey }}: {{ subValue | json }}
                            </li>
                        </ul>
                    </div>
                    <div ng-if="!vm.isObject(value)">
                        <strong>{{ key }}:</strong> {{ value }}
                    </div>
                </div>

            </md-card>

            <md-card class="system-info-card">

                <h2>Workflow Status</h2>
                <div ng-repeat="(key, value) in vm.systemInfo['workflow_status']">
                    <div ng-if="vm.isObject(value)">
                        <strong>{{ key }}:</strong>
                        <ul>
                            <li ng-repeat="(subKey, subValue) in value">
                                {{ subKey }}: {{ subValue | json }}
                            </li>
                        </ul>
                    </div>
                    <div ng-if="!vm.isObject(value)">
                        <strong>{{ key }}:</strong> {{ value }}
                    </div>
                </div>

            </md-card>

            <md-card class="system-info-card">

                <h2>Celery Status</h2>
                <div ng-repeat="(key, value) in vm.systemInfo['celery_status']">
                    <div ng-if="vm.isObject(value)">
                        <strong>{{ key }}:</strong>
                        <ul>
                            <li ng-repeat="(subKey, subValue) in value">
                                {{ subKey }}: {{ subValue | json }}
                            </li>
                        </ul>
                    </div>
                    <div ng-if="!vm.isObject(value)">
                        <strong>{{ key }}:</strong> {{ value }}
                    </div>
                </div>

            </md-card>

            <md-card class="system-info-card">

                <h2>Redis Status</h2>
                <div ng-repeat="(key, value) in vm.systemInfo['redis_status']">
                    <div ng-if="vm.isObject(value)">
                        <strong>{{ key }}:</strong>
                        <ul>
                            <li ng-repeat="(subKey, subValue) in value">
                                {{ subKey }}: {{ subValue | json }}
                            </li>
                        </ul>
                    </div>
                    <div ng-if="!vm.isObject(value)">
                        <strong>{{ key }}:</strong> {{ value }}
                    </div>
                </div>

            </md-card>


        </div>


        <md-card>

            <md-card-content>

                <h3>Logs</h3>

                <div data-ng-if="vm.readyStatus.logs">

                    <div data-ng-repeat="item in vm.logFiles">

                        <span class="log-file-name">{{item}}</span>

                        <md-button class="md-raised" data-ng-click="vm.previewLog($event, item)">Preview
                        </md-button>
                        <md-button class="md-raised" data-ng-click="vm.downloadLog($event, item)">Download
                        </md-button>

                    </div>

                </div>

            </md-card-content>

        </md-card>


    </div>

    <div data-ng-if="!vm.checkReadyStatus()" style="margin-top: 36px; margin-bottom: 36px;">
        <div class="overlay-loader" layout="row" layout-sm="column" layout-align="space-around">
            <progress-circular diameter="50"></progress-circular>
        </div>
    </div>

</div>