<div class="system-page">

    <h1 style="padding-left: 8px">System Dashboard</h1>

    <div data-ng-if="vm.processing">
        <div class="overlay-loader" layout="row" layout-sm="column" layout-align="space-around">
            <progress-circular diameter="100"></progress-circular>
        </div>
    </div>

    <div data-ng-if="!vm.processing">

        <div class="system-info-cards">

            <md-card data-ng-repeat="item in vm.systemInfo.items" class="system-info-card">

                <div class="system-info-card-name">{{item.name}}</div>

                <div class="system-info-card-val-holder">

                    <div data-ng-repeat="val in item.values" class="system-info-card-val">

                        <b>{{val.name}}</b>: {{val.value}}

                    </div>

                </div>

            </md-card>

        </div>

    </div>

</div>