<div class="tasks-page height-100">

    <div class="tasks-page-container">
        <div class="left-part flex-column">
            <div layout="row">
                <h1 style="margin-top: 5px;  font-size: 20px; padding-left: 8px">Tasks</h1>

                <md-button data-ng-class="{'disabled-btn': !vm.readyStatus.data}"
                           data-ng-click="vm.doRefresh()" class="md-raised md-icon-button md-primary tasks-refresh-button"><span
                        class="material-icons">refresh</span>
                    <md-tooltip md-direction="top">Refresh</md-tooltip>
                </md-button>


            </div>

            <div class="flex-column">

                <div class="flex-row flex-i-center flex-wrap">
                    <md-input-container class="tasks-page-filters-date-from">
                        <label for="">Date From</label>
                        <zh-date-picker data-date-value="vm.filters.date_from"
                                        data-callback-method="vm.updateFilters()"></zh-date-picker>
                    </md-input-container>

                    <md-input-container class="tasks-page-filters-date-to">
                        <label for="">Date To</label>
                        <zh-date-picker data-date-value="vm.filters.date_to"
                                        data-callback-method="vm.updateFilters()"></zh-date-picker>
                    </md-input-container>

                    <!--<md-input-container class="tasks-page-filters-search">
                        <label for="">Search</label>
                        <input aria-label="search" type="text" data-ng-model="vm.filters.query"
                               data-ng-change="vm.updateFilters()">
                    </md-input-container>-->
                    <div class="tasks-page-filters-search p-r-10 p-l-10 m-b-8">
                        <text-input data-label="Search"
                                    data-model="vm.filters.query"
                                    data-on-change-callback="vm.updateFiltersD()"></text-input>
                    </div>

                    <div class="task-page-filter1 p-r-10 p-l-10 m-b-8">
                        <two-fields-multiselect data-title="Status"
                                                data-model="vm.filters.statuses"
                                                data-items="vm.statusesOpts"
                                                data-selected-items-indication="chips"
                                                data-on-change-callback="vm.updateFilters()"></two-fields-multiselect>
                    </div>

                    <div class="task-page-filter1 p-r-10 p-l-10 m-b-8">
                        <two-fields-multiselect data-title="Task type"
                                                data-model="vm.filters.types"
                                                data-items="vm.typesOpts"
                                                data-selected-items-indication="chips"
                                                data-on-change-callback="vm.updateFilters()"></two-fields-multiselect>
                    </div>

                    <div class="task-page-filter1 p-r-10 p-l-10 m-b-8">
                        <two-fields-multiselect data-title="Result"
                                                data-model="vm.filters.result"
                                                data-items="vm.resultsOpts"
                                                data-selected-items-indication="chips"
                                                data-on-change-callback="vm.updateFilters()"></two-fields-multiselect>
                    </div>

                </div>

                <div class="p-16" data-ng-if="vm.statsItems.length" style="padding-top: 0">

                    <div class="flex-row flex-i-center">

                        <h2>Stats</h2>

                        <md-button class="outline-button" ui-sref="app.portal.celery-worker-page">Configure</md-button>

                    </div>

                    <div data-ng-repeat="item in vm.statsItems" class="m-8">

                        <div><b>Worker</b>: {{item.name}}

                        </div>
                        <div class="p-l-16">
                            <div>
                                <b>Uptime</b>: {{item.uptime}}
                            </div>
                            <div>
                                <b>Memory consumed</b>: {{item.rusage.maxrss / 1024}} MB
                            </div>

                        </div>

                    </div>


                </div>

                <div data-ng-if="vm.readyStatus.data" layout="row">

                    <div class="tasks-table-holder">

                        <div class="tasks-table-holder-inner">
                            <div style="padding: 8px;">

                                <table class="tasks-table">
                                    <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th>Result</th>
                                        <th>Date</th>
                                        <th>Task</th>
                                        <th>User</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="item in vm.items" class="{{item.active ? 'active' : ''}}">
                                        <td>

                                            <div data-ng-click="vm.selectActiveTask($event, item)">
                                                <div class="task-status-badge status-init"
                                                     data-ng-if="item.status == 'I' || item.status == 'init'">
                                                    <div layout="row">
                                                        <span class="material-icons" style="font-size: 14px">check_circle</span>
                                                        <div class="task-status-text">Init</div>
                                                    </div>

                                                </div>

                                                <div class="task-status-badge status-progress"
                                                     data-ng-if="item.status == 'P' || item.status == 'progress'">
                                                    <div layout="row">
                                                        <span  class="material-icons" style="font-size: 14px">hourglass_full</span>
                                                        <div class="task-status-text">Running</div>
                                                    </div>
                                                </div>

                                                <div class="task-status-badge status-success"
                                                     data-ng-if="item.status == 'D' || item.status == 'success'">
                                                    <div layout="row">
                                                        <span class="material-icons" style="font-size: 14px">check_circle</span>
                                                        <div class="task-status-text">Success</div>
                                                    </div>
                                                </div>

                                                <div class="task-status-badge status-error"
                                                     data-ng-if="item.status == 'E' || item.status == 'error'">
                                                    <div layout="row">
                                                        <span class="material-icons" style="font-size: 14px">error</span>
                                                        <div class="task-status-text">Error</div>
                                                    </div>
                                                </div>

                                                <div class="task-status-badge status-canceled"
                                                     data-ng-if="item.status == 'C' || item.status == 'canceled'">
                                                    <div layout="row">
                                                        <span class="material-icons" style="font-size: 14px">do_not_disturb</span>
                                                        <div class="task-status-text">Canceled</div>
                                                    </div>
                                                </div>


                                                <div class="task-status-execution-time" data-ng-if="item.execution_time_pretty">
                                                    <span class="material-icons" style="font-size: 12px">access_time</span>
                                                    {{item.execution_time_pretty}}
                                                    <md-tooltip md-direction="bottom">Execution Time</md-tooltip>
                                                </div>
                                                <div class="task-status-finished-at" data-ng-if="item.finished_at_pretty">
                                                    <span class="material-icons" style="font-size: 12px">today</span>
                                                    {{item.finished_at_pretty}}
                                                    <md-tooltip md-direction="bottom">Finished at
                                                    </md-tooltip>
                                                </div>
                                            </div>

                                        </td>
                                        <td>
                                            Errors: {{ vm.formatResultCounter(item.result_stats.error_count) }} <br />
                                            Skip: {{ vm.formatResultCounter(item.result_stats.skip_count) }} <br />
                                            Success: {{ vm.formatResultCounter(item.result_stats.success_count) }} <br />
                                        </td>
                                        <td>
                                            {{item.created_date}}
                                        </td>
                                        <td>

                                            <div data-ng-click="vm.selectActiveTask($event, item)" class="task-name">
                                                <span data-ng-if="item.verbose_name">{{item.verbose_name}} [{{item.id}}]</span>
                                                <span data-ng-if="!item.verbose_name">{{item.type}} [{{item.id}}]</span>

                                            </div>
                                        </td>
                                        <td>

                                            <div class="task-username-td-wrap">

                                                <div class="user-avatar-simple"
                                                     ng-style="{'backgroundColor': vm.getAvatar(item.member_object.username[0])}">

                                                    {{item.member_object.username[0]}}

                                                </div>

                                                {{item.member_object.username}}
                                            </div>

                                        </td>
                                    </tr>
                                    </tbody>

                                </table>

                            </div>
                        </div>

                        <div layout="row" class="m-t-16 pagination-bar">
                            <md-button
                                    class="md-raised pagination-bar-button pagination-bar-previous-button {{vm.currentPage == 1 ? 'disabled-btn' : ''}}"
                                    data-ng-click="vm.openPreviousPage()">
                                Previous
                            </md-button>

                            <div layout="row">

                                <div data-ng-repeat="page in vm.pages">

                                    <md-button data-ng-click="vm.openPage(page)" data-ng-if="page.number"
                                               class="md-raised pagination-bar-button {{vm.currentPage == page.number ? 'md-primary' : ''}}">
                                        {{page.caption}}
                                    </md-button>

                                    <div data-ng-if="!page.number" style="margin: 10px;">
                                        {{page.caption}}
                                    </div>

                                </div>

                            </div>

                            <md-button class="md-raised pagination-bar-button pagination-bar-previous-button"
                                       data-ng-show="vm.currentPage < vm.totalPages"
                                       data-ng-click="vm.openNextPage()">Next
                            </md-button>
                            <span style="padding-top: 6px;font-size: 14px; margin-left: 8px">Records: <b>{{vm.count}}</b></span>
                        </div>

                    </div>

                </div>


            </div>

            <div data-ng-if="!vm.readyStatus.data">
                <div class="overlay-loader" layout="row" layout-sm="column" layout-align="space-around">
                    <progress-circular diameter="50"></progress-circular>
                </div>
            </div>
        </div>

        <div class="right-part">

            <div data-ng-if="vm.readyStatus.data" class="task-detail">
                <div data-ng-if="vm.activeTask" class="position-relative task-detail-content">

                    <div data-ng-if="!vm.activeTaskProcessing">

                        <a data-ng-click="vm.refreshTask($event)"
                           class="refresh-task-button"><span
                                class="material-icons">refresh</span>
                            <md-tooltip md-direction="bottom">Refresh</md-tooltip>
                        </a>

                        <a data-ng-click="vm.cancelTask($event)"
                           data-ng-if="vm.activeTask.status == 'I' || vm.activeTask.status == 'P' || vm.activeTask.status == 'progress' || vm.activeTask.status == 'W'"
                           class="cancel-task-button"><span
                                class="material-icons">cancel</span>
                            <md-tooltip md-direction="bottom">Cancel</md-tooltip>
                        </a>


                        <h1 style="word-break: break-word; font-size: 24px;">{{vm.activeTask.verbose_name}}</h1>

                        <div class="task-detail-field">
                            <span class="task-detail-field-definition">Id</span>:
                            {{vm.activeTask.id}}
                        </div>
                        <div class="task-detail-field">
                            <span class="task-detail-field-definition">Type</span>:
                            {{vm.activeTask.type}}
                        </div>

                        <div class="task-detail-field">
                            <span class="task-detail-field-definition">Start Date</span>:
                            {{vm.activeTask.created | date:'yyyy-MM-dd' : 'UTC'}}
                        </div>
                        <div class="task-detail-field">
                            <span class="task-detail-field-definition">Start Time</span>:
                            {{vm.activeTask.created | date:'HH:mm:ss' : 'UTC'}}
                            <md-tooltip md-direction="bottom">{{vm.activeTask.created}}</md-tooltip>
                        </div>

                        <div class="task-detail-field"
                             data-ng-if="vm.activeTask.finished_at">
                            <span class="task-detail-field-definition">Finished Time</span>:
                            {{vm.activeTask.finished_at | date:'HH:mm:ss' : 'UTC'}}
                            <md-tooltip md-direction="bottom">{{vm.activeTask.finished_at}}</md-tooltip>
                        </div>

                        <div class="task-detail-field" data-ng-if="vm.activeTask.execution_time_pretty">

                            <span class="task-detail-field-definition">Execution Time</span>:

                            {{vm.activeTask.execution_time_pretty}}

                        </div>


                        <div class="task-detail-field">
                            <span class="task-detail-field-definition">Status</span>:
                            <span data-ng-if="vm.activeTask.status == 'D'"
                                  class="{{vm.activeTask.status == 'D' ? 'calendar-detail-status-green' : '' }}">
                                Success
                            </span>
                            <span data-ng-if="vm.activeTask.status == 'E'"
                                  class="{{vm.activeTask.status == 'E' ? 'calendar-detail-status-red' : '' }}">
                                Error
                            </span>
                            <span data-ng-if="vm.activeTask.status != 'D' && vm.activeTask.status != 'D'">
                            {{vm.activeTask.status}}
                            </span>
                        </div>

                        <div class="task-detail-field" data-ng-if="vm.activeTask.result_stats">
                            <span class="task-detail-field-definition">Result:</span><br/>
                            <span> Total:{{vm.activeTask.result_stats.total_count}}</span><br/>
                            <span> Error:{{vm.activeTask.result_stats.error_count}}</span><br/>
                            <span> Skip:{{vm.activeTask.result_stats.success_count}}</span><br/>
                            <span>Success:{{vm.activeTask.result_stats.skip_count}}</span><br/>
                        </div>

                        <div class="task-detail-field" data-ng-if="vm.activeTask.member_object">
                            <span class="task-detail-field-definition">Member</span>:
                            {{vm.activeTask.member_object.username}}
                        </div>

                        <div class="task-detail-field">
                            <span class="task-detail-field-definition">Worker</span>:
                            {{vm.activeTask.worker_name}}
                        </div>

                        <hr>

                        <div class="task-detail-field"
                             data-ng-if="vm.activeTask.notes">
                            <span class="task-detail-field-definition">Notes</span>:

                            <div>
                                {{vm.activeTask.notes}}
                            </div>

                        </div>

                        <hr>

                        <div class="task-detail-field"
                             data-ng-if="vm.activeTask.verbose_result">
                            <span class="task-detail-field-definition">Verbose result</span>:

                            <div>
                                {{vm.activeTask.verbose_result}}
                            </div>

                            <hr>
                        </div>


                        <div class="task-detail-field" data-ng-if="vm.activeTaskPayload.notes">
                            <span class="task-detail-field-definition">Notes</span>:
                            <div>
                                {{vm.activeTask.notes}}
                            </div>


                        </div>

                        <div class="task-detail-field"
                             data-ng-if="vm.activeTask.error_message">
                            <span class="task-detail-field-definition">Error Message</span>:
                            <div class="task-detail-error-message">
                                {{vm.activeTask.error_message}}
                            </div>

                            <hr>
                        </div>

                        <div class="task-detail-field" data-ng-if="vm.activeTask.options_object">

                            <span class="task-detail-field-definition">Options</span>

                            <div style="max-height: 300px; overflow: auto">

                                <json-editor data-source="vm.activeTask.options_object" data-index="1"></json-editor>

                            </div>
                            <hr>

                        </div>

                        <div class="task-detail-field"
                             data-ng-if="vm.activeTask.status == 'P' && vm.activeTask.progress_object">

                            <div class="task-detail-field-definition m-b-8">Progress</div>

                            <div style="max-height: 300px; overflow: auto">

                                <div layout="row" layout-sm="column" layout-align="space-around" class="loader-spinner">
                                    <md-progress-linear md-mode="determinate"
                                                        value="{{vm.activeTask.progress_object.percent}}"></md-progress-linear>
                                    <md-tooltip class="tooltip_2"
                                                md-direction="bottom">
                                        {{vm.activeTask.progress_object.percent}}%
                                    </md-tooltip>
                                </div>

                                <div class="task-card-progress-text">
                                    {{vm.activeTask.description}}
                                </div>

                            </div>

                            <hr>

                        </div>

                        <div class="task-detail-field" data-ng-if="vm.activeTask.result_object">

                            <span class="task-detail-field-definition">Results</span>

                            <div style="max-height: 300px; overflow: auto">

                                <json-editor data-source="vm.activeTask.result_object" data-index="2"></json-editor>

                            </div>

                            <hr>

                        </div>

                        <div class="task-detail-field"
                             data-ng-if="vm.activeTask.attachments.length">

                            <span class="task-detail-field-definition">Attachments</span>

                            <div data-ng-repeat="item in vm.activeTask.attachments">
                                <span class="download-file-button"
                                      data-ng-click="vm.downloadFile($event, item)">{{item.file_report_object.name}}</span>
                            </div>

                        </div>

                        <div>

                            <h3>Actions:</h3>

                            <md-button class="md-raised md-warn" data-ng-if="vm.activeTask.type == 'transaction_import'"
                                       data-ng-click="vm.abortTransactionImport($event, vm.activeTask)">
                                Abort Transactions
                            </md-button>

                        </div>

                    </div>

                    <div data-ng-if="vm.activeTaskProcessing">
                        <div layout="row" layout-sm="column" layout-align="space-around">
                            <progress-circular diameter="50"></progress-circular>
                        </div>
                    </div>


                </div>
                <div data-ng-if="!vm.activeTask">
                    <h1>Click on event to see details</h1>

                </div>
            </div>

        </div>
    </div>

</div>