<div class="vault-page">

    <div layout="row">
        <h1 style="margin-top: 5px; font-family: 'Roboto Light'; font-size: 20px">Vault</h1>
    </div>

    <div>

        <md-card data-ng-repeat="engine in vm.engines" class="vault-engine-card">

            <md-card-content>

                <div class="vault-engine-card-title">Engine: {{engine.engine_name}}</div>

                <button data-ng-click="vm.toggleShowSecrets(engine)" class="vault-engine-card-button">
                    <span data-ng-if="engine.showSecrets">Hide Secrets</span>
                    <span data-ng-if="!engine.showSecrets">Show Secrets</span>
                </button>

                <div class="vault-engine-card-secrets-holder" data-ng-if="engine.showSecrets">

                    <div data-ng-repeat="secret in engine.secrets" class="vault-engine-secret" layout="row">

                        <div>Secret: {{secret.path}}</div>

                        <md-button class="md-raised" data-ng-click="vm.editSecret($event, engine, secret)">
                            Edit
                        </md-button>

                        <md-button class="md-raised md-warn" data-ng-click="vm.deleteSecret($event, engine, secret)">
                            Delete
                        </md-button>

                    </div>

                </div>

                <md-button class="md-raised" data-ng-click="vm.createSecret($event, engine)">Add Secret</md-button>
                <md-button class="md-raised md-warn" data-ng-click="vm.deleteEngine($event, engine)">Delete Engine
                </md-button>

            </md-card-content>


        </md-card>

        <md-button class="md-raised" data-ng-click="vm.createEngine($event)">Add Engine</md-button>

    </div>

    <div data-ng-if="!vm.readyStatus.data" style="width: 100%">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <progress-circular diameter="100"></progress-circular>
        </div>
    </div>


</div>