<div>
    <div>
        <md-button data-ng-click="vm.importInstrument($event)" class="md-primary md-raised">
            Import instrument
        </md-button>
    </div>
    <div>
        <md-button data-ng-click="vm.fillPriceHistory($event)" class="md-primary md-raised">
            Fill price history
        </md-button>
    </div>
    <div>
        <md-button data-ng-click="vm.automatedUploads($event)" class="md-primary md-raised">
            Automated uploads
        </md-button>
    </div>
</div>