<div data-ng-controller="AdditionsEditorEntityEditController as vm" class="min-height">
    <div  >
        <div data-ng-if="vm.readyStatus.entityId" data-ng-include="'views/entity-viewer/entity-editor-view.html'"></div>

        <div layout="row" layout-align="space-between center">
            <div layout="row">
                <md-button ng-click="vm.editLayout()" class="md-raised md-primary"
                           style="margin-left: 27px; height: 36px;">
                    Edit Form
                </md-button>
                <md-button ng-click="vm.manageAttrs()" class="md-raised md-primary" style="height: 36px;">
                    Manage attributes
                </md-button>

                <md-button data-ng-if="vm.evAction === 'update'" class="md-raised" ng-click="vm.copy()"
                           style="margin-right: 25px; height: 36px;">
                    Make a copy
                </md-button>

                <md-button data-ng-if="vm.evAction === 'update'" class="md-raised" ng-click="vm.cancel()"
                           style="height: 36px;">
                    Cancel
                </md-button>
            </div>
            <div layout="row" style="height: 48px;">
                <md-button class="md-raised" ng-click="vm.save()" style="margin-bottom: 80px; margin-right:20px;">
				<span data-ng-if="vm.evAction === 'create'">
					Add
				</span>
				<span data-ng-if="vm.evAction === 'update'">
					Save
				</span>
                </md-button>
            </div>
        </div>
    </div>
</div>