<div data-ng-controller="AdditionsEditorEntityEditController as vm" class="min-height">
    <div data-ng-if="vm.readyStatus.content" class="min-height">
        <div data-custom-scroll class="custom-scrollbar">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="{{tab.name}}" data-ng-repeat="tab in vm.tabs">
                    <md-content class="md-padding">

                        <div layout="row" data-ng-repeat="row in vm.range(tab.layout.rows)">
                            <div class="ev-data-field
                                {{field.attribute['value_type'] === 'decoration' ? 'decoration-label-line' : ''}}"
                                 data-ng-repeat="field in tab.layout.fields" flex="{{vm.bindFlex(tab, row, field)}}"
                                 data-ng-if="vm.checkFieldRender(tab, row, field)">
                                <bind-field-control item="vm.bindField(tab, field)"></bind-field-control>
                            </div>
                        </div>

                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
        <div layout="row">
            <md-button ng-click="vm.editLayout()" class="md-raised md-primary" style="margin-left: 27px; height: 36px;">
                Edit Form
            </md-button>

            <md-button ng-click="vm.save()" style=" margin-right:20px; margin-bottom: 80px"
                       class="md-raised">
                Save
            </md-button>
        </div>
    </div>
    <div data-ng-if="!vm.readyStatus.content">
        <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
            <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
        </div>
    </div>
</div>