<md-dialog class="classifier-select-dialog-view dialog-actions-bottom classifierSelectorElemToDrag"
           aria-label="classifier selector dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-bind="vm.label"></h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-dialog-content>

        <!--<div data-ng-show="vm.tree.length" class="js-tree-holder-dialog-select">
            <div id="js-tree-select-wrapper" class="js-tree-select" style="width: 100%; overflow: hidden"></div>
        </div>
        <div data-ng-if="!vm.tree.length" style="width: 100%;">
            <p style="text-align: center; width: 100%;">
                Press Edit to create Classification
            </p>
        </div>-->
        <div ng-if="vm.readyStatus">
            <classifier-tree tree-data="vm.tree"
                             classifier-tree-event-service="vm.classifierTreeEventService"
                             on-active-nodes-change-callback="vm.onActiveNodesChange(data)"></classifier-tree>
        </div>

        <div ng-if="!vm.readyStatus">
            <div class="flex-row fc-space-between fi-center height-100" style="min-height: 110px;">
                <progress-circular diameter="100"></progress-circular>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions class="classifier-footer">
        <div>
            <button data-ng-if="vm.isLock" data-ng-click="vm.isLock = false"><span class="material-icons">lock</span></button>
            <button data-ng-if="!vm.isLock" data-ng-click="vm.onAdd()"><span class="material-icons">add</span></button>
            <button data-ng-if="!vm.isLock" data-ng-click="vm.onEdit()" data-ng-disabled="!vm.isActiveNodes()"><span class="material-icons">edit</span></button>
            <button data-ng-if="!vm.isLock" data-ng-click="vm.onDelete()" data-ng-disabled="!vm.isActiveNodes()"><span class="material-icons">delete</span></button>
        </div>

        <div>
            <md-button ng-click="vm.cancel()" class="link-button">
                <span>CANCEL</span>
            </md-button>

            <md-button ng-click="vm.agree()" class="link-button" ng-disabled="!vm.activeNodes.length">
                <span>OK</span>
            </md-button>
        </div>




    </md-dialog-actions>

</md-dialog>
