<md-dialog aria-label="" ng-cloak class="instrument-select-dialog-view">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Classifier editor</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout="row">
            <md-button data-ng-click="vm.createNode()">
                Add node
            </md-button>
            <md-button data-ng-click="vm.renameNode()">
                Rename node
            </md-button>
            <md-button data-ng-click="vm.deleteNode()">
                Delete node
            </md-button>
        </div>
        <div layout="row">
            <div id="jstree_demo"></div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="vm.cancel()">
            Cancel
        </md-button>
        <md-button class="md-raised md-primary" ng-click="vm.agree()" style="margin-right:20px;">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>