<div class="dashboard">

    <div data-ng-if="vm.readyStatus.data" class="height-100">

        <md-button class="md-raised md-primary" ui-sref="app.dashboard-layout-manager">Dashboard Layout Manager
        </md-button>

        <div data-ng-if="vm.layout" class="height-100">

            <md-tabs md-border-bottom md-dynamic-height class="height-100">
                <md-tab data-ng-repeat="tab in vm.layout.data.tabs">
                    <md-tab-label>
                        <span>
                            {{tab.name}}
                        </span>
                    </md-tab-label>
                    <md-tab-body>

                        <div class="dashboard-layout position-relative height-100"
                             dashboard-grid-aligner
                             dashboard-data-service="vm.dashboardDataService"
                             dashboard-event-service="vm.dashboardEventService"
                             tab-number="tab.tab_number">


                            <div class="dashboard-rows-holder" data-ng-repeat="row in tab.layout.rows">

                                <div data-ng-repeat="item in row.columns"
                                     class="dashboard-cell {{item.cell_type != 'empty' ? 'bordered':''}}"
                                     data-tab="{{tab.tab_number}}"
                                     data-row="{{row.row_number}}"
                                     data-column="{{item.column_number}}"
                                     data-cell-type="{{item.cell_type}}">

                                    <div data-ng-if="item.cell_type == 'empty'">
                                        &nbsp;
                                    </div>

                                    <div data-ng-if="item.cell_type == 'component'" class="height-100">

                                        <div data-ng-if="item.data.type == 'control'">
                                            <dashboard-control
                                                    tab-number="tab.tab_number"
                                                    row-number="row.row_number"
                                                    column-number="item.column_number"
                                                    item="item"
                                                    dashboard-data-service="vm.dashboardDataService"
                                                    dashboard-event-service="vm.dashboardEventService"
                                            ></dashboard-control>
                                        </div>

                                        <div data-ng-if="item.data.type == 'button_set'">
                                            <dashboard-button-set
                                                    tab-number="tab.tab_number"
                                                    row-number="row.row_number"
                                                    column-number="item.column_number"
                                                    item="item"
                                                    dashboard-data-service="vm.dashboardDataService"
                                                    dashboard-event-service="vm.dashboardEventService"
                                            ></dashboard-button-set>
                                        </div>

                                        <div data-ng-if="item.data.type == 'input_form'">
                                            <dashboard-input-form
                                                    tab-number="tab.tab_number"
                                                    row-number="row.row_number"
                                                    column-number="item.column_number"
                                                    item="item"
                                                    dashboard-data-service="vm.dashboardDataService"
                                                    dashboard-event-service="vm.dashboardEventService"
                                            ></dashboard-input-form>
                                        </div>

                                        <div data-ng-if="item.data.type == 'report_viewer'" class="height-100">
                                            <dashboard-report-viewer
                                                    tab-number="tab.tab_number"
                                                    row-number="row.row_number"
                                                    column-number="item.column_number"
                                                    item="item"
                                                    dashboard-data-service="vm.dashboardDataService"
                                                    dashboard-event-service="vm.dashboardEventService"
                                            ></dashboard-report-viewer>
                                        </div>

                                        <div data-ng-if="item.data.type == 'report_viewer_split_panel'" class="height-100">
                                            <dashboard-report-viewer-split-panel
                                                    tab-number="tab.tab_number"
                                                    row-number="row.row_number"
                                                    column-number="item.column_number"
                                                    item="item"
                                                    dashboard-data-service="vm.dashboardDataService"
                                                    dashboard-event-service="vm.dashboardEventService"
                                            ></dashboard-report-viewer-split-panel>
                                        </div>

                                        <div data-ng-if="item.data.type == 'entity_viewer'" class="height-100">
                                            <dashboard-entity-viewer
                                                    tab-number="tab.tab_number"
                                                    row-number="row.row_number"
                                                    column-number="item.column_number"
                                                    item="item"
                                                    dashboard-data-service="vm.dashboardDataService"
                                                    dashboard-event-service="vm.dashboardEventService"
                                            ></dashboard-entity-viewer>
                                        </div>

                                        <div data-ng-if="item.data.type == 'entity_viewer_split_panel'" class="height-100">
                                            <dashboard-entity-viewer-split-panel
                                                    tab-number="tab.tab_number"
                                                    row-number="row.row_number"
                                                    column-number="item.column_number"
                                                    item="item"
                                                    dashboard-data-service="vm.dashboardDataService"
                                                    dashboard-event-service="vm.dashboardEventService"
                                            ></dashboard-entity-viewer-split-panel>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </md-tab-body>
                </md-tab>
            </md-tabs>

        </div>

    </div>

    <div data-ng-if="!vm.readyStatus.data">
        <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
            <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
        </div>
    </div>

</div>