<md-dialog aria-label="entity-constructor dialog" ng-cloak class="entity-constructor dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Constructor</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-tabs md-border-bottom>
            <md-tab label="{{tab.name}}" data-ng-repeat="tab in vm.tabs">
                <md-content class="md-padding">
                    <div class="g-th-checkbox-row">
                        <span class="g-meta-circle green">G</span>
                        <span class="g-meta-circle blue">F</span>
                        <span class="g-meta-circle red">C</span>
                    </div>
                    <div class="g-checkbox-row" data-ng-repeat="item in tab.attrs">
                        <md-checkbox ng-model="item.groups" aria="groups" class="md-g-green" data-ng-change="vm.updateAttrs()">
                        </md-checkbox>
                        <md-checkbox ng-model="item.filters" aria="filters" class="md-primary" data-ng-change="vm.updateAttrs()">
                        </md-checkbox>
                        <md-checkbox ng-model="item.columns" aria="columns" data-ng-change="vm.updateAttrs()">
                        </md-checkbox>
                        <span flex></span>
                        <div dragula="'columns-bag'" class="g-modal-draggable-card">
                            <md-card class="modal-dialog-card">{{item.name}}</md-card>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="vm.cancel()">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>