<div class="entity-constructor">
    <div data-ng-if="vm.attrs.length">
        <md-tabs md-border-bottom md-dynamic-height>
            <md-tab label="{{tab.name}}" data-ng-repeat="tab in vm.tabs">
                <div class="ec-md-content ec-layout-tab">
                    <div class="ec-layout-box">

                        <span>Select layout</span>

                        <md-button class="{{tab.layout.columns === item ? 'active' : '' }} ec-layout-btn"
                                   data-ng-click="vm.setLayoutColumns(tab, item)"
                                   data-ng-repeat="item in vm.boxColumns">
                            <ng-md-icon icon="stop" data-ng-repeat="icon in vm.range(item)"></ng-md-icon>
                        </md-button>

                    </div>

                    <div class="ec-layout">
                        <div layout="row" data-ng-repeat="row in vm.range(tab.layout.rows)">
                            <div data-ng-repeat="column in vm.range(tab.layout.columns)"
                                 flex="{{vm.bindFlex(tab, row, column)}}"
                                 data-ng-if="vm.checkColspan(tab, row, column)">
                                <layout-constructor-field tab="tab"
                                                          item="vm.bindField(tab, row, column)"></layout-constructor-field>
                            </div>
                        </div>
                        <div layout="row">
                            <div data-ng-repeat="column in vm.range(tab.layout.columns)"
                                 flex="{{vm.bindFlex(tab, row, column)}}">
                                <layout-constructor-field tab="tab"
                                                          item="vm.bindField(tab, row, column)"></layout-constructor-field>
                            </div>
                        </div>
                    </div>


                </div>
            </md-tab>
        </md-tabs>

        <md-button ng-click="vm.cancel()">
            Cancel
        </md-button>
        <md-button ng-click="vm.save()">
            Save & Return
        </md-button>
    </div>
</div>