<div class="entity-constructor">
    <div data-ng-if="vm.readyStatus.constructor" class="ec-tabs-holder" data-add-tab-ec data-tabs="vm.tabs">
        <h1 class="ec-breadcrumbs">
            <span class="ec-entity-type">{{vm.entityType}} ></span> INPUT FORM EDITOR
        </h1>
        <md-tabs md-border-bottom md-dynamic-height>
            <md-tab data-ng-repeat="tab in vm.tabs">
                <md-tab-label>
                    <div data-ng-if="!tab.editState">
                        <span class="ec-tab-item-name">{{tab.name}}</span>
                        <md-button class="ec-tab-btn"
                                   data-ng-click="vm.toggleEditTab(tab)">
                            <ng-md-icon icon="edit"></ng-md-icon>
                        </md-button>
                        <md-button class="ec-tab-btn"
                                   data-ng-click="vm.deleteTab(tab)">
                            <ng-md-icon icon="delete"></ng-md-icon>
                        </md-button>
                    </div>
                    <div data-ng-if="tab.editState">
                        <md-input-container class="ec-tab-item-edit">
                            <label>Tab name</label>
                            <input ng-model="tab.captionName">
                        </md-input-container>
                        <md-button class="ec-tab-btn"
                                   data-ng-click="vm.saveEditedTab(tab)">
                            <ng-md-icon icon="save"></ng-md-icon>
                        </md-button>
                        <md-button class="ec-tab-btn"
                                   data-ng-click="vm.toggleEditTab(tab, 'back', $index)">
                            <ng-md-icon icon="cancel"></ng-md-icon>
                        </md-button>
                    </div>
                </md-tab-label>
                <md-tab-body>
                    <div class="ec-md-content ec-layout-tab">
                        <div class="ec-layout-box">
                            <span class="select-layout-caption">Select layout</span>
                            <md-button class="{{tab.layout.columns === item ? 'active' : '' }} ec-layout-btn"
                                       data-ng-click="vm.setLayoutColumns(tab, item, $event)"
                                       data-ng-repeat="item in vm.boxColumns">
                                <ng-md-icon icon="stop" data-ng-repeat="icon in vm.range(item)"></ng-md-icon>
                            </md-button>
                        </div>

                        <div class="ec-layout">
                            <div layout="row" data-ng-repeat="row in vm.range(tab.layout.rows)">
                                <div data-ng-repeat="column in vm.range(tab.layout.columns)"
                                     flex="{{vm.bindFlex(tab, row, column)}}"
                                     data-ng-if="vm.checkColspan(tab, row, column)">
                                    <layout-constructor-field tab="tab"
                                                              row="row"
                                                              column="column"
                                    ></layout-constructor-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
        <md-button ng-click="vm.cancel()" class="md-raised">
            Cancel
        </md-button>
        <md-button ng-click="vm.saveLayout()" class="md-raised md-primary">
            Save & Return
        </md-button>

        <md-button class="md-raised manage-attrs-btn" data-ui-sref="app.attributesManager({entityType: vm.entityType})">
            Manage attributes
        </md-button>
    </div>
    <div data-ng-if="!vm.readyStatus.constructor">
        <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
            <md-progress-circular md-mode="indeterminate" md-diameter="120"></md-progress-circular>
        </div>
    </div>
</div>