<div class="p-16">

    <h1 class="m-0">Homepage</h1>

    <div class="m-t-12 overflow-scroll-x width-100 p-b-24 p-t-24 margin-bottom-20">
        <div>
            <div data-ng-include="'views/check-events-view.html'"></div>
        </div>
    </div>

    <div layout="row">
        <a data-ui-sref="app.dashboard" class="md-button md-raised md-primary">Dashboard</a>
    </div>

</div>


<div class="overlay" data-ng-if="vm.eventsProcessing">
    <!--<div class="overlay">-->

    <div class="overlay-loader" layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular class="progress-circular-white" md-diameter="100"
                              md-mode="indeterminate"></md-progress-circular>
    </div>

    <p class="overlay-text">Checking for Events</p>

</div>