<div ng-if="vm.readyStatus" class="height-100">

    <div class="page-dnd-wrapper height-100" dnd-files-on-page>

        <div class="flex-column height-100">
            <main-header opened-inside="portal" class="portal-header" data-ng-if="!vm.iframeMode"></main-header>

            <md-content class="app-md-content flex-0-1-100">
                <div ui-view class="min-height {{vm.iframeMode ? '' : 'space-for-sidenav'}}"></div>
            </md-content>
        </div>

        <div layout="row" class="sidenav-wrapper" data-ng-if="!vm.iframeMode" data-ng-controller="SideNavController as vm"
             data-ng-include="'views/side-nav-view.html'"></div>

    </div>

</div>

<div ng-if="!vm.readyStatus" style="padding-top: 120px;">

    <div class="overlay-loader" layout="row" layout-sm="column" layout-align="space-around">
        <progress-linear></progress-linear>
    </div>

    <div class="m-t-16 text-center">
        Loading Database
    </div>

</div>