<div layout="row" class="min-height">
    <div layout="row" class="sidenav-wrapper" data-ng-controller="SideNavController as vm"
         data-ng-include="'views/side-nav-view.html'"></div>
    <div layout="column" class="relative" layout-fill role="main">
        <md-toolbar ng-show="!showSearch" class="header" layout="columns">

            <div class="md-toolbar-tools" flex="70" layout="start center">
                <h2 data-ng-if="vm.currentLocation().length > 0" data-ng-bind="vm.currentLocation()"></h2>
                <div data-ng-if="vm.currentLocationShowBtns">
                    <md-menu>
                        <md-button class="md-button header-cloud-layout-btn" ng-click="$mdOpenMenu($event)">
                            <ng-md-icon icon="cloud" size="36"></ng-md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button data-ng-click="vm.openLayoutList($event)">Open layout</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button class="save-layout-btn">Save</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button class="save-layout-as-btn">Save as</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>

            <div class="md-toolbar-tools" flex="30" layout-align="end end">

                <div class="header-misc" layout="row">
                    <!--<md-button data-ui-sref="app.system.notifications" aria-label="Notifications">-->
                    <!--<ng-md-icon icon="mail_outline"></ng-md-icon>-->
                    <!--</md-button>-->
                    <md-button data-ui-sref="app.system.notifications({notificationsListType: 'unreaded'})" aria-label="Notifications">
                        <ng-md-icon icon="flag"></ng-md-icon>
                        <span data-ng-bind="vm.unreadedNotificationsAmount" class="unreaded-notifications-number"></span>
                    </md-button>

                    <div class="header-profile">
                        <md-menu>
                            <md-button class="md-button header-account-btn" ng-click="$mdOpenMenu($event)">
                                <ng-md-icon icon="account_circle" size="48"></ng-md-icon>
                                <span class="header-profile-name" data-ng-bind="vm.user.username"></span>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button data-ng-click="vm.logOutMethod()">Log Out</md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>

                <!--<a href="#" data-ng-click="vm.logout()">Log out</a>-->
            </div>
        </md-toolbar>
        <md-content flex data-custom-scroll class="app-md-content custom-scrollbar">
            <div data-ui-view class="shell-view"></div>
        </md-content>
    </div>
</div>