<div data-ng-if="vm.getCurrentState() == 'profile'" class="min-height">

    <md-toolbar class="header" layout="columns">

        <div class="md-toolbar-tools" flex="60" layout="start center">
            <h2 data-ng-if="vm.currentLocation().length > 0" data-ng-bind="vm.currentLocation()"></h2>
        </div>

        <div class="md-toolbar-tools" flex="40" layout-align="end center">

            <div class="header-misc" layout="row">

                <div class="header-masteruser">
                    <md-menu data-ng-if="vm.readyStatus.masters">
                        <md-button class="md-button header-account-btn" aria-label="Account button"
                                   ng-click="$mdOpenMenu($event)">
                            <span class="header-masteruser-name" data-ng-bind="vm.currentMasterUser.name"></span>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item data-ng-repeat="item in vm.masters">
                                <md-button data-ng-click="vm.selectMaster(item)" aria-label="Select master">
                                    <span data-ng-if="item.is_current"><b>{{item.name}}</b></span>
                                    <span data-ng-if="!item.is_current">{{item.name}}</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                    <div data-ng-if="!vm.readyStatus.masters">
                        <div class="m-16" layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular class="progress-circular-white" md-diameter="16" md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                </div>


                <div class="header-profile">
                    <md-menu>
                        <md-button class="md-button header-account-btn" aria-label="Account button"
                                   ng-click="$mdOpenMenu($event)">
                            <ng-md-icon icon="account_circle" size="48"></ng-md-icon>
                            <span class="header-profile-name" data-ng-bind="vm.user.username"></span>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item style="border-bottom: 1px solid #ddd;">
                                <md-button data-ui-sref="app.profile">
                                    <b>Profile</b>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button data-ng-click="vm.logOutMethod()">Log Out</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>

        </div>
    </md-toolbar>
    <md-content flex class="app-md-content height-100">

        <div data-ui-view class="shell-view"></div>

    </md-content>

</div>

<div data-ng-if="vm.getCurrentState() == 'portal'" class="min-height">

    <div layout="row" class="min-height">
        <div layout="row" class="sidenav-wrapper" data-ng-controller="SideNavController as vm"
             data-ng-include="'views/side-nav-view.html'"></div>
        <div layout="column" class="relative main-content-container" layout-fill role="main">
            <md-toolbar ng-show="!showSearch" class="header" layout="columns">

                <div class="md-toolbar-tools" flex="60" layout="start center">
                    <h2 data-ng-if="vm.currentLocation().length > 0" data-ng-bind="vm.currentLocation()"></h2>
                    <h3 data-ng-if="vm.isStateOfEntity()" style="margin-left: 15px">Active layout: {{ vm.activeLayoutName }}</h3>
                </div>

                <div class="md-toolbar-tools" flex="40" layout-align="end center">

                    <div class="header-misc" layout="row">

                        <md-button class="md-button header-cloud-layout-btn" data-ng-click="vm.toggleBookmarkPanel()">
                            <ng-md-icon icon="bookmark" size="24">
                                <md-tooltip class="tooltip_1" md-direction="bottom">Open bookmark panel</md-tooltip>
                            </ng-md-icon>
                        </md-button>

                        <md-button class="md-button header-help-btn" data-ng-click="vm.openHelp($event)"
                                   aria-label="Notifications">
                            <ng-md-icon icon="help" size="24">
                                <md-tooltip class="tooltip_1" md-direction="bottom">Open help menu</md-tooltip>
                            </ng-md-icon>
                        </md-button>

                        <md-button data-ng-if="vm.isReport()" class="md-button header-help-btn"
                                   data-ng-click="vm.copyReport($event)"
                                   aria-label="Copy report">
                            <ng-md-icon icon="content_copy" size="24">
                                <md-tooltip class="tooltip_1" md-direction="bottom">Copy report in buffer</md-tooltip>
                            </ng-md-icon>
                        </md-button>

                        <md-button style="margin-left: 0"
                                   data-ui-sref="app.system.notifications({notificationsListType: 'unreaded'})"
                                   aria-label="Notifications">
                            <ng-md-icon icon="flag"></ng-md-icon>
                            <span data-ng-show="vm.unreadedNotificationsAmount"
                                  data-ng-bind="vm.unreadedNotificationsAmount"
                                  class="unreaded-notifications-number"></span>
                        </md-button>

                        <div class="header-masteruser">
                            <md-menu data-ng-if="vm.readyStatus.masters">
                                <md-button class="md-button header-account-btn" aria-label="Account button"
                                           ng-click="$mdOpenMenu($event)">
                                    <span class="header-masteruser-name"
                                          data-ng-bind="vm.currentMasterUser.name"></span>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item data-ng-repeat="item in vm.masters">
                                        <md-button data-ng-click="vm.selectMaster(item)" aria-label="Select master">
                                            <span data-ng-if="item.is_current"><b>{{item.name}}</b></span>
                                            <span data-ng-if="!item.is_current">{{item.name}}</span>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>

                            <div data-ng-if="!vm.readyStatus.masters">
                                <div class="m-16" layout="row" layout-sm="column" layout-align="space-around">
                                    <md-progress-circular md-diameter="16" class="progress-circular-white"
                                                          md-mode="indeterminate"></md-progress-circular>
                                </div>
                            </div>
                        </div>

                        <div class="header-profile">
                            <md-menu>
                                <md-button class="md-button header-account-btn" ng-click="$mdOpenMenu($event)"
                                           aria-label="Account button">
                                    <ng-md-icon icon="account_circle" size="48"></ng-md-icon>
                                    <span class="header-profile-name" data-ng-bind="vm.user.username"></span>
                                </md-button>
                                <md-menu-content>

                                    <md-menu-item style="border-bottom: 1px solid #ddd;">
                                        <md-button data-ui-sref="app.profile">
                                            Profile
                                        </md-button>
                                    </md-menu-item>

                                    <md-menu-item>
                                        <md-button data-ng-click="vm.logOutMethod()">Log Out</md-button>
                                    </md-menu-item>

                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>

                    <!--<a href="#" data-ng-click="vm.logout()">Log out</a>-->
                </div>
            </md-toolbar>
            <!-- ---------------------- Bookmarks ------------------------- -->
            <div data-ng-controller="BookmarksController as vm" layout="row" data-ng-if="vm.showBookmarks">
                <div class="bookmarks-list" layout="row" layout-align="space-between center">
                    <div layout="row" class="bookmarks-container">
                        <div data-ng-repeat="item in vm.items track by item.id">
                            <div data-ng-if="item.children.length" layout="row" layout-align="start start">
                                <md-menu>
                                    <!-- Trigger element is a md-button with an icon -->

                                    <md-button ng-click="$mdMenu.open($event)"
                                               aria-label="Open sample menu"
                                               class="bookmark-menu-btn">
                                        {{item.name}}
                                    </md-button>
                                    <md-menu-content>
                                        <md-menu-item data-ng-repeat="subItem in item.children">
                                            <md-button data-ng-click="vm.setLayout(subItem)">{{subItem.name}}</md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>
                            <div data-ng-if="!item.children.length">
                                <md-button class="bookmark-a-btn" data-ng-click="vm.setLayout(item)">{{item.name}}</md-button>
                            </div>
                        </div>
                    </div>
                    <div layout="row">
                        <md-button class="md-button header-cloud-layout-btn" data-ng-click="vm.openSettings($event)">
                            <ng-md-icon icon="settings" size="36"></ng-md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
            <!-- ----------------------------------------- -->
            <md-content flex class="app-md-content height-100">

                <div data-ui-view class="shell-view"></div>

            </md-content>
        </div>
    </div>

</div>

