<div class="shell-view-container">

    <div data-ng-if="vm.PROJECT_ENV === 'local'"
         class="flex-row flex-center text-bold development-bar">
        DEV
    </div>

    <div ng-if="vm.showPageContent()" data-ui-view class="shell-view"></div>

    <!-- Needed to solve problem with selects and mdDialog nesting -->
    <div class="dialog-containers-wrap"></div>

    <initial-loader data-ng-if="displayInitLoader" class="{{initLoaderProcessing ? '' : 'initial-loader-hidden'}}"></initial-loader>

</div>