<md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="true">
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <img src="portal/content/img/finmars_logo.png" alt="" height="40"
                 class="sidenav-logo">
            <div class="side-nav-btn-resize-holder">
                <md-button data-ng-show="vm.sideNavStatus == 'expand'" aria-label="resize"
                           class="to-small-btn side-nav-btn fab md-raised"
                           data-ng-click="vm.resizeSideNav('collapse')">
                    <ng-md-icon icon="chevron_left"></ng-md-icon>
                </md-button>
                <md-button data-ng-show="vm.sideNavStatus == 'collapse'" aria-label="resize"
                           class="to-small-btn side-nav-btn fab md-raised" data-ng-click="vm.resizeSideNav('expand')">
                    <ng-md-icon icon="chevron_right"></ng-md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <md-content flex role="navigation">
        <div class="side-menu-container" layout="column">

            <ul class="side-menu">
                <li data-ng-repeat="section in vm.sections" class="parent-list-item"
                    data-ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                    <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                    <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
                </li>
                <li>
                    <md-button ui-sref-active="active" class="sidemenu-btn"
                               ng-click="vm.openHelp($event)">
                        <span class="side-nav-icon">
                            <ng-md-icon icon="local_library" size="24"></ng-md-icon>
                        </span>
                        <span class="side-nav-title">Help</span>
                    </md-button>
                </li>
            </ul>

            <!--<div>
                <ul class="side-menu">
                    <li>
                        <md-button ui-sref-active="active" class="sidemenu-btn" ui-sref="app.home">
                        <span class="side-nav-icon">
                            <ng-md-icon icon="dashboard" size="24"></ng-md-icon>
                        </span>
                            <span class="side-nav-title">Dashboard</span>
                            <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                        </md-button>
                    </li>

                    <li>
                        <div class="sidenav-dropdown-menu-wrapper" sidenav-dropdown-menu menu-type="reports">

                            <md-button class="sidemenu-btn reports-sidenav-menu-btn">
                            <span class="side-nav-icon">
                                <ng-md-icon icon="assessment" size="24"></ng-md-icon>
                            </span>
                                <span class="side-nav-title">Reports</span>
                                <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                            </md-button>

                            <ul class="sidenav-dropdown-menu reports-dropdown-menu-element ng-hide">
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.reports.balance-report">
                                        <span class="side-nav-title">Balance</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.reports.pnl-report">
                                        <span class="side-nav-title">P&L</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.reports.transaction-report">
                                        <span class="side-nav-title">Transaction</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.reports.performance-report">
                                        <span class="side-nav-title">Performance</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.reports.cash-flow-projection-report">
                                        <span class="side-nav-title">Cash flow</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="#">
                                        <span class="side-nav-title">Events</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                            </ul>

                        </div>
                    </li>

                    <li>
                        <div class="sidenav-dropdown-menu-wrapper" sidenav-dropdown-menu menu-type="data">

                            <md-button class="sidemenu-btn data-sidenav-menu-btn">
                            <span class="side-nav-icon">
                                <ng-md-icon icon="view_compact" size="24"></ng-md-icon>
                            </span>
                                <span class="side-nav-title">Data</span>
                                <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                            </md-button>

                            <ul class="sidenav-dropdown-menu data-dropdown-menu-element ng-hide">
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.data.portfolio">
                                        <span class="side-nav-title">Portfolios</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.data.account">
                                        <span class="side-nav-title">Accounts</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.data.instrument">
                                        <span class="side-nav-title">Instruments</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.data.counterparty">
                                        <span class="side-nav-title">Counterparty</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.data.responsible">
                                        <span class="side-nav-title">Responsibles</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.data.currency">
                                        <span class="side-nav-title">Currencies</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.data.currency">
                                        <span class="side-nav-title">Currencies</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>

                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.data.strategy({strategyNumber: 1})">
                                        <span class="side-nav-title">Strategies 1</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>

                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.data.strategy({strategyNumber: 2})">
                                        <span class="side-nav-title">Strategies 2</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>

                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.data.strategy({strategyNumber: 3})">
                                        <span class="side-nav-title">Strategies 3</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="sidenav-dropdown-menu-wrapper" sidenav-dropdown-menu menu-type="history">
                            <md-button class="sidemenu-btn history-sidenav-menu-btn">
                            <span class="side-nav-icon">
                                <ng-md-icon icon="history" size="24"></ng-md-icon>
                            </span>
                                <span class="side-nav-title">History</span>
                                <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                            </md-button>

                            <ul class="sidenav-dropdown-menu history-dropdown-menu-element ng-hide">
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.data.complex-transaction">
                                        <span class="side-nav-title">Transactions</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.data.price-history">
                                        <span class="side-nav-title">Prices</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.data.currency-history">
                                        <span class="side-nav-title">FX Rates</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="sidenav-dropdown-menu-wrapper" sidenav-dropdown-menu menu-type="import">
                            <md-button class="sidemenu-btn import-sidenav-menu-btn">
                            <span class="side-nav-icon">
                                <ng-md-icon icon="file_download" size="24"></ng-md-icon>
                            </span>
                                <span class="side-nav-title">Import</span>
                                <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                            </md-button>

                            <ul class="sidenav-dropdown-menu import-dropdown-menu-element ng-hide">
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn two-line-text"
                                               ui-sref="#">
                                        <span class="side-nav-title">
                                            Data<br>
                                            (from file)
                                        </span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn two-line-text"
                                               ui-sref="#">
                                        <span class="side-nav-title">
                                            Transactions<br>
                                            (from file)
                                        </span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn two-line-text"
                                               ui-sref="app.data.complex-transaction">
                                        <span class="side-nav-title">
                                            Instrument<br>
                                            (from provider)
                                        </span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn two-line-text"
                                               ui-sref="app.data.complex-transaction">
                                        <span class="side-nav-title">
                                            Prices/FX<br>
                                            (from provider)
                                        </span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <md-button class="sidemenu-btn"
                                   ui-sref-active="active"
                                   ui-sref="app.forum.thread-groups">
                        <span class="side-nav-icon">
                            <ng-md-icon icon="forum" size="24"></ng-md-icon>
                        </span>
                            <span class="side-nav-title">Forum</span>
                            <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                        </md-button>
                    </li>
                </ul>
            </div>

            <div class="side-menu-bottom-menu">
                <ul class="side-menu">
                    <li>
                        <md-button ui-sref-active="active"
                                   class="sidemenu-btn"
                                   ng-click="vm.openHelp($event)">
                        <span class="side-nav-icon">
                            <ng-md-icon icon="local_library" size="24"></ng-md-icon>
                        </span>
                            <span class="side-nav-title">Help</span>
                        </md-button>
                    </li>

                    <li>
                        <div class="sidenav-dropdown-menu-wrapper" sidenav-dropdown-menu menu-type="journal">
                            <md-button class="sidemenu-btn journal-sidenav-menu-btn">
                            <span class="side-nav-icon">
                                <ng-md-icon icon="book" size="24"></ng-md-icon>
                            </span>
                                <span class="side-nav-title">Journal</span>
                                <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                            </md-button>

                            <ul class="sidenav-dropdown-menu open-upward journal-dropdown-menu-element ng-hide">
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.system.instruments">
                                    <span class="side-nav-title">Instruments Audit</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.system.transactions">
                                    <span class="side-nav-title">Transactions Audit</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="app.data.transaction">
                                    <span class="side-nav-title">Base Transactions</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button ui-sref-active="active"
                                               class="sidenav-dropdown-menu-btn"
                                               ui-sref="#">
                                    <span class="side-nav-title">Activity Log</span>
                                        <span class="md-visually-hidden"
                                              data-ng-if="isSelected()">current page</span>
                                    </md-button>
                                </li>
                            </ul>

                        </div>
                    </li>

                    <li>
                        <md-button class="sidemenu-btn" data-ng-click="vm.showSettingsSideMenu()">
                            <span class="side-nav-icon">
                                <ng-md-icon icon="settings" size="24"></ng-md-icon>
                            </span>
                            <span class="side-nav-title">Settings</span>
                            <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                        </md-button>
                    </li>
                </ul>
            </div>-->

        </div>

        <div class="side-menu-settings-container side-menu-settings-menu">
            <div layout="column" style="width: 200px;">
                <div>
                    <h3>User layouts</h3>
                    <ul class="side-menu">
                        <li>
                            <md-button ui-sref-active="active"
                                       class="sidemenu-btn"
                                       ui-sref="#">
                                <span class="side-nav-title">Dashboard</span>
                                <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                            </md-button>
                        </li>
                        <li>
                            <md-button ui-sref-active="active"
                                       class="sidemenu-btn"
                                       ui-sref="#">
                                <span class="side-nav-title">Forms</span>
                                <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                            </md-button>
                        </li>
                        <li>
                            <md-button ui-sref-active="active"
                                       class="sidemenu-btn"
                                       ui-sref="#">
                                <span class="side-nav-title">Layouts</span>
                                <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                            </md-button>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3>Configuration</h3>
                    <ul class="side-menu">
                        <li>
                            <div class="sidenav-dropdown-menu-wrapper" sidenav-dropdown-menu menu-type="dataTypes">
                                <md-button class="sidemenu-btn dataTypes-sidenav-menu-btn">
                                    <span class="side-nav-title">Data Types</span>
                                    <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                                </md-button>

                                <ul class="sidenav-dropdown-menu dataTypes-dropdown-menu-element ng-hide">

                                    <li>
                                        <md-button ui-sref-active="active"
                                                   class="sidenav-dropdown-menu-btn"
                                                   ui-sref="app.data.account-type">
                                            <span class="side-nav-title">Account Types</span>
                                            <span class="md-visually-hidden"
                                                  data-ng-if="isSelected()">current page</span>
                                        </md-button>
                                    </li>
                                    <li>
                                        <md-button ui-sref-active="active"
                                                   class="sidenav-dropdown-menu-btn"
                                                   ui-sref="app.data.instrument-type">
                                            <span class="side-nav-title">Instrument Types</span>
                                            <span class="md-visually-hidden"
                                                  data-ng-if="isSelected()">current page</span>
                                        </md-button>
                                    </li>
                                    <li>
                                        <md-button ui-sref-active="active"
                                                   class="sidenav-dropdown-menu-btn"
                                                   ui-sref="app.data.transaction-type">
                                            <span class="side-nav-title">Transaction Types</span>
                                            <span class="md-visually-hidden"
                                                  data-ng-if="isSelected()">current page</span>
                                        </md-button>
                                    </li>
                                    <li>
                                        <md-button ui-sref-active="active"
                                                   class="sidenav-dropdown-menu-btn"
                                                   ui-sref="app.data.pricing-policy">
                                            <span class="side-nav-title">Pricing Policies</span>
                                            <span class="md-visually-hidden"
                                                  data-ng-if="isSelected()">current page</span>
                                        </md-button>
                                    </li>

                                </ul>

                            </div>
                        </li>

                        <li>
                            <div class="sidenav-dropdown-menu-wrapper" sidenav-dropdown-menu menu-type="dataTypes">
                                <md-button class="sidemenu-btn dataTypes-sidenav-menu-btn">
                                    <span class="side-nav-title">Downloads</span>
                                    <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                                </md-button>

                                <ul class="sidenav-dropdown-menu dataTypes-dropdown-menu-element ng-hide">

                                    <li>
                                        <md-button ui-sref-active="active"
                                                   class="sidenav-dropdown-menu-btn"
                                                   ui-sref="#">
                                            <span class="side-nav-title">Price Schemes</span>
                                            <span class="md-visually-hidden"
                                                  data-ng-if="isSelected()">current page</span>
                                        </md-button>
                                    </li>
                                    <li>
                                        <md-button ui-sref-active="active"
                                                   class="sidenav-dropdown-menu-btn"
                                                   ui-sref="#">
                                            <span class="side-nav-title">Instrument Schemes</span>
                                            <span class="md-visually-hidden"
                                                  data-ng-if="isSelected()">current page</span>
                                        </md-button>
                                    </li>
                                    <li>
                                        <md-button ui-sref-active="active"
                                                   class="sidenav-dropdown-menu-btn"
                                                   ui-sref="#">
                                            <span class="side-nav-title">Automated Price Schedul</span>
                                            <span class="md-visually-hidden"
                                                  data-ng-if="isSelected()">current page</span>
                                        </md-button>
                                    </li>

                                </ul>

                            </div>
                        </li>

                        <li>
                            <div class="sidenav-dropdown-menu-wrapper" sidenav-dropdown-menu menu-type="dataTypes">
                                <md-button class="sidemenu-btn dataTypes-sidenav-menu-btn">
                                    <span class="side-nav-title">Import from Files</span>
                                    <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                                </md-button>

                                <ul class="sidenav-dropdown-menu dataTypes-dropdown-menu-element ng-hide">

                                    <li>
                                        <md-button ui-sref-active="active"
                                                   class="sidenav-dropdown-menu-btn"
                                                   ui-sref="#">
                                            <span class="side-nav-title">Data Import</span>
                                            <span class="md-visually-hidden"
                                                  data-ng-if="isSelected()">current page</span>
                                        </md-button>
                                    </li>
                                    <li>
                                        <md-button ui-sref-active="active"
                                                   class="sidenav-dropdown-menu-btn"
                                                   ui-sref="#">
                                            <span class="side-nav-title">Transaction Import</span>
                                            <span class="md-visually-hidden"
                                                  data-ng-if="isSelected()">current page</span>
                                        </md-button>
                                    </li>
                                    <li>
                                        <md-button ui-sref-active="active"
                                                   class="sidenav-dropdown-menu-btn"
                                                   ui-sref="#">
                                            <span class="side-nav-title">Mapping Tables</span>
                                            <span class="md-visually-hidden"
                                                  data-ng-if="isSelected()">current page</span>
                                        </md-button>
                                    </li>

                                </ul>

                            </div>
                        </li>
                    </ul>

                    <ul class="side-menu separate-side-menu">
                        <li>
                            <div class="sidenav-dropdown-menu-wrapper" sidenav-dropdown-menu menu-type="configuration">
                                <md-button class="sidemenu-btn configuration-sidenav-menu-btn">
                                    <span class="side-nav-title">Configuration</span>
                                    <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                                </md-button>

                                <ul class="sidenav-dropdown-menu configuration-dropdown-menu-element ng-hide">

                                    <li>
                                        <md-button ui-sref-active="active"
                                                   class="sidenav-dropdown-menu-btn"
                                                   ui-sref="#">
                                            <span class="side-nav-title">Import</span>
                                            <span class="md-visually-hidden"
                                                  data-ng-if="isSelected()">current page</span>
                                        </md-button>
                                    </li>
                                    <li>
                                        <md-button ui-sref-active="active"
                                                   class="sidenav-dropdown-menu-btn"
                                                   ui-sref="#">
                                            <span class="side-nav-title">Export</span>
                                            <span class="md-visually-hidden"
                                                  data-ng-if="isSelected()">current page</span>
                                        </md-button>
                                    </li>

                                </ul>

                            </div>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3>Ecosystem</h3>
                    <ul class="side-menu">
                        <li>
                            <md-button ui-sref-active="active"
                                       class="sidemenu-btn"
                                       ui-sref="#">
                                <span class="side-nav-title">Data providers</span>
                                <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                            </md-button>
                        </li>
                        <li>
                            <md-button ui-sref-active="active"
                                       class="sidemenu-btn"
                                       ui-sref="#">
                                <span class="side-nav-title">New User Setups</span>
                                <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                            </md-button>
                        </li>
                        <li>
                            <md-button ui-sref-active="active"
                                       class="sidemenu-btn"
                                       ui-sref="#">
                                <span class="side-nav-title">Permissions</span>
                                <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                            </md-button>
                        </li>
                        <li>
                            <md-button ui-sref-active="active"
                                       class="sidemenu-btn"
                                       ui-sref="#">
                                <span class="side-nav-title">Default Settings</span>
                                <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                            </md-button>
                        </li>
                        <li>
                            <md-button ui-sref-active="active"
                                       class="sidemenu-btn"
                                       ui-sref="#">
                                <span class="side-nav-title">Security</span>
                                <span class="md-visually-hidden" data-ng-if="isSelected()">current page</span>
                            </md-button>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </md-content>
</md-sidenav>

<div class="build-date">Build date: __BUILD_DATE__</div>