<div class="match-recon-card {{resolveStatus()}}" >

    <div class="match-recon-card-name" title="{{field.reference_name}}">
        {{field.reference_name}}
    </div>

    <div class="match-recon-card-values">

        <div data-ng-if="field.value_string">
            Text: <span class="match-recon-value-holder" title="{{field.value_string}}">{{field.value_string}}</span>
        </div>

        <div data-ng-if="field.value_float">
            Number: <span class="match-recon-value-holder" title="{{field.value_float}}">{{field.value_float}}</span>
        </div>

        <div data-ng-if="field.value_date">
            Date: <span class="match-recon-value-holder" title="{{field.value_date}}">{{field.value_date}}</span>
        </div>

    </div>

</div>