<md-dialog aria-label="" ng-cloak class="transaction-import-manager-dialog-view draggable-dialog" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Simple Import Entity Manager</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content style="background: #E5E5E5; width: 910px">
        <div data-ng-if="vm.readyStatus.mapping" layout="column">
            <div layout="row">
                <md-card style="width: 100%">
                    <md-card-content class="p-t-26">
                        <div layout="row" style="margin-bottom: 20px">

                            <md-input-container flex="40" style="margin-bottom: 0" class="ng-hide">
                                <input type="file" id="importDataUploadInput" input-file-directive
                                       read-file="vm.config.file">
                            </md-input-container>
                            <div class="input-upload-file-container">
                                <p class="importDataUploadInput">Select file</p>
                                <label for="importDataUploadInput" class="md-button md-raised md-primary IFUlabel">
                                    <ng-md-icon icon="file_upload"></ng-md-icon>
                                    <span>BROWSE</span></label>
                            </div>

                            <md-input-container aria-label="select with filter">

                                <label for="">Choose entity</label>
                                <md-select ng-model="vm.activeContentType"
                                           md-container-class="common-select-container"
                                           md-on-close="searchTerm = ''"
                                           data-ng-change="vm.updateEntitySchemes()">

                                        <md-select-header>
                                            <input data-ng-model="searchTerm"
                                                   type="search"
                                                   placeholder="Search for a ..."
                                                   class="md-text md-select-search-pattern select-input-filter"
                                                   ng-keydown="$event.stopPropagation()">
                                        </md-select-header>

                                        <div class="select-options-holder">

                                            <md-option
                                                    data-ng-repeat="entity in vm.contentTypes | filter: {name: searchTerm}"
                                                    ng-value="entity.key"
                                                    ng-bind="entity.name">
                                            </md-option>

                                        </div>

                                </md-select>
                            </md-input-container>

                            <div layout="row">

                                <md-input-container aria-label="select with filter">

                                    <label for="">Import scheme</label>
                                    <md-select ng-model="vm.config.scheme"
                                               md-container-class="common-select-container"
                                               md-on-close="searchTerm = ''"
                                               style="width: 200px">

                                            <md-select-header>
                                                <input data-ng-model="searchTerm"
                                                       type="search"
                                                       placeholder="Search for a ..."
                                                       class="md-text md-select-search-pattern select-input-filter"
                                                       ng-keydown="$event.stopPropagation()">
                                            </md-select-header>

                                            <div class="select-options-holder">

                                                <md-option
                                                        data-ng-repeat="item in vm.entitySchemes | filter: {scheme_name: searchTerm}"
                                                        ng-value="item.id"
                                                        ng-bind="item.scheme_name">
                                                </md-option>
                                                <md-option data-ng-click="vm.createScheme($event)">Add scheme
                                                </md-option>
                                            </div>

                                    </md-select>
                                </md-input-container>
                                <md-button
                                        class="instrument-mapping-btn md-fab {{vm.config.scheme ? '' : 'disabled-btn' }}"
                                        data-ng-click="vm.editScheme($event)">
                                    <ng-md-icon icon="functions" size="24" style="fill:rgb(63,81,181);"></ng-md-icon>
                                    <md-tooltip class="tooltip_1" md-direction="top">Edit mapping</md-tooltip>
                                </md-button>
                            </div>
                            <div layout="row">
                                <md-button
                                        class="md-raised colored-btn instrument-load-btn {{vm.loadIsAvailable() ? '' : 'disabled-btn' }}"
                                        data-ng-click="vm.import($event)">
                                    Load
                                </md-button>
                                <div data-ng-if="vm.readyStatus.processing" class="m-l-16 m-t-8">
                                    <md-progress-circular md-mode="indeterminate"
                                                          md-diameter="24"></md-progress-circular>
                                </div>
                            </div>
                        </div>
                        <div layout="row">

                            <md-input-container>
                                <label>Error handling</label>
                                <md-select data-ng-model="vm.config.error_handler">
                                    <md-option value="continue">Continue</md-option>
                                    <md-option value="break">Break on first error</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container>
                                <label>Separator</label>
                                <md-select data-ng-model="vm.config.delimiter">
                                    <md-option value=",">Comma (,)</md-option>
                                    <md-option value=";">Semicolon (;)</md-option>
                                    <md-option value="\t">Tab</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container>
                                <label>Mode</label>
                                <md-select data-ng-model="vm.config.mode">
                                    <md-option value="skip">Skip if exists</md-option>
                                    <md-option value="overwrite">Overwrite</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container>
                                <label>Import Rules - if object is not found</label>
                                <md-select
                                        data-ng-model="vm.config.missing_data_handler">
                                    <md-option value="throw_error">Treat as Error</md-option>
                                    <md-option value="set_defaults">Replace with Default Value</md-option>
                                </md-select>
                            </md-input-container>

                        </div>
                        <div layout="row" data-ng-if="vm.finishedSuccess" layout-align="center center">
                            <h2>The data successfully imported.</h2>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
        <div data-ng-if="!vm.readyStatus.mapping">
            <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
                <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="vm.cancel()">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>