<md-dialog aria-label="simple entity import errors dialog"
           ng-cloak
           class="import-entity-errors-dialog-view draggable-dialog"
           style="width: 75%;"
           drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <ng-md-icon icon="dialpad" size="20" class="draggable-dialog-sign"></ng-md-icon>
            <h2>Validation Error</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content style="background: #E5E5E5;">
        <md-content>
            <md-card>
                <md-card-content>

                    <div class="overflow-hidden m-b-24">

                        <div class="float-left width-40">

                            <h3 class="margin-0 m-b-8">Info</h3>

                            <div><b>Type</b>: Simple Entity Import</div>
                            <div><b>Error handler</b>: {{vm.config.error_handler}}</div>
                            <div><b>Filename</b>: {{vm.config.file.name}}</div>
                            <div><b>Mode</b>: {{vm.config.mode}}</div>
                            <div><b>Import Rules - if object is not found</b>: {{vm.config.missing_data_handler}}</div>
                            <div><b>Entity</b>: {{vm.scheme.content_type}}</div>

                            <div class="m-t-8">
                                <a href="javascript:void(0)" class="download-error-link">Download error file</a>
                            </div>

                        </div>

                        <div class="float-left width-40">

                            <h3 class="margin-0 m-b-8">Stats</h3>

                            <div data-ng-if="vm.data.process_mode != 'validate'">

                                <div><b>Rows total</b>: {{vm.validationResult.total}}</div>
                                <div><b>Rows success import</b>: {{vm.validationResult.total -
                                    vm.validationResult.errors.length}}
                                </div>
                                <div><b>Rows fail import</b>: {{vm.validationResult.errors.length}}</div>

                            </div>

                        </div>

                    </div>

                    <div>
                        s
                        <div data-ng-show="vm.validationResult.error_rows.length" style="margin-top: 24px">
                            <table>
                                <thead>
                                <tr>
                                    <th>
                                        Row number
                                    </th>
                                    <th style="min-width:300px">Inputs</th>
                                    <th>Row content</th>
                                    <th style="min-width:300px">Message</th>
                                    <th>Reaction</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="item in vm.validationResult.error_rows">
                                    <td>
                                        <span data-ng-bind="row.original_row_index"></span>
                                    </td>
                                    <td>
                                        <div data-ng-repeat="(key, val) in item.inputs">
                                            <b data-ng-bind="key"></b>: {{val}}
                                        </div>
                                    </td>
                                    <td data-ng-bind="item.original_row"></td>
                                    <td data-ng-bind="item.error_message"></td>
                                    <td><span data-ng-bind="row.error_reaction"></span></td>
                                </tr>
                                </tbody>

                            </table>

                        </div>

                    </div>
                </md-card-content>
            </md-card>

        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised"
                   ng-click="vm.cancel()"
                   ng-bind="vm.cancelButtonText">
        </md-button>

        <md-button class="md-raised md-warn" ng-click="vm.agree()" data-ng-if="vm.data.process_mode == 'validate'">
            Ok, proceed
        </md-button>

    </md-dialog-actions>
</md-dialog>