<md-dialog aria-label="" ng-cloak class="warning-dialog draggable-dialog width-70" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <is-draggable-sign></is-draggable-sign>
            <h2>Failed Reconcile History</h2>
        </div>
    </md-toolbar>
    <md-dialog-content class="p-24">
        <table>
            <thead>
            <tr>
                <th>Portfolio</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, val) in vm.items">
                <td>
                    <span class="block p-t-16" style="color: {{ vm.getStatusTitle(val.final_status).color }}">{{key}}</span>
                </td>
                <td>
                    <span class="block p-t-16" style="color: {{ vm.getStatusTitle(val.final_status).color }}">
                        <i>{{vm.getStatusTitle(val.final_status).text}}</i>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="" ng-click="vm.agree()" style="margin-right:20px;">
            Ok
        </md-button>
    </md-dialog-actions>
</md-dialog>