<div class="p-16 setup-page">

    <div data-ng-if="vm.readyStatus.ecosystemConfigurations">

        <div data-ng-if="!vm.finishingSetup">

            <h1 class="text-center">Welcome</h1>

            <h2 class="m-0 text-center m-b-16">Setup your new Database</h2>

            <div class="text-center f-s-20 m-b-50">Step <b>{{vm.currentStep}} / {{vm.totalSteps}}</b></div>

            <div data-ng-if="vm.currentStep == 1" class="margin-auto" style="max-width: 800px">

                <p class="text-center">Please choose a name for your Database:</p>

                <div class="width-100">
                    <md-input-container class="width-100">
                        <label>Name</label>
                        <input type="text" data-ng-model="vm.name">
                    </md-input-container>
                </div>

                <div class="width-100">
                    <md-input-container class="width-100" style="max-height: 108px">
                        <label>Description</label>
                        <div class="p-8">
                                <textarea data-ng-model="vm.description" rows="4" class="max-width">

                                </textarea>

                        </div>
                    </md-input-container>
                </div>

                <div class="m-t-24">
                    <div class="setup-item-footer">

                        <md-button class="md-raised m-0 float-left"
                                   data-ui-sref="app.profile">
                            Back to Profile page
                        </md-button>

                        <md-button class="md-raised md-primary m-0 float-right" data-ng-class="{'disabled-btn': !vm.name}"
                                   data-ng-click="vm.finishStep1()">
                            Next
                        </md-button>

                    </div>
                </div>




            </div>

            <div data-ng-if="vm.currentStep == 2" class="margin-auto" style="max-width: 800px">

                <p class="text-center">Please select init configuration you would like to use:</p>

                <div class="margin-auto setup-wrapper">

                    <div data-ng-repeat="item in vm.ecosystemConfigurations" class="setup-item"
                         ng-class="{active: vm.activeConfig === item.id}">

                        <div>

                            <div class="setup-name p-t-8 m-b-8">{{item.name}}</div>

                            <div data-ng-if="item.description" class="setup-description">
                                {{item.description}}
                            </div>

                            <div class="setup-item-footer">

                                <md-button class="md-raised m-0 float-right"
                                           ng-class="{active: vm.activeConfig === item.id}"
                                           data-ng-click="vm.setActiveConfig(item.id)">
                                <span data-ng-show="vm.activeConfig === item.id">
                                    Activated
                                </span>
                                    <span data-ng-show="vm.activeConfig !== item.id">
                                    Activate
                                </span>
                                </md-button>

                            </div>


                        </div>

                    </div>

                </div>

                <p class="text-center"> or </p>

                <div class="margin-auto setup-wrapper">
                    <div class="setup-item" ng-class="{active: vm.activeConfig === 'custom'}">

                        <div>

                            <div class="setup-name p-t-8 m-b-8">Custom</div>

                            <div class="setup-description">
                                Empty Ecosystem. Configure all forms, layouts and tables by myself
                            </div>

                            <div class="setup-item-footer">

                                <md-button class="md-raised m-0 float-right"
                                           ng-class="{active: vm.activeConfig === 'custom'}"
                                           data-ng-click="vm.setActiveConfig('custom')">

                                <span data-ng-show="vm.activeConfig === 'custom'">
                                    Activated
                                </span>
                                    <span data-ng-show="vm.activeConfig !== 'custom'">
                                    Activate
                                </span>

                                </md-button>

                            </div>

                        </div>

                    </div>
                </div>

                <div class="m-t-24">
                    <div class="setup-item-footer">

                        <md-button class="md-raised md-warn m-0 float-left"
                                   data-ng-click="vm.currentStep = vm.currentStep - 1">
                            Back
                        </md-button>

                        <md-button class="md-raised md-primary m-0 float-right"
                                   ng-class="{'disabled-btn': !vm.activeConfig}" data-ng-click="vm.finishSetup($event)">
                            Finish
                        </md-button>

                    </div>
                </div>

            </div>

        </div>

        <div data-ng-if="vm.finishingSetup">

            <h1 class="text-center">Applying new settings</h1>

            <h2 class="m-0 text-center ">Please, wait</h2>

            <p class="text-center  f-s-20" style="height: 25px; width: 100%" data-ng-if="vm.importConfig && vm.importConfig.total_rows">
                {{vm.importConfig.processed_rows}} / {{vm.importConfig.total_rows}}
            </p>

            <div class="m-l-16" style="margin-top: 50px" layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-diameter="50" md-mode="indeterminate"></md-progress-circular>
            </div>

        </div>


    </div>


    <div data-ng-if="!vm.readyStatus.ecosystemConfigurations">
        <div class="m-l-16" layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-diameter="100" md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>

</div>