<div>

    <div data-ng-if="vm.readyStatus.masterUsers && vm.readyStatus.invites">

        <div style="max-width: 960px; margin: 0 auto; overflow:hidden;">

            <div class="overflow-hidden">
                <md-button class="md-raised md-primary float-right" data-ng-click="vm.createDatabase($event)">Create
                    Database
                </md-button>
            </div>

            <div data-ng-if="vm.invites.length">

                <h2>New Invites</h2>

                <div class="overflow-hidden max-width">

                    <md-card data-ng-repeat="item in vm.invites" class="mm-card mm-invite">
                        <md-card-title>
                            <md-card-title-text>
                                <div>
                                    You have been invited to a <b>{{item.to_master_user.name}}</b> database by
                                    <b>{{item.from_member}}</b>
                                </div>

                                <div class="m-t-16" style="font-size: 13px;">
                                    Description:
                                    <div class="m-b-8 mm-description" data-ng-if="!item.descriptionEdit">
                                        {{item.to_master_user.description}}
                                    </div>
                                </div>

                            </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="space-between center">
                            <!--<md-button>Leave</md-button>-->
                            <md-button class="md-raised md-warn" data-ng-click="vm.declineInvite(item)">Decline
                            </md-button>
                            <md-button class="md-raised md-success" data-ng-click="vm.acceptInvite(item)">Accept
                            </md-button>
                        </md-card-actions>
                    </md-card>

                </div>

                <h2>Databases</h2>

            </div>

            <div class="overflow-hidden max-width">

                <md-card data-ng-repeat="item in vm.masters" class="mm-card">
                    <md-card-title>
                        <md-card-title-text>
                            <div class="md-headline m-b-8">{{item.name}}</div>

                            <div class="m-b-8 mm-description" data-ng-if="!item.descriptionEdit">
                                {{item.description}}
                            </div>

                            <div data-ng-if="item.descriptionEdit" class="mm-card-description-editor overflow-hidden">

                                <div class="p-8">
                                <textarea data-ng-model="item.description_tmp" rows="4" class="max-width">

                                </textarea>

                                </div>

                                <md-button class="float-left"
                                           data-ng-click="item.descriptionEdit = false; item.description_tmp = ''">
                                    Cancel
                                </md-button>
                                <md-button class="md-primary float-right" data-ng-click="vm.updateDescription(item)">
                                    Save
                                </md-button>

                            </div>

                            <div class="m-b-16" data-ng-if="item.is_admin && !item.descriptionEdit">
                                <a class="text-link"
                                   data-ng-click="item.descriptionEdit = true; item.description_tmp = item.description">
                                    Edit description
                                </a>
                            </div>

                            <div data-ng-if="item.is_owner && !item.is_admin">
                                You are <b>owner</b> of this database
                            </div>
                            <div data-ng-if="item.is_admin && !item.is_owner">
                                You are <b>admin</b> of this database
                            </div>
                            <div data-ng-if="item.is_admin && item.is_owner">
                                You are <b>admin</b> and <b>owner</b> of this database
                            </div>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="space-between center">
                        <!--<md-button>Leave</md-button>-->

                        <md-button data-ng-if="!item.is_owner" class="md-raised md-warn" data-ng-click="vm.leaveMasterUser($event, item)">Dismiss
                        </md-button>

                        <md-button class="md-raised md-primary" data-ng-click="vm.activateDatabase(item)">Activate
                        </md-button>
                    </md-card-actions>
                </md-card>

            </div>
        </div>

    </div>

    <div data-ng-if="!vm.readyStatus.masterUsers && !vm.readyStatus.invites" class="dialog-loader">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>

</div>