<div ng-if="vm.readyStatus" class="min-height">

    <div data-ng-if="vm.user.is_verified">

        <main-header opened-inside="profile" class="profile-header"></main-header>

        <md-content class="app-md-content min-height">
            <md-tabs md-dynamic-height md-border-bottom md-selected="1" md-center-tabs="true">
                <md-tab label="Personal data">
                    <md-content class="md-padding">

                        <div data-ng-include="'views/profile-settings-view.html'"
                             data-ng-controller="ProfileSettingsController as vm">

                        </div>

                    </md-content>
                </md-tab>

                <md-tab label="Databases">
                    <md-content class="md-padding min-height">

                        <div data-ng-include="'views/profile-databases-view.html'"
                             data-ng-controller="ProfileDatabasesController as vm">

                        </div>

                    </md-content>
                </md-tab>

                <md-tab label="Backups">
                    <md-content class="md-padding min-height">

                        <div data-ng-include="'views/profile-backups-view.html'"
                             data-ng-controller="ProfileBackupsController as vm">

                        </div>

                    </md-content>
                </md-tab>

                <md-tab label="Billing">
                    <md-content class="md-padding">

                        Coming soon

                    </md-content>
                </md-tab>

<!--                <md-tab label="Password">-->
<!--                    <md-content class="md-padding">-->

<!--                        <h1 class="text-center">Proceed <a style="color: rgb(63,81,181);-->
<!--    text-decoration: none;" href="{{vm.resetPasswordLink}}" target="_blank">here</a> to change Password</h1>-->

<!--                        &lt;!&ndash;                        <div ng-include="'views/settings/change-password-settings-view.html'"&ndash;&gt;-->
<!--&lt;!&ndash;                             ng-controller="SettingsGeneralChangePasswordController as vm">&ndash;&gt;-->

<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                    </md-content>-->
<!--                </md-tab>-->

                <md-tab label="Security">
                    <md-content class="md-padding">
                        <div ng-include="'views/security-settings-view.html'"
                             ng-controller="SecuritySettingsController as vm">

                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="API">
                    <md-content class="md-padding">
                        <div ng-include="'views/api-settings-view.html'"
                             ng-controller="APISettingsController as vm">

                        </div>
                    </md-content>
                </md-tab>

            </md-tabs>
        </md-content>

    </div>

    <div data-ng-if="!vm.user.is_verified">

        <div class="text-center m-t-16" style="margin-top: 128px;">

            <p>Thank you for joining Finmars</p>

            <p>We will contact you soon! </p>

            <a href="https://finmars.com" style="text-decoration: none; color: var(--primary-color);">finmars.com</a>

        </div>

    </div>

</div>

<div ng-if="!vm.readyStatus" class="flex-row fc-space-around fi-center height-100" style="min-height: 150px;">
    <progress-circular diameter="100"></progress-circular>
</div>