<md-toolbar class="header">

    <div layout="columns" class="toolbar-wrapper">

        <div class="md-toolbar-tools" flex="40" layout-align="end center">

            <div class="header-misc" layout="row">

                <a class="md-button header-help-btn"
                   ui-sref="app.home">
                    <ng-md-icon icon="home" size="24">
                        <md-tooltip class="tooltip_1" md-direction="bottom">Homepage</md-tooltip>
                    </ng-md-icon>
                </a>

                <div class="header-masteruser">
                    <md-menu>
                        <md-button class="md-button header-account-btn"
                                   ng-click="$mdOpenMenu($event)"
                                   aria-label="Account button">
                                        <span ng-if="vm.currentMasterUser"
                                              class="header-masteruser-name"
                                              data-ng-bind="vm.currentMasterUser.name"></span>
                        </md-button>

                        <md-menu-content>
                            <md-menu-item data-ng-repeat="item in vm.masters">
                                <md-button data-ng-click="vm.selectMaster(item)"
                                           aria-label="Select master">
                                    <span ng-class="{'text-bold': item.is_current}">{{item.name}}</span>
                                    <!--<span data-ng-if="item.is_current"><b>{{item.name}}</b></span>
                                    <span data-ng-if="!item.is_current">{{item.name}}</span>-->
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                </div>


                <div class="header-profile">
                    <md-menu>
                        <md-button class="md-button header-account-btn" aria-label="Account button"
                                   ng-click="$mdOpenMenu($event)">
                            <ng-md-icon icon="account_box" size="24"></ng-md-icon>
                            <span class="header-profile-name"
                                  data-ng-bind="vm.user.username"></span>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item style="border-bottom: 1px solid #ddd;">
                                <md-button data-ui-sref="app.profile">
                                    <b>Profile</b>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button data-ng-click="vm.logOutMethod()">Log Out</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>

        </div>
    </div>
</md-toolbar>

<md-tabs md-dynamic-height md-border-bottom md-selected="1" md-center-tabs="true">
    <md-tab label="Personal data">
        <md-content class="md-padding">

            <div data-ng-include="'views/profile-settings-view.html'"
                 data-ng-controller="ProfileSettingsController as vm">

            </div>

        </md-content>
    </md-tab>

    <md-tab label="Databases">
        <md-content class="md-padding min-height">

            <div data-ng-include="'views/profile-databases-view.html'"
                 data-ng-controller="ProfileDatabasesController as vm">

            </div>

        </md-content>
    </md-tab>

    <md-tab label="Billing">
        <md-content class="md-padding">

            Coming soon

        </md-content>
    </md-tab>

    <md-tab label="Password">
        <md-content class="md-padding">
            <div ng-include="'views/settings/change-password-settings-view.html'"
                 ng-controller="SettingsGeneralChangePasswordController as vm">

            </div>
        </md-content>
    </md-tab>

    <md-tab label="Security">
        <md-content class="md-padding">
            <div ng-include="'views/security-settings-view.html'"
                 ng-controller="SecuritySettingsController as vm">

            </div>
        </md-content>
    </md-tab>

</md-tabs>
