<div data-ng-controller="EventSchedulesTabController as vm">
    <div class="" data-ng-if="vm.checkReadyStatus()">
        <table class="bordered">
            <thead>
            <tr>
                <th data-ng-click="vm.setSort('name')">Name<span class="sortorder"
                                                                 data-ng-show="vm.sort === 'name'"
                                                                 data-ng-class="{reverse: vm.direction}"></span>
                </th>
                <th data-ng-click="vm.setSort('description')">Description<span class="sortorder"
                                                                               data-ng-show="vm.sort === 'description'"
                                                                               data-ng-class="{reverse: vm.direction}"></span>
                </th>
                <th data-ng-click="vm.setSort('effective_date')">Effective date<span class="sortorder"
                                                                                     data-ng-show="vm.sort === 'effective_date'"
                                                                                     data-ng-class="{reverse: vm.direction}"></span>
                </th>
                <th data-ng-click="vm.setSort('final_date')">Final date<span class="sortorder"
                                                                             data-ng-show="vm.sort === 'final_date'"
                                                                             data-ng-class="{reverse: vm.direction}"></span>
                </th>
                <th data-ng-click="vm.setSort('notification_class_name')">Notification class<span class="sortorder"
                                                                                                  data-ng-show="vm.sort === 'notification_class_name'"
                                                                                                  data-ng-class="{reverse: vm.direction}"></span>
                </th>
                <th data-ng-click="vm.setSort('event_class_name')">Event class<span class="sortorder"
                                                                                    data-ng-show="vm.sort === 'event_class_name'"
                                                                                    data-ng-class="{reverse: vm.direction}"></span>
                </th>
                <th>Actions</th>
                <th data-ng-click="vm.setSort('notify_in_n_days')">Notify in N days<span
                        class="sortorder"
                        data-ng-show="vm.sort === 'notify_in_n_days'"
                        data-ng-class="{reverse: vm.direction}"></span>
                </th>
                <th data-ng-click="vm.setSort('action_text')">Action text<span class="sortorder"
                                                                               data-ng-show="vm.sort === 'action_text'"
                                                                               data-ng-class="{reverse: vm.direction}"></span>
                </th>
                <th>
                    <md-button class="md-icon-button">
                        <ng-md-icon data-ng-click="vm.toggleQuery()" icon="search"></ng-md-icon>
                    </md-button>
                </th>
            </tr>
            <tr data-ng-if="vm.queryStatus" class="filter-row-holder">
                <th>
                    <md-input-container>
                        <ng-md-icon icon="search"></ng-md-icon>
                        <input type="text" data-ng-model="vm.query.name">
                    </md-input-container>
                </th>
                <th>
                    <md-input-container>
                        <ng-md-icon icon="search"></ng-md-icon>
                        <input type="text" data-ng-model="vm.query.description">
                    </md-input-container>
                </th>
                <th>
                    <md-input-container>
                        <ng-md-icon icon="search"></ng-md-icon>
                        <input type="text" data-ng-model="vm.query.effective_date">
                    </md-input-container>
                </th>
                <th>
                    <md-input-container>
                        <ng-md-icon icon="search"></ng-md-icon>
                        <input type="text" data-ng-model="vm.query.final_date">
                    </md-input-container>
                </th>
                <th>
                    <md-input-container>
                        <ng-md-icon icon="search"></ng-md-icon>
                        <input type="text" data-ng-model="vm.query.notification_class_name">
                    </md-input-container>
                </th>
                <th></th>
                <th>
                    <md-input-container>
                        <ng-md-icon icon="search"></ng-md-icon>
                        <input type="text" data-ng-model="vm.query.event_class_name">
                    </md-input-container>
                </th>
                <th>
                    <md-input-container>
                        <ng-md-icon icon="search"></ng-md-icon>
                        <input type="text" data-ng-model="vm.query.notify_in_n_days">
                    </md-input-container>
                </th>
                <th>
                    <md-input-container>
                        <ng-md-icon icon="search"></ng-md-icon>
                        <input type="text" data-ng-model="vm.query.action_text">
                    </md-input-container>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in vm.entity.event_schedules | filter:vm.query | orderBy:vm.sort:vm.direction">
                <td data-ng-if="!item.editStatus" data-ng-bind="item.name"></td>
                <td data-ng-if="!item.editStatus" data-ng-bind="item.description"></td>
                <td data-ng-if="!item.editStatus" data-ng-bind="item.effective_date"></td>
                <td data-ng-if="!item.editStatus" data-ng-bind="item.final_date"></td>
                <td data-ng-if="!item.editStatus" data-ng-bind="vm.bindNotificationClass(item)"></td>
                <td data-ng-if="!item.editStatus" data-ng-bind="vm.bindEventClass(item)"></td>
                <td data-ng-if="!item.editStatus" data-ng-bind="[item.actions.length]"></td>
                <td data-ng-if="!item.editStatus" data-ng-bind="item.notify_in_n_days"></td>
                <td data-ng-if="!item.editStatus" data-ng-bind="item.action_text"></td>
                </td>
                <td data-ng-if="!item.editStatus" class="table-misc-cell">
                    <md-menu>
                        <!-- Trigger element is a md-button with an icon -->
                        <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
                            <ng-md-icon icon="settings"></ng-md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="vm.editItem(item)">
                                    <ng-md-icon icon="mode_edit" style="top: 6px;
    position: relative;
    margin-right: 10px;"></ng-md-icon>
                                    Edit
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="vm.deleteItem(item, $index)">
                                    <ng-md-icon icon="delete" style="top: 6px;
    position: relative;
    margin-right: 10px;"></ng-md-icon>
                                    Delete
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </td>
                <td data-ng-if="item.editStatus" class="edit-state-td">
                    <md-input-container>
                        <label for="">Name</label>
                        <input type="text" data-ng-model="item.name">
                    </md-input-container>
                </td>
                <td data-ng-if="item.editStatus" class="edit-state-td">
                    <md-input-container>
                        <label for="">Description</label>
                        <input type="text" data-ng-model="item.description">
                    </md-input-container>
                </td>
                <td data-ng-if="item.editStatus" class="edit-state-td">
                    <md-input-container>
                        <label for="">Effective date</label>
                        <zh-date-picker data-ng-model="item.effective_date"></zh-date-picker>
                    </md-input-container>
                </td>
                <td data-ng-if="item.editStatus" class="edit-state-td">
                    <md-input-container>
                        <label for="">Final date</label>
                        <zh-date-picker data-ng-model="item.final_date"></zh-date-picker>
                    </md-input-container>
                </td>
                <td data-ng-if="item.editStatus" class="edit-state-td" style="padding-top: 12px">
                    <md-input-container>
                        <label for="">Notification class</label>
                        <md-select data-ng-model="item.notification_class" style="max-width: 195px">
                            <md-option data-ng-repeat="model in vm.notificationClasses" ng-value="model.id">
                                {{model.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
                <td data-ng-if="item.editStatus" class="edit-state-td" style="padding-top: 12px">
                    <md-input-container>
                        <label for="">Event class</label>
                        <md-select data-ng-model="item.event_class">
                            <md-option data-ng-repeat="model in vm.eventClasses" ng-value="model.id">
                                {{model.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
                <td data-ng-if="item.editStatus" style="padding-top: 12px">
                    <md-input-container class="md-block">
                        <label data-ng-bind="getName()"></label>
                        <md-select data-ng-model="item.actions"
                                   md-container-class="h-instrument-select"
                                   data-instrument-event-action-resolver
                                   md-selected-text="{{[item.actions.length]}}">
                            <md-option data-ng-repeat="field in fields track by field.id" ng-value="field.id">
                                {{field.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
                <td data-ng-if="item.editStatus" class="edit-state-td">
                    <md-input-container>
                        <!--<label for="">Notify in N days</label>-->
                        <input type="text" data-ng-model="item.notify_in_n_days">
                    </md-input-container>
                </td>
                <td data-ng-if="item.editStatus" class="edit-state-td">
                    <md-input-container>
                        <label for="">Action text</label>
                        <input type="text" data-ng-model="item.action_text">
                    </md-input-container>
                </td>
                <td data-ng-if="item.editStatus" class="edit-state-td">
                    <md-button data-ng-click="vm.saveItem(item)">
                        Ok
                    </md-button>
                </td>
            </tr>
            <tr class="tab-input-row">
                <td>
                    <md-input-container>
                        <!--<label for="">Periodicity</label>-->
                        <input type="text" data-ng-model="vm.newItem.name">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <!--<label for="">Periodicity</label>-->
                        <input type="text" data-ng-model="vm.newItem.description">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <!--<label for="">Effective date</label>-->
                        <zh-date-picker data-ng-model="vm.newItem.effective_date"></zh-date-picker>
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <!--<label for="">Final date</label>-->
                        <zh-date-picker data-ng-model="vm.newItem.final_date"></zh-date-picker>
                    </md-input-container>
                </td>
                <td style="padding-top: 12px">
                    <md-input-container>
                        <!--<label for="">Accrual calculation model</label>-->
                        <md-select data-ng-model="vm.newItem.notification_class" style="max-width: 195px">
                            <md-option data-ng-repeat="model in vm.notificationClasses" ng-value="model.id">
                                {{model.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
                <td style="padding-top: 12px">
                    <md-input-container>
                        <!--<label for="">Accrual calculation model</label>-->
                        <md-select data-ng-model="vm.newItem.event_class">
                            <md-option data-ng-repeat="model in vm.eventClasses" ng-value="model.id">
                                {{model.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
                <td style="padding-top: 12px">
                    <md-input-container class="md-block">
                        <label data-ng-bind="getName()"></label>
                        <md-select data-ng-model="item.actions"
                                   md-container-class="h-instrument-select"
                                   data-instrument-event-action-resolver
                                   md-selected-text="{{[vm.newItem.actions.length]}}">
                            <md-option data-ng-repeat="field in fields track by field.id" ng-value="field.id">
                                {{field.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <!--<label for="">Periodicity</label>-->
                        <input type="text" data-ng-model="vm.newItem.notify_in_n_days">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <!--<label for="">Periodicity</label>-->
                        <input type="text" data-ng-model="vm.newItem.action_text">
                    </md-input-container>
                </td>
                <td>
                    <md-button data-ng-click="vm.addRow()">
                        Add
                    </md-button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <div data-ng-if="!vm.checkReadyStatus()">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</div>