<div>

    <div layout="row">

        <md-input-container class="md-block" style="width: 200px;">
            <label>Pricing Currency</label>
            <md-select md-on-close="vm.searchTermCurrency = ''"
                       data-ng-model="vm.entity.pricing_currency"
                       md-on-open="vm.getCurrencyFields()"
                       md-container-class="common-select-container">
                <md-select-header>
                    <input data-ng-model="vm.searchTermCurrency"
                           type="search"
                           placeholder="Search for a ..."
                           class="md-text md-select-search-pattern select-input-filter"
                           ng-keydown="$event.stopPropagation()">
                </md-select-header>
                <div class="select-options-holder">
                    <md-option
                            data-ng-repeat="field in vm.currencyFields | orderBy:'-'+field.name | filter:{name: vm.searchTermCurrency} as results track by field.id "
                            ng-value="field.id">
                        {{field.name}}
                    </md-option>
                </div>
            </md-select>
        </md-input-container>

        <md-input-container style="width: 200px;">
            <label for="">Pricing Multiplier</label>
            <input type="text" data-ng-model="vm.entity.price_multiplier">
        </md-input-container>

        <md-input-container style="width: 200px;">
            <label for="">Default Price</label>
            <input type="text" data-ng-model="vm.entity.default_price">
        </md-input-container>

    </div>

    <div layout="row">

        <md-input-container class="md-block" style="width: 550px;">
            <label>Pricing Algorithm</label>
            <md-select md-on-close="vm.searchTermDailyPricingModel = ''"
                       data-ng-model="vm.entity.daily_pricing_model"
                       md-on-open="vm.getDailyPricingModelFields()"
                       md-container-class="common-select-container">
                <md-select-header>
                    <input data-ng-model="vm.searchTermDailyPricingModel"
                           type="search"
                           placeholder="Search for a ..."
                           class="md-text md-select-search-pattern select-input-filter"
                           ng-keydown="$event.stopPropagation()">
                </md-select-header>
                <div class="select-options-holder">
                    <md-option
                            data-ng-repeat="field in vm.dailyPricingModelFields | orderBy:'-'+field.name | filter:{name: vm.searchTermDailyPricingModel} as results track by field.id "
                            ng-value="field.id">
                        {{field.name}}
                    </md-option>
                </div>
            </md-select>
        </md-input-container>

        <md-input-container class="md-block" style="width: 200px;">
            <label>Price Download Scheme</label>
            <md-select md-on-close="vm.searchTermScheme = ''"
                       data-ng-model="vm.entity.price_download_scheme"
                       md-on-open="vm.getPriceDownloadSchemeFields()"
                       md-container-class="common-select-container">
                <md-select-header>
                    <input data-ng-model="vm.searchTermScheme"
                           type="search"
                           placeholder="Search for a ..."
                           class="md-text md-select-search-pattern select-input-filter"
                           ng-keydown="$event.stopPropagation()">
                </md-select-header>
                <div class="select-options-holder">
                    <md-option
                            data-ng-repeat="field in vm.priceDownloadSchemeFields | orderBy:'-'+field.scheme_name | filter:{scheme_name: vm.searchTermScheme} as results track by field.id "
                            ng-value="field.id">
                        {{field.scheme_name}}
                    </md-option>
                </div>
            </md-select>
        </md-input-container>

        <md-input-container style="width: 200px;">
            <label for="">ID for Price Downloading</label>
            <input type="text" data-ng-model="vm.entity.reference_for_pricing">
        </md-input-container>

    </div>

    <table class="m-t-16">

        <thead>

        <tr>

            <th>
                Pricing Policy
            </th>

            <th>
                Pricing Scheme
            </th>

            <th>
                Pricing Scheme Clarification
            </th>

            <th>
                Parameter Clarification
            </th>

            <th>
                Edit Default Parameters
            </th>

            <th>
                Edit Scheme
            </th>

            <th>
                Notes
            </th>


        </tr>

        </thead>

        <tbody>

        <tr data-ng-repeat="item in vm.entity.pricing_policies">

            <td>
                {{item.pricing_policy_object.name}}
            </td>

            <td>

                <md-input-container class="m-t-16">
                    <md-select data-ng-model="item.pricing_scheme" data-ng-change="vm.pricingSchemeChange($event, item)">
                        <md-option ng-value="scheme.id" data-ng-repeat="scheme in vm.instrumentPricingSchemes">{{scheme.name}}</md-option>
                    </md-select>
                </md-input-container>

            </td>

            <td>
                {{item.pricing_scheme_object.notes_for_user}}
            </td>

            <td>
                {{item.pricing_scheme_object.notes_for_parameter}}
            </td>

            <td>

                <div data-ng-if="item.pricing_scheme_object.type_object.input_type == 1">
                    -
                </div>

                <div class="m-t-16" data-ng-if="item.pricing_scheme_object.type_object.input_type == 2" data-ng-init="item.default_value ? item.switchState = 'default_value' : item.switchState = 'attribute_key'">

                    <div layout="row" data-ng-if="item.switchState == 'default_value'">

                        <md-input-container>
                            <label>Default Value</label>
                            <input type="text" data-ng-model="item.default_value">
                        </md-input-container>

                        <md-button class="md-raised md-primary" data-ng-click="vm.switchPricingPolicyParameter($event, item)">Switch</md-button>

                    </div>

                    <div layout="row" data-ng-if="item.switchState == 'attribute_key'">

                        <md-input-container class="m-t-16">
                            <label>Options</label>
                            <md-select data-ng-model="item.attribute_key">
                                <md-option value="reference_for_pricing">Default Reference For Pricing</md-option>
                                <md-option ng-value="item.user_code" data-ng-repeat="item in vm.attributeTypes">{{item.name}} ({{item.user_code}})</md-option>
                            </md-select>
                        </md-input-container>

                        <md-button class="md-raised md-primary" data-ng-click="vm.switchPricingPolicyParameter($event, item)">Switch</md-button>

                    </div>

                </div>

                <div class="m-t-16" data-ng-if="item.pricing_scheme_object.type_object.input_type == 3">
                    Multiple Parameter Input
                </div>

            </td>

            <td>
                <md-button class="md-raised" data-ng-click="vm.editPricingScheme($event, item.pricing_scheme_object)">Edit</md-button>
            </td>

            <td>
                <md-input-container>
                    <label>Notes</label>
                    <input type="text" data-ng-model="item.notes">
                </md-input-container>
            </td>

        </tr>

        </tbody>


    </table>


</div>