<div>

    <div layout="row">

        <div layotu="column">

            <div layout="row">

                <md-input-container class="md-block" style="width: 200px;">
                    <label>Pricing Currency</label>
                    <md-select md-on-close="vm.searchTermCurrency = ''"
                               data-ng-model="vm.entity.pricing_currency"
                               md-container-class="common-select-container">
                        <md-select-header>
                            <input data-ng-model="vm.searchTermCurrency"
                                   type="search"
                                   placeholder="Search for a ..."
                                   class="md-text md-select-search-pattern select-input-filter"
                                   ng-keydown="$event.stopPropagation()">
                        </md-select-header>
                        <div class="select-options-holder">
                            <md-option
                                    data-ng-repeat="item in vm.currencies | orderBy:'-'+item.name | filter:{name: vm.searchTermCurrency} as results track by item.id "
                                    ng-value="item.id">
                                {{item.name}}
                            </md-option>

                        </div>
                    </md-select>
                </md-input-container>

                <dropdown-select class="p-r-8" label="Pricing Currency"
                                 model="vm.entity.pricing_currency"
                                 placeholder-text="Pricing Currency"
                                 menu-options="vm.currencies"
                                 small-options="{tooltipText: 'Pricing Currency'}"
                                 style="width: 50%">
                </dropdown-select>
<!--                <dropdown-select class="p-r-8" label="Event class"-->
<!--                                 model="vm.event.event_class"-->
<!--                                 placeholder-text="Event class"-->
<!--                                 menu-options="vm.eventClasses"-->
<!--                                 small-options="{tooltipText: 'Event class'}"-->
<!--                                 style="width: 50%">-->
<!--                </dropdown-select>-->

<!--                <md-input-container style="width: 200px;">-->
<!--                    <label for="">Pricing Multiplier</label>-->
<!--                    <input type="text" data-ng-model="vm.entity.price_multiplier">-->
<!--                </md-input-container>-->
                <number-input label="Pricing Multiplier"
                              model="vm.entity.price_multiplier"
                              small-options="{tooltipText: 'Pricing Multiplier'}"
                              style="width: 200px;">
                </number-input>

<!--                <md-input-container style="width: 200px;">-->
<!--                    <label for="">Default Price!</label>-->
<!--                    <input type="text" data-ng-model="vm.entity.default_price">-->
<!--                </md-input-container>-->
                <number-input label="Default Price"
                              model="vm.entity.default_price"
                              small-options="{tooltipText: 'Default Price'}"
                              style="width: 200px;">
                </number-input>

            </div>

            <div layout="row">

                <md-input-container class="md-block" style="width: 550px;">
                    <label>Pricing Condition</label>
                    <md-select md-on-close="vm.searchTermPricingCondition = ''"
                               data-ng-model="vm.entity.pricing_condition"
                               md-container-class="common-select-container">
                        <md-select-header>
                            <input data-ng-model="vm.searchTermPricingCondition"
                                   type="search"
                                   placeholder="Search for a ..."
                                   class="md-text md-select-search-pattern select-input-filter"
                                   ng-keydown="$event.stopPropagation()">
                        </md-select-header>
                        <div class="select-options-holder">
                            <md-option ng-value="1">
                                Don't Run Valuation
                            </md-option>
                            <md-option ng-value="2">
                                Run Valuation: if non-zero position
                            </md-option>
                            <md-option ng-value="3">
                                Run Valuation: always
                            </md-option>
                        </div>
                    </md-select>
                </md-input-container>

                <md-input-container style="width: 200px;">
                    <label for="">ID for Price Downloading</label>
                    <input type="text" data-ng-model="vm.entity.reference_for_pricing">
                </md-input-container>

            </div>

        </div>

        <div>

            <md-button class="md-raised md-primary" data-ng-if="vm.entity.id"
                       data-ng-click="vm.runPricingInstrument($event)">Run Pricing
            </md-button>

        </div>

    </div>

    <table class="m-t-16">

        <thead>

        <tr>

            <th>
                Pricing Policy
            </th>

            <th>
                Pricing Scheme
            </th>

            <th>
                Pricing Scheme Clarification
            </th>

            <th>
                Parameter Clarification
            </th>

            <th>
                Edit Default Parameters
            </th>

            <th>
                Multiple Parameters
            </th>

            <th>
                Notes
            </th>


        </tr>

        </thead>

        <tbody>

        <tr data-ng-repeat="item in vm.entity.pricing_policies">

            <td>
                {{item.pricing_policy_object.name}}
            </td>

            <td>

                <md-input-container class="m-t-16">
                    <md-select data-ng-model="item.pricing_scheme"
                               data-ng-change="vm.pricingSchemeChange($event, item)">
                        <md-option ng-value="scheme.id" data-ng-repeat="scheme in vm.instrumentPricingSchemes">
                            {{scheme.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

            </td>

            <td>
                {{item.pricing_scheme_object.notes_for_users}}
            </td>

            <td>
                {{item.pricing_scheme_object.notes_for_parameter}}
            </td>

            <td>

                <div data-ng-if="item.pricing_scheme_object.type_object.input_type == 1">
                    -
                </div>

                <div data-ng-if="item.pricing_scheme_object.type_object.input_type != 1" class="m-t-16"
                     data-ng-init="item.default_value ? item.switchState = 'default_value' : item.switchState = 'attribute_key'">

                    <div layout="row" data-ng-if="item.switchState == 'default_value'">

                        <md-input-container>
                            <label>Default Value</label>
                            <input type="text" data-ng-model="item.default_value">
                        </md-input-container>

                        <md-button class="md-raised md-primary"
                                   data-ng-click="vm.switchPricingPolicyParameter($event, item)">Switch
                        </md-button>

                    </div>

                    <div layout="row" data-ng-if="item.switchState == 'attribute_key'">

                        <md-input-container class="m-t-16">
                            <label>Options</label>
                            <md-select data-ng-model="item.attribute_key">
                                <md-option ng-value="attribute.user_code"
                                           data-ng-repeat="attribute in vm.attributeTypesByValueTypes[item.pricing_scheme_object.type_settings.value_type]">
                                    {{attribute.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-button class="md-raised md-primary"
                                   data-ng-click="vm.switchPricingPolicyParameter($event, item)">Switch
                        </md-button>

                    </div>

                </div>

            </td>

            <td>

                <div data-ng-if="item.pricing_scheme_object.type_object.input_type == 3">
                    -
                </div>

                <div class="m-t-16" data-ng-if="item.pricing_scheme_object.type_object.input_type == 3">

                    <md-button class="md-raised" data-ng-click="vm.openPricingMultipleParametersDialog($event, item)">
                        ...
                    </md-button>

                </div>

            </td>

            <td>
                <md-input-container>
                    <label>Notes</label>
                    <input type="text" data-ng-model="item.notes">
                </md-input-container>
            </td>

        </tr>

        </tbody>


    </table>


</div>