<div data-ng-controller="PricingPoliciesTabController as vm">
<!--<div>-->

    <div layout="row">

        <div layotu="column">

            <div layout="row">

                <dropdown-select class="p-r-8" label="Pricing Currency"
                                 model="vm.entity.pricing_currency"
                                 placeholder-text="Pricing Currency"
                                 menu-options="vm.currencies"
                                 small-options="{tooltipText: 'Pricing Currency'}"
                                 on-change-callback="vm.onEntityChange()"
                                 style="width: 306px">
                </dropdown-select>
<!--                on-change-callback="vm.entityChange()"-->

<!--                <dropdown-select class="p-r-8" label="Co-directional exposure currency"
                                 model="vm.entity.co_directional_exposure_currency"
                                 placeholder-text="Co-directional exposure currency"
                                 menu-options="vm.currencies"
                                 small-options="{tooltipText: 'Co-directional exposure currency'}"
                                 style="width: 200px;">
                </dropdown-select>

                <dropdown-select class="p-r-8" label="Counter-directional exposure currency"
                                 model="vm.entity.counter_directional_exposure_currency"
                                 placeholder-text="Counter-directional exposure currency"
                                 menu-options="vm.currencies"
                                 small-options="{tooltipText: 'Counter-directional exposure currency'}"
                                 style="width: 200px;">
                </dropdown-select>-->


                <number-input class="p-r-8"
                              label="Pricing Multiplier"
                              model="vm.entity.price_multiplier"
                              small-options="{tooltipText: 'Pricing Multiplier'}"
                              style="width: 148px;">
                </number-input>

                <number-input class="p-r-8"
                              label="Default Price"
                              model="vm.entity.default_price"
                              small-options="{tooltipText: 'Default Price'}"
                              style="width: 148px;">
                </number-input>

                <dropdown-select class="p-r-8" label="Pricing Condition"
                                 model="vm.entity.pricing_condition"
                                 placeholder-text="Pricing Condition"
                                 menu-options="vm.pricingConditions"
                                 small-options="{tooltipText: 'Pricing Condition'}"
                                 style="width: 306px;">
                </dropdown-select>

            </div>

            <div layout="row">



                <text-input class="p-r-8"
                            model="vm.entity.reference_for_pricing"
                            label="ID for Price Downloading"
                            placeholder-text="ID for Price Downloading"
                            style="width: 306px;">
                </text-input>

                <md-button class="md-raised md-primary" data-ng-if="vm.entity.id"
                           data-ng-click="vm.runPricingInstrument($event)">Run Pricing
                </md-button>

            </div>

        </div>

        <div>



        </div>

    </div>

    <!--<table class="m-t-16">

        <thead>

        <tr>

            <th>
                Pricing Policy
            </th>

            <th>
                Pricing Scheme
            </th>

            <th>
                Pricing Scheme Clarification
            </th>

            <th>
                Parameter Clarification
            </th>

            <th>
                Edit Default Parameters
            </th>

            <th>
                Multiple Parameters
            </th>

            <th>
                Notes
            </th>


        </tr>

        </thead>

        <tbody>

        <tr data-ng-repeat="item in vm.entity.pricing_policies">

            <td>
                {{item.pricing_policy_object.name}}
            </td>

            <td>

                <md-input-container class="m-t-16">
                    <md-select data-ng-model="item.pricing_scheme"
                               data-ng-change="vm.pricingSchemeChange(item)">
                        <md-option ng-value="scheme.id" data-ng-repeat="scheme in vm.instrumentPricingSchemes">
                            {{scheme.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

            </td>

            <td>
                {{item.pricing_scheme_object.notes_for_users}}
            </td>

            <td>
                {{item.pricing_scheme_object.notes_for_parameter}}
            </td>

            <td>

                <div data-ng-if="item.pricing_scheme_object.type_object.input_type == 1">
                    -
                </div>

                <div data-ng-if="item.pricing_scheme_object.type_object.input_type != 1" class="m-t-16"
                     data-ng-init="item.default_value ? item.switchState = 'default_value' : item.switchState = 'attribute_key'">

                    <div layout="row" data-ng-if="item.switchState == 'default_value'">

                        <md-input-container>
                            <label>Default Value</label>
                            <input type="text" data-ng-model="item.default_value">
                        </md-input-container>

                        <md-button class="md-raised md-primary"
                                   data-ng-click="vm.switchPricingPolicyParameter($event, item)">Switch
                        </md-button>

                    </div>

                    <div layout="row" data-ng-if="item.switchState == 'attribute_key'">

                        <md-input-container class="m-t-16">
                            <label>Options</label>
                            <md-select data-ng-model="item.attribute_key">
                                <md-option ng-value="attribute.user_code"
                                           data-ng-repeat="attribute in vm.attributeTypesByValueTypes[item.pricing_scheme_object.type_settings.value_type]">
                                    {{attribute.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-button class="md-raised md-primary"
                                   data-ng-click="vm.switchPricingPolicyParameter($event, item)">Switch
                        </md-button>

                    </div>

                </div>


            </td>

            <td>

                <div data-ng-if="item.pricing_scheme_object.type_object.input_type == 3">
                    -
                </div>

                <div class="m-t-16" data-ng-if="item.pricing_scheme_object.type_object.input_type == 3">

                    <md-button class="md-raised" data-ng-click="vm.openPricingMultipleParametersDialog($event, item)">
                        ...
                    </md-button>

                </div>

            </td>

            <td>
                <md-input-container>
                    <label>Notes</label>
                    <input type="text" data-ng-model="item.notes">
                </md-input-container>
            </td>

        </tr>

        </tbody>


    </table>-->
    <div ng-if="vm.readyStatus">
        <grid-table class="instrument-events-grid-table" data-gt-data-service="vm.pricingPoliciesGridTableDataService"
                    data-gt-event-service="vm.pricingPoliciesGridTableEventService">
        </grid-table>
    </div>

    <div ng-if="!vm.readyStatus" class="flex-row flex-c-center width-100" style="height: 100px;">
        <progress-circular diameter="100"></progress-circular>
    </div>

</div>