<md-dialog
  aria-label="add complex transaction dialog"
  class="entity-editor-dialog draggable-dialog dialog-actions-bottom cTransactionEditorDialogElemToResize"
  drag-dialog
  style="height: 100%;"
>

  <md-toolbar>
    <div class="md-toolbar-tools">
      <is-draggable-sign></is-draggable-sign>

      <div layout="row">
        <h2>Book Transaction</h2>
        <span flex></span>

        <div data-ng-if="vm.processing" layout="row" class="m-l-16">
          <div
            layout="row"
            layout-sm="column"
            layout-align="space-around"
            class="m-r-8"
          >
            <!--<md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>-->
            <progress-circular diameter="20"></progress-circular>
          </div>
          — Processing
        </div>
      </div>
    </div>
  </md-toolbar>

  <md-dialog-content style="height: 100%;" class="position-relative">
    <div data-ng-include="'views/entity-viewer/complex-transaction-add-content-view.html'" style="min-width: 1450px;"></div>
  </md-dialog-content>

  <md-dialog-actions layout="row" layout-align="space-between center">
    <div layout="row">
      <md-menu md-position-mode="target-right target">

        <md-button class="outline-button" ng-click="$mdOpenMenu($event)">
          <div class="flex-row flex-c-center">
            <ng-md-icon icon="more_vert" class="flex-row"></ng-md-icon>
          </div>
        </md-button>

        <md-menu-content class="universal-editor-menu-content optional-entity-menu" width="3">

          <md-menu-item >
            <md-button ng-click="vm.editLayout($event)" ng-disabled="!vm.checkReadyStatus() || !vm.entity.transaction_type">
              <div class="flex-row flex-i-center">
                <ng-md-icon icon="edit" class="flex-row"></ng-md-icon>
                <span class="m-l-16">Edit Form</span>
              </div>

            </md-button>
          </md-menu-item>

        </md-menu-content>
      </md-menu>

      <div ng-if="vm.checkReadyStatus()">
        <!--<md-button ng-click="vm.entity.is_locked = true"-->
        <!--ng-if="vm.entity.is_locked == false"-->
        <!--class=""-->
        <!--ng-disabled="vm.entity.is_canceled == true">-->
        <!--Lock-->
        <!--</md-button>-->

        <!--<md-button-->
        <!--ng-click="vm.entity.is_locked = false"-->
        <!--ng-if="vm.entity.is_locked == true"-->
        <!--class=""-->
        <!--ng-disabled="vm.entity.is_canceled == true">-->
        <!--Unlock-->
        <!--</md-button>-->

        <!--<md-button ng-click="vm.entity.is_canceled = false"-->
        <!--ng-if="vm.entity.is_canceled == true"-->
        <!--ng-disabled="vm.entity.is_locked == true"-->
        <!--class="">-->
        <!--Ignore-->
        <!--</md-button>-->

        <!--<md-button-->
        <!--ng-click="vm.entity.is_canceled = true"-->
        <!--ng-if="vm.entity.is_canceled == false"-->
        <!--ng-disabled="vm.entity.is_locked == true"-->
        <!--class="">-->
        <!--Activate-->
        <!--</md-button>-->
      </div>
    </div>

    <div style="margin-right: 10px;">
      <md-button class="link-button" ng-click="vm.cancel()">
        <span >Cancel</span>
      </md-button>

      <md-button data-ng-class="{'disabled-btn': !vm.formIsValid || vm.processing}"
                 class="outline-button"
                 ng-click="vm.bookAsPending()">
        Book as pending
      </md-button>

      <md-button data-ng-class="{'disabled-btn': !vm.formIsValid || vm.processing}"
                 ng-click="vm.book()"
                 class="m-r-24 md-primary md-raised">
        Book
      </md-button>

    </div>

    <dialog-window-resizer
      data-ng-if="vm.dialogElemToResize"
      data-elem-to-resize="vm.dialogElemToResize"
      data-on-resize-callback="vm.rearrangeMdDialogActions()"
      class="dialog-window-resizer_type1"
    ></dialog-window-resizer>
  </md-dialog-actions>
</md-dialog>
