<div layout="row">
    <md-button class="link-button" ng-click="vm.cancel()">
        <span >Cancel</span>
    </md-button>

</div>

<div style="margin-right: 10px;">

    <md-button data-custom-popup
               data-popup-template-url="'views/popups/selector2-popup-view.html'"
               data-popup-data="vm.footerPopupData"
               data-open-on="click"
               data-position-relative-to="element"
               data-relative-position-y="top"

               data-ng-disabled="!vm.checkReadyStatus()"
               class="outline-button">
        <div class="flex-row flex-c-center color-grey">
            <span class="material-icons">more_vert</span>
        </div>
    </md-button>

    <md-button data-ng-class="{'disabled-btn': !vm.formIsValid || vm.processing}"
               class="outline-button"
               ng-click="vm.bookAsPending()">
        Book as pending
    </md-button>

    <md-button data-ng-class="{'disabled-btn': !vm.formIsValid || vm.processing}"
               ng-click="vm.book()"
               class="m-r-24 md-primary">
        Book
    </md-button>

</div>