<div class="big-drawer-content">
    <div class="big-drawer-header">
        <h2 class="big-drawer-header-h">
            <span>{{ vm.previewMode ? 'Transaction' : 'Rebook Transaction' }} </span>
            <span>| Code: <span class="text-bold" data-ng-bind="vm.entity.code"></span></span>
            <span data-ng-if="vm.entity.transaction_unique_code">| Unique Code: <span class="text-bold" data-ng-bind="vm.entity.transaction_unique_code"></span></span>
        </h2>
    </div>

    <div class="big-drawer-main"
         data-ng-include="'views/entity-viewer/complex-transaction-edit-content-view.html'"></div>


    <div ng-if="vm.previewMode" class="dialog-footer flex-row fc-space-between" style="background: #fff"
         data-ng-include="'views/entity-viewer/complex-transaction-view-footer-view.html'"></div>

    <div ng-if="!vm.previewMode" class="dialog-footer flex-row fc-space-between" style="background: #fff"
         data-ng-include="'views/entity-viewer/complex-transaction-edit-footer-view.html'"></div>

</div>