<md-dialog aria-label="add complex transaction dialog" class="entity-editor-dialog draggable-dialog" drag-dialog
           style="height: 100%">
    <md-toolbar>
        <div class="md-toolbar-tools">

            <div layout="row">
                <h2>Book Transaction</h2>
                <span flex></span>

                <div data-ng-if="vm.recalculating" layout="row" class="m-l-16">
                    <div layout="row" layout-sm="column" layout-align="space-around" class="m-r-8">
                        <!--<md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>-->
                        <progress-circular diameter="20"></progress-circular>
                    </div>
                    — Processing
                </div>

            </div>

        </div>
    </md-toolbar>
    <md-dialog-content style="height: 100%">

        <div style="min-width: 1450px">

            <div>
                <div data-ng-if="vm.checkReadyStatus()">

                    <div class="p-24">

                        <div layout="row" style="height: 90px;">

                            <div layout="row" flex="50" class="p-t-24"
                                 style="border: 1px solid #000; background: #ffeee8">
                                <md-input-container style="font-size: 18px; " class="width-100">
                                    <label for="">Transaction type</label>
                                    <md-select data-ng-model="vm.transactionTypeId"
                                               md-container-class="big-select"
                                               data-ng-change="vm.transactionTypeChange()"
                                               md-on-close="searchTerm = ''">
                                        <md-select-header>
                                            <input data-ng-model="searchTerm"
                                                   type="search"
                                                   placeholder="Search for a ..."
                                                   class="md-text md-select-search-pattern">
                                        </md-select-header>

                                        <div class="big-select-optgroup-container">

                                            <md-optgroup label="{{group.name}}"
                                                         data-ng-repeat="group in vm.transactionGroups">
                                                <md-option
                                                        data-ng-repeat="item in group.items | orderBy: 'name' | filter:{name: searchTerm}"
                                                        ng-value="item.id">
                                                    {{item.name}}
                                                </md-option>
                                            </md-optgroup>

                                        </div>

                                    </md-select>
                                </md-input-container>
                            </div>

                            <div flex="50">

                                <fieldset class="fieldset-event-settings m-b-24" style="border: 0;">

                                    <legend style="color: grey">Transaction Types Filters</legend>

                                    <div layout="row">
                                        <div layout="row" flex="40">
                                            <md-input-container class="width-100">
                                                <label for="">Portfolio</label>
                                                <md-select multiple data-ng-model="vm.filters.portfolios"
                                                           data-ng-change="vm.filtersChange()"
                                                           md-on-close="searchTerm = ''">
                                                    <md-select-header>
                                                        <input data-ng-model="searchTerm"
                                                               type="search"
                                                               placeholder="Search for a ..."
                                                               class="md-text md-select-search-pattern">
                                                    </md-select-header>
                                                    <md-option
                                                            data-ng-repeat="item in vm.portfolios | filter:{name: searchTerm}"
                                                            ng-value="item.id">
                                                        {{item.name}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>

                                        <div layout="row" flex="40">
                                            <md-input-container class="width-100">
                                                <label for="">Instrument Type</label>
                                                <md-select multiple data-ng-model="vm.filters.instrument_types"
                                                           data-ng-change="vm.filtersChange()"
                                                           md-on-close="searchTerm = ''">
                                                    <md-select-header>
                                                        <input data-ng-model="searchTerm"
                                                               type="search"
                                                               placeholder="Search for a ..."
                                                               class="md-text md-select-search-pattern">
                                                    </md-select-header>
                                                    <md-option
                                                            data-ng-repeat="item in vm.instrumentTypes | filter:{name: searchTerm}"
                                                            ng-value="item.id">
                                                        {{item.user_code}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>

                                        <div layout="row" flex="20" layout-align="center start">
                                            <md-button class="md-raised"
                                                       data-ng-click="vm.filters.portfolios = null; vm.filters.instrument_types = null;">
                                                Clear Filters
                                            </md-button>
                                        </div>
                                    </div>

                                </fieldset>

                            </div>

                        </div>

                    </div>

                    <div data-ng-if="vm.readyStatus.layout && vm.transactionTypeId">

                        <md-tabs md-dynamic-height md-border-bottom class="tabs-colored">
                            <md-tab data-ng-repeat="tab in vm.tabs track by $index">
                                <md-tab-label>
                                    <span>{{tab.name}}</span>
                                </md-tab-label>
                                <md-tab-body>
                                    <md-content class="md-padding p-t-26 "
                                                ng-class="{'locked-tab-overlay': vm.entity.is_locked}">
                                        <div layout="row" data-ng-repeat="row in vm.range(tab.layout.rows)"
                                             class="entity-editor-row">
                                            <div class="ev-data-field
								{{field.attribute['value_type'] === 'decoration' ? 'decoration-label-line' : ''}}"
                                                 data-ng-repeat="field in tab.layout.fields track by $index"
                                                 flex="{{vm.bindFlex(tab, row, field)}}"
                                                 data-ng-if="vm.checkFieldRender(tab, row, field)" data-row="{{row}}" data-column="{{field.column}}">
                                                <bind-field-control
                                                        entity-type="vm.entityType"
                                                        entity="vm.entity"
                                                        item="vm.attributesLayout[tab.index][$index]"></bind-field-control>
                                            </div>
                                        </div>
                                    </md-content>
                                </md-tab-body>
                            </md-tab>
                            <md-tab data-ng-repeat="tab in vm.entityTabs" data-ng-if="vm.checkViewState(tab)">
                                <md-tab-lable>
                                    <span class="grey-tab">{{tab.label}}</span>
                                </md-tab-lable>
                                <md-tab-body>
                                    <md-content class="md-padding p-t-26">
                                        <div data-ng-include="tab.templateUrl"></div>
                                    </md-content>
                                </md-tab-body>
                            </md-tab>
                        </md-tabs>

                    </div>

                    <div data-ng-if="!vm.readyStatus.layout && vm.transactionTypeId">
                        <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
                            <!--<md-progress-circular md-mode="indeterminate" md-diameter="64"></md-progress-circular>-->
                            <progress-circular diameter="60"></progress-circular>
                        </div>
                    </div>

                </div>

                <div data-ng-if="!vm.checkReadyStatus()">
                    <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
                        <!--<md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>-->
                        <progress-circular diameter="100"></progress-circular>
                    </div>
                </div>
            </div>

        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center" class="entity-editor-dialog__footer">
        <div layout="row">
            <md-button ng-click="vm.editLayout()"
                       class="md-raised md-primary"
                       ng-disabled="!vm.checkReadyStatus() || !vm.entity.transaction_type">
                Edit Form
            </md-button>
            <md-button ng-click="vm.manageAttrs()" class="md-raised md-primary" ng-disabled="!vm.checkReadyStatus()">
                Manage attributes
            </md-button>

            <div ng-if="vm.checkReadyStatus()">

                <!--<md-button ng-click="vm.entity.is_locked = true"-->
                <!--ng-if="vm.entity.is_locked == false"-->
                <!--class="md-raised"-->
                <!--ng-disabled="vm.entity.is_canceled == true">-->
                <!--Lock-->
                <!--</md-button>-->

                <!--<md-button-->
                <!--ng-click="vm.entity.is_locked = false"-->
                <!--ng-if="vm.entity.is_locked == true"-->
                <!--class="md-raised"-->
                <!--ng-disabled="vm.entity.is_canceled == true">-->
                <!--Unlock-->
                <!--</md-button>-->

                <!--<md-button ng-click="vm.entity.is_canceled = false"-->
                <!--ng-if="vm.entity.is_canceled == true"-->
                <!--ng-disabled="vm.entity.is_locked == true"-->
                <!--class="md-raised">-->
                <!--Ignore-->
                <!--</md-button>-->

                <!--<md-button-->
                <!--ng-click="vm.entity.is_canceled = true"-->
                <!--ng-if="vm.entity.is_canceled == false"-->
                <!--ng-disabled="vm.entity.is_locked == true"-->
                <!--class="md-raised">-->
                <!--Activate-->
                <!--</md-button>-->

            </div>

        </div>
        <div>
            <md-button class="md-raised" ng-click="vm.cancel()">
                Cancel
            </md-button>

            <md-button class="md-raised"
                       data-ng-class="{'disabled-btn': !vm.formIsValid}"
                       ng-click="vm.bookAsPending()"
                       style="margin-right:20px;">
                Book as pending
            </md-button>
            <md-button class="md-raised"
                       data-ng-class="{'disabled-btn': !vm.formIsValid}"
                       ng-click="vm.save()"
                       style="margin-right:20px;">
                Book
            </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>