<md-dialog aria-label="entity edit" ng-cloak class="add-portfolio-dialog draggable-dialog" drag-dialog>
    <md-dialog-content data-custom-scroll class="custom-scrollbar">
        <div data-ng-include="'views/entity-editor-view.html'"></div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <div>
            <md-button class="md-raised" ng-click="vm.cancel()">
                Cancel
            </md-button>
            <md-button class="md-raised" ng-click="vm.save()" style="margin-right:20px;">
				<span>Save</span>
			</md-button>
		</div>
	</md-dialog-actions>
</md-dialog>