<md-dialog aria-label="add complex transaction dialog"
           class="entity-editor-dialog draggable-dialog dialog-actions-bottom cTransactionEditorDialogElemToResize"
           drag-dialog
           style="height: 100%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <is-draggable-sign></is-draggable-sign>

            <div layout="row">
                <h2>Book Transaction</h2>
                <span flex></span>

                <div data-ng-if="vm.processing" layout="row" class="m-l-16">
                    <div layout="row" layout-sm="column" layout-align="space-around" class="m-r-8">
                        <!--<md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>-->
                        <progress-circular diameter="20"></progress-circular>
                    </div>
                    — Processing
                </div>

            </div>

        </div>
    </md-toolbar>
    <md-dialog-content style="height: 100%" class="position-relative">

        <div style="min-width: 1450px">

            <div data-ng-include="'views/entity-viewer/complex-transaction-add-content-view.html'"></div>

        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <div layout="row">
            <md-button ng-click="vm.editLayout()"
                       class="md-raised md-primary"
                       ng-disabled="!vm.checkReadyStatus() || !vm.entity.transaction_type">
                Edit Form
            </md-button>
            <md-button ng-click="vm.manageAttrs($event)" class="md-raised md-primary" ng-disabled="!vm.checkReadyStatus()">
                Manage attributes
            </md-button>
        </div>

        <div style="margin-right: 10px;">
            <md-button class="md-raised" ng-click="vm.cancel()">
                Cancel
            </md-button>

            <md-button class="md-raised"
                       data-ng-class="{'disabled-btn': !vm.formIsValid || vm.processing}"
                       ng-click="vm.bookAsPending()"
                       style="margin-right:20px;">
                Book as pending
            </md-button>
            <md-button class="md-raised"
                       data-ng-class="{'disabled-btn': !vm.formIsValid || vm.processing}"
                       ng-click="vm.book()"
                       style="margin-right:20px;">
                Book
            </md-button>
        </div>

        <dialog-window-resizer data-ng-if="vm.dialogElemToResize"
                               data-elem-to-resize="vm.dialogElemToResize"
                               data-on-resize-callback="vm.rearrangeMdDialogActions()"
                               class="dialog-window-resizer_type1"></dialog-window-resizer>
    </md-dialog-actions>
</md-dialog>