<div class="page-ev-form">
    <div class="page-ev-form-header p-l-16"
         data-ng-include="'views/entity-viewer/complex-transaction-edit-header-view.html'"></div>

    <div class="page-ev-form-main overflow-auto"
         data-ng-include="'views/entity-viewer/complex-transaction-edit-content-view.html'"></div>

    <div ng-if="vm.previewMode" class="page-ev-form-footer flex-row fc-space-between"
         data-ng-include="'views/entity-viewer/complex-transaction-view-footer-view.html'"></div>
    <div ng-if="!vm.previewMode" class="page-ev-form-footer flex-row fc-space-between"
         data-ng-include="'views/entity-viewer/complex-transaction-edit-footer-view.html'"></div>

</div>