<div data-ng-controller="DashboardReportViewerController as vm" class="report-viewer-holder height-100">
    <div class="height-100">
        <div data-ng-if="vm.readyStatus.attributes && vm.readyStatus.layout" class="g-group-table-holder height-100">

            <div data-ng-if="vm.componentData.type === 'report_viewer' || vm.componentData.type === 'report_viewer_split_panel'"
                 class="height-100">
                <group-table class="height-100 display-block"
                             attribute-data-service="vm.attributeDataService"
                             ev-data-service="vm.entityViewerDataService"
                             ev-event-service="vm.entityViewerEventService"
                             sp-exchange-service="vm.splitPanelExchangeService"
                ></group-table>
            </div>

            <!--<div data-ng-if="vm.componentData.type === 'report_viewer_split_panel'" class="height-100">
                <group-table class="height-100 display-block"
                             attribute-data-service="vm.attributeDataService"
                             ev-data-service="vm.entityViewerDataService"
                             ev-event-service="vm.entityViewerEventService"
                             sp-exchange-service="vm.splitPanelExchangeService"
                ></group-table>
            </div>-->

            <div data-ng-if="vm.componentData.type === 'report_viewer_grand_total'" class="height-100">

                <!--<div class="grand-total-title">{{vm.componentData.name}}</div>-->

                <group-dashboard-filter style="display: none"
                                        ev-data-service="vm.entityViewerDataService"
                                        ev-event-service="vm.entityViewerEventService"></group-dashboard-filter>

                <div data-ng-if="vm.grandTotalProcessing" class="text-center">
                    <i>Calculating</i>
                </div>
                <div data-ng-if="!vm.grandTotalProcessing">
                    <div class="grand-total-value" ng-class="{'negative-red': vm.grandTotalNegative}">{{vm.grandTotalValue}}</div>
                </div>

            </div>

            <div ng-if="vm.componentData.type === 'report_viewer_bars_chart'" class="height-100">
                <report-viewer-bars-chart class="height-100 display-block"
                                      rv-charts-settings="vm.rvChartsSettings"
                                      ev-data-service="vm.entityViewerDataService"
                                      ev-event-service="vm.entityViewerEventService"></report-viewer-bars-chart>
            </div>

            <div ng-if="vm.componentData.type === 'report_viewer_pie_chart'" class="height-100">
                <report-viewer-pie-chart class="height-100 display-block"
                                          rv-charts-settings="vm.rvChartsSettings"
                                          ev-data-service="vm.entityViewerDataService"
                                          ev-event-service="vm.entityViewerEventService"></report-viewer-pie-chart>
            </div>

            <div data-ng-if="vm.componentData.type === 'report_viewer_matrix'" class="height-100">
                <report-viewer-matrix class="height-100 display-block"
                                      matrix-settings="vm.matrixSettings"
                                      ev-data-service="vm.entityViewerDataService"
                                      ev-event-service="vm.entityViewerEventService"></report-viewer-matrix>
            </div>

        </div>

        <div data-ng-if="!vm.readyStatus.attributes || !vm.readyStatus.layout">
            <div class="e-data-loader" layout="row" layout-sm="column" layout-align="space-around">
                <!--<md-progress-circular md-diameter="100" md-mode="indeterminate"></md-progress-circular>-->
                <progress-circular diameter="100"></progress-circular>
            </div>
        </div>
    </div>
</div>