<div class="fixed-area-popup-content">
    <div data-ng-if="vm.fields.name">
        <text-input
                label="Name"
                placeholder-text="Name"
                model="vm.fields.name.value"></text-input>
    </div>

    <div data-ng-if="vm.fields.public_name">
        <text-input
                label="Public name"
                placeholder-text="Public name"
                model="vm.fields.public_name.value"></text-input>
    </div>


    <div data-ng-if="vm.fields.short_name && (vm.tabColumns < 3 || vm.entityType === 'instrument' || vm.entityType === 'account')">
        <text-input
                label="Short name"
                placeholder-text="Short name"
                model="vm.fields.short_name.value"></text-input>
    </div>

    <div data-ng-if="vm.fields.user_code">
        <text-input
                label="User code"
                placeholder-text="User code"
                model="vm.fields.user_code.value"></text-input>
    </div>

    <div data-ng-if="vm.fields.showByDefault">
        <dropdown-select label="Show by default"
                         model="vm.fields.showByDefault.value"
                         placeholder-text="Show by default"
                         menu-options="vm.fields.showByDefault.options"
                         small-options="{tooltipText: 'Show by default', indicatorBtnIcon: 'type1'}"
                         class="ev-editor-field"></dropdown-select>
    </div>

    <div data-ng-if="vm.fields.status && vm.tabColumns < 6">
        <dropdown-select label="Status"
                         model="vm.fields.status.value"
                         placeholder-text="System List"
                         menu-options="vm.fields.status.options"
                         small-options="{tooltipText: 'Status', indicatorBtnIcon: 'type1'}"
                         class="ev-editor-field"></dropdown-select>
    </div>

    <div data-ng-if="vm.fields.type && vm.tabColumns < 3">
        <dropdown-select label="{{vm.fields.type.name}}"
                         model="vm.fields.type.value"
                         placeholder-text="{{vm.fields.type.name}}"
                         menu-options="vm.fields.type.options"
                         small-options="{tooltipText: '{{vm.fields.type.name}}', indicatorBtnIcon: 'type1'}"
                         class="ev-editor-field"></dropdown-select>
    </div>

</div>