<div class="big-drawer-content universal-editor">
    <div class="big-drawer-header">

        <h2 class="big-drawer-header-h">Add {{vm.entityTypeSlug()}}</h2>

        <div data-ng-if="vm.processing" layout="row" class="m-l-16">
            <div layout="row" layout-sm="column" layout-align="space-around" class="m-r-8">
                <progress-circular diameter="20"></progress-circular>
            </div>
            — Processing
        </div>

    </div>

    <div class="big-drawer-main"
         data-ng-include="'views/entity-viewer/entity-viewer-universal-add-content-view.html'"></div>

    <div class="big-drawer-footer big-drawer-actions flex-row fc-space-between">

        <div layout="row">
            <md-button class="link-button" ng-click="vm.cancel()">
                <span>Cancel</span>
            </md-button>
        </div>

<!--        Victor 2020.11.20 moved to md menu-->
<!--        <div>
            <md-button ng-click="vm.editLayout()" class="md-raised md-primary" ng-disabled="!vm.checkReadyStatus()">
                Edit Form
            </md-button>
            <md-button ng-click="vm.manageAttrs($event)" class="md-raised md-primary"
                       ng-disabled="!vm.checkReadyStatus()">
                Manage attributes
            </md-button>
        </div>-->
        <div style="margin-right: 10px;">
            <md-menu md-position-mode="target-right target">

                <md-button class="outline-button" ng-click="$mdOpenMenu($event)">
                    <div class="flex-row flex-c-center">
                        <ng-md-icon icon="more_vert" class="flex-row"></ng-md-icon>
                    </div>
                </md-button>

                <md-menu-content class="universal-editor-menu-content optional-entity-menu" width="3">

                    <md-menu-item>
                        <md-button ng-click="vm.editLayout($event)"
                                   data-ng-class="{'disabled-btn': !vm.checkReadyStatus()}">
                            <div class="flex-row flex-i-center">
                                <ng-md-icon icon="edit" class="flex-row"></ng-md-icon>
                                <span class="m-l-16">Edit Form</span>
                            </div>

                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button ng-click="vm.manageAttrs($event)"
                                   data-ng-class="{'disabled-btn': !vm.checkReadyStatus()}">
                            <div class="flex-row flex-i-center">
                                <ng-md-icon icon="list" class="flex-row"></ng-md-icon>
                                <span class="m-l-16">Manage Attributes</span>
                            </div>

                        </md-button>

                </md-menu-content>
            </md-menu>


            <!--        <div>
                        <md-button class="md-raised" ng-click="vm.cancel()">
                            Cancel
                        </md-button>
                        <md-button class="md-raised" data-ng-class="{'disabled-btn': !vm.formIsValid || vm.processing}"
                                   ng-click="vm.save()" style="margin-right:20px;">
                            Add and Exit
                        </md-button>
                    </div>-->


            <md-button class="outline-button"
                       data-ng-class="{'disabled-btn': !vm.formIsValid || vm.processing}"
                       ng-click="vm.save($event, false)">
                Save
            </md-button>

            <md-button class="m-r-24 primary-button"
                       data-ng-class="{'disabled-btn': !vm.formIsValid || vm.processing}"
                       ng-click="vm.save($event, true)">
                Save and Exit
            </md-button>
        </div>

    </div>

</div>