<div data-ng-controller="EntityViewerController as vm" class="entity-viewer-holder">

    <group-table data-ng-if="vm.readyStatus.attributes && vm.readyStatus.layout" class="g-group-table-holder"
                 attribute-data-service="vm.attributeDataService"
                 ev-data-service="vm.entityViewerDataService"
                 ev-event-service="vm.entityViewerEventService"
                 sp-exchange-service="vm.splitPanelExchangeService"
    ></group-table>

    <div data-ng-if="!vm.readyStatus.attributes || !vm.readyStatus.layout" class="e-data-loader" layout="row"
         layout-sm="column" layout-align="center center">
        <progress-circular diameter="100"></progress-circular>
    </div>

</div>