<md-dialog class="instrument-editor-drawer entity-editor-dialog draggable-dialog dialog-actions-bottom evEditorDialogElemToResize"
           drag-dialog
           aria-label="entity viewer edit dialog"
           style="height: 100%">
    <md-toolbar>
        <div data-ng-if="vm.checkReadyStatus()"
             class="md-toolbar-tools"
             data-ng-class="{'disabled-input-form': !vm.hasEditPermission}">
            <is-draggable-sign></is-draggable-sign>

            <h2 data-ng-if="vm.hasEditPermission">Edit {{vm.entityTypeSlug()}}: {{vm.getEntityPropertyByDefault()}}</h2>
            <h2 data-ng-if="!vm.hasEditPermission">View {{vm.entityTypeSlug()}}: {{vm.getEntityPropertyByDefault()}}</h2>
            <span data-ng-if="!vm.hasEditPermission" style="margin-left: 12px;">
                <ng-md-icon icon="lock" size="24">
                        <md-tooltip md-direction="bottom">You don't have permission to edit this form</md-tooltip>
                </ng-md-icon>
            </span>
            <div data-ng-if="vm.processing" layout="row" class="m-l-16">
                <div layout="row" layout-sm="column" layout-align="space-around" class="m-r-8">
                    <progress-circular diameter="20"></progress-circular>
                </div>
                — Processing
            </div>

        </div>
    </md-toolbar>

    <md-dialog-content style="height: 100%">

        <div data-ng-include="'views/entity-viewer/entity-viewer-edit-content-view.html'"
             style="min-width: 1450px"></div>

    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">
        <div class="dialog-footer flex-row fc-space-between"
             data-ng-include="'views/entity-viewer/entity-viewer-edit-footer-view.html'"></div>
    </md-dialog-actions>
</md-dialog>