<div data-ng-if="vm.checkReadyStatus()">

    <div data-ng-if="vm.fixedFieldsAttributes.length > 0" class="entity-editor-fixed-fields-container">
        <div layout="row" class="entity-editor-row">
            <div class="ev-data-field"
                 data-ng-class="{'decoration-label-line': field.attribute['value_type'] === 'decoration'}"
                 flex="50">

                <bind-field-control data-ng-if="vm.fixedFieldsAttributes[0]"
                                    entity-type="vm.entityType"
                                    entity="vm.entity"
                                    ev-editor-data-service="vm.evEditorDataService"
                                    ev-editor-event-service="vm.evEditorEventService"
                                    item="vm.fixedFieldsAttributes[0]"
                                    entity-change="vm.entityChange()"
                                    on-field-blur="vm.onNameInputBlur()">
                </bind-field-control>
            </div>

            <div class="ev-data-field"
                 data-ng-class="{'decoration-label-line': field.attribute['value_type'] === 'decoration'}"
                 flex="35">
                <bind-field-control data-ng-if="vm.fixedFieldsAttributes[1]" entity-type="vm.entityType"
                                    entity="vm.entity" ev-editor-data-service="vm.evEditorDataService"
                                    ev-editor-event-service="vm.evEditorEventService" entity-change="vm.entityChange()"
                                    item="vm.fixedFieldsAttributes[1]"></bind-field-control>
            </div>

            <div class="ev-data-field"
                 data-ng-class="{'decoration-label-line': field.attribute['value_type'] === 'decoration'}"
                 flex="15">
                <bind-field-control data-ng-if="vm.fixedFieldsAttributes[2]" entity-type="vm.entityType"
                                    entity="vm.entity" ev-editor-data-service="vm.evEditorDataService"
                                    ev-editor-event-service="vm.evEditorEventService" entity-change="vm.entityChange()"
                                    item="vm.fixedFieldsAttributes[2]"></bind-field-control>
            </div>
        </div>

        <div layout="row" class="entity-editor-row">
            <div class="ev-data-field"
                 data-ng-class="{'decoration-label-line': field.attribute['value_type'] === 'decoration'}"
                 flex="50">
                <bind-field-control data-ng-if="vm.fixedFieldsAttributes[3]" entity-type="vm.entityType"
                                    entity="vm.entity" ev-editor-data-service="vm.evEditorDataService"
                                    ev-editor-event-service="vm.evEditorEventService" entity-change="vm.entityChange()"
                                    item="vm.fixedFieldsAttributes[3]"></bind-field-control>
            </div>

            <div class="ev-data-field"
                 data-ng-class="{'decoration-label-line': field.attribute['value_type'] === 'decoration'}"
                 flex="35">
                <bind-field-control data-ng-if="vm.fixedFieldsAttributes[4]" entity-type="vm.entityType"
                                    entity="vm.entity" ev-editor-data-service="vm.evEditorDataService"
                                    ev-editor-event-service="vm.evEditorEventService" entity-change="vm.entityChange()"
                                    item="vm.fixedFieldsAttributes[4]"></bind-field-control>
            </div>

            <!--<div class="ev-data-field"
                 data-ng-class="{'decoration-label-line': field.attribute['value_type'] === 'decoration'}"
                 flex="15">
                <dropdown-select label="Status"
                                 model="vm.entityStatus"
                                 placeholder-text="System List"
                                 menu-options="vm.statusSelectorOptions"
                                 small-options="{tooltipText: 'Status', indicatorBtnIcon: 'type1'}"
                                 on-change-callback="vm.entityStatusChanged()"
                                 class="ev-editor-field"></dropdown-select>-->

            <!-- Old selector -->
            <!--<div class="ev-data-field"
                 data-ng-class="{'decoration-label-line': field.attribute['value_type'] === 'decoration'}"
                 flex="15">
                <md-input-container class="md-block">
                    <label>Status</label>
                    <md-select data-ng-model="vm.entityStatus"
                               data-ng-change="vm.entityStatusChanged()">
                        <md-option value="enabled">Enabled</md-option>
                        <md-option value="disabled">Disabled</md-option>
                        <md-option value="deleted">Deleted</md-option>
                    </md-select>
                </md-input-container>
            </div>-->

        </div>

        <div class="entity-editor-divider-holder">
            <div></div>
        </div>
    </div>

    <md-tabs md-dynamic-height md-border-bottom class="tabs-colored">
        <md-tab data-ng-repeat="tab in vm.tabs">
            <md-tab-label>
                <div class="tab-name-elem" data-tab-name="{{tab.name | lowercase}}">
                    <span>{{tab.name}}</span>
                </div>
            </md-tab-label>

            <md-tab-body>
                <md-content class="md-padding p-t-26">
                    <div layout="row" data-ng-repeat="row in vm.range(tab.layout.rows)"
                         class="entity-editor-row">
                        <div class="ev-data-field
								{{field.attribute['value_type'] === 'decoration' ? 'decoration-label-line' : ''}}"
                             data-ng-repeat="field in tab.layout.fields | orderBy: 'column' track by $index"
                             flex="{{vm.bindFlex(tab, field)}}"
                             data-ng-if="vm.checkFieldRender(tab, row, field)">
                            <bind-field-control entity-type="vm.entityType"
                                                entity="vm.entity"
                                                entity-change="vm.entityChange(fieldKey)"
                                                ev-editor-data-service="vm.evEditorDataService"
                                                ev-editor-event-service="vm.evEditorEventService"
                                                item="vm.attributesLayout[tab.tabOrder][field.row][field.column]">
                            </bind-field-control>
                        </div>
                    </div>
                </md-content>
            </md-tab-body>
        </md-tab>

        <md-tab data-ng-repeat="tab in vm.entityTabs" data-ng-if="vm.checkViewState(tab)">
            <md-tab-lable>
                <div class="tab-name-elem" data-tab-name="{{tab.label | lowercase}}">
                    <span class="grey-tab">{{tab.label}}</span>
                </div>
            </md-tab-lable>

            <md-tab-body>
                <md-content class="md-padding p-t-26">
                    <div data-ng-include="tab.templateUrl"></div>
                </md-content>
            </md-tab-body>
        </md-tab>

        <md-tab data-ng-if="vm.canManagePermissions">
            <md-tab-label>
                <span class="colored-tab">Permissions</span>
            </md-tab-label>
            <md-tab-body>
                <md-content class="md-padding p-t-26">
                    <md-content class="md-padding">
                        <div data-ng-if="vm.readyStatus.permissions">

                            <h3>Group permissions</h3>

                            <div>
                                <div layout="column">
                                    <div layout="row" layout-align="space-between center"
                                         class="permissions-table-header">
                                        <div>
                                            <div class="permissions-columns">Group name
                                            </div>
                                        </div>
                                        <div layout="row" class="permissions-checkbox-holder" flex="30"
                                             layout-align="space-between center">
                                            <div class="permissions-columns" flex="33">
                                                Delegate
                                                <ng-md-icon class="tooltip-inline-block" icon="info"
                                                            size="20" style="fill: #777777">
                                                    <md-tooltip class="tooltip_2" md-direction="top">
                                                        tooltip
                                                        text
                                                    </md-tooltip>
                                                </ng-md-icon>
                                            </div>
                                            <div class="permissions-columns" flex="33">
                                                Write
                                                <ng-md-icon class="tooltip-inline-block" icon="info"
                                                            size="20" style="fill: #777777">
                                                    <md-tooltip class="tooltip_2" md-direction="top">
                                                        tooltip
                                                        text
                                                    </md-tooltip>
                                                </ng-md-icon>
                                            </div>
                                            <div class="permissions-columns" flex="33"
                                                 data-ng-if="vm.entityType !== 'currency'">
                                                Read
                                                <ng-md-icon class="tooltip-inline-block" icon="info"
                                                            size="20" style="fill: #777777">
                                                    <md-tooltip class="tooltip_2" md-direction="top">
                                                        tooltip
                                                        text
                                                    </md-tooltip>
                                                </ng-md-icon>
                                            </div>

                                        </div>
                                    </div>
                                    <md-divider></md-divider>
                                </div>
                                <div data-ng-repeat="group in vm.groups" layout="column">
                                    <div layout="row" layout-align="space-between center"
                                         class="permissions-table-row">
                                        <div>
                                            <p> {{ group.name }} </p>
                                        </div>
                                        <div layout="row" class="permissions-checkbox-holder" flex="30"
                                             layout-align="space-between center">
                                            <div flex="33" layout="center center">
                                                <md-checkbox class="md-secondary"
                                                             data-ng-class="{'disabled-btn': (vm.isInheritRights || !group.objectPermissions.manage) && !vm.currentMember.is_admin}"
                                                             ng-model="group.objectPermissions.manage"></md-checkbox>
                                            </div>
                                            <div flex="33" layout="center center">
                                                <md-checkbox class="md-secondary"
                                                             data-ng-class="{'disabled-btn': (vm.isInheritRights || !group.objectPermissions.manage) && !vm.currentMember.is_admin}"
                                                             ng-model="group.objectPermissions.change"></md-checkbox>
                                            </div>
                                            <div flex="33" layout="center center"
                                                 data-ng-if="vm.entityType !== 'currency'">
                                                <md-checkbox class="md-secondary"
                                                             data-ng-class="{'disabled-btn': (vm.isInheritRights || !group.objectPermissions.manage) && !vm.currentMember.is_admin}"
                                                             ng-model="group.objectPermissions.view"></md-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <md-divider></md-divider>
                                </div>
                            </div>

                        </div>
                        <div data-ng-if="!vm.readyStatus.permissions">
                            <div layout="row" layout-sm="column" layout-align="space-around"
                                 class="m-large">
                                <!--<md-progress-circular md-mode="indeterminate"-->
                                <!--md-diameter="96"></md-progress-circular>-->
                                <progress-circular diameter="100"></progress-circular>
                            </div>
                        </div>
                    </md-content>
                </md-content>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>

<div data-ng-if="!vm.checkReadyStatus()">
    <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
        <!--<md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>-->
        <progress-circular diameter="100"></progress-circular>
    </div>
</div>