<div>
    <div data-ng-if="readyStatus.content">
        <div data-ng-if="type === 'key-value'">
            <md-input-container class="md-block">
                <label data-ng-bind="getName()"></label>
                <md-select data-ng-model="entity[getModelKey()]" md-on-close="searchTerm = null" data-ng-change="changeWatcher()">
                    <md-select-header>
                        <input data-ng-model="searchTerm"
                               type="search"
                               placeholder="Search for a ..."
                               class="md-text md-select-search-pattern">
                    </md-select-header>
                    <md-option data-ng-repeat="field in fields | filter:searchTerm track by $index" value="{{field.value}}">
                        {{field.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div data-ng-if="type === 'id'">
            <div data-ng-if="getModelKey() === 'instrument' ">
                <md-input-container class="md-block">
                    <label data-ng-bind="getName()"></label>
                    <md-select data-ng-model="entity[getModelKey()]"
                               data-ng-change="changeWatcher()"
                               md-container-class="h-instrument-select"
                               data-instrument-modal-resolver
                               md-selected-text="bindFormFields()">
                        <md-option data-ng-repeat="field in fields | filter:searchTerm track by $index" value="{{field.id}}">
                            {{bindListFields(field)}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div data-ng-if="getModelKey() !== 'instrument'">
                <md-input-container class="md-block">
                    <label data-ng-bind="getName()"></label>
                    <md-select data-ng-change="changeWatcher()" md-on-close="searchTerm = null" data-ng-model="entity[getModelKey()]"
                               md-selected-text="bindFormFields()">
                        <md-select-header>
                            <input data-ng-model="searchTerm"
                                   type="search"
                                   placeholder="Search for a ..."
                                   class="md-text md-select-search-pattern">
                        </md-select-header>
                        <md-option data-ng-repeat="field in fields | filter:searchTerm track by $index" value="{{field.id}}">
                            {{bindListFields(field)}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <div data-ng-if="type === 'multiple-ids'">
            <md-input-container class="md-block">
                <label data-ng-bind="getName()"></label>
                <md-select data-ng-change="changeWatcher()" md-on-close="searchTerm = null" data-ng-model="entity[getModelKey()]" md-selected-text="bindMCField()" multiple="true">
                    <md-select-header>
                        <input data-ng-model="searchTerm"
                               type="search"
                               placeholder="Search for a ..."
                               class="md-text md-select-search-pattern">
                    </md-select-header>
                    <md-option data-ng-repeat="field in fields | filter:searchTerm track by $index" value="{{field.id}}">
                        {{bindListFields(field)}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <div data-ng-if="!readyStatus.content">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>

</div>