<div>
    <div data-ng-if="readyStatus.content">
        <md-input-container class="md-block">
            <label data-ng-bind="getName()"></label>
            <div data-ng-if="type === 'key-value'">
                <md-select data-ng-model="entity[getModelKey()]">
                    <md-option data-ng-repeat="field in fields track by $index" value="{{field.value}}">
                        {{field.name}}
                    </md-option>
                </md-select>
            </div>
            <div data-ng-if="type === 'id'">
                <md-select data-ng-model="entity[getModelKey()]" md-selected-text="bindFormFields()" >
                    <md-option data-ng-repeat="field in fields track by $index" value="{{field.id}}">
                        {{bindListFields(field)}}
                    </md-option>
                </md-select>
            </div>
        </md-input-container>
    </div>
    <div data-ng-if="!readyStatus.content">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>

</div>