<div>

    <div layout="row" layout-align="center center">
        <h3>Groups Permission Manager</h3>
    </div>

    <div layout="row" layout-align="space-between center" style="margin-bottom: 8px; padding: 0 16px">
        <div layout="row" layout-align="begin center">
            Group Name
        </div>
        <div layout="row" layout-align="center center">
            <div layout="row" layout-align="center center" style="width: 210px">
                <b>Manage</b>
            </div>
            <div layout="row" layout-align="center center" style="width: 210px">
                <b>Write</b>
            </div>
            <div layout="row" layout-align="center center" style="width: 210px">
                <b>Read</b>
            </div>
        </div>
    </div>

    <div layout="column" class="ev-permission-editor-item">

        <div layout="row" layout-align="space-between"
             class="m-b-8"
             ng-class="{'selected': vm.activeGroup && vm.activeGroup.id == group.id}"
             data-ng-repeat="group in vm.groups"
             data-ng-click="vm.setActiveGroup(group)" style="height: 48px;">

            <div layout="row" layout-align="begin center">
                <span data-ng-bind="group.name"></span>

                <span data-ng-if="vm.activeGroup && vm.activeGroup.id == group.id && vm.processing" class="m-l-8">
                    <div layout="row" layout-sm="column" layout-align="space-around">
                    <!--<md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>-->
                    <progress-circular diameter="20"></progress-circular>
                </div>
                </span>
            </div>



            <div layout="row" layout-align="center center" data-ng-if="vm.activeGroup && vm.activeGroup.id == group.id">

                <md-button class="md-raised"
                           ng-class="{'disabled_btn': vm.processing}"
                           data-ng-click="vm.grantManage()">
                    <span>Grant</span>
                </md-button>

                <md-button class="md-raised"
                           ng-class="{'disabled_btn': vm.processing}"
                           data-ng-click="vm.revokeManage()">
                    <span>Revoke</span>
                </md-button>

                <md-button class="md-raised"
                           ng-class="{'disabled_btn': vm.processing}"
                           data-ng-click="vm.grantChange()">
                    <span>Grant</span>
                </md-button>

                <md-button class="md-raised"
                           ng-class="{'disabled_btn': vm.processing}"
                           data-ng-click="vm.revokeChange()">
                    <span>Revoke</span>

                </md-button>

                <md-button class="md-raised"
                           ng-class="{'disabled_btn': vm.processing}"
                           data-ng-click="vm.grantView()">
                    <span>Grant</span>
                </md-button>

                <md-button class="md-raised"
                           ng-class="{'disabled_btn': vm.processing}"
                           data-ng-click="vm.revokeView()">
                    <span>Revoke</span>

                </md-button>

            </div>


        </div>

    </div>

    <!--<div style="margin-top: 36px">-->
    <!--<div layout="row" layout-align="end center">-->
    <!--<md-button class="md-raised" data-ui-sref="app.settings.users-groups">Create/Edit Groups-->
    <!--</md-button>-->
    <!--</div>-->
    <!--</div>-->

</div>