<div data-ng-controller="ReportWizardController as vm" class="report-wizard">

    <div data-ng-if="vm.checkReadyStatus()">

        <div data-ng-if="vm.currentStep == 1">

            <div layout="row" layout-align="center center">
                <h3>Choose report type</h3>
            </div>


            <md-list flex>
                <md-list-item class="md-3-line" data-ng-repeat="item in vm.reportTypes"
                              ng-click="vm.selectReport(item)">
                    <ng-md-icon icon="done" size="20"
                                class="{{item.selected ? 'visible' : 'visibility-hidden'}}"></ng-md-icon>
                    {{item.caption}}
                </md-list-item>
            </md-list>

            <div layout="row" layout-align="end center">

                <md-button class="md-raised {{vm.checkDisabled() ? 'disabled-btn' : ''}}" data-ng-click="vm.nextStep()">
                    Next
                </md-button>
            </div>

        </div>

        <div data-ng-if="vm.currentStep == 2">

            <div layout="row" layout-align="center center">
                <h3>Choose layout</h3>
            </div>

            <md-list flex>
                <md-list-item class="md-3-line" data-ng-repeat="item in vm.layouts"
                              ng-click="vm.selectLayout(item)">
                    <ng-md-icon icon="done" size="20"
                                class="{{item.selected ? 'visible' : 'visibility-hidden'}}"></ng-md-icon>
                    {{item.name}}
                </md-list-item>
            </md-list>


            <div layout="row" layout-align="space-between center">
                <md-button class="md-raised" data-ng-click="vm.prevStep()">Back</md-button>
                <md-button class="md-raised {{vm.checkDisabled() ? 'disabled-btn' : ''}}" data-ng-click="vm.nextStep()">
                    Finish
                </md-button>
            </div>
        </div>


    </div>

    <div data-ng-if="!vm.checkReadyStatus()">
        <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
            <md-progress-circular md-mode="indeterminate"
                                  md-diameter="96"></md-progress-circular>
        </div>
    </div>


</div>