<div data-ng-controller="ReportWizardController as vm" class="report-wizard">

    <div data-ng-if="vm.checkReadyStatus()" class="custom-scrollbar" data-custom-scroll>

        <div data-ng-if="vm.currentStep == 1">

            <div layout="row" layout-align="center center">
                <h3>Choose report type</h3>
            </div>


            <div layout="column">
                <div data-ng-repeat="item in vm.reportTypes">
                    <md-button class="md-raised" data-ng-click="vm.selectReport(item)">
                        {{item.caption}}
                    </md-button>
                </div>
            </div>


            <!--<div layout="row" layout-align="end center">-->

            <!--<md-button class="md-raised {{vm.checkDisabled() ? 'disabled-btn' : ''}}" data-ng-click="vm.nextStep()">-->
            <!--Next-->
            <!--</md-button>-->
            <!--</div>-->

        </div>

        <div data-ng-if="vm.currentStep == 2">

            <div layout="row" layout-align="center center">
                <h3>Choose layout</h3>
            </div>

            <div layout="column">
                <div data-ng-repeat="item in vm.layouts">
                    <md-button class="md-raised" data-ng-click="vm.selectLayout(item)">
                        {{item.name}}
                    </md-button>
                </div>
            </div>

            <div layout="row" layout-align="begin center">
                <md-button class="md-raised" data-ng-click="vm.prevStep()">Back</md-button>
            </div>
            <!--<div layout="row" layout-align="space-between center">-->
            <!--<md-button class="md-raised" data-ng-click="vm.prevStep()">Back</md-button>-->
            <!--<md-button class="md-raised {{vm.checkDisabled() ? 'disabled-btn' : ''}}" data-ng-click="vm.nextStep()">-->
            <!--Finish-->
            <!--</md-button>-->
            <!--</div>-->
        </div>


    </div>

    <div data-ng-if="!vm.checkReadyStatus()">
        <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
            <md-progress-circular md-mode="indeterminate"
                                  md-diameter="96"></md-progress-circular>
        </div>
    </div>


</div>