<md-dialog aria-label="" ng-cloak class="draggable-dialog width-50" drag-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <is-draggable-sign></is-draggable-sign>
      <h2>Update Transaction File Procedure</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-dialog-content class="p-24">
    <div layout="column">
      <h3>General</h3>
      <md-input-container>
        <label>Name</label>
        <input type="text" data-ng-model="vm.item.name" />
      </md-input-container>
      <md-input-container>
        <label>Unique Code</label>
        <input type="text" data-ng-model="vm.item.user_code" />
      </md-input-container>

      <div class="m-t-16">
        <div><label for="">Notes</label></div>
        <textarea
          class="textAreaProcedure"
          name=""
          data-ng-model="vm.item.notes"
          cols="60"
          rows="5"
        ></textarea>
      </div>
      <div class="m-t-16">
        <div><label for="">Notes for users</label></div>
        <textarea
          class="textAreaProcedure"
          data-ng-model="vm.item.notesForUsers"
          cols="60"
          rows="5"
        ></textarea>
      </div>
      <div class="m-t-16">
        <date-input
          data-ng-model="vm.item.modified"
          label="Date"
          format="full"
          model="vm.item.modified"
          custom-buttons="item.buttons"
          custom-styles="customStyles"
          event-signal="ciEventObj.event"
          small-options="{tooltipText: tooltipText, notNull: options.notNull}"
        ></date-input>
        <md-select data-ng-model="vm.item.provider">
          <md-option
            ng-value="$index+1"
            data-ng-repeat="item in vm.transactionFileProviderScheme track by $index"
            >{{item.name}}</md-option
          >
        </md-select>
      </div>
      <div class="m-t-16">
        <md-input-container class="m-t-16">
          <label>Scheme name</label>
          <md-select data-ng-model="vm.item.scheme_name">
            <md-option
              ng-value="$index+1"
              data-ng-repeat="item in vm.transactionFileSchemes track by $index"
              >{{item.name}}</md-option
            >
          </md-select>
        </md-input-container>
      </div>
    </div>

    <!-- <div data-ng-if="!vm.readyStatus.procedures">
      <div
        class="m-16"
        layout="row"
        layout-sm="column"
        layout-align="space-around"
      >
        <progress-circular diameter="100"></progress-circular>
      </div>
    </div> -->
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="vm.cancel()"> Close </md-button>
    <md-button
      class="md-raised"
      ng-click="vm.agree()"
      style="margin-right: 20px"
    >
      Save
    </md-button>
    <!-- ng-click="vm.cancel()"  -->
  </md-dialog-actions>
</md-dialog>
