<md-dialog aria-label="" ng-cloak class="draggable-dialog width-50" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <is-draggable-sign></is-draggable-sign>

            <h2>Create Instrument Pricing Scheme</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content class="p-24">

        <div data-ng-if="vm.readyStatus.types" layout="column">

            <md-input-container>
                <label>Name</label>
                <input type="text" data-ng-model="vm.item.name">
            </md-input-container>

            <md-input-container>
                <label>Type</label>
                <md-select data-ng-model="vm.item.type">
                    <md-option ng-value="item.id" data-ng-repeat="item in vm.types">{{item.name}}</md-option>
                </md-select>
            </md-input-container>

            <div class="m-t-16">

                <div><label for="">Notes</label></div>
                <textarea name="" data-ng-model="vm.item.notes" cols="60" rows="5"></textarea>

            </div>

            <div class="m-t-16">

                <div><label for="">Clarification for Users</label></div>
                <textarea name="" data-ng-model="vm.item.notes_for_user" cols="60" rows="5"></textarea>

            </div>

            <md-input-container class="m-t-16">
                <label>Error handling</label>
                <md-select data-ng-model="vm.item.error_handler">
                    <md-option value="1">Skip</md-option>
                    <md-option value="2">Default Price</md-option>
                    <md-option value="3">Ask For Manual Entry</md-option>
                    <md-option value="4">Add to Pricing Log</md-option>
                </md-select>
            </md-input-container>

            <div data-ng-if="vm.item.type == 2">

                <h4>Manual Pricing Settings</h4>

                <div layout="row" data-ng-if="vm.switchState == 'default_value'">

                    <md-input-container>
                        <label>Default Value</label>
                        <input type="text" data-ng-model="vm.item.type_settings.default_value">
                    </md-input-container>

                    <md-button class="md-raised md-primary" data-ng-click="vm.switch($event)">Switch</md-button>

                </div>

                <div layout="row" data-ng-if="vm.switchState == 'attribute_key'">

                    <md-input-container class="m-t-16">
                        <label>Options</label>
                        <md-select data-ng-model="vm.item.type_settings.attribute_key">
                            <md-option value="reference_for_pricing">Default Reference For Pricing</md-option>
                            <md-option ng-value="item.user_code" data-ng-repeat="item in vm.attributeTypes">
                                {{item.name}} ({{item.user_code}})
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-button class="md-raised md-primary" data-ng-click="vm.switch($event)">Switch</md-button>

                </div>

            </div>

            <div data-ng-if="vm.item.type == 3">

                <h4>Single Parameter Formula</h4>

                <div>

                    <md-input-container>
                        <label>Pricing Formula</label>
                        <input type="text" data-ng-model="vm.item.type_settings.expr">
                    </md-input-container>

                    <expression-editor-button data-item="vm.item.type_settings.expr"
                                              style="float: right"></expression-editor-button>

                </div>

                <div layout="row" data-ng-if="vm.switchState == 'default_value'">

                    <md-input-container>
                        <label>Default Value</label>
                        <input type="text" data-ng-model="vm.item.type_settings.default_value">
                    </md-input-container>

                    <md-button class="md-raised md-primary" data-ng-click="vm.switch($event)">Switch</md-button>

                </div>

                <div layout="row" data-ng-if="vm.switchState == 'attribute_key'">

                    <md-input-container class="m-t-16">
                        <label>Options</label>
                        <md-select data-ng-model="vm.item.type_settings.attribute_key">
                            <md-option value="reference_for_pricing">Default Reference For Pricing</md-option>
                            <md-option ng-value="item.user_code" data-ng-repeat="item in vm.attributeTypes">
                                {{item.name}} ({{item.user_code}})
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-button class="md-raised md-primary" data-ng-click="vm.switch($event)">Switch</md-button>

                </div>

                <md-input-container class="m-t-16">
                    <label>Value Type</label>
                    <md-select data-ng-model="vm.item.type_settings.value_type">
                        <md-option value="10">Text</md-option>
                        <md-option value="20">Number</md-option>
                        <md-option value="40">Date</md-option>
                    </md-select>
                </md-input-container>

            </div>

            <div data-ng-if="vm.item.type == 4">

                <h4>Multiple Parameter Formula</h4>

                <div>

                    <md-input-container>
                        <label>Pricing Formula</label>
                        <input type="text" data-ng-model="vm.item.type_settings.expr">
                    </md-input-container>

                    <expression-editor-button data-item="vm.item.type_settings.expr"
                                              style="float: right"></expression-editor-button>

                </div>

                <h5>Pricing Parameters</h5>

                <div>

                    <div data-ng-repeat="item in vm.item.type_settings.data.parameters" layout="row">

                        <md-input-container>
                            <label>Index</label>
                            <input type="text" data-ng-model="item.index" class="disabled-btn">
                        </md-input-container>

                        <md-input-container>
                            <label>Name</label>
                            <input type="text" data-ng-model="item.name">
                        </md-input-container>

                        <md-input-container class="m-t-16">
                            <label>Value Type</label>
                            <md-select data-ng-model="item.value_type">
                                <md-option value="10">Text</md-option>
                                <md-option value="20">Number</md-option>
                                <md-option value="40">Date</md-option>
                            </md-select>
                        </md-input-container>

                        <div>

                            <div layout="row" data-ng-if="item.___switch_state == 'default_value'">

                                <md-input-container>
                                    <label>Default Value</label>
                                    <input type="text" data-ng-model="item.default_value">
                                </md-input-container>

                                <md-button class="md-raised md-primary"
                                           data-ng-click="vm.switchParameter($event, item)">Switch
                                </md-button>

                            </div>

                            <div layout="row" data-ng-if="item.___switch_state == 'attribute_key'">

                                <md-input-container class="m-t-16">
                                    <label>Options</label>
                                    <md-select data-ng-model="item.attribute_key">
                                        <md-option value="reference_for_pricing">Default Reference For Pricing
                                        </md-option>
                                        <md-option ng-value="item.user_code" data-ng-repeat="item in vm.attributeTypes">
                                            {{item.name}} ({{item.user_code}})
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-button class="md-raised md-primary"
                                           data-ng-click="vm.switchParameter($event, item)">Switch
                                </md-button>

                            </div>

                        </div>


                    </div>

                </div>

                <div>
                    <md-button class="md-raised" data-ng-click="vm.addParameter($event)">Add Parameter</md-button>
                </div>


            </div>

            <div data-ng-if="vm.item.type == 5">

                <h4>Bloomberg</h4>

                <div>

                    <md-input-container>
                        <label>Pricing Formula</label>
                        <input type="text" data-ng-model="vm.item.type_settings.expr">
                    </md-input-container>

                    <expression-editor-button data-item="vm.item.type_settings.expr"
                                              style="float: right"></expression-editor-button>

                </div>

                <div layout="row" data-ng-if="vm.switchState == 'default_value'">

                    <md-input-container>
                        <label>Default Value</label>
                        <input type="text" data-ng-model="vm.item.type_settings.default_value">
                    </md-input-container>

                    <md-button class="md-raised md-primary" data-ng-click="vm.switch($event)">Switch</md-button>

                </div>

                <div layout="row" data-ng-if="vm.switchState == 'attribute_key'">

                    <md-input-container class="m-t-16">
                        <label>Options</label>
                        <md-select data-ng-model="vm.item.type_settings.attribute_key">
                            <md-option value="reference_for_pricing">Default Reference For Pricing</md-option>
                            <md-option ng-value="item.user_code" data-ng-repeat="item in vm.attributeTypes">
                                {{item.name}} ({{item.user_code}})
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-button class="md-raised md-primary" data-ng-click="vm.switch($event)">Switch</md-button>

                </div>

                <md-input-container class="m-t-16">
                    <label>Value Type</label>
                    <md-select data-ng-model="vm.item.type_settings.value_type">
                        <md-option value="10">Text</md-option>
                        <md-option value="20">Number</md-option>
                        <md-option value="40">Date</md-option>
                    </md-select>
                </md-input-container>

                <h4 class="m-t-16">Parameters for T-1 Pricing</h4>

                <div layout="row">

                    <md-input-container>
                        <label>Bid</label>
                        <input type="text" data-ng-model="vm.item.type_settings.bid0">
                    </md-input-container>

                    <md-input-container>
                        <label>Bid Multiplier</label>
                        <input type="text" data-ng-model="vm.item.type_settings.bid0_multiplier">
                    </md-input-container>

                    <md-input-container>
                        <label>Ask</label>
                        <input type="text" data-ng-model="vm.item.type_settings.ask0">
                    </md-input-container>

                    <md-input-container>
                        <label>Ask Multiplier</label>
                        <input type="text" data-ng-model="vm.item.type_settings.ask0_multiplier">
                    </md-input-container>

                    <md-input-container>
                        <label>Last</label>
                        <input type="text" data-ng-model="vm.item.type_settings.last0">
                    </md-input-container>

                    <md-input-container>
                        <label>Last Multiplier</label>
                        <input type="text" data-ng-model="vm.item.type_settings.last0_multiplier">
                    </md-input-container>

                </div>

                <h4>Parameters for Date Range Pricing</h4>

                <div layout="row">

                    <md-input-container>
                        <label>Bid</label>
                        <input type="text" data-ng-model="vm.item.type_settings.bid1">
                    </md-input-container>

                    <md-input-container>
                        <label>Bid Multiplier</label>
                        <input type="text" data-ng-model="vm.item.type_settings.bid1_multiplier">
                    </md-input-container>

                    <md-input-container>
                        <label>Ask</label>
                        <input type="text" data-ng-model="vm.item.type_settings.ask1">
                    </md-input-container>

                    <md-input-container>
                        <label>Ask Multiplier</label>
                        <input type="text" data-ng-model="vm.item.type_settings.ask1_multiplier">
                    </md-input-container>

                    <md-input-container>
                        <label>Last</label>
                        <input type="text" data-ng-model="vm.item.type_settings.last1">
                    </md-input-container>

                    <md-input-container>
                        <label>Last Multiplier</label>
                        <input type="text" data-ng-model="vm.item.type_settings.last1_multiplier">
                    </md-input-container>

                </div>

            </div>

        </div>

        <div data-ng-if="!vm.readyStatus.types">
            <div class="m-16" layout="row" layout-sm="column" layout-align="space-around">
                <progress-circular diameter="100"></progress-circular>
            </div>
        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="vm.cancel()">
            Close
        </md-button>
        <md-button class="md-raised" ng-click="vm.agree()" style="margin-right:20px;">
            Create
        </md-button>
    </md-dialog-actions>
</md-dialog>