<div class="grid-table-top-panel">
    <div data-ng-show="!mode" class="flex-row fc-space-between">
        <div>
            <md-button data-ng-click="mode = 'row_addition'">+</md-button>
            <md-button>ADD FILTER</md-button>
        </div>

        <div>
            <md-button>SEARCH</md-button>
            <md-button>COLUMNS</md-button>
        </div>
    </div>

    <div data-ng-show="mode === 'row_addition'" class="grid-table-row">

        <div>
            <md-button>ADD</md-button>
        </div>

        <div data-ng-repeat="cell in newRow.columns track by cell.key"
             class="grid-table-cell">

            <grid-table-cell data-row="newRow"
                             data-column="cell"
                             data-gt-data-service="gtDataService"
                             data-gt-event-service="gtEventService"></grid-table-cell>
        </div>

    </div>

    <div data-ng-show="mode === 'rows_deletion'" class="flex-row fc-space-between">
        <div>
            <div>{{ activeRows.length }} selected</div>
            <md-button data-ng-click="deleteRows()">delete</md-button>
        </div>

        <div>
            <md-button data-ng-click="mode = false"></md-button>
        </div>
    </div>
</div>