<div class="grid-table-cell" ng-class="{'gt-sorting-cell': row.order === 'header', 'gt-sorting-on': sortingOn}">

    <div ng-if="row.order === 'header'"
         class="gt-header-cell-content gt-cell-content">

        <ng-md-icon data-ng-show="sortingOn && !sortRowsReverse"
                    icon="arrow_upwards"
                    size="14"
                    class="gt-sorting-icon"></ng-md-icon>
        <ng-md-icon data-ng-show="sortingOn && sortRowsReverse"
                    icon="arrow_downward"
                    size="14"
                    class="gt-sorting-icon"></ng-md-icon>

        <grid-table-header-cell column="column"
                                gt-data-service="gtDataService"
                                gt-event-service="gtEventService"
                                on-load-end="onChildrenLoadEnd()"></grid-table-header-cell>
    </div>

    <div data-ng-if="cellWithPopup()" class="gt-cell-content">

        <grid-table-popup-cell row="row"
                               column="column"
                               gt-data-service="gtDataService"
                               gt-event-service="gtEventService"
                               on-load-end="onLoadEnd()"></grid-table-popup-cell>
        <!--<div class="gt-cell-text-container">
            <div class="gt-cell-text">
                <span data-ng-bind="cellValue"></span>
            </div>
            <md-button data-ng-click="editCell($event)"
                       class="gt-cell-edit-btn">
                <ng-md-icon icon="edit" size="24"></ng-md-icon>
            </md-button>
        </div>-->
    </div>

    <div ng-if="column.cellType === 'selector'"
         class="gt-cell-selector-container">

        <md-input-container class="m-0">
            <md-select data-ng-model="column.settings.value"
                       data-ng-change="onCellValueChange()"
                       data-md-on-open="onSelOpen()"
                       data-ng-disabled="column.settings.isDisabled">
                <md-option data-ng-repeat="options in column.settings.selectorOptions"
                           data-ng-value="options.id"
                           data-ng-bind="options.name"></md-option>
            </md-select>
        </md-input-container>

    </div>

    <div data-ng-if="column.cellType === 'checkbox'">
        <md-checkbox data-ng-model="column.settings.value"
                     data-ng-change="onCellValueChange()"></md-checkbox>
    </div>

    <div data-ng-if="column.cellType === 'multiselector'">
        <!-- PUT MULTISELECTOR HERE -->

    </div>

</div>