<div data-ng-if="cellWithEditBtn()">
    <span data-ng-bind="cellValue"></span>
    <md-button data-ng-click="editCell($event)">I</md-button>
</div>

<div data-ng-if="cell.cellType === 'selector'">
    <md-select data-ng-model="cell.settings.value"
               data-ng-change="onCellValueChange()"
               data-ng-disabled="cell.settings.isDisabled">
        <md-option data-ng-repeat="options in cell.settings.selectorOptions"
                   data-ng-value="options.id"
                   data-ng-bind="options.name"></md-option>
    </md-select>
</div>

<div data-ng-if="cell.cellType === 'checkbox'">
    <md-checkbox data-ng-model="cell.settings.value"
                 data-ng-change="onCellValueChange()"></md-checkbox>
</div>

<div data-ng-if="cell.cellType === 'multiselector'">
    <!-- PUT MULTISELECTOR HERE -->

</div>