<div class="custom-input-container complex-dropdown-select-container">

    <div ng-if="label" class="custom-input-top-row">
        <span class="custom-input-textarea-span-pan">{{label}}</span>
    </div>

    <div data-custom-popup
         data-popup-data="popupData"
         data-popup-template-url="'views/popups/complex-dropdown-select-menu-popup-view.html'"
         data-open-on="click"
         data-position-relative-to="element"
         data-relative-popup-y="top"
         data-close-on-click-outside="true"
         data-popup-width="element"
         data-offset-y="-10"
         data-on-cancel="onPopupClose()"

         class="custom-input-main-container cursor-pointer">

        <div class="custom-input-borders">

            <div class="custom-input-content">

                <md-tooltip data-ng-if="selectedOption.name"
                            class="tooltip_1 f-s-15"
                            data-md-direction="top"
                            data-ng-bind="selectedOption.name"></md-tooltip>

                <div class="cds-content-row">

                    <div data-ng-bind="selectedOption.name" style="padding-left: 10px;"></div>

                    <span class="cds-selector-icon material-icons">arrow_drop_down</span>

                </div>

            </div>
        </div>
    </div>

</div>