<div class="custom-input-container instrument-input-container instrumentSelectInputContainer"
     data-ng-class="getInputContainerClasses()">

    <div data-ng-if="label" class="custom-input-top-row">
        <span class="custom-input-textarea-span-pan">{{label}}</span>
    </div>

    <div data-custom-popup
         data-popup-template-url="'views/popups/instrument-select-menu-popup-view.html'"
         data-popup-data="menuPopupData"
         data-popup-event-service="popupEventService"
         data-no-backdrop="true"
         data-position-relative-to="element"
         data-relative-popup-x="left"
         data-relative-popup-y="bottom"
         data-offset-y="2"
         data-open-on="click"
         data-close-on-click-outside="false"
         data-is-disabled="disabledObj.value"
         data-popup-classes="unified-data-select-popup mh-100vh-popup"
         data-on-cancel="onMenuClose()"

         class="custom-input-main-container customInputBackgroundColor">


        <div class="custom-input-borders">
            <div class="custom-input-content">

                <md-tooltip data-ng-if="inputText"
                            class="tooltip_1 f-s-15"
                            data-md-direction="top"
                            data-ng-bind="inputText"></md-tooltip>

                <div class="flex-row flex-i-center">

                    <button data-ng-if="!noIndicatorBtn"
                            data-ng-hide="menuPopupData.loadingEntity"
                            class="custom-input-indicator-btn"
                            data-ng-click="openSelectorDialog($event)"
                            data-ng-disabled="disabledObj.value">
                        <span class="material-icons">menu</span>
                    </button>

                    <div data-ng-if="menuPopupData.loadingEntity" class="loader">
                        <progress-circular data-diameter="20"></progress-circular>
                        <md-tooltip class="tooltip_1" data-md-direction="top">Loading instrument</md-tooltip>
                    </div>

                    <input
                            type="text"
                            placeholder="{{label}}"
                            data-ng-model="inputText"
                            data-ng-model-options="{debounce: 1000}"
                            data-ng-change="onInputTextChange(inputText)"
                            data-ng-disabled="disabledObj.value"
                            data-ng-keypress="selectFirst($event)"
                            class="custom-input instrument-input instrumentSelectInputElem"
                    />

                </div>

                <div class="custom-input-side-items flex-row customInputBackgroundColor">

                    <div class="custom-input-custom-btns-holder">
                        <div data-ng-if="customButtons && customButtons.length" class="height-100 flex-row">
                            <button data-ng-repeat="button in customButtons"
                                    class="{{button.classes}} custom-input-custom-btn"
                                    data-ng-click="callFnForCustomBtn(button.action)">
                                {{button.caption}}
                                <ng-md-icon data-ng-if="button.iconObj.type === 'angularjs-material'"
                                            size="24"
                                            icon="{{button.iconObj.icon}}"
                                            class="ci-icon-color"></ng-md-icon>

                                <span data-ng-if="button.iconObj.type === 'angular-material'"
                                      class="material-icons ci-icon-color">{{button.iconObj.icon}}</span>

                                <md-tooltip data-ng-if="button.tooltip"
                                            class="tooltip_1"
                                            md-direction="top">{{button.tooltip}}
                                </md-tooltip>
                            </button>
                        </div>
                    </div>

                    <div data-ng-if="error" class="custom-input-tooltip">
                        <span class="material-icons">info</span>
                        <md-tooltip class="error-tooltip" data-md-direction="top">{{error}}</md-tooltip>
                    </div>

                    <div data-ng-if="tooltipText" data-ng-show="!error" class="custom-input-tooltip">
                        <span class="material-icons ci-icon-color">info_outline</span>
                        <md-tooltip class="tooltip_2" data-md-direction="top" data-ng-bind="tooltipText"></md-tooltip>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div ng-if="error"
         ng-bind="error"
         class="custom-input-bottom-error-text"></div>

</div>
