<div class="custom-input-container multitype-field-container multitypeFieldContainer"
     ng-class="getInputContainerClasses()">

    <div ng-if="readyStatus">

        <div ng-if="getLabel()"
             class="custom-input-top-row">
            <span class="custom-input-textarea-span-pan">{{getLabel()}}</span>
        </div>

        <div class="custom-input-main-container customInputBackgroundColor">
            <div class="custom-input-borders overflow-visible">
                <div class="custom-input-content p-r-0">

                    <div class="multitype-field-inputs-wrap">

                        <div ng-if="activeType.fieldType === 'textInput'">
                            <text-input model="activeType.model"
                                        small-options="activeType.fieldData.smallOptions"
                                        on-change-callback="onChangeCallback(changedValue)"></text-input>
                        </div>

                        <div ng-if="activeType.fieldType === 'numberInput'">
                            <number-input model="activeType.model"
                                          small-options="activeType.fieldData.smallOptions"
                                          on-change-callback="onChangeCallback(changedValue)"></number-input>
                        </div>

                        <div ng-if="activeType.fieldType === 'dateInput'">
                            <date-input data-model="activeType.model"
                                        data-small-options="activeType.fieldData.smallOptions"
                                        data-on-change-callback="onChangeCallback(changedValue)"></date-input>
                        </div>

                        <div ng-if="activeType.fieldType === 'dropdownSelect' && !activeType.fieldData.loadMenuOptions">
                            <dropdown-select data-model="activeType.model"
                                             data-small-options="activeType.fieldData.smallOptions"
                                             data-menu-options="activeType.fieldData.menuOptions"
                                             data-group-options="{{activeType.fieldData.groupOptions}}"
                                             data-is-disabled="activeType.fieldData.isDisabled"
                                             data-item-name="activeType.fieldData.itemName"
                                             data-sorted="activeType.fieldData.sorted"
                                             data-on-change-callback="onSelectChange(changedValue)"></dropdown-select>
                        </div>

                        <div ng-if="activeType.fieldType === 'dropdownSelect' && activeType.fieldData.loadMenuOptions">
                            <dropdown-select data-model="activeType.model"
                                             data-small-options="activeType.fieldData.smallOptions"
                                             data-menu-options="activeType.fieldData.menuOptions"
                                             data-group-options="{{activeType.fieldData.groupOptions}}"
                                             data-is-disabled="activeType.fieldData.isDisabled"
                                             data-item-name="activeType.fieldData.itemName"
                                             data-sorted="activeType.fieldData.sorted"
                                             data-load-menu-options="activeType.fieldData.loadMenuOptions()"
                                             data-on-change-callback="onSelectChange(changedValue)"></dropdown-select>
                        </div>

                        <div ng-if="activeType.fieldType === 'entitySearchSelect'">
                            <entity-search-select data-item="activeType.model"
                                                  data-entity-type="activeType.fieldData.entityType"
                                                  data-is-disabled="isDisabled"
                                                  data-item-name="activeType.fieldData.itemName"
                                                  data-item-property="{{activeType.fieldData.itemProperty}}"
                                                  data-on-menu-open="activeType.fieldData.onMenuOpen()"
                                                  data-on-menu-close="activeType.fieldData.onMenuClose()"
                                                  data-on-change-callback="onSelectChange(changedValue)"></entity-search-select>
                        </div>

                    </div>

                    <div class="custom-input-side-items flex-row customInputBackgroundColor">

                        <div class="custom-input-custom-btns-holder"></div>
                        <!--<div custom-popup
                             open-on="click"
                             close-on-click-outside="true"
                             popup-data="vm.fixedAreaPopup">
                            <div ng-bind-html="activeType.sign"></div>
                        </div>-->
                        <button ng-if="typeSwitch === 'button'"
                                class="multitype-field-type-sign-wrap"
                                ng-click="switchType()"
                                ng-bind-html="activeType.sign"
                                ng-disabled="isDisabled"></button>

                        <button ng-if="typeSwitch === 'selector'"

                                custom-popup
                                popup-data="typeSelPopupData"
                                popup-template="{{typeSelPopupTpl}}"
                                open-on="click"
                                position-relative-to="element"
                                relative-popup-x="right"
                                close-on-click-outside="true"
                                offset-x="10"
                                offset-y="2"
                                popup-classes="rounded-border"

                                class="multitype-field-type-sign-wrap"
                                ng-disabled="isDisabled">
                            <div ng-bind-html="activeType.sign"></div>
                        </button>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div ng-if="!readyStatus">
        <div class="flex-row fc-space-around height-100">
            <progress-circular diameter="30"></progress-circular>
        </div>
    </div>

</div>