<div data-ng-controller="BookTransactionTransactionTypeTabController as vm">

    <md-subheader class="md-no-sticky">Name</md-subheader>
    <div style="padding-left: 16px">{{vm.entity.transaction_type_object.name}}</div>

    <md-subheader class="md-no-sticky">Short name</md-subheader>
    <div style="padding-left: 16px">{{vm.entity.transaction_type_object.short_name}}</div>

    <md-subheader class="md-no-sticky">User code</md-subheader>
    <div style="padding-left: 16px">{{vm.entity.transaction_type_object.user_code}}</div>

    <md-subheader class="md-no-sticky">Group</md-subheader>
    <div style="padding-left: 16px">{{vm.entity.transaction_type_object.group_object.name}}</div>

</div>