<div data-ng-controller="BookTransactionActionsTabController as vm">

    <div data-ng-if="vm.readyStatus.transactionType">
        <table>
            <tbody>
            <tr data-ng-repeat="key in vm.transactionActionsKeys">
                <td>{{vm.beatufier(key)}}</td>
                <td data-ng-repeat="item in vm.transactionActions[key] track by $index">{{item}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div data-ng-if="!vm.readyStatus.transactionType">
        <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
            <md-progress-circular md-mode="indeterminate"
                                  md-diameter="96"></md-progress-circular>
        </div>
    </div>

</div>