<md-dialog aria-label="" ng-cloak class="add-portfolio-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add portfolio</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content data-ng-if="vm.attrs.length">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="{{tab.name}}" data-ng-repeat="tab in vm.tabs">
                <md-content class="md-padding">
                    <div layout="row" data-ng-repeat="row in vm.range(tab.layout.rows)">
                        <div class="ev-data-field" data-ng-repeat="field in tab.layout.fields" flex="{{vm.bindFlex(tab, row, field)}}" data-ng-if="row === field.row">
                            <bind-field-control item="vm.bindField(tab, field)"></bind-field-control>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="vm.editLayout()">
            Select fields
        </md-button>
        <md-button ng-click="vm.cancel()">
            Cancel
        </md-button>
        <md-button ng-click="vm.save()" style="margin-right:20px;">
            Add
        </md-button>
    </md-dialog-actions>
</md-dialog>