<md-button class="md-fab md-fab-bottom-right" data-ng-click="vm.addPortfolio($event)">
    <ng-md-icon icon="add"></ng-md-icon>
</md-button>
<div class="lock-size g-table-dial" layout="row" layout-align="center center">
    <md-fab-speed-dial md-direction="up"
                       md-open="false"
                       class="md-scale">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab" data-ng-if="vm.checkAdditionStatus()">
                <ng-md-icon icon="keyboard_arrow_up"></ng-md-icon>
            </md-button>
            <md-button aria-label="menu" class="md-fab" data-ng-if="!vm.checkAdditionStatus()" data-ng-click="vm.hideAdditions()">
                <ng-md-icon icon="keyboard_arrow_down"></ng-md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button aria-label="" class="md-fab md-raised md-mini" data-ng-click="vm.openDataViewPanel()">
                <ng-md-icon icon="work"></ng-md-icon>
                <md-tooltip md-direction="right">Open data view panel</md-tooltip>
            </md-button>
            <md-button aria-label="" class="md-fab md-raised md-mini" data-ng-click="vm.openEditorViewPanel()">
                <ng-md-icon icon="view_stream"></ng-md-icon>
                <md-tooltip md-direction="right">Open editor split panel</md-tooltip>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>
<div data-ng-if="vm.groupTableService.projection().length">
    <group-table
                 tabs="vm.tabs"

                 items="vm.groupTableService.projection()"
                 columns="vm.columns"
                 filters="vm.filters"
                 grouping="vm.grouping"
                 sorting="vm.sorting"

                 item-additions="vm.groupTableService.additions.projection()"
                 item-additions-columns="vm.portfolioAdditionsColumns"
                 item-additions-filters="vm.portfolioAdditionsFilters"
                 item-additions-sorting="vm.portfolioAdditionsSorting"

                 external-get-additions="vm.getPortfolioTransactions(id)"
                 external-callback="vm.updateTable()"
                 external-additions-callback="vm.updateAdditionsTable()"
                 external-update-item="vm.updateItem()"
                 external-update-item-additions="vm.updateItemAddition()"

                 additions-status="vm.additionsStatus"

                 ></group-table>
</div>