<div data-ng-controller="TransactionTypeInputsTabController as vm">
    <div class="tt-inputs-tab-view">
        <table class="bordered">
            <thead>
            <tr>
                <th data-ng-click="vm.setSort('name')">Name<span class="sortorder"
                                                                 data-ng-show="vm.sort === 'name'"
                                                                 data-ng-class="{reverse: vm.direction}"></span>
                </th>
                <th data-ng-click="vm.setSort('verbose_name')">Verbose name<span class="sortorder"
                                                                                 data-ng-show="vm.sort === 'verbose_name'"
                                                                                 data-ng-class="{reverse: vm.direction}"></span>
                </th>
                <th data-ng-click="vm.setSort('value_type_name')">Value type<span class="sortorder"
                                                                                  data-ng-show="vm.sort === 'value_type_name'"
                                                                                  data-ng-class="{reverse: vm.direction}"></span>
                </th>
                <th data-ng-click="vm.setSort('content_type_name')">Content type<span class="sortorder"
                                                                                      data-ng-show="vm.sort === 'content_type_name'"
                                                                                      data-ng-class="{reverse: vm.direction}"></span>
                </th>
                <th>Default value
                </th>
                <th>Fill from context
                </th>
                <th>
                    <md-button class="md-icon-button">
                        <ng-md-icon data-ng-click="vm.toggleQuery()" icon="search"></ng-md-icon>
                    </md-button>
                </th>
            </tr>
            <tr style="border: 0" data-ng-if="vm.queryStatus" class="filter-row-holder">
                <th>
                    <md-input-container>
                        <ng-md-icon icon="search"></ng-md-icon>
                        <input type="text" data-ng-model="vm.query.name">
                    </md-input-container>
                </th>
                <th>
                    <md-input-container>
                        <ng-md-icon icon="search"></ng-md-icon>
                        <input type="text" data-ng-model="vm.query.verbose_name">
                    </md-input-container>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in vm.entity.inputs | filter:vm.query | orderBy:vm.sort:vm.direction">
                <td data-ng-bind="item.name" data-ng-if="!item.editStatus"></td>
                <td data-ng-bind="item.verbose_name" data-ng-if="!item.editStatus"></td>
                <td data-ng-bind="vm.bindValueType(item)" data-ng-if="!item.editStatus"></td>
                <td data-ng-bind="vm.bindContentType(item)" data-ng-if="!item.editStatus"></td>
                <td data-ng-bind="vm.resolveDefaultValue(item)" data-ng-if="!item.editStatus"></td>
                <td data-ng-if="!item.editStatus">
                    <span class="bool-table-view" data-ng-if="item.is_fill_from_context">
                                <ng-md-icon icon="check_circle"
                                            size="16"
                                            style="fill:rgb(0,0,0);"></ng-md-icon></span>
                </td>
                <td data-ng-if="!item.editStatus" class="table-misc-cell">
                    <md-menu>
                        <!-- Trigger element is a md-button with an icon -->
                        <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
                            <ng-md-icon icon="settings"></ng-md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="vm.editItem(item)">
                                    <ng-md-icon icon="mode_edit" style="top: 6px;
    position: relative;
    margin-right: 10px;"></ng-md-icon>
                                    Edit
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="vm.deleteItem(item, $index)">
                                    <ng-md-icon icon="delete" style="top: 6px;
    position: relative;
    margin-right: 10px;"></ng-md-icon>
                                    Delete
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </td>
                <td data-ng-if="item.editStatus" class="edit-state-td">
                    <md-input-container>
                        <label for="">Name</label>
                        <input type="text" data-ng-model="item.name">
                    </md-input-container>
                </td>
                <td data-ng-if="item.editStatus" class="edit-state-td">
                    <md-input-container>
                        <label for="">Verbose name</label>
                        <input type="text" data-ng-model="item.verbose_name">
                    </md-input-container>
                </td>
                <td data-ng-if="item.editStatus" class="edit-state-td" style="padding-top: 12px">
                    <md-input-container>
                        <label for="">Value type</label>
                        <md-select data-ng-model="item.value_type">
                            <md-option data-ng-repeat="item in vm.valueTypes" ng-value="item.value">
                                {{item.display_name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
                <td data-ng-if="item.editStatus" class="edit-state-td" style="padding-top: 12px">
                    <md-input-container>
                        <label for="">Content type</label>
                        <md-select data-ng-model="item.content_type">
                            <md-option data-ng-repeat="item in vm.contentTypes" ng-value="item.key">
                                {{item.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
                <td data-ng-if="item.editStatus" class="edit-state-td" >
                    <md-input-container data-ng-if="item.value_type != 100">
                        <label for="">Default value</label>
                        <input type="text" data-ng-model="item.value" >
                    </md-input-container>
                    <md-input-container data-ng-if="item.value_type == 100" style="margin-top: -25px">
                        <label for="">Default value</label>
                        <md-select data-ng-model="item[vm.resolveRelation(vm.newItem)]" md-on-open="vm.loadRelation(vm.resolveRelation(item))">
                            <md-option data-ng-repeat="relationItem in vm.relationItems[vm.resolveRelation(item)]" ng-value="relationItem.id">
                                {{relationItem.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
                <td data-ng-if="item.editStatus" class="edit-state-td">
                    <md-input-container>
                        <md-checkbox data-ng-model="item.is_fill_from_context">Fill from context</md-checkbox>
                    </md-input-container>
                </td>
                <td data-ng-if="item.editStatus" class="edit-state-td">
                    <md-button data-ng-click="vm.saveItem(item)">
                        Ok
                    </md-button>
                </td>
            </tr>
            <tr class="tab-input-row">
                <td>
                    <md-input-container>
                        <input type="text" data-ng-model="vm.newItem.name">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <input type="text" data-ng-model="vm.newItem.verbose_name">
                    </md-input-container>
                </td>
                <td style="padding-top: 12px">
                    <md-input-container>
                        <md-select data-ng-model="vm.newItem.value_type">
                            <md-option data-ng-repeat="item in vm.valueTypes" ng-value="item.value">
                                {{item.display_name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
                <td  style="padding-top: 12px">
                    <md-input-container>
                        <md-select data-ng-model="vm.newItem.content_type">
                            <md-option data-ng-repeat="item in vm.contentTypes" ng-value="item.key">
                                {{item.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
                <td>
                    <md-input-container data-ng-if="vm.newItem.value_type != 100">
                        <input type="text" data-ng-model="vm.newItem.value" >
                    </md-input-container>
                    <md-input-container data-ng-if="vm.newItem.value_type == 100" style="margin-top: -25px">
                        <md-select data-ng-model="vm.newItem[vm.resolveRelation(vm.newItem)]"  md-on-open="vm.loadRelation(vm.resolveRelation(vm.newItem))">
                            <md-option data-ng-repeat="item in vm.relationItems[vm.resolveRelation(vm.newItem)]" ng-value="item.id">
                                {{item.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <md-checkbox data-ng-model="vm.newItem.is_fill_from_context"></md-checkbox>
                    </md-input-container>
                </td>
                <td>
                    <md-button data-ng-click="vm.addRow()">
                        Add
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>