<div>

    <!-- TODO: ME 2023-09-27 delete later -->
    <div data-ng-if="vm.inputsWithError && vm.inputsWithError.length"
         class="position-absolute" style="top: 5px; right: 20px;">
        <span class="material-icons error error-color">info</span>
        <md-tooltip class="tooltip_1"
                    style="font-size: 18px;"
                    data-md-direction="top">Recreate inputs: {{vm.inputsWithError.join(', ')}}</md-tooltip>
    </div>

    <div class="tt-inputs-tab-view">

        <grid-table data-gt-data-service="vm.inputsGridTableDataService"
                    data-gt-event-service="vm.inputsGridTableEventService"></grid-table>

        <div layout="row">

            <md-menu>
                <md-button  class="md-raised"
                           data-ng-class="{'disabled-btn': !vm.readyStatus.input_templates}"
                           ng-click="$mdMenu.open($event)">
                    Append From Template
                </md-button>

                <md-menu-content width="3">
                    <md-menu-item data-ng-repeat="template in vm.inputTemplates">
                        <md-button
                                   data-ng-click="vm.appendFromTemplate($event, template)">
                            {{template.name}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <md-button class="md-raised" data-ng-click="vm.saveAsTemplate($event, 'input_template')">
                Save as a Template
            </md-button>

        </div>

    </div>
</div>