<div>
    <div data-ng-if="vm.checkReadyStatus()">
        <div layout="row">
            <md-input-container>
                <label for="">User code</label>
                <input type="text" data-ng-model="vm.entity.user_code">
            </md-input-container>

            <!--<md-input-container>-->
            <!--<label for="">Group</label>-->
            <!--<ui-select tagging="vm.tagTransform" ng-model="vm.entity.group" theme="bootstrap"-->
            <!--sortable="true" close-on-select="false">-->
            <!--<ui-select-match placeholder="Group">{{$item.name}}</ui-select-match>-->
            <!--<ui-select-choices-->
            <!--repeat="item in vm.transactionTypeGroups | propsFilter: {name: $select.search}">-->
            <!--<div ng-bind-html="item.name | highlight: $select.search"></div>-->
            <!--</ui-select-choices>-->
            <!--</ui-select>-->
            <!--</md-input-container>-->

            <crud-select label="'Group'" item="vm.entity.group" entity-type="'transaction-type-group'"
                         options="vm.transactionTypeGroups"></crud-select>
            <!--<md-input-container>-->
                <!--<label for="">Group</label>-->
                <!--<md-select data-ng-model="vm.entity.group">-->
                    <!--<md-option ng-value="item.id" ng-repeat="item in vm.transactionTypeGroups">{{item.name}}</md-option>-->
                <!--</md-select>-->
            <!--</md-input-container>-->
        </div>
        <div layout="row">
            <md-input-container>
                <label for="">Name</label>
                <input type="text" data-ng-model="vm.entity.name">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container>
                <label for="">Notes</label>
                <textarea data-ng-model="vm.entity.notes" cols="30" rows="10"></textarea>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container>
                <md-checkbox data-ng-model="vm.entity.is_valid_for_all_instruments"
                             data-ng-change="vm.unselectAllEntities('instruments')">
                    Valid for all instruments
                </md-checkbox>
            </md-input-container>
            <md-input-container>
                <md-checkbox data-ng-model="vm.entity.is_valid_for_all_portfolios"
                             data-ng-change="vm.unselectAllEntities('portfolios')">
                    Valid for all portfolios
                </md-checkbox>
            </md-input-container>
        </div>
        <div layout="row" style="margin-bottom: 15px">
            <md-input-container style="min-width: 200px">
                <label for="instrument-types-ms">Instrument types</label>
                <md-select data-ng-model="vm.entity.instrument_types"
                           id="instrument-types-ms"
                           multiple
                           md-selected-text="vm.bindSelectedText(vm.entity.instrument_types, 'Instrument Type')"
                           data-ng-change="vm.notValidForAll('instruments')">
                    <md-option ng-value="item.id" ng-repeat="item in vm.instrumentTypes">{{item.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container style="min-width: 200px">
                <label for="portfolios-ms">Portfolios</label>
                <md-select data-ng-model="vm.entity.portfolios"
                           id="portfolios-ms"
                           multiple
                           md-selected-text="vm.bindSelectedText(vm.entity.portfolios, 'Portfolio')"
                           data-ng-change="vm.notValidForAll('portfolios')">
                    <md-option ng-value="item.id" ng-repeat="item in vm.portfolios">{{item.name}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container>
                <label for="" class="uncut-text-on-focus-label">Complex transaction date</label>
                <input type="text" data-ng-model="vm.entity.date_expr" value-title>
            </md-input-container>

            <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}" data-item="vm.entity.date_expr"></expression-editor-button>

        </div>
        <div layout="row">
            <md-input-container>
                <label for="">Display expression</label>
                <input type="text" data-ng-model="vm.entity.display_expr" value-title>
            </md-input-container>

            <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}" data-item="vm.entity.display_expr"></expression-editor-button>

        </div>

        <div layout="row">
            <md-input-container>
                <label for="">Tags</label>
                <ui-select multiple tagging="vm.tagTransform" ng-model="vm.entity.tags" theme="bootstrap"
                           sortable="true" close-on-select="false">
                    <ui-select-match placeholder="Tags">{{$item.name}}</ui-select-match>
                    <ui-select-choices position="up"
                                       repeat="item.id as item in vm.tags | propsFilter: {name: $select.search}">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </md-input-container>

            <!--<md-input-container>-->
            <!--<label for="">Tags</label>-->
            <!--<md-select data-ng-model="vm.entity.tags" multiple>-->
            <!--<md-option ng-value="item.id" ng-repeat="item in vm.tags">{{item.name}}</md-option>-->
            <!--</md-select>-->
            <!--</md-input-container>-->
        </div>
    </div>
    <div data-ng-if="!vm.checkReadyStatus()">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</div>