<div>
    <div class="transaction-type-actions-tab-view">
        <v-accordion class="vAccordion--default" multiple control="vm.accordion">

            <v-pane data-ng-repeat="item in vm.entity.actions track by $index" expanded="item.isPaneExpanded">
                <v-pane-header inactive class="transaction-type-action-pane">
                    <div layout="row"
                         layout-align="space-between center"
                         ng-click="vm.toggleItem($pane, item, $event)">
                        <div layout="row"
                             class="ttype-action-info-container"
                             layout-align="start center">
                            <span class="m-t-16" ng-click="$event.stopPropagation()">
                                <expression-editor-button
                                        data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                        data-item="item.condition_expr"></expression-editor-button>
                                <md-tooltip class="tooltip_2"
                                            md-direction="bottom">Condition to execute the Action</md-tooltip>
                            </span>

                            <span class="text-weight-bold"># {{$index + 1}}</span>

                            <span class="text-weight-bold"
                                  ng-bind="vm.getActionTypeName(item) + ':'"
                                  style="width: 270px"></span>

                            <span ng-if="item.isPaneExpanded">
                                <md-input-container class="no-error-spacer" style="min-height: 35px">
                                    <label></label>
                                    <input ng-keydown="vm.preventSpace($event)"
                                           type="text"
                                           ng-model="item.action_notes"
                                           class="ttype-action-notes-input"
                                           placeholder="Action notes">
                                </md-input-container>
                            </span>
                            <span ng-if="!item.isPaneExpanded"
                                  ng-bind="item.action_notes"></span>
                        </div>
                        <div layout="row">
                            <md-button class="md-raised"
                                       style="background: #ffeee8;"
                                       data-ng-click="vm.deletePane(item, $index, $event)">Delete
                            </md-button>
                            <md-button class="md-raised"
                                       data-ng-click="vm.makeCopyOfAction(item, $index, $event)">Make copy
                            </md-button>
                            <md-button class="md-raised" ng-disabled="$index == 0"
                                       data-ng-click="vm.moveUp(item, $index, $event)">Move up
                            </md-button>
                            <md-button class="md-raised" ng-disabled="$index == vm.entity.actions.length - 1"
                                       data-ng-click="vm.moveDown(item, $index, $event)">Move Down
                            </md-button>
                            <md-button class="md-raised" data-ng-click="vm.toggleItem($pane, item, $event)">
                                <span data-ng-if="item.isPaneExpanded">Collapse</span>
                                <span data-ng-if="!item.isPaneExpanded">Expand</span>
                            </md-button>
                        </div>
                    </div>
                </v-pane-header>

                <v-pane-content style="padding: 20px;">

                    <div data-ng-if="item.transaction != null"
                         data-ng-include="'views/tabs/transaction-type/actions/transaction-action-view.html'">

                    </div>
                    <div data-ng-if="item.instrument != null"
                         data-ng-include="'views/tabs/transaction-type/actions/instrument-action-view.html'">
                    </div>

                    <div data-ng-if="item.instrument_factor_schedule != null"
                         data-ng-include="'views/tabs/transaction-type/actions/instrument-factor-schedule-action-view.html'">
                    </div>

                    <div data-ng-if="item.instrument_manual_pricing_formula != null"
                         data-ng-include="'views/tabs/transaction-type/actions/instrument-manual-pricing-formula-action-view.html'">

                    </div>

                    <div data-ng-if="item.instrument_accrual_calculation_schedules != null"
                         data-ng-include="'views/tabs/transaction-type/actions/instrument-accrual-calculation-schedules-action-view.html'">
                    </div>

                    <div data-ng-if="item.instrument_event_schedule != null"
                         data-ng-include="'views/tabs/transaction-type/actions/instrument-event-schedule-action-view.html'">
                    </div>

                    <div data-ng-if="item.instrument_event_schedule_action != null"
                         data-ng-include="'views/tabs/transaction-type/actions/instrument-event-schedule-action-action-view.html'">
                    </div>

                    <div data-ng-if="item.execute_command != null"
                         data-ng-include="'views/tabs/transaction-type/actions/execute-command-action-view.html'">
                    </div>

                </v-pane-content>
            </v-pane>

        </v-accordion>

        <div class="transaction-type-operations-block">

            <p class="text-right text-weight-bold m-b-16">General operations:</p>

            <div layout="row" layout-align="end center">
                <md-button class="md-raised" data-ng-class="{'disabled-btn': vm.entity.type == 2}" data-ng-click="vm.addAction('transaction')">
                    Create base transaction
                </md-button>
                <md-button class="md-raised" data-ng-click="vm.addAction('instrument')">
                    Create instrument
                </md-button>

                <md-button class="md-raised" data-ng-click="vm.addAction('execute_command')">
                    Execute Command
                </md-button>
            </div>

        </div>

        <div class="transaction-type-operations-block m-t-24">

            <p class="text-right text-weight-bold m-b-16">Instrument operations:</p>

            <div layout="row" layout-align="end center">
                <md-button class="md-raised" data-ng-click="vm.addAction('instrument_factor_schedule')">
                    Create factor
                </md-button>

                <md-button class="md-raised" data-ng-click="vm.addAction('instrument_manual_pricing_formula')">
                    Create pricing
                </md-button>

                <md-button class="md-raised" data-ng-click="vm.addAction('instrument_accrual_calculation_schedules')">
                    Create accrual
                </md-button>
                <md-button class="md-raised" data-ng-click="vm.addAction('instrument_event_schedule')">
                    Create event
                </md-button>

            </div>

            <div layout="row" layout-align="end center">
                <md-button class="md-raised" data-ng-click="vm.addAction('instrument_event_schedule_action')">
                    Create Event Action
                </md-button>
            </div>

        </div>

    </div>


    <div layout="row" class="transaction-type-template-controls">

        <md-menu>
            <md-button  class="md-raised"
                        data-ng-class="{'disabled-btn': !vm.readyStatus.action_templates}"
                        ng-click="$mdMenu.open($event)">
                Append From Template
            </md-button>

            <md-menu-content width="3">
                <md-menu-item data-ng-repeat="template in vm.actionTemplates">
                    <md-button
                            data-ng-click="vm.appendFromTemplate($event, template)">
                        {{template.name}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-button class="md-raised" data-ng-click="vm.saveAsTemplate($event, 'action_template')">Save as a Template
        </md-button>

    </div>

</div>