<div>
    <div data-ng-if="vm.checkMainDataReadyStatus()">


        <div layout="row" style="margin-bottom: 20px; padding-left: 12px; font-size: 16px;">

            <div data-ng-if="vm.entity.type == 1"><b>Type</b>: Transaction</div>
            <div data-ng-if="vm.entity.type == 2"><b>Type</b>: Procedure</div>

        </div>

        <div layout="row" style="width: 600px;">

            <usercode-input data-item="vm.entity"
                            data-event-signal="vm.inputsEventsObj.system.user_code"
                            class="width-100"></usercode-input>

            <!--            <md-input-container style="width: 300px" data-ng-if="vm.entity.id">-->
            <!--                <label for="">User code</label>-->
            <!--                <input type="text" data-ng-model="vm.entity.user_code">-->
            <!--            </md-input-container>-->


        </div>

        <div class="flex-row m-b-24">

            <crud-select data-label="'Group'"
                         data-item="vm.entity.group"
                         data-entity-type="'transaction-type-group'"
                         data-options="vm.transactionTypeGroups"
                         data-event-signal="vm.inputsEventsObj.system.group"></crud-select>

        </div>

        <div class="flex-row m-b-24">
            <text-input data-label="Name"
                        data-model="vm.entity.name"
                        data-event-signal="vm.inputsEventsObj.system.name"></text-input>
        </div>

        <div class="flex-row m-b-24">
            <!--<md-input-container style="width: 300px">
                <label for="">Short name</label>
                <input type="text" data-ng-model="vm.entity.short_name">
            </md-input-container>-->
            <text-input data-label="Short name"
                        data-model="vm.entity.short_name"></text-input>
        </div>

        <div class="flex-row m-b-24">
            <!--<md-input-container style="width: 300px">
                <label for="">Notes</label>
                &lt;!&ndash;                <textarea data-ng-model="vm.entity.notes" cols="30" rows="10"></textarea>&ndash;&gt;
                <input type="text" data-ng-model="vm.entity.notes">
            </md-input-container>-->
            <text-input data-label="Notes"
                        data-model="vm.entity.notes"></text-input>
        </div>

        <div layout="row">
            <md-input-container>
                <md-checkbox data-ng-model="vm.entity.is_valid_for_all_instruments"
                             data-ng-change="vm.unselectAllEntities('instruments')">
                    Valid for all instruments
                </md-checkbox>
            </md-input-container>
            <md-input-container>
                <md-checkbox data-ng-model="vm.entity.is_valid_for_all_portfolios"
                             data-ng-change="vm.unselectAllEntities('portfolios')">
                    Valid for all portfolios
                </md-checkbox>
            </md-input-container>
        </div>

        <div layout="row">

            <two-fields-multiselect data-ng-model="vm.entity.instrument_types"
                                    data-title="Instrument types"
                                    data-items="vm.instrumentTypes"
                                    data-model="vm.entity.instrument_types"
                                    data-name-property="name"
                                    data-on-change-callback="vm.notValidForAll('instruments')"
                                    class="ttype-general-multiselectors"></two-fields-multiselect>

            <!--<md-input-container style="min-width: 200px">
                <label for="portfolios-ms">Portfolios</label>
                <md-select data-ng-model="vm.entity.portfolios"
                           id="portfolios-ms"
                           multiple
                           md-selected-text="vm.bindSelectedText(vm.entity.portfolios, 'Portfolio')"
                           data-ng-change="vm.notValidForAll('portfolios')">
                    <md-option ng-value="item.id" ng-repeat="item in vm.portfolios">{{item.name}}</md-option>
                </md-select>
            </md-input-container>-->
            <two-fields-multiselect ng-model="vm.entity.portfolios"
                                    data-title="Portfolios"
                                    data-items="vm.portfolios"
                                    data-model="vm.entity.portfolios"
                                    data-name-property="name"
                                    data-on-change-callback="vm.notValidForAll('portfolios')"
                                    class="ttype-general-multiselectors"></two-fields-multiselect>
        </div>

        <div layout="row"
             class="m-b-8">
            <!--<md-input-container>
                <label for="" class="uncut-text-on-focus-label">Complex Transaction Date</label>
                <input type="text" data-ng-model="vm.entity.date_expr" value-title>
            </md-input-container>

            <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}" data-item="vm.entity.date_expr"></expression-editor-button>-->
            <expression-input data-label="Complex Transaction Date"
                              data-model="vm.entity.date_expr"
                              data-data="vm.expressionData"
                              data-event-signal="vm.inputsEventsObj.system.date_expr"
                              class="custom-input-bottom-space"
                              style="margin-left: 12px;"></expression-input>
        </div>

        <div layout="row"
             class="m-b-16">
            <!--<md-input-container>
                <label for="">Display Expression</label>
                <input type="text" data-ng-model="vm.entity.display_expr" value-title>
            </md-input-container>

            <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}" data-item="vm.entity.display_expr"></expression-editor-button>-->
            <expression-input data-label="Display Expression"
                              data-model="vm.entity.display_expr"
                              data-data="vm.expressionData"
                              data-event-signal="vm.inputsEventsObj.system.display_expr"
                              class="custom-input-bottom-space"
                              style="margin-left: 12px;"></expression-input>
        </div>

        <!--<div layout="row">
            <md-input-container>
                <label for="">Tags</label>
                <ui-select multiple tagging="vm.tagTransform" ng-model="vm.entity.tags" theme="bootstrap"
                           sortable="true" close-on-select="false">
                    <ui-select-match placeholder="Tags">{{$item.name}}</ui-select-match>
                    <ui-select-choices position="up"
                                       repeat="item.id as item in vm.tags | propsFilter: {name: $select.search}">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </md-input-container>

        </div>-->

        <div>
            <md-input-container style="margin-bottom: 13px;">
                <label>Visibility Settings</label>
                <md-select data-ng-model="vm.entity.visibility_status">
                    <md-option ng-value="1">Parameters are visible</md-option>
                    <md-option ng-value="2">Parameters are hidden</md-option>
                </md-select>
            </md-input-container>
        </div>


        <div layout="row"
             class="m-b-16">

            <expression-input label="Transaction Unique Code Expression"
                              model="vm.entity.transaction_unique_code_expr"
                              data-data="vm.expressionEditorData"
                              class="custom-input-bottom-space"
                              style="margin-left: 12px;"></expression-input>
        </div>

        <div>
            <md-input-container style="width: 300px">
                <label>Transaction Unique Code Settings</label>
                <md-select data-ng-model="vm.entity.transaction_unique_code_options">
                    <md-option ng-value="1">Skip (Create transaction with unique code if not exists)</md-option>
                    <md-option ng-value="2">Book without unique code</md-option>
                    <md-option ng-value="3">Overwrite (Create Transactions with unique code even if exists. Existing
                        Transaction will be deleted)
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

    </div>
    <div data-ng-if="!vm.checkMainDataReadyStatus()">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</div>