<div>
    <div data-ng-if="vm.checkReadyStatus()">

        <div>

            <h4>Text fields</h4>

            <div layout="row">

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_text_1']"></label>
                    <input type="text" data-ng-model="vm.entity.user_text_1">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_text_1"></expression-editor-button>

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_text_2']"></label>
                    <input type="text" data-ng-model="vm.entity.user_text_2">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_text_2"></expression-editor-button>

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_text_3']"></label>
                    <input type="text" data-ng-model="vm.entity.user_text_3">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_text_3"></expression-editor-button>

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_text_4']"></label>
                    <input type="text" data-ng-model="vm.entity.user_text_4">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_text_4"></expression-editor-button>

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_text_5']"></label>
                    <input type="text" data-ng-model="vm.entity.user_text_5">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_text_5"></expression-editor-button>

            </div>

            <div layout="row">

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_text_6']"></label>
                    <input type="text" data-ng-model="vm.entity.user_text_6">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_text_6"></expression-editor-button>

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_text_7']"></label>
                    <input type="text" data-ng-model="vm.entity.user_text_7">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_text_7"></expression-editor-button>

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_text_8']"></label>
                    <input type="text" data-ng-model="vm.entity.user_text_8">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_text_8"></expression-editor-button>

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_text_9']"></label>
                    <input type="text" data-ng-model="vm.entity.user_text_9">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_text_9"></expression-editor-button>

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_text_10']"></label>
                    <input type="text" data-ng-model="vm.entity.user_text_10">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_text_10"></expression-editor-button>

            </div>

        </div>

        <div>

            <h4>Number fields</h4>

            <div layout="row">

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_number_1']"></label>
                    <input type="text" data-ng-model="vm.entity.user_number_1">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_number_1"></expression-editor-button>
                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_number_2']"></label>
                    <input type="text" data-ng-model="vm.entity.user_number_2">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_number_2"></expression-editor-button>

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_number_3']"></label>
                    <input type="text" data-ng-model="vm.entity.user_number_3">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_number_3"></expression-editor-button>

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_number_4']"></label>
                    <input type="text" data-ng-model="vm.entity.user_number_4">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_number_4"></expression-editor-button>

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_number_5']"></label>
                    <input type="text" data-ng-model="vm.entity.user_number_5">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_number_5"></expression-editor-button>

            </div>

            <div layout="row">

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_number_6']"></label>
                    <input type="text" data-ng-model="vm.entity.user_number_6">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_number_6"></expression-editor-button>

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_number_7']"></label>
                    <input type="text" data-ng-model="vm.entity.user_number_7">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_number_7"></expression-editor-button>

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_number_8']"></label>
                    <input type="text" data-ng-model="vm.entity.user_number_8">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_number_8"></expression-editor-button>

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_number_9']"></label>
                    <input type="text" data-ng-model="vm.entity.user_number_9">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_number_9"></expression-editor-button>

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_number_10']"></label>
                    <input type="text" data-ng-model="vm.entity.user_number_10">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_number_10"></expression-editor-button>

            </div>

        </div>

        <div>

            <h4>Date fields</h4>

            <div layout="row">

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_date_1']"></label>
                    <input type="text" data-ng-model="vm.entity.user_date_1">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_date_1"></expression-editor-button>

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_date_2']"></label>
                    <input type="text" data-ng-model="vm.entity.user_date_2">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_date_2"></expression-editor-button>

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_date_3']"></label>
                    <input type="text" data-ng-model="vm.entity.user_date_3">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_date_3"></expression-editor-button>

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_date_4']"></label>
                    <input type="text" data-ng-model="vm.entity.user_date_4">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_date_4"></expression-editor-button>

                <md-input-container>
                    <label for="" data-ng-bind="vm.transactionUserFields['user_date_5']"></label>
                    <input type="text" data-ng-model="vm.entity.user_date_5">
                </md-input-container>

                <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                          data-item="vm.entity.user_date_5"></expression-editor-button>

            </div>

        </div>

    </div>
    <div data-ng-if="!vm.checkReadyStatus()">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</div>