<div>
    <div class="tt-inputs-tab-view">
        <table class="bordered">
            <thead>
            <tr>
                <th data-ng-click="vm.setSort('name')">Name<span class="sortorder"
                                                                 data-ng-show="vm.sort === 'name'"
                                                                 data-ng-class="{reverse: vm.direction}"></span>
                </th>
                <th data-ng-click="vm.setSort('verbose_name')">Verbose name<span class="sortorder"
                                                                                 data-ng-show="vm.sort === 'verbose_name'"
                                                                                 data-ng-class="{reverse: vm.direction}"></span>
                </th>
                <th data-ng-click="vm.setSort('value_type_name')">Value type<span class="sortorder"
                                                                                  data-ng-show="vm.sort === 'value_type_name'"
                                                                                  data-ng-class="{reverse: vm.direction}"></span>
                </th>
                <th data-ng-click="vm.setSort('content_type_name')">Content type<span class="sortorder"
                                                                                      data-ng-show="vm.sort === 'content_type_name'"
                                                                                      data-ng-class="{reverse: vm.direction}"></span>
                </th>
                <th>Default value
                <th>Fill from context
                </th>
                </th>
                <th>Input expr</th>
                <th>
                    <md-button class="md-icon-button" aria-label="ttype inputs search button">
                        <ng-md-icon data-ng-click="vm.toggleQuery()" icon="search"></ng-md-icon>
                    </md-button>
                </th>
            </tr>
            <tr style="border: 0" data-ng-if="vm.queryStatus" class="filter-row-holder">
                <th>
                    <md-input-container class="no-error-spacer">
                        <ng-md-icon icon="search"></ng-md-icon>
                        <input type="text" data-ng-model="vm.query.name">
                    </md-input-container>
                </th>
                <th>
                    <md-input-container class="no-error-spacer">
                        <ng-md-icon icon="search"></ng-md-icon>
                        <input type="text" data-ng-model="vm.query.verbose_name">
                    </md-input-container>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in vm.entity.inputs | filter:vm.query | orderBy:vm.sort:vm.direction">
                <!--<td data-ng-bind="item.name" data-ng-if="!item.editStatus"></td>
                <td data-ng-bind="item.verbose_name" data-ng-if="!item.editStatus"></td>
                <td data-ng-bind="vm.bindValueType(item)" data-ng-if="!item.editStatus"></td>
                <td data-ng-bind="vm.bindContentType(item)" data-ng-if="!item.editStatus"></td>
                <td data-ng-bind="vm.resolveDefaultValue(item)" data-ng-if="!item.editStatus"></td>
                <td data-ng-if="!item.editStatus">
                    <span class="bool-table-view" data-ng-if="item.is_fill_from_context">
                                <ng-md-icon icon="check_circle"
                                            size="16"
                                            style="fill:rgb(0,0,0);"></ng-md-icon></span>
                </td>
                <td data-ng-bind="item.value_expr" data-ng-if="!item.editStatus"></td>
                <td data-ng-if="!item.editStatus" class="table-misc-cell">
                    <md-menu>

                        <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
                            <ng-md-icon icon="settings"></ng-md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="vm.editItem(item)">
                                    <ng-md-icon icon="mode_edit" style="top: 6px;
    position: relative;
    margin-right: 10px;"></ng-md-icon>
                                    Edit
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="vm.deleteItem(item, $index)">
                                    <ng-md-icon icon="delete" style="top: 6px;
    position: relative;
    margin-right: 10px;"></ng-md-icon>
                                    Delete
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </td>-->
                <td class="edit-state-td">
                    <md-input-container class="no-error-spacer">
                        <label for="">Name</label>
                        <input type="text" data-ng-model="item.name">
                    </md-input-container>
                </td>
                <td class="edit-state-td">
                    <md-input-container class="no-error-spacer">
                        <label for="">Verbose name</label>
                        <input type="text" data-ng-model="item.verbose_name">
                    </md-input-container>
                </td>
                <td class="edit-state-td">
                    <!--<md-input-container>
                        <label for="">Value type</label>
                        <md-select data-ng-model="item.value_type">
                            <md-option data-ng-repeat="item in vm.valueTypes" ng-value="item.value">
                                {{item.display_name}}
                            </md-option>
                        </md-select>
                    </md-input-container>-->

                    <md-input-container class="md-block" aria-label="select with filter">
                        <label>Value type</label>
                        <md-select ng-model="item.value_type"
                                   ng-change="vm.valueTypeChanged(item)"
                                   md-container-class="common-select-container"
                                   md-on-close="vm.searchTerms[vm.getInputsFilterST('valueTypeSearchTerm', $index)] = ''">

                            <md-select-header>
                                <input data-ng-model="vm.searchTerms[vm.getInputsFilterST('valueTypeSearchTerm', $index)]"
                                       type="search"
                                       placeholder="Search for a ..."
                                       class="md-text md-select-search-pattern select-input-filter"
                                       ng-keydown="$event.stopPropagation()">
                            </md-select-header>

                            <div class="select-options-holder">

                                <md-option
                                        data-ng-repeat="item in vm.valueTypes | filter: {display_name: vm.searchTerms[vm.getInputsFilterST('valueTypeSearchTerm', $index)]}"
                                        ng-value="item.value">
                                    {{item.display_name}}
                                </md-option>

                            </div>

                        </md-select>
                    </md-input-container>
                </td>

                <td class="edit-state-td">
                    <!--<md-input-container>
                        <label for="">Content type</label>
                        <md-select data-ng-model="item.content_type">
                            <md-option data-ng-repeat="item in vm.contentTypes" ng-value="item.key">
                                {{item.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>-->

                    <md-input-container class="md-block" aria-label="select with filter">
                        <label for="ttype-inputs-content-type">Content type</label>
                        <md-select ng-model="item.content_type"
                                   md-container-class="common-select-container"
                                   md-on-close="vm.searchTerms[vm.getInputsFilterST('contentTypeSearchTerm', $index)] = ''"
                                   id="ttype-inputs-content-type"
                                   ng-disabled="item.value_type !== 100">

                            <md-select-header>
                                <input data-ng-model="vm.searchTerms[vm.getInputsFilterST('contentTypeSearchTerm', $index)]"
                                       type="search"
                                       placeholder="Search for a ..."
                                       class="md-text md-select-search-pattern select-input-filter"
                                       ng-keydown="$event.stopPropagation()">
                            </md-select-header>

                            <div class="select-options-holder">

                                <md-option
                                        data-ng-repeat="item in vm.contentTypes | filter: {name: vm.searchTerms[vm.getInputsFilterST('contentTypeSearchTerm', $index)]}"
                                        ng-value="item.key">
                                    {{item.name}}
                                </md-option>

                            </div>

                        </md-select>
                    </md-input-container>
                </td>

                <td class="edit-state-td">
                    <md-input-container class="no-error-spacer" data-ng-if="item.value_type != 100">
                        <label for="">Default value</label>
                        <input type="text" data-ng-model="item.value">
                    </md-input-container>

                    <expression-editor-button data-ng-if="item.value_type != 100" data-item="item.value"></expression-editor-button>

                    <md-input-container data-ng-if="item.value_type == 100"
                                        aria-label="select with filter"
                                        class="no-error-spacer"
                                        style="width: 213px;">
                        <label for="ttype-relation-item-input">Default value</label>
                        <md-select ng-model="item[vm.resolveRelation(item)]"
                                   md-container-class="common-select-container"
                                   md-on-open="vm.loadRelation(vm.resolveRelation(item))"
                                   md-on-close="vm.searchTerms[vm.getInputsFilterST('defaultValueSearchTerms', $index)] = ''"
                                   id="ttype-relation-item-input">
                            <md-select-header>
                                <input data-ng-model="vm.searchTerms[vm.getInputsFilterST('defaultValueSearchTerms', $index)]"
                                       type="search"
                                       placeholder="Search for a ..."
                                       class="md-text md-select-search-pattern select-input-filter"
                                       ng-keydown="$event.stopPropagation()">
                            </md-select-header>

                            <div class="select-options-holder">

                                <md-option
                                        data-ng-repeat="relationItem in vm.relationItems[vm.resolveRelation(item)] | filter:{name: vm.searchTerms[vm.getInputsFilterST('defaultValueSearchTerms', $index)]}"
                                        ng-value="relationItem.id">
                                    {{relationItem.name}}
                                </md-option>

                            </div>
                        </md-select>

                        <div ng-if="item[vm.resolveRelation(item)]" ng-init="vm.loadRelation(vm.resolveRelation(item))"></div>

                    </md-input-container>

                </td>

                <td class="edit-state-td ttype-inputs-checkbox-td">
                    <md-input-container class="no-error-spacer">
                        <md-checkbox data-ng-model="item.is_fill_from_context"
                                     ng-disabled="item.value_type !== 100">
                            Fill from context
                        </md-checkbox>
                    </md-input-container>
                </td>

                <td class="edit-state-td">
                    <md-input-container class="no-error-spacer">
                        <label for="">Input expr</label>
                        <input type="text" data-ng-model="item.value_expr">
                    </md-input-container>

                    <expression-editor-button data-item="item.value_expr"></expression-editor-button>

                </td>
                <!--<td class="edit-state-td">
                    <md-button data-ng-click="vm.saveItem(item)">
                        Ok
                    </md-button>
                </td>-->
                <td class="edit-state-td">
                    <md-button data-ng-click="vm.deleteItem(item, $index)" aria-label="ttype delete input row button">
                        Delete
                    </md-button>
                </td>
            </tr>

            <tr class="tab-input-row">
                <td>
                    <md-input-container class="no-error-spacer m-0">
                        <input type="text" data-ng-model="vm.newItem.name">
                    </md-input-container>
                </td>

                <td>
                    <md-input-container class="no-error-spacer m-0">
                        <input type="text" data-ng-model="vm.newItem.verbose_name">
                    </md-input-container>
                </td>

                <td>
                    <!--<md-input-container class="no-error-spacer">
                        <md-select data-ng-model="vm.newItem.value_type">
                            <md-option data-ng-repeat="item in vm.valueTypes" ng-value="item.value">
                                {{item.display_name}}
                            </md-option>
                        </md-select>
                    </md-input-container>-->
                    <md-input-container class="md-block m-0" aria-label="select with filter">
                        <label for="ttype-inputs-value-type"></label>
                        <md-select ng-model="vm.newItem.value_type"
                                   md-container-class="common-select-container"
                                   ng-change="vm.valueTypeChanged(vm.newItem)"
                                   md-on-close="newItemValueTypeSearchTerm = ''"
                                   id="ttype-inputs-value-type">
                            <md-select-header>
                                <input data-ng-model="newItemValueTypeSearchTerm"
                                       type="search"
                                       placeholder="Search for a ..."
                                       class="md-text md-select-search-pattern select-input-filter"
                                       ng-keydown="$event.stopPropagation()">
                            </md-select-header>

                            <div class="select-options-holder">

                                <md-option
                                        data-ng-repeat="item in vm.valueTypes | filter:{display_name: newItemValueTypeSearchTerm}"
                                        ng-value="item.value">
                                    {{item.display_name}}
                                </md-option>

                            </div>
                        </md-select>
                    </md-input-container>
                </td>
                <td>
                    <!--<md-input-container>
                        <md-select data-ng-model="vm.newItem.content_type"
                                   md-container-class="simple-search-select">
                            <md-option data-ng-repeat="item in vm.contentTypes" ng-value="item.key">
                                {{item.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>-->
                    <md-input-container class="md-block m-0" aria-label="content type input">
                        <label for="ttype-inputs-default-value"></label>
                        <md-select ng-model="vm.newItem.content_type"
                                   md-container-class="common-select-container"
                                   md-on-close="newItemContentTypeSearchTerm = ''"
                                   id="ttype-inputs-default-value"
                                   aria-label="select with filter"
                                   ng-disabled="vm.newItem.value_type !== 100">

                            <md-select-header>
                                <input data-ng-model="newItemContentTypeSearchTerm"
                                       type="search"
                                       placeholder="Search for a ..."
                                       class="md-text md-select-search-pattern select-input-filter"
                                       ng-keydown="$event.stopPropagation()">
                            </md-select-header>

                            <div class="select-options-holder">

                                <md-option
                                        data-ng-repeat="item in vm.contentTypes | filter:{name: newItemContentTypeSearchTerm}"
                                        ng-value="item.key">
                                    {{item.name}}
                                </md-option>

                            </div>

                        </md-select>
                    </md-input-container>
                </td>
                <td>
                    <md-input-container data-ng-if="vm.newItem.value_type != 100"
                                        class="no-error-spacer m-0">
                        <input type="text" data-ng-model="vm.newItem.value">
                    </md-input-container>

                    <expression-editor-button data-ng-if="vm.newItem.value_type != 100" data-item="vm.newItem.value"></expression-editor-button>

                    <!--<md-input-container data-ng-if="vm.newItem.value_type == 100">
                        <md-select data-ng-model="vm.newItem[vm.resolveRelation(vm.newItem)]"
                                   md-on-open="vm.loadRelation(vm.resolveRelation(vm.newItem))">
                            <md-option data-ng-repeat="item in vm.relationItems[vm.resolveRelation(vm.newItem)]"
                                       ng-value="item.id">
                                {{item.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>-->

                    <md-input-container data-ng-if="vm.newItem.value_type == 100"
                                        class="m-0"
                                        style="width: 213px;">
                        <label></label>
                        <md-select ng-model="vm.newItem[vm.resolveRelation(vm.newItem)]"
                                   md-container-class="common-select-container"
                                   md-on-open="vm.loadRelation(vm.resolveRelation(vm.newItem))"
                                   md-on-close="newItemRelationsSearchTerm = ''">

                            <md-select-header>
                                <input data-ng-model="newItemRelationsSearchTerm"
                                       type="search"
                                       placeholder="Search for a ..."
                                       class="md-text md-select-search-pattern select-input-filter"
                                       ng-keydown="$event.stopPropagation()">
                            </md-select-header>

                            <div class="select-options-holder">

                                <md-option
                                        data-ng-repeat="item in vm.relationItems[vm.resolveRelation(vm.newItem)] | filter:{name: newItemRelationsSearchTerm}"
                                        ng-value="item.id">
                                    {{item.name}}
                                </md-option>

                            </div>

                        </md-select>
                    </md-input-container>
                </td>

                <td class="ttype-inputs-checkbox-td">
                    <md-input-container class="no-error-spacer m-0">
                        <md-checkbox data-ng-model="vm.newItem.is_fill_from_context"
                                     ng-disabled="vm.newItem.value_type !== 100">Fill from context</md-checkbox>
                    </md-input-container>
                </td>

                <td>
                    <md-input-container class="no-error-spacer m-0">
                        <label for="">Input expr</label>
                        <input type="text" data-ng-model="vm.newItem.value_expr">
                    </md-input-container>

                    <expression-editor-button data-item="vm.newItem.value_expr"></expression-editor-button>
                </td>

                <td>
                    <md-button data-ng-click="vm.addRow()" aria-label="ttype add input row button">
                        Add
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>