<div>
    <div class="ttype-fields-list-container"
         data-ng-if="vm.checkReadyStatus()"
         layout="row">

        <div class="ttype-fields-group-container"
             layout="column"
             flex="33">

            <h4 class="ttype-fields-group-header">Text fields</h4>

            <div layout="column">

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_1']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_1">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_1"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_text_1']}}"
                                      model="vm.entity.user_text_1"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_2']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_2">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_2"></expression-editor-button>-->
                    <expression-input label="{{vm.transactionUserFields['user_text_2']}}"
                                      model="vm.entity.user_text_2"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_3']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_3">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_3"></expression-editor-button>-->
                    <expression-input label="{{vm.transactionUserFields['user_text_3']}}"
                                      model="vm.entity.user_text_3"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_4']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_4">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_4"></expression-editor-button>-->
                    <expression-input label="{{vm.transactionUserFields['user_text_4']}}"
                                      model="vm.entity.user_text_4"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_5']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_5">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_5"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_text_5']}}"
                                      model="vm.entity.user_text_5"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_6']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_6">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_6"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_text_6']}}"
                                      model="vm.entity.user_text_6"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_7']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_7">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_7"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_text_7']}}"
                                      model="vm.entity.user_text_7"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_8']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_8">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_8"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_text_8']}}"
                                      model="vm.entity.user_text_8"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_9']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_9">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_9"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_text_9']}}"
                                      model="vm.entity.user_text_9"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_10']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_10">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_10"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_text_10']}}"
                                      model="vm.entity.user_text_10"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_11']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_11">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_11"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_text_11']}}"
                                      model="vm.entity.user_text_11"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_12']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_12">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_12"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_text_12']}}"
                                      model="vm.entity.user_text_12"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_13']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_13">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_13"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_text_13']}}"
                                      model="vm.entity.user_text_13"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_14']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_14">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_14"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_text_14']}}"
                                      model="vm.entity.user_text_14"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_15']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_15">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_15"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_text_15']}}"
                                      model="vm.entity.user_text_15"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_16']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_16">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_16"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_text_16']}}"
                                      model="vm.entity.user_text_16"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_17']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_17">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_17"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_text_17']}}"
                                      model="vm.entity.user_text_17"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_18']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_18">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_18"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_text_18']}}"
                                      model="vm.entity.user_text_18"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_19']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_19">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_19"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_text_19']}}"
                                      model="vm.entity.user_text_19"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_text_20']"></label>
                        <input type="text" data-ng-model="vm.entity.user_text_20">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_text_20"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_text_20']}}"
                                      model="vm.entity.user_text_20"
                                      data-data="vm.expressionData"></expression-input>
                </div>

            </div>

        </div>

        <div class="ttype-fields-group-container"
             layout="column"
             flex="33">

            <h4 class="ttype-fields-group-header">Number fields</h4>

            <div layout="column">

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_1']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_1">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_1"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_1']}}"
                                      model="vm.entity.user_number_1"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_2']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_2">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_2"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_2']}}"
                                      model="vm.entity.user_number_2"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_3']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_3">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_3"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_3']}}"
                                      model="vm.entity.user_number_3"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_4']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_4">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_4"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_4']}}"
                                      model="vm.entity.user_number_4"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_5']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_5">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_5"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_5']}}"
                                      model="vm.entity.user_number_5"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_6']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_6">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_6"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_6']}}"
                                      model="vm.entity.user_number_6"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_7']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_7">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_7"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_7']}}"
                                      model="vm.entity.user_number_7"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_8']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_8">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_8"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_8']}}"
                                      model="vm.entity.user_number_8"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_9']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_9">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_9"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_9']}}"
                                      model="vm.entity.user_number_9"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_10']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_10">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_10"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_10']}}"
                                      model="vm.entity.user_number_10"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_11']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_11">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_11"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_11']}}"
                                      model="vm.entity.user_number_11"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_12']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_12">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_12"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_12']}}"
                                      model="vm.entity.user_number_12"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_13']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_13">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_13"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_13']}}"
                                      model="vm.entity.user_number_13"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_14']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_14">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_14"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_14']}}"
                                      model="vm.entity.user_number_14"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_15']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_15">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_15"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_15']}}"
                                      model="vm.entity.user_number_15"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_16']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_16">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_16"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_16']}}"
                                      model="vm.entity.user_number_16"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_17']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_17">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_17"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_17']}}"
                                      model="vm.entity.user_number_17"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_18']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_18">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_18"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_18']}}"
                                      model="vm.entity.user_number_18"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_19']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_19">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_19"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_19']}}"
                                      model="vm.entity.user_number_19"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_number_20']"></label>
                        <input type="text" data-ng-model="vm.entity.user_number_20">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_number_20"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_number_20']}}"
                                      model="vm.entity.user_number_20"
                                      data-data="vm.expressionData"></expression-input>
                </div>

            </div>

        </div>

        <div class="ttype-fields-group-container"
             layout="column"
             flex="33">

            <h4 class="ttype-fields-group-header">Date fields</h4>

            <div layout="column">

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_date_1']"></label>
                        <input type="text" data-ng-model="vm.entity.user_date_1">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_date_1"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_date_1']}}"
                                      model="vm.entity.user_date_1"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_date_2']"></label>
                        <input type="text" data-ng-model="vm.entity.user_date_2">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_date_2"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_date_2']}}"
                                      model="vm.entity.user_date_2"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_date_3']"></label>
                        <input type="text" data-ng-model="vm.entity.user_date_3">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_date_3"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_date_3']}}"
                                      model="vm.entity.user_date_3"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_date_4']"></label>
                        <input type="text" data-ng-model="vm.entity.user_date_4">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_date_4"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_date_4']}}"
                                      model="vm.entity.user_date_4"
                                      data-data="vm.expressionData"></expression-input>
                </div>

                <div class="ttype-fields-field-wrap">
                    <!--<md-input-container>
                        <label for="" data-ng-bind="vm.transactionUserFields['user_date_5']"></label>
                        <input type="text" data-ng-model="vm.entity.user_date_5">
                    </md-input-container>

                    <expression-editor-button data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"
                                              data-item="vm.entity.user_date_5"></expression-editor-button>-->

                    <expression-input label="{{vm.transactionUserFields['user_date_5']}}"
                                      model="vm.entity.user_date_5"
                                      data-data="vm.expressionData"></expression-input>
                </div>

            </div>

        </div>

    </div>
    <div data-ng-if="!vm.checkReadyStatus()">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>

    <div layout="row">

        <md-menu>
            <md-button  class="md-raised"
                        data-ng-class="{'disabled-btn': !vm.readyStatus.field_templates}"
                        ng-click="$mdMenu.open($event)">
                Use From Template
            </md-button>

            <md-menu-content width="3">
                <md-menu-item data-ng-repeat="template in vm.fieldTemplates">
                    <md-button
                            data-ng-click="vm.appendFromTemplate($event, template)">
                        {{template.name}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-button class="md-raised" data-ng-click="vm.saveAsTemplate($event, 'field_template')">Save as a Template</md-button>

    </div>

</div>