<div ng-class="{'disabled-field': isDisabled}">
    <div data-ng-if="fieldType['display_name'] === 'Number'" class="bind-field-number-field-container">

        <md-input-container class="md-block no-error-spacer">
            <label data-ng-bind="getName()"></label>
            <input data-ng-model="entity[getModelKey()]"
                   type="number"
                   data-ng-if="!item.options.onlyPositive"
                   class="no-input-arrows"
                   ng-disabled="isNotEditableField()"
                   style="{{styleForInputsWithButtons()}}">
            <input data-ng-model="entity[getModelKey()]"
                   type="number"
                   min="0"
                   data-ng-if="item.options.onlyPositive"
                   class="no-input-arrows"
                   ng-disabled="isNotEditableField()"
                   style="{{styleForInputsWithButtons()}}">

            <div class="bind-field-buttons-block">
                <md-button class="bind-field-calculator-btn" ng-click="openCalculatorDialog($event)">
                    <ng-md-icon icon="chrome_reader_mode" size="19">
                        <md-tooltip md-direction="top">Calculator</md-tooltip>
                    </ng-md-icon>
                </md-button>

                <div ng-if="item.buttons.length" style="display: inline-block">
                    <md-button data-ng-repeat="button in item.buttons"
                               class="{{button.classes}} {{button.icon && button.caption == '' ? 'md-icon-button' : ''}} bind-field-round-btn"
                               data-ng-click="button.action(item)">
                        {{button.caption}}
                        <ng-md-icon data-ng-if="button.icon" size="22" icon="{{button.icon}}"></ng-md-icon>
                        <md-tooltip data-ng-if="button.tooltip" class="tooltip_1" md-direction="top">{{button.tooltip}}
                        </md-tooltip>
                    </md-button>
                </div>
            </div>

        </md-input-container>

        <!--<div data-ng-if="item.buttons.length" class="bind-field-number-btn">
            <md-button data-ng-repeat="button in item.buttons"
                       class="{{button.classes}} {{button.icon && button.caption == '' ? 'md-icon-button' : ''}} bind-field-round-btn"
                       data-ng-click="button.action(item)">
                {{button.caption}}
                <ng-md-icon data-ng-if="button.icon" size="22" icon="{{button.icon}}"></ng-md-icon>
                <md-tooltip data-ng-if="button.tooltip" class="tooltip_1" md-direction="top">{{button.tooltip}}
                </md-tooltip>
            </md-button>
        </div>-->
    </div>

    <div data-ng-if="fieldType['display_name'] === 'String'">
        <div data-ng-if="getModelKey() === 'notes' ">
            <md-input-container class="md-block no-error-spacer textarea-bind-field">
                <label data-ng-bind="getName()"></label>
                <textarea class="{{item.options.frame == 1 ? 'bordered' : '' }}"
                          data-ng-model="entity[getModelKey()]"
                          cols="30"
                          rows="{{item.options.rowCount}}"
                          ng-disabled="isNotEditableField()"
                          style="{{inputBackgroundColor()}}"></textarea>

            </md-input-container>
        </div>

        <div data-ng-if="getModelKey() !== 'notes' ">
            <md-input-container
                    class="md-block bind-field-input {{item.options.copyFrom ? 'with-button' : ''}} {{checkValid() ? 'mdc-error' : ''}}
                    {{entity[getModelKey()] != '' ? 'md-input-has-value' : ''}}">
                <label data-ng-bind="getName()"></label>
                <input type="text"
                       data-ng-model="entity[getModelKey()]"
                       ng-disabled="isNotEditableField()"
                       style="{{styleForInputsWithButtons()}}">

                <!--<md-button data-ng-if="item.options.copyFrom" class="bf-copy-btn"
                           data-ng-click="copyFromField(item.options.copyFrom)">
                    <ng-md-icon icon="content_copy"></ng-md-icon>
                </md-button>-->

                <div class="bind-field-buttons-block">

                    <md-button data-ng-if="item.options.copyFrom" class="bf-copy-btn"
                               data-ng-click="copyFromField(item.options.copyFrom)">
                        <ng-md-icon icon="content_copy"></ng-md-icon>
                    </md-button>

                    <div ng-if="item.buttons.length" style="display: inline-block">
                        <md-button data-ng-repeat="button in item.buttons"
                                   class="{{button.classes}} {{button.icon && button.caption == '' ? 'md-icon-button' : ''}} bind-field-round-btn"
                                   data-ng-click="button.action(item)">
                            {{button.caption}}
                            <ng-md-icon data-ng-if="button.icon" size="22" icon="{{button.icon}}"></ng-md-icon>
                            <md-tooltip data-ng-if="button.tooltip" class="tooltip_1" md-direction="top">
                                {{button.tooltip}}
                            </md-tooltip>
                        </md-button>
                    </div>
                </div>

            </md-input-container>
        </div>
    </div>

    <div data-ng-if="fieldType['display_name'] === 'Float'">
        <md-input-container class="md-block">
            <label data-ng-bind="getName()"></label>
            <input data-ng-model="entity[getModelKey()]"
                   data-float-numbers
                   data-ng-if="!item.options.onlyPositive"
                   ng-disabled="isNotEditableField()"
                   style="{{styleForInputsWithButtons()}}">
            <input data-ng-model="entity[getModelKey()]"
                   data-float-numbers
                   data-only-positive="true"
                   data-ng-if="item.options.onlyPositive"
                   ng-disabled="isNotEditableField()"
                   style="{{styleForInputsWithButtons()}}">

            <div class="bind-field-buttons-block">
                <md-button class="bind-field-calculator-btn" ng-click="openCalculatorDialog($event)">
                    <ng-md-icon icon="chrome_reader_mode" size="19">
                        <md-tooltip md-direction="top">Calculator</md-tooltip>
                    </ng-md-icon>
                </md-button>

                <div ng-if="item.buttons.length" style="display: inline-block">
                    <md-button data-ng-repeat="button in item.buttons"
                               class="{{button.classes}} {{button.icon && button.caption == '' ? 'md-icon-button' : ''}} bind-field-round-btn"
                               data-ng-click="button.action(item)">
                        {{button.caption}}
                        <ng-md-icon data-ng-if="button.icon" size="22" icon="{{button.icon}}"></ng-md-icon>
                        <md-tooltip data-ng-if="button.tooltip" class="tooltip_1" md-direction="top">{{button.tooltip}}
                        </md-tooltip>
                    </md-button>
                </div>
            </div>

        </md-input-container>

        <!--<div data-ng-if="item.buttons.length">
            <md-button data-ng-repeat="button in item.buttons"
                       class="{{button.classes}} {{button.icon && button.caption == '' ? 'md-icon-button' : ''}} bind-field-round-btn"
                       data-ng-click="button.action(item)">
                {{button.caption}}
                <ng-md-icon data-ng-if="button.icon" size="22" icon="{{button.icon}}"></ng-md-icon>
                <md-tooltip data-ng-if="button.tooltip" class="tooltip_1" md-direction="bottom">{{button.tooltip}}
                </md-tooltip>
            </md-button>
        </div>-->
    </div>

    <div data-ng-if="fieldType['display_name'] === 'Field'">
        <div style="{{inputBackgroundColor()}}">
            <ev-field-resolver data-item="item"
                               data-entity="entity"
                               data-options="options"
                               data-entity-type="entityType"></ev-field-resolver>
        </div>
        <div data-ng-if="item.buttons.length" class="bind-field-number-btn">
            <md-button data-ng-repeat="button in item.buttons"
                       class="{{button.classes}} {{button.icon && button.caption == '' ? 'md-icon-button' : ''}} bind-field-round-btn"
                       data-ng-click="button.action(item)">
                {{button.caption}}
                <ng-md-icon data-ng-if="button.icon" icon="{{button.icon}}"></ng-md-icon>
                <md-tooltip data-ng-if="button.tooltip" class="tooltip_1" md-direction="top">{{button.tooltip}}
                </md-tooltip>
            </md-button>
        </div>
    </div>

    <div data-ng-if="fieldType['display_name'] === 'Multiple choice field'">
        <div style="{{inputBackgroundColor()}}">
            <ev-field-resolver data-item="item"
                               data-entity="entity"
                               data-options="options"></ev-field-resolver>
        </div>
    </div>
    <div data-ng-if="fieldType['display_name'] === 'Date'" class="field-date-pick">

        <md-input-container class="field-date-pick-holder no-error-spacer md-block">
            <label data-ng-bind="getName()"></label>
            <zh-date-picker data-date-value="entity[getModelKey()]"
                            ng-class="{'disabled-btn': isDisabled}"></zh-date-picker>
            <div class="bind-field-buttons-block">
                <md-button class="bind-field-round-btn" data-ng-if="item.options.dateTodayMinus"
                           data-ng-click="setDateMinus()">
                    T - 1
                </md-button>
                <md-button class="bind-field-round-btn" data-ng-if="item.options.dateToday"
                           data-ng-click="setDateToday()">
                    T
                </md-button>
                <md-button class="bind-field-round-btn" data-ng-if="item.options.dateTodayPlus"
                           data-ng-click="setDatePlus()">
                    T + 1
                </md-button>

                <div ng-if="item.buttons.length" style="display: inline-block">
                    <md-button data-ng-repeat="button in item.buttons"
                               class="{{button.classes}} {{button.icon && button.caption == '' ? 'md-icon-button' : ''}} bind-field-round-btn"
                               data-ng-click="button.action(item)">
                        {{button.caption}}
                        <ng-md-icon data-ng-if="button.icon" size="22" icon="{{button.icon}}"></ng-md-icon>
                        <md-tooltip data-ng-if="button.tooltip" class="tooltip_1" md-direction="bottom">
                            {{button.tooltip}}
                        </md-tooltip>
                    </md-button>
                </div>

            </div>

            <!--<div data-ng-if="item.buttons.length">
                <md-button data-ng-repeat="button in item.buttons"
                           class="{{button.classes}} {{button.icon && button.caption == '' ? 'md-icon-button' : ''}} bind-field-round-btn"
                           data-ng-click="button.action(item)">
                    {{button.caption}}
                    <ng-md-icon data-ng-if="button.icon" size="22" icon="{{button.icon}}"></ng-md-icon>
                    <md-tooltip data-ng-if="button.tooltip" class="tooltip_1" md-direction="bottom">{{button.tooltip}}
                    </md-tooltip>
                </md-button>
            </div>-->

        </md-input-container>
    </div>
    <div data-ng-if="fieldType['display_name'] === 'Boolean' && hideIscanceledCheckbox(getName())">
        <md-checkbox class="checkbox-bind-field" data-ng-model="entity[getModelKey()]"
                     aria-label="checkbox">
            <label data-ng-bind="getName()"></label>
        </md-checkbox>
    </div>
    <div data-ng-if="fieldType['display_name'] === 'Classifier'">
        <div data-ng-if="readyStatus.classifier">
            <md-input-container class="md-block">
                <label data-ng-bind="getName()"></label>

                <md-select data-ng-model="entity[getModelKey()]"
                           data-classifier-modal-resolver
                           data-classifier-attr="item"
                           data-classifier-value="entity[getModelKey()]"
                           data-ng-change="changeClassifier()"
                           md-container-class="h-classifier-select"
                           data-entity-type="entityType"
                           ng-disabled="isNotEditableField()">

                    <md-option ng-value="node.id" selected="selected">
                        {{node.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div data-ng-if="!readyStatus.classifier">
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </div>
    <div data-ng-if="fieldType['display_name'] === 'Decoration'" class="ec-decoration-container">
        <span class="ec-decoration line"
              data-ng-if="!item.options.labelText"
              style="{{inputBackgroundColor()}}"></span>
        <span class="ec-decoration labeled"
              data-ng-if="item.options.labelText">
            <span class="w-rp" data-ng-bind="item.options.labelText"></span>
        </span>
    </div>

    <div data-ng-if="fieldType['display_name'] === 'Selector'" class="ec-decoration-container">
        <ev-selector-resolver data-item="item"
                              data-entity="entity"
                              data-options="options"
                              data-entity-type="entityType"></ev-selector-resolver>
    </div>
</div>