<div>
    <div data-ng-if="fieldType['display_name'] === 'Number'">
        <md-input-container class="md-block">
            <label data-ng-bind="getName()"></label>
            <input data-ng-model="entity[getModelKey()]" type="number">
        </md-input-container>
    </div>
    <div data-ng-if="fieldType['display_name'] === 'String'">
        <div data-ng-if="getModelKey() === 'notes' ">
            <md-input-container class="md-block textarea-bind-field">
                <label data-ng-bind="getName()"></label>
                <textarea class="{{item.options.frame == 1 ? 'bordered' : '' }}" data-ng-model="entity[getModelKey()]" cols="30" rows="{{item.options.rowCount}}"></textarea>
            </md-input-container>
        </div>
        <div data-ng-if="getModelKey() !== 'notes' ">
            <md-input-container class="md-block bind-field-input {{item.options.copyFrom ? 'with-button' : ''}}">
                <label data-ng-bind="getName()"></label>
                <input data-ng-model="entity[getModelKey()]">
                <md-button data-ng-if="item.options.copyFrom" class="bf-copy-btn" data-ng-click="copyFromField(item.options.copyFrom)">
                    <ng-md-icon icon="content_copy"></ng-md-icon>
                </md-button>
            </md-input-container>
        </div>
    </div>
    <div data-ng-if="fieldType['display_name'] === 'Float'">
        <md-input-container class="md-block">
            <label data-ng-bind="getName()"></label>
            <input data-ng-model="entity[getModelKey()]">
        </md-input-container>
    </div>
    <div data-ng-if="fieldType['display_name'] === 'Field'">
        <div data-ev-field-resolver data-item="item" data-entity="entity"></div>
    </div>
    <div data-ng-if="fieldType['display_name'] === 'Date'">
        <label data-ng-bind="getName()"></label>
        <mdp-date-picker mdp-placeholder="Enter date" ng-model="entity[getModelKey()]" mdp-format="YYYY/MM/DD" data-ng-change="dateFormatter()"></mdp-date-picker>
        <!--<md-datepicker ng-model="entity[getModelKey()]" md-placeholder="Enter date" data-ng-change="dateFormatter()"></md-datepicker>-->
        <md-button data-ng-if="item.options.dateToday" data-ng-click="setDateToday()">
            T
        </md-button>
        <md-button data-ng-if="item.options.dateTodayPlus" data-ng-click="setDatePlus()">
            T + 1
        </md-button>
        <md-button data-ng-if="item.options.dateTodayMinus" data-ng-click="setDateMinus()">
            T - 1
        </md-button>
    </div>
    <div data-ng-if="fieldType['display_name'] === 'Boolean'">
        <md-checkbox data-ng-model="entity[getModelKey()]" aria-label="checkbox">
            <label data-ng-bind="getName()"></label>
        </md-checkbox>
    </div>
    <div data-ng-if="fieldType['display_name'] === 'Classifier'">
        <span>Classifier is not ready</span>
    </div>
    <div data-ng-if="fieldType['display_name'] === 'Decoration'">
        <span class="ec-decoration line"></span>
    </div>
</div>