<div style="position: relative;">

    <md-button class="toggle-calculator-block-btn" ng-click="showCalculatorBlock = true;">
        <ng-md-icon icon="chrome_reader_mode" size="19">
            <md-tooltip md-direction="top">Calculator</md-tooltip>
        </ng-md-icon>
    </md-button>

    <div class="calculator-block" ng-show="showCalculatorBlock">
        <div class="calculator-interface">

            <div layout="row">
                <div class="calculator-viewer" ng-bind="calcResult"></div>
            </div>

            <div layout="row" layout-align="space-between center">
                <button class="calculator-btn" ng-click="clearAll()">C</button>
                <button class="calculator-btn" ng-click="clearAll()">C</button>
            </div>

            <div layout="row">
                <button class="calculator-btn" ng-click="setNumber(7)">7</button>
                <button class="calculator-btn" ng-click="setNumber(8)">8</button>
                <button class="calculator-btn" ng-click="setNumber(9)">9</button>
                <button class="calculator-btn" data-ops="plus">+</button>
            </div>

            <div layout="row">
                <button class="calculator-btn" ng-click="setNumber(4)">4</button>
                <button class="calculator-btn" ng-click="setNumber(5)">5</button>
                <button class="calculator-btn" ng-click="setNumber(6)">6</button>
                <button class="calculator-btn" ng-click="applyOperator('-')">-</button>
            </div>

            <div layout="row">
                <button class="calculator-btn" ng-click="setNumber(1)">1</button>
                <button class="calculator-btn" ng-click="setNumber(2)">2</button>
                <button class="calculator-btn" ng-click="setNumber(3)">3</button>
                <button class="calculator-btn" data-ops="times">*</button>
            </div>

            <div layout="row">
                <button class="calculator-btn" data-num="0">0</button>
                <button class="calculator-btn" data-num=".">.</button>
                <button class="calculator-btn" ng-click="calculateResult()">=</button>
                <button data-ops="divided by" class="ops">/</button>
            </div>

        </div>
    </div>

</div>