<div class="">
    <div class="classifier-tree-filter-container">
        <input type="text"
               ng-model="vm.treeFilterTerms"
               ng-change="vm.filterTree(vm.treeFilterTerms)"
               ng-model-options="{debounce: 1000}">
    </div>

    <div class="classifier-tree flex-column">
        <div ng-repeat="node in vm.filteredTree track by node.id"
             class="classifier-node-holder">
            <classifier-tree-node node="node"
                                  parent="treeData"></classifier-tree-node>
        </div>
    </div>
</div>
