<div class="classifier-node classifierNode"
     ng-class="{'active': node.frontOptions.isActive, 'edit': node.frontOptions.editOn}"
     data-node-id="{{node.id}}"
     data-path-to-node="{{node.frontOptions.pathToNode.join(',')}}">

    <div class="classifier-node-row flex-row classifierNodeRow"
         data-ng-class="{'opened': !node.frontOptions.closed, 'has-active-child': node.frontOptions.hasActiveChild}"
         data-node-id="{{node.id}}"
         data-path-to-node="{{node.frontOptions.pathToNode.join(',')}}"
         draggable="true">

        <div class="row-content">
            <span class="material-icons pointer"
                  ng-style="{'visibility': node.children.length ? 'visible' : 'hidden'}"
                  ng-click="closeStatusChange(node)">chevron_right</span>

            <div data-ng-if="!node.frontOptions.editOn" ng-click="selectNode(node)">
                <span ng-bind="node.name"></span>
            </div>

            <input data-ng-if="node.frontOptions.editOn"
                   class="classifier-name"
                   type="text"
                   ng-model="currentEdit.name"
                   data-ng-init="onInputInit()">
            <button data-ng-if="node.frontOptions.editOn && !isSaveDisabled()" data-ng-click="onSaveNode(currentEdit.name)"><span class="material-icons">done</span></button>
            <button data-ng-if="node.frontOptions.editOn" data-ng-click="onCancelEdit()"><span class="material-icons" >close</span></button>

        </div>

<!--        <div class="drop-inside-node-container dropInsideNode"></div>-->
    </div>

    <div class="classifier-node-children" ng-hide="node.frontOptions.closed">

        <div ng-if="node.children.length"
             class="node-drop-container dropAtTheBeginning"
             data-path-to-node="{{node.frontOptions.pathToNode.join(',')}}"></div>

        <div ng-repeat="subNode in node.children track by subNode.id"
             class="classifier-node-holder">
            <classifier-tree-node parent="node"
                                  node="subNode"></classifier-tree-node>
        </div>

    </div>

<!--    <div class="drop-after-node-container dropAfterNode"></div>-->

</div>

<div class="node-drop-container dropAfterNode"
     data-path-to-node="{{node.frontOptions.pathToNode.join(',')}}"></div>