<div class="complex-datepicker-wrapper" ng-class="{'range-of-dates': rangeOfDates}">
    <md-button popup
               popup-template-url="'views/popups/complex-zh-datepicker-popup-view.html'"
               popup-data="popupData"
               popup-event-service="popupEventService"
               position-relative-to="element"
               relative-popup-x="left"
               open-on="click"
               close-on-click-outside="true"
               on-save="onPopupSave()"
               on-cancel="onPopupCancel()"

               class="complex-datepicker-popup-btn"
               ng-disabled="isDisabled">
        <span ng-bind="date"></span>
        <span ng-if="rangeOfDates && secondDate">&nbsp;- <span ng-bind="secondDate"></span></span>
        <span class="material-icons closed-selector-icon">arrow_drop_down</span>
    </md-button>
    <!-- <div ng-hide="datepickerOptions.datepickerMode === 'inception'">
        <md-input-container>
            <label class="uncut-text-on-focus-label">{{ getDatepickerName() }}</label>
            <div class="pick-me-up">
                <input data-ng-model="date"
                       ng-blur="testModelChange()"
                       class="complex-datepicker-input"
                       type="text">
            </div>
        </md-input-container>
    </div>

    <div ng-hide="datepickerOptions.datepickerMode !== 'inception'">
        <md-input-container>
            <label class="uncut-text-on-focus-label">Date: Inception Date</label>
            <input type="text"
                   readonly>
        </md-input-container>
    </div>

    <md-menu class="complex-date-picker-settings">
        <md-button data-ng-click="$mdOpenMenu($event)"
                   class="md-icon-button"
                   aria-label="datepicker settings menu"
                   data-ng-disabled="isDisabled">
            <ng-md-icon icon="settings"></ng-md-icon>
        </md-button>

        <md-menu-content>
            <md-menu-item>
                <md-button data-ng-click="toggleMode('yesterday')">Yesterday</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button data-ng-click="toggleMode('today')">Today</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button data-ng-click="openEditExpressionDialog($event)">Custom</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button data-ng-click="toggleMode('datepicker')">Datepicker</md-button>
            </md-menu-item>
            <md-menu-item ng-if="availableModes.inception">
                <md-button data-ng-click="toggleMode('inception')">Inception Date</md-button>
            </md-menu-item>
            <md-menu-item ng-hide="isRootEntityViewer">
                <md-button data-ng-click="chooseEntityToUseFromAbove($event)">Link To Selection</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu> -->
</div>