<div class="complex-date-picker-wrapper">
    <!--<div data-ng-class="{'ng-hide' : datepickerOptions.datepickerMode === 'expression'}">-->
    <div ng-hide="datepickerOptions.datepickerMode === 'inception'">
        <md-input-container>
            <label class="uncut-text-on-focus-label">{{ getDatepickerName() }}</label>
            <div class="pick-me-up">
                <input data-ng-model="date"
                       class="complex-datepicker-input"
                       type="text">
            </div>
        </md-input-container>
    </div>

    <div ng-hide="datepickerOptions.datepickerMode !== 'inception'">
        <md-input-container>
            <label class="uncut-text-on-focus-label">Date: Inception Date</label>
            <input type="text"
                   readonly>
        </md-input-container>
    </div>

    <md-menu class="complex-date-picker-settings">
        <md-button data-ng-click="$mdOpenMenu($event)"
                   class="md-icon-button"
                   aria-label="datepicker settings menu">
            <ng-md-icon icon="settings"></ng-md-icon>
        </md-button>

        <md-menu-content>
            <md-menu-item>
                <md-button data-ng-click="toggleMode('yesterday')">Yesterday</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button data-ng-click="toggleMode('today')">Today</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button data-ng-click="openEditExpressionDialog($event)">Custom</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button data-ng-click="toggleMode('datepicker')">Datepicker</md-button>
            </md-menu-item>
            <md-menu-item ng-if="availableModes.inception">
                <md-button data-ng-click="toggleMode('inception')">Inception Date</md-button>
            </md-menu-item>
            <md-menu-item ng-hide="isRootEntityViewer">
                <md-button data-ng-click="chooseEntityToUseFromAbove($event)">Link To Above</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>