<div class="height-100 width-100 dashboard-constructor-field-holder">

    <md-card data-ng-show="!item.editMode" class="dashboard-field-card height-100 width-100">
        <div layout="row">
            <p class="name-holder">
                <b><span data-ng-bind="item.data.name"></span></b> (<span
                    data-ng-bind="getVerboseType()"></span>)
            </p>
            <div class="dashboard-field-card-options">
                <md-button aria-label="delete attribute" class=""
                           data-ng-click="deleteField()">
                    <ng-md-icon icon="delete"  size="14"></ng-md-icon>
                </md-button>
                <md-button aria-label="edit attribute" class=""
                           data-ng-click="toggleFieldEditMode()">
                    <ng-md-icon icon="mode_edit" size="14"></ng-md-icon>
                </md-button>
            </div>
        </div>
    </md-card>

    <md-card data-ng-if="item.editMode" class="dashboard-field-card {{item.editMode ? 'active' : ''}}">

        <md-button class="md-raised edit-component-type-button" data-ng-click="editComponentType($event, item.data)">
            b><span data-ng-bind="item.data.name"></span></b> (<span
                data-ng-bind="getVerboseType()"></span>)
        </md-button>

        <md-input-container
                class="md-block no-error-spacer ec-attr-row"
                flex-gt-sm
                aria-label="select with filter">
            <label>Element width</label>
            <md-select ng-model="item.colspan"
                       md-container-class="common-select-container"
                       md-on-close="searchTerm = ''"
                       ng-change="changeSpan()">
                <div class="select-options-holder">
                    <md-option
                            data-ng-repeat="colspan in colspanList"
                            ng-value="colspan">
                        {{colspan}} column(s)
                    </md-option>
                </div>
            </md-select>
        </md-input-container>

        <md-input-container
                class="md-block no-error-spacer ec-attr-row"
                flex-gt-sm
                aria-label="select with filter">
            <label>Element height</label>
            <md-select ng-model="item.rowspan"
                       md-container-class="common-select-container"
                       md-on-close="searchTerm = ''"
                       ng-change="changeSpan()">
                <div class="select-options-holder">
                    <md-option
                            data-ng-repeat="rowspan in rowspanList"
                            ng-value="rowspan">
                        {{rowspan}} row(s)
                    </md-option>
                </div>
            </md-select>
        </md-input-container>

        <!--<md-input-container-->
        <!--class="md-block no-error-spacer ec-attr-row"-->
        <!--data-ng-if="item.attribute.value_type != 'decoration'">-->
        <!--<label>Custom label</label>-->
        <!--<input data-ng-model="item.options.fieldName">-->
        <!--</md-input-container>-->

        <md-divider></md-divider>
        <div layout="row" layout-align="space-between center"
             class="constructor-card-actions">
            <!--<md-button aria-label="cancel"-->
                       <!--data-ng-click="cancelFieldEdit()">-->
                <!--Cancel-->
            <!--</md-button>-->
            <md-button class="ec-field-btn"
                       aria-label="save layout"
                       data-ng-click="saveField()">
                <span>Ok</span>
            </md-button>
        </div>
    </md-card>

</div>