<div>
    <div class="md-toolbar-tools">
        <is-draggable-sign></is-draggable-sign>
        <h2 class="display-block position-relative">
            {{title}}
            <ng-md-icon data-ng-if="tooltip" class="tooltips-sign" icon="info" size="20" style="fill: #fff">
                <md-tooltip md-direction="top">{{tooltip}}</md-tooltip>
            </ng-md-icon>
            <div data-ng-if="processing" layout="row" class="m-l-16">
                <div layout="row" layout-sm="column" layout-align="space-around" class="m-r-8">
                    <progress-circular diameter="20"></progress-circular>
                </div>
                — Processing
            </div>
        </h2>

        <span flex></span>
        <md-button class="close-dialog-btn custom-small-icon-btn m-0 p-0"
                   ng-click="cancelDialog()">
            <span class="material-icons">close</span>
        </md-button>
    </div>
</div>