<div ng-if="readyStatus.content">

    <div data-ng-if="type === 'id'">

        <div data-ng-if="isSpecialSearchRelation()">


            <div data-ng-if="valueEntity == 'instrument'">

                <instrument-select
                        data-label="{{getName()}}"
                        data-model="modelObj.model"
                        data-item-object="entity[fieldKey + '_object']"
                        data-item-name="inputTextObj.value"
                        data-is-disabled="disabledObj.value"
                        data-custom-buttons="item.buttons"
                        data-custom-styles="customStyles"
                        data-event-signal="ciEventObj.event"
                        data-small-options="{notNull: options.notNull, tooltipText: tooltipText, dialogParent: '.dialog-containers-wrap'}"
                        data-on-change-callback="changeHandler()"
                ></instrument-select>

            </div>

            <div data-ng-if="valueEntity == 'counterparty' || valueEntity == 'currency'">

                <unified-data-select
                        data-label="{{getName()}}"
                        data-model="modelObj.model"
                        data-model-value="{{ valueEntity == 'currency' ? 'user_code' : 'id' }}"
                        data-item-object="entity[fieldKey + '_object']"
                        data-item-name="inputTextObj.value"
                        data-is-disabled="disabledObj.value"
                        data-custom-buttons="item.buttons"
                        data-custom-styles="customStyles"
                        data-event-signal="ciEventObj.event"
                        data-small-options="{notNull: options.notNull, tooltipText: tooltipText, dialogParent: '.dialog-containers-wrap'}"
                        data-entity-type="valueEntity"
                        data-on-change-callback="changeHandler()"
                ></unified-data-select>

            </div>

            <div data-ng-if="valueEntity !== 'instrument' && valueEntity !== 'counterparty' && valueEntity !== 'currency'">
                <entity-search-select data-item="modelObj.model"
                                      data-label="getName()"
                                      data-item-name="inputTextObj.value"
                                      data-item-object="entity[fieldKey + '_object']"
                                      data-custom-buttons="item.buttons"
                                      data-custom-styles="customStyles"
                                      data-event-signal="ciEventObj.event"
                                      data-small-options="{
                                        notNull: options.notNull,
                                        tooltipText: tooltipText,
                                        dialogParent: '.dialog-containers-wrap'
                                      }"
                                      data-entity-type="valueEntity"
                                      data-on-change-callback="changeHandler()"></entity-search-select>
            </div>
        </div>

        <div data-ng-if="!isSpecialSearchRelation()">
            <div data-ng-if="checkComplexEntityType()">
                <md-input-container
                        class="md-block no-error-spacer"
                        aria-label="select with search"
                >
                    <label data-ng-bind="getName()"></label>

                    <md-select
                            data-md-on-close="searchTerm = ''"
                            data-ng-model="modelObj.model"
                            data-ng-change="changeHandler()"
                            data-md-on-open="getDataApply()"
                            data-md-selected-text="bindFormFields()"
                            data-md-container-class="common-select-container"
                            style="{{inputBackgroundColor()}}">
                        <md-select-header>
                            <input
                                    data-ng-model="searchTerm"
                                    type="search"
                                    placeholder="Search for a ..."
                                    class="md-text md-select-search-pattern select-input-filter"
                                    data-ng-keydown="$event.stopPropagation()"
                            />
                        </md-select-header>

                        <div data-ng-if="groups" class="select-options-holder">
                            <md-optgroup
                                    data-ng-repeat="group in groups | orderBy:'-'+group.name track by group.id"
                                    data-ng-if="group.fields.length"
                                    data-label="{{group.name}}"
                            >
                                <md-option
                                        data-ng-repeat="field in group.fields | orderBy:resolveSort(field) | filter:{name: searchTerm} track by $index"
                                        ng-value="field.id"
                                >
                                    {{bindListFields(field)}}
                                </md-option>
                            </md-optgroup>
                        </div>

                        <div
                                data-ng-if="!groups && field && field[0]"
                                class="select-options-holder"
                        >
                            <md-option data-ng-value="fields[0].id"
                            >{{bindListFields(fields[0])}}
                            </md-option
                            >
                        </div>
                    </md-select>
                </md-input-container>
            </div>

            <div data-ng-if="!checkComplexEntityType()">
                <div data-ng-if="fieldKey !== 'price_download_scheme'">
                    <div data-ng-if="!checkForCrudSelects()">

                        <dropdown-select data-label="{{getName()}}"
                                         data-model="modelObj.model"
                                         data-placeholder-text="{{getName()}}"
                                         data-event-signal="ciEventObj.event"
                                         data-menu-options="selectorOptions"
                                         data-is-disabled="disabledObj.value"
                                         data-small-options="{
                                            notNull: options.notNull,
                                            tooltipText: '{{getName()}}',
                                            dialogParent: '.dialog-containers-wrap'
                                         }"
                                         data-custom-styles="customStyles"
                                         data-sorted="sorted"
                                         data-on-change-callback="changeHandler()">
                        </dropdown-select>

                    </div>

                    <div data-ng-if="checkForCrudSelects()">

                        <div data-ng-if="readyStatus.content">
                            <crud-select data-label="getName()"
                                         data-item="modelObj.model"
                                         data-entity-type="crudEntityType"
                                         data-options="fields"
                                         data-ng-click="getDataApply()"
                                         data-event-signal="ciEventObj.event"
                                         data-small-options="{notNull: options.notNull}"
                            ></crud-select>
                        </div>

                    </div>
                </div>

                <div data-ng-if="fieldKey == 'price_download_scheme'">

                    <!--                <md-input-container class="md-block no-error-spacer">
                                        <label data-ng-bind="getName()"></label>
                                        <md-select
                                                md-on-close="searchTerm = ''"
                                                data-ng-model="entity[fieldKey]"
                                                data-ng-change="changeHandler()"
                                                md-on-open="getDataApply()"
                                                md-container-class="common-select-container"
                                                style="{{inputBackgroundColor()}}"
                                        >
                                            <md-select-header>
                                                <input
                                                        data-ng-model="searchTerm"
                                                        type="search"
                                                        placeholder="Search for a ..."
                                                        class="md-text md-select-search-pattern select-input-filter"
                                                        ng-keydown="$event.stopPropagation()"
                                                />
                                            </md-select-header>
                                            <div class="select-options-holder">
                                                <md-option
                                                        data-ng-repeat="field in fields | orderBy:'-'+field.user_code | filter:{user_code:searchTerm} track by field.id "
                                                        ng-value="field.id"
                                                >
                                                    {{field['user_code']}}
                                                </md-option>
                                            </div>
                                        </md-select>
                                    </md-input-container>-->
                    <dropdown-select data-label="{{getName()}}"
                                     data-model="modelObj.model"
                                     data-placeholder-text="{{getName()}}"
                                     data-event-signal="ciEventObj.event"
                                     data-menu-options="schemeSortedFields"
                                     data-is-disabled="disabledObj.value"
                                     data-small-options="{notNull: options.notNull, tooltipText: '{{getName()}}', dialogParent: '.dialog-containers-wrap'}"
                                     data-custom-styles="customStyles"
                                     data-sorted="sorted"
                                     data-on-change-callback="changeHandler()">
                    </dropdown-select>

                </div>
            </div>
        </div>

    </div>

    <div data-ng-if="type === 'multiple-ids'">

        <div data-ng-if="checkComplexEntityType()">

            <two-fields-multiselect data-ng-model="modelObj.model"
                                    data-title="{{getName()}}"
                                    data-model="modelObj.model"
                                    data-items="selectorOptions"
                                    data-is-disabled="disabledObj.value"
                                    data-name-property="bindFieldsName"
                                    data-selected-items-indication="chips"
                                    data-small-options="{dialogParent: '.dialog-containers-wrap'}"
                                    data-on-change-callback="changeHandler()"></two-fields-multiselect>

        </div>

        <div data-ng-if="!checkComplexEntityType()">
            <div data-ng-if="fieldKey !== 'content_types'">

                <!--TODO ask when to use 2020.10.21 -->
                <!--Victor: I it got back because server need the array-->
                <two-fields-multiselect data-ng-model="modelObj.model"
                                        data-title="{{getName()}}"
                                        data-model="modelObj.model"
                                        data-name-property="bindFieldsName"
                                        data-items="selectorOptions"
                                        data-is-disabled="disabledObj.value"
                                        data-data-selected-items-indication="chips"
                                        data-small-options="{dialogParent: '.dialog-containers-wrap'}"
                                        data-on-change-callback="changeHandler()"></two-fields-multiselect>

            </div>

            <div data-ng-if="fieldKey === 'content_types'">

                <dropdown-select data-label="{{getName()}}"
                                 data-model="modelObj.model"
                                 data-placeholder-text="{{getName()}}"
                                 data-event-signal="ciEventObj.event"
                                 data-menu-options="selectorOptions"
                                 data-is-disabled="disabledObj.value"
                                 data-small-options="{
                                    notNull: options.notNull,
                                    tooltipText: '{{getName()}}',
                                    dialogParent: '.dialog-containers-wrap'
                                 }"
                                 data-custom-styles="customStyles"
                                 data-sorted="sorted"
                                 data-on-change-callback="changeHandler()">
                </dropdown-select>

            </div>
        </div>

    </div>

</div>
