<div>
    <div data-ng-if="!item.editMode">
        <div data-ng-if="item.attribute">
            <md-card class="ec-attr-card">
                <div layout="row">
                    <p class="name-holder" flex="60">
                        <b><span data-ng-bind="bindAttrName(item)"></span></b> (<span
                            data-ng-bind="bindTypeByValueType(item.attribute['value_type'])"></span>)
                    </p>
                    <div class="options-holder" flex="40">
                        <md-button aria-label="delete attribute" data-ng-click="deleteField()">
                            <ng-md-icon icon="delete"></ng-md-icon>
                        </md-button>
                        <md-button aria-label="edit attribute" data-ng-click="toggleEditMode()">
                            <ng-md-icon icon="mode_edit"></ng-md-icon>
                        </md-button>
                    </div>
                </div>
            </md-card>
        </div>
        <div data-ng-if="!item.attribute">
            <div class="ec-attr-card ec-attr-empty" data-col="{{column}}" data-row="{{row}}">
                <md-button aria-label="add field" data-ng-click="toggleEditMode()" class="width-100">
                    <ng-md-icon icon="add_circle"></ng-md-icon>
                </md-button>
            </div>
        </div>
    </div>
    <div data-ng-if="item.editMode">
        <md-card class="ec-attr-card {{item.editMode ? 'active' : ''}}">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Please select Element</label>
                <!--{{item.attribute}}-->
                <md-select ng-model="item.attribute" ng-change="changeModel(item.attribute)" ng-focus="findAttrsLeft()">
                    <md-optgroup label="System" class="bold-field-select">
                        <md-option ng-repeat="attr in entityAttrs" ng-value="attr"
                                   class="{{attr.disabled ? 'disabled' : ''}}">
                            <!--{{attr}}-->
                            {{attr.name}} ({{bindTypeByValueType(attr['value_type'])}})
                        </md-option>
                    </md-optgroup>
                    <md-optgroup label="User attributes" class="bold-field-select" data-ng-if="attrs.length">
                        <md-option ng-repeat="attr in attrs" ng-value="attr"
                                   class="{{attr.disabled ? 'disabled' : ''}}">
                            <!--{{attr}}-->
                            {{attr.name}} ({{bindTypeByValueType(attr['value_type'])}})
                        </md-option>
                    </md-optgroup>
                    <md-optgroup label="Inputs" class="bold-field-select" data-ng-if="userInputs.length">
                        <md-option ng-repeat="userInput in userInputs" ng-value="userInput">
                            <!--{{attr}}-->
                            {{userInput.name}} ({{bindTypeByValueType(userInput['value_type'])}})
                        </md-option>
                    </md-optgroup>
                    <md-optgroup label="Layout" class="bold-field-select">
                        <md-option ng-repeat="attr in layoutAttrs" ng-value="attr">
                            {{attr.name}} ({{bindTypeByValueType(attr['value_type'])}})
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Element width</label>
                <md-select ng-model="item.colspan">
                    <md-option ng-repeat="colspan in getCols()" value="{{colspan}}">
                        {{colspan}} column(s)
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" data-ng-if="item.attribute.value_type != 'decoration'">
                <label>Custom label</label>
                <input data-ng-model="item.options.fieldName">
            </md-input-container>
            <div data-ng-if="checkForSpecialOptions()">
                <div data-ng-include="specialOptionTemplate"></div>
            </div>
            <md-divider></md-divider>
            <div layout="row" layout-align="space-between center" class="constructor-card-actions">
                <md-button aria-label="cancel" data-ng-click="cancel()">
                    Cancel
                </md-button>
                <md-button class="ec-field-btn {{item.attribute ? '' : 'disabled'}}" aria-label="save layout"
                           data-ng-click="saveField()">
                    <span>Ok</span>
                </md-button>
            </div>
        </md-card>
    </div>
</div>
