<div>
    <div data-ng-if="!item.editMode">
        <div data-ng-if="item.attribute">
            <md-card class="ec-attr-card">
                <div layout="row">
                    <p class="name-holder" flex="60">
                        <b><span data-ng-bind="item.attribute.name"></span></b> (<span data-ng-bind="bindType()"></span>)
                    </p>
                    <div class="options-holder" flex="40">
                        <md-button aria-label="delete attribute" data-ng-click="deleteField()">
                            <ng-md-icon icon="delete"></ng-md-icon>
                        </md-button>
                        <md-button aria-label="edit attribute" data-ng-click="toggleEditMode()">
                            <ng-md-icon icon="mode_edit"></ng-md-icon>
                        </md-button>
                    </div>
                </div>
            </md-card>
        </div>
        <div data-ng-if="!item.attribute">
            <md-card class="ec-attr-card">
                <md-button aria-label="add field" data-ng-click="toggleEditMode()">
                    <ng-md-icon icon="add_circle"></ng-md-icon>
                </md-button>
            </md-card>
        </div>
    </div>
    <div data-ng-if="item.editMode">
        <md-card class="ec-attr-card {{item.editMode ? 'active' : ''}}">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Field</label>
                <!--{{item.attribute}}-->
                <md-select ng-model="item.attribute" ng-change="changeModel(item.attribute)" ng-focus="findAttrsLeft()">
                    <md-optgroup label="General">
                        <md-option ng-repeat="attr in baseAttrs" ng-value="attr" class="{{attr.disabled ? 'disabled' : ''}}">
                            <!--{{attr}}-->
                            {{attr.name}}
                        </md-option>
                    </md-optgroup>
                    <md-optgroup label="Specific">
                        <md-option ng-repeat="attr in entityAttrs" ng-value="attr" class="{{attr.disabled ? 'disabled' : ''}}">
                            <!--{{attr}}-->
                            {{attr.name}}
                        </md-option>
                    </md-optgroup>
                    <md-optgroup label="Attributes">
                        <md-option ng-repeat="attr in attrs" ng-value="attr" class="{{attr.disabled ? 'disabled' : ''}}">
                            <!--{{attr}}-->
                            {{attr.name}}
                        </md-option>
                    </md-optgroup>
                    <md-optgroup label="Layout">
                        <md-option ng-repeat="attr in layoutAttrs" ng-value="attr">
                            {{attr.name}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Colspan</label>
                <md-select ng-model="item.colspan">
                    <md-option ng-repeat="colspan in getCols()" value="{{colspan}}">
                        Fit {{colspan}} column
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Field name</label>
                <input data-ng-model="item.options.fieldName">
            </md-input-container>
            <div data-ng-if="checkForSpecialOptions()">
                <div data-ng-include="specialOptionTemplate"></div>
            </div>
            <md-button aria-label="cancel" data-ng-click="cancel()">
                Cancel
            </md-button>
            <md-button class="ec-field-btn {{item.attribute ? '' : 'disabled'}}" aria-label="save layout" data-ng-click="saveField()">
                <span>Ok</span>
            </md-button>
        </md-card>
    </div>
</div>
