<div ng-transclude
     class="fields-popup-target"
     data-ng-click="onTargetElementClick($event)"></div>

<template>
    <div class="popup-area-backdrop"
         data-ng-click="onBackdropClick()"></div>

    <div class="popup-container">
        <div class="popup-content-template-url" data-ng-if="popupTemplateUrl"></div>
        <div class="popup-content-template" data-ng-if="popupTemplate"></div>

        <div class="popup-footer flex-row fc-space-between">

            <div layout="row">
                <md-button class="link-button" ng-click="cancel()">
                    <span>Cancel</span>
                </md-button>
            </div>

            <div>
                <md-button class="primary-button"
                           ng-click="save()">
                    Save
                </md-button>
            </div>




        </div>
    </div>
</template>
