<div class="custom-input-container text-input-container textInputContainer">
    <div class="custom-input-top-row">
        <div data-ng-bind="label" class="custom-input-label"></div>
        <div class="custom-input-tooltip">
            <ng-md-icon icon="info"
                        size="16"
                        class="tooltip-sign"
                        style="fill: #777777"></ng-md-icon>
            <md-tooltip class="tooltip_2" md-direction="top">Text field</md-tooltip>
        </div>
    </div>

    <div class="flex-row position-relative">
        <input type="text"
               data-ng-model="model.value"
               data-ng-change="initOnChangeCallback()"
               placeholder="{{label}}"
               class="custom-input text-input textInputElem">

        <button class="custom-input-indicator-btn" data-ng-click="openTextInDialog($event)">
            <ng-md-icon icon="edit" size="20"></ng-md-icon>
        </button>
    </div>
</div>
