<div layout="row" class="two-fields-options-content" layout-align="center center">
	<div layout="column">
		<p>Available</p>
		<input type="search"
			   placeholder="Search for a ..."
			   data-ng-model="availableSearchTerm"
			   class="two-fields-filter-input">
		<div class="all-options-field two-fields-options">
			<p data-ng-repeat="option in allOptions | filter: {name: availableSearchTerm}"
			   data-ng-bind="option['{{nameProperty}}']"
			   class="two-fields-available-option"
			   data-member-group-id="{{option.id}}"
			   data-ng-click="highlightOption($event)"></p>
		</div>
	</div>
	<div class="two-fields-buttons" layout="column" layout-align="center center">
		<md-button class="two-fields-select-btn two-fields-btn md-raised"
				   data-ng-click="switchOptions('select')">
			<ng-md-icon icon="chevron_right" size="25"></ng-md-icon>
		</md-button>
		<md-button class="two-fields-select-all-btn two-fields-btn md-raised"
				   data-ng-click="selectAll()">
			<ng-md-icon icon="chevron_right" size="35"></ng-md-icon>
		</md-button>

		<md-button class="two-fields-select-btn two-fields-btn md-raised"
				   data-ng-click="switchOptions('deselect')">
			<ng-md-icon icon="chevron_left" size="25"></ng-md-icon>
		</md-button>
		<md-button class="two-fields-select-all-btn two-fields-btn md-raised"
				   data-ng-click="deselectAll()">
			<ng-md-icon icon="chevron_left" size="35"></ng-md-icon>
	</div>
	<div layout="column">
			<p>Selected</p>
			<input type="search"
				   placeholder="Search for a ..."
				   data-ng-model="selectedSearchTerm"
				   class="two-fields-filter-input">
			<div class="selected-options-field two-fields-options">
				<p data-ng-repeat="sOption in selectedOptions | filter: {name: selectedSearchTerm}"
				   data-ng-bind="sOption['{{nameProperty}}']"
				   class="two-fields-selected-option"
				   data-member-group-id="{{sOption.id}}"
				   data-ng-click="highlightOption($event)"></p>
			</div>
	</div>
</div>