<div class="usercode-input" layout="column">

    <div data-ng-if="!isDisabled">

        <div class="flex-row flex-i-center">

            <!--<md-input-container>
                <label>Configuration</label>
                <md-select data-ng-model="configuration_code.value">
                    <md-option data-ng-repeat="item in configuration_codes"
                               value="{{item}}"
                               data-ng-click="updateUserCode(usercodeEnd.value, item)">
                        {{item}}
                    </md-option>
                </md-select>
            </md-input-container>-->
            <div style="flex: 0 0 200px; max-width: 200px;">
                <dropdown-select data-ng-if="readyStatus"
                                 data-label="Configuration"
                                 data-model="configuration_code.value"
                                 data-menu-options="configuration_codes"
                                 data-is-disabled="isDisabled"
                                 data-small-options="selSmallOpts"
                                 data-event-signal="configSelEventSignal"
                                 data-on-change-callback="onConfigCodeChange(changedValue)"></dropdown-select>

                <div data-ng-if="!readyStatus" class="flex-row flex-center">
                    <progress-circular data-diameter="20"></progress-circular>
                </div>
            </div>

            <!--<md-input-container style="margin-top: 2px; width: 100%;">
                <label>User code</label>
                <input type="text"
                       data-ng-model="usercodeEnd.value"
                       data-ng-change="validateUserCode(usercodeEnd.value)"
                       data-ng-keyup="updateUserCode(usercodeEnd.value, configuration_code.value)">
            </md-input-container>-->
            <div class="flex-1-1-100" style="min-width: 0;">
                <text-input data-label="{{userCodeLabel}}"
                            data-model="usercodeEnd.value"
                            data-small-options="uciSmallOpts"
                            data-is-disabled="isDisabled"
                            data-on-change-callback="onUserCodeChangeD(usercodeEnd.value, configuration_code.value)"
                            class="userCodeEndInput"></text-input>
            </div>

            <!--<ng-md-icon class="tooltip-inline-block"
                        icon="info"
                        size="20"
                        style="fill: #777777">
                <md-tooltip class="tooltip_2"
                            md-direction="top">
                    Allowed symbols:
                    Numbers: 0-9,
                    Letters: a-z (lowercase)
                    Special Symbols: _, - (underscore, dash)
                </md-tooltip>
            </ng-md-icon>-->
        </div>

        <div ng-hide="errorDescription">
            <p class="small-text overflow-hidden text-overflow-ellipsis">
                <i>Result: {{ item ? item.user_code : userCode }}</i>
            </p>
        </div>

        <div ng-hide="!errorDescription">
            <p class="small-text error-color" data-ng-bind="errorDescription"></p>
        </div>

    </div>

    <div data-ng-if="isDisabled">

        <!--<md-input-container style="margin-top: 2px; width: 100%;">
            <label>User code</label>
            <input type="text" data-ng-model="item.user_code" class="disabled-btn">
        </md-input-container>-->
        <text-input data-ng-if="item"
                    data-label="User code"
                    data-model="item.user_code"
                    data-small-options="uciSmallOpts"
                    data-is-disabled="isDisabled"></text-input>

        <text-input data-ng-if="!item"
                    data-label="User code"
                    data-model="userCode"
                    data-small-options="uciSmallOpts"
                    data-is-disabled="isDisabled"></text-input>

    </div>

</div>