<div class="usercode-input" layout="column">

    <div data-ng-if="!item.id">

        <div layout="row">

            <md-input-container>
                <label>Configuration</label>
                <md-select data-ng-model="configuration_code.value">
                    <md-option data-ng-repeat="item in configuration_codes"
                               value="{{item}}"
                               data-ng-click="updateUserCode(usercodeEnd.value, item)">
                        {{item}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container style="margin-top: 2px; width: 100%;">
                <label>User code</label>
                <input type="text"
                       data-ng-model="usercodeEnd.value"
                       data-ng-change="validateUserCode(usercodeEnd.value)"
                       data-ng-keyup="updateUserCode(usercodeEnd.value, configuration_code.value)">
            </md-input-container>

            <ng-md-icon class="tooltip-inline-block"
                        icon="info"
                        size="20"
                        style="fill: #777777">
                <md-tooltip class="tooltip_2"
                            md-direction="top">
                    Allowed symbols:
                    Numbers: 0-9,
                    Letters: a-z (lowercase)
                    Special Symbols: _, - (underscore, dash)
                </md-tooltip>
            </ng-md-icon>
        </div>

        <div ng-hide="errorDescription">
            <p class="small-text"><i>Result: {{item.user_code}}</i></p>
        </div>

        <div ng-hide="!errorDescription">
            <p class="small-text error-color" data-ng-bind="errorDescription"></p>
        </div>

    </div>

    <div data-ng-if="item.id">

        <md-input-container style="margin-top: 2px; width: 100%;">
            <label>User code</label>
            <input type="text" data-ng-model="item.user_code" class="disabled-btn">
        </md-input-container>

    </div>

</div>