<div class="complex-date-picker-wrapper">
    <div data-ng-class="{'ng-hide' : datepickerOptions.datepickerMode === 'expression'}">
        <md-input-container>
            <label for="complex-datepicker-input">{{ getDatepickerName() }}</label>
            <div class="pick-me-up">
                <input data-ng-model="date"
                       id="complex-datepicker-input"
                       type="text">
            </div>
        </md-input-container>
    </div>

    <div data-ng-if="datepickerOptions.datepickerMode === 'expression'">
        <md-input-container>
            <label for="complex-datepicker-expressions-input">{{ getDatepickerName() }}</label>
            <input data-ng-model="date"
                   id="complex-datepicker-expressions-input"
                   data-ng-click="openEditExpressionDialog($event)"
                   type="text"
                   style="cursor:pointer"
                   readonly>
        </md-input-container>
    </div>

    <md-menu class="complex-date-picker-settings">
        <md-button data-ng-click="$mdOpenMenu($event)"
                   class="md-icon-button"
                   aria-label="datepicker settings menu">
            <ng-md-icon icon="settings"></ng-md-icon>
        </md-button>

        <md-menu-content>
            <md-menu-item>
                <md-button data-ng-click="yesterdayMode()">Yesterday</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button data-ng-click="todayMode()">Today</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button data-ng-click="expressionMode()">Custom</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button data-ng-click="datepickerMode()">Datepicker</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>