<div>
    <md-input-container class="md-block">
        <label>Row count</label>
        <input data-ng-model="attr.options.rowCount" type="number">
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Frame</label>
        <md-select ng-model="attr.options.frame">
            <md-option value="0">
                No border
            </md-option>
            <md-option value="1">
                Border
            </md-option>
        </md-select>
    </md-input-container>
</div>