<div class="dashboard-component height-100 dashboardComponent"
     ng-class="{'dashboard-component-filled-in': fillInModeData}">

    <div
            class="flex-column height-100">

        <div ng-if="!vm.componentData.inside_iframe" class="dashboard-component-header" flex="noshrink">
            <div class="dashboard-component-header-left">

                <div class="dashboard-component-name">
                    <span title="{{item.data.name}}"
                          data-ng-bind="item.data.name"></span>
                </div>

            </div>

            <div class="dashboard-component-header-right">

                <md-button ng-if="missingPricesData.items.length"
                           class="md-raised md-warn dashboard-comp-h-btn"
                           ng-click="openMissingPricesDialog($event)">
                    <ng-md-icon size="20" icon="warning"></ng-md-icon>
                    <md-tooltip data-md-direction="top"> Warning ({{missingPricesData.items.length}})</md-tooltip>
                </md-button>

                <md-button class="md-button dashboard-component-settings-btn dashboard-comp-h-btn"
                           aria-label="dashboard component settings btn"
                           data-ng-click="openComponentSettingsDialog($event)">
                    <ng-md-icon size="20" icon="settings"></ng-md-icon>
                    <md-tooltip md-direction="top">Edit component settings</md-tooltip>
                </md-button>


            </div>
        </div>

        <div class="dashboard-component-body" flex="grow">

            <div data-ng-if="readyStatus.data == 'processing'"
                 class="dashboard-recalculate-loader-holder">
                <div layout="row" layout-sm="column" layout-align="space-around" class="dashboard-component-loader">
                    <progress-circular diameter="40"></progress-circular>
                </div>
            </div>

            <div data-ng-if="readyStatus.data === 'ready'">
                <report-viewer-matrix class="height-100 display-block"
                                      matrix-settings="matrixSettings"
                                      ev-data-service="entityViewerDataService"
                                      ev-event-service="entityViewerEventService"></report-viewer-matrix>
            </div>
        </div>

    </div>

</div>