<div class="height-100" data-ng-if="readyStatus.data === 'ready'">

    <div data-ng-include="'views/entity-viewer/dashboard-report-viewer.html'" class="report-data-layer-wrapper"></div>

</div>

<div data-ng-if="readyStatus.data === 'processing'" class="dashboard-component-loader-holder">
    <div layout="row" layout-sm="column" layout-align="space-around" class="dashboard-component-loader">
        <progress-circular diameter="50"></progress-circular>
    </div>
</div>

<div data-ng-if="readyStatus.data === 'error'" class="center-text-message">
    <span data-ng-bind="compErrorMessage"></span>
</div>