<div>

    <div data-ng-if="componentData.settings.value_type == 10">

        <md-input-container class="md-block no-error-spacer textarea-bind-field">
            <label data-ng-bind="item.data.name"></label>
            <input type="text"
                   data-ng-change="valueChanged()"
                   data-ng-model="item.data.store.value">
        </md-input-container>

    </div>

    <div data-ng-if="componentData.settings.value_type == 20">

        <md-input-container class="md-block">
            <label data-ng-bind="item.data.name"></label>
            <input
                    data-ng-change="valueChanged()"
                    data-ng-model="item.data.store.value"
                    data-float-numbers>
        </md-input-container>

    </div>

    <div data-ng-if="componentData.settings.value_type == 40">

        <md-input-container class="field-date-pick-holder no-error-spacer md-block">
            <label data-ng-bind="item.data.name"></label>
            <zh-date-picker data-date-value="item.data.store.value" callback-method="valueChanged()"></zh-date-picker>
        </md-input-container>

    </div>

    <div data-ng-if="componentData.settings.value_type == 100" class="position-relative">

        <div data-ng-if="componentData.settings.content_type == 'currencies.currency' || componentData.settings.content_type == 'instruments.pricingpolicy'">

            <div data-ng-if="!componentData.settings.multiple">
                <md-input-container class="md-block no-error-spacer">
                    <label data-ng-bind="item.data.name"></label>

                    <md-select data-ng-model="item.data.store.value"
                               data-ng-change="valueChanged()"
                               md-on-open="getData()"
                               md-container-class="common-select-container"
                               md-on-close="searchTerm = ''"
                               style="margin-bottom: 10px">

                        <md-select-header>
                            <input data-ng-model="searchTerm"
                                   type="search"
                                   placeholder="Search for a ..."
                                   class="md-text md-select-search-pattern select-input-filter"
                                   ng-keydown="$event.stopPropagation()">
                        </md-select-header>

                        <div class="select-options-holder">
                            <md-option
                                    data-ng-repeat="field in fields | orderBy:'-name' | filter:{name: searchTerm} as results track by field.id "
                                    ng-value="field.id">
                                {{field.name}}
                            </md-option>
                        </div>

                    </md-select>
                </md-input-container>
            </div>

            <div data-ng-if="componentData.settings.multiple">
                <two-fields-multiselect data-title="{{item.data.name}}"
                                        data-items="fields"
                                        data-model="item.data.store.value"
                                        data-name-property="short_name"
                                        data-get-data-method="getDataForMultiselect()"
                                        data-on-change-callback="valueChanged()"
                                        class="two-fields-multiselect no-error-spacer dashboard-control-multiselect"></two-fields-multiselect>
            </div>

        </div>

        <div data-ng-if="componentData.settings.content_type != 'currencies.currency' && componentData.settings.content_type != 'instruments.pricingpolicy'">

            <entity-search-select data-ng-if="!componentData.settings.multiple"
                                  data-item="item.data.store.value"
                                  data-label="item.data.name"
                                  data-input-text="item.data.store.name"
                                  data-entity-type="entityType"
                                  data-callback="valueChanged()"></entity-search-select>

            <div data-ng-if="componentData.settings.multiple">
                <two-fields-multiselect data-title="{{item.data.name}}"
                                        data-items="fields"
                                        data-model="item.data.store.value"
                                        data-name-property="short_name"
                                        data-get-data-method="getDataForMultiselect()"
                                        data-on-change-callback="valueChanged()"
                                        class="two-fields-multiselect no-error-spacer dashboard-control-multiselect"></two-fields-multiselect>
            </div>

        </div>

        <md-button class="control-clear-btn" data-ng-click="clearValue()">
            <ng-md-icon icon="clear" size="12"></ng-md-icon>
        </md-button>

    </div>


</div>