<div data-ng-if="isReport" class="settings-btn">

    <div data-ng-if="column.value_type == 20">
        <md-menu>
            <md-button aria-label="numeric column settings"
                       class="md-icon-button column-btns"
                       ng-disabled="column.error_data"
                       ng-click="$mdMenu.open($event)">
                <span class="material-icons">settings</span>
            </md-button>

            <md-menu-content width="4">

                <md-menu-item>
                    <md-button ng-click="renameColumn($mdMenu, $event)"
                               class="g-settings-option-btn">
                        <span class="material-icons" style="visibility: hidden;">visibility_off</span>
                        <span>Rename</span>
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button ng-click="renameColumn($mdMenu, $event)"
                               class="g-settings-option-btn">
                        <span class="material-icons" style="visibility: hidden;">visibility_off</span>
                        <span>Rename</span>
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button ng-click="resizeColumn($mdMenu, $event)"
                               class="g-settings-option-btn">
                        <span class="material-icons" style="visibility: hidden;">visibility_off</span>
                        <span>Resize</span>
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button ng-click="openNumberFormatDialog($event)"
                               class="g-settings-option-btn g-settings-option-bt">
                        <span class="material-icons" style="visibility: hidden;">visibility_off</span>
                        <span>Number Format</span>
                    </md-button>
                </md-menu-item>

                <md-menu-item data-ng-if="$index !== 0">
                    <md-button ng-click="selectSubtotalType(1)"
                               class="g-settings-option-btn">
                        <span class="material-icons"
                              data-ng-show="!checkSubtotalFormula(1)"
                              style="visibility: hidden;">done</span>
                        <span data-ng-show="checkSubtotalFormula(1)"
                              class="material-icons">>done</span>
                        <span>Subtotal SUM</span>
                    </md-button>
                </md-menu-item>

                <md-menu-item data-ng-if="$index !== 0">
                    <md-menu>
                        <md-button aria-label="Open phone interactions menu"
                                   class=""
                                   ng-click="$mdMenu.open($event)">
                            <span class="material-icons z-menu-icon"
                                  style="visibility: hidden;">done</span>
                            <span>Subtotal Weighted</span>
                            <span class="material-icons z-menu-icon">arrow_drop_up</span>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button ng-click="selectSubtotalType(2)"
                                           class="g-settings-option-btn">
                                    <span data-ng-show="!checkSubtotalFormula(2)"
                                          class="material-icons z-menu-icon"
                                          style="visibility: hidden;">done</span>
                                    <span data-ng-show="checkSubtotalFormula(2)"
                                          class="material-icons">done</span>
                                    <span>Market Value</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="selectSubtotalType(3)"
                                           class="g-settings-option-btn">
                                    <span class="material-icons z-menu-icon"
                                          data-ng-show="!checkSubtotalFormula(3)"
                                          style="visibility: hidden;">done</span>
                                    <span class="material-icons z-menu-icon"
                                          data-ng-show="checkSubtotalFormula(3)">done</span>
                                    <span>Market Value %</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="selectSubtotalType(4)"
                                           class="g-settings-option-btn">
                                    <span class="material-icons z-menu-icon"
                                          data-ng-show="!checkSubtotalFormula(4)"
                                          style="visibility: hidden;">done</span>
                                    <span class="material-icons z-menu-icon"
                                          data-ng-show="checkSubtotalFormula(4)">done</span>
                                    <span>Exposure</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="selectSubtotalType(5)"
                                           class="g-settings-option-btn">
                                      <span class="material-icons z-menu-icon"
                                            data-ng-show="!checkSubtotalFormula(5)"
                                            style="visibility: hidden;">done</span>
                                    <span class="material-icons z-menu-icon"
                                          data-ng-show="checkSubtotalFormula(5)">done</span>
                                    <span>Exposure %</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-item>

                <md-menu-item data-ng-if="$index !== 0">
                    <md-menu>
                        <md-button aria-label="Open phone interactions menu"
                                   class="g-settings-option-btn"
                                   ng-click="$mdMenu.open($event)">
                            <span class="g-settings-option-btn material-icons z-menu-icon"
                                  style="visibility: hidden;">done</span>
                            <span>Subtotal Avg. Weighted</span>
                            <span class="material-icons z-dropdown-icon">arrow_drop_up</span>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button ng-click="selectSubtotalType(6)"
                                           class="g-settings-option-btn">
                                    <span data-ng-show="!checkSubtotalFormula(6)"
                                          class="material-icons z-menu-icon"
                                          style="visibility: hidden;">done</span>
                                    <span data-ng-show="checkSubtotalFormula(6)"
                                          class="material-icons z-menu-icon">done</span>
                                    <span>Market Value</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="selectSubtotalType(7)"
                                           class="g-settings-option-btn">
                                     <span data-ng-show="!checkSubtotalFormula(7)"
                                           class="material-icons z-menu-icon"
                                           style="visibility: hidden;">done</span>
                                    <span data-ng-show="checkSubtotalFormula(7)"
                                          class="material-icons z-menu-icon">done</span>
                                    <span>Market Value %</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="selectSubtotalType(8)"
                                           class="g-settings-option-btn">
                                    <span data-ng-show="!checkSubtotalFormula(8)"
                                          class="material-icons z-menu-icon"
                                          style="visibility: hidden;">done</span>
                                    <span data-ng-show="checkSubtotalFormula(8)"
                                          class="material-icons z-menu-icon">done</span>
                                    <span>Exposure</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="selectSubtotalType(9)"
                                          class="g-settings-option-btn">
                                    <span data-ng-show="!checkSubtotalFormula(9)"
                                          class="material-icons z-menu-icon"
                                          style="visibility: hidden;">done</span>
                                    <span data-ng-show="checkSubtotalFormula(9)"
                                          class="material-icons z-menu-icon">done</span>
                                    <span>Exposure %</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-item>

                <!-- <md-menu-item>
                    <md-button ng-click="reportHideSubtotal()"
                               class="g-settings-option-btn">
                        <ng-md-icon icon="done" style="visibility: hidden;"></ng-md-icon>
                        <span data-ng-show="!column.report_settings.hide_subtotal">Hide subtotal</span><span
                            data-ng-show="column.report_settings.hide_subtotal">Show subtotal</span>
                    </md-button>
                </md-menu-item> -->

            </md-menu-content>
        </md-menu>
    </div>

    <div data-ng-if="column.value_type != 20">
        <md-menu>
            <md-button aria-label="column settings"
                       class="md-icon-button column-btns"
                       ng-disabled="column.error_data"
                       ng-click="$mdMenu.open($event)">
                <span class="material-icons">settings</span>
            </md-button>

            <md-menu-content>

                <md-menu-item>
                    <md-button ng-click="renameColumn($mdMenu, $event)"
                               class="g-settings-option-btn">
                        <span class="material-icons" style="visibility: hidden;">visibility_off</span>
                        <span>Rename</span>
                    </md-button>
                    <md-menu-content style="display: none"></md-menu-content>
                </md-menu-item>

                <md-menu-item>
                    <md-button ng-click="resizeColumn($mdMenu, $event)"
                               class="g-settings-option-btn">
                        <span class="material-icons" style="visibility: hidden;">visibility_off</span>
                        <span>Resize</span>
                    </md-button>
                </md-menu-item>

            </md-menu-content>
        </md-menu>
    </div>

</div>
<div>
    <md-menu>
        <md-button aria-label="column settings"
                   class="md-icon-button column-btns"
                   ng-disabled="column.error_data"
                   ng-click="$mdMenu.open($event)">
            <span class="material-icons">settings</span>
        </md-button>

        <md-menu-content>

            <md-menu-item>
                <md-button ng-click="renameColumn($mdMenu, $event)"
                           class="g-settings-option-btn">
                    <span class="material-icons" style="visibility: hidden;">visibility_off</span>
                    <span>Rename column</span>
                </md-button>
                <md-menu-content style="display: none"></md-menu-content>
            </md-menu-item>

            <md-menu-item>
                <md-button ng-click="resizeColumn($mdMenu, $event)"
                           class="g-settings-option-btn">
                    <span class="material-icons" style="visibility: hidden;">visibility_off</span>
                    <span>Resize</span>
                </md-button>
            </md-menu-item>

        </md-menu-content>
    </md-menu>
</div>