<div style="padding: 20px 20px 0">
    <div data-ng-if="vm.readyStatus.dataProviders && vm.readyStatus.configs">
        <h2 class="m-b-35">Data Providers</h2>
        <md-card data-ng-repeat="dataProvider in vm.dataProviders">
            <md-card-content>
                <div layout="row" layout-align="space-between">
                    <div layout="row" layout-align="begin center">

                        <div class="float-left m-r-8" style="width: 48px" layout="row">
                            <ng-md-icon icon="check_circle" class="color-success" data-ng-if="dataProvider.has_p12cert">
                                <md-tooltip md-direction="top">Certificate is imported</md-tooltip>
                            </ng-md-icon>
                            <ng-md-icon icon="radio_button_unchecked" class="color-grey"
                                        data-ng-if="!dataProvider.has_p12cert">
                                <md-tooltip md-direction="top">Certificate is not imported</md-tooltip>
                            </ng-md-icon>

                            <ng-md-icon icon="swap_vertial_circle" class="color-success" data-ng-if="dataProvider.is_valid">
                                <md-tooltip md-direction="top">Certificate is verified</md-tooltip>
                            </ng-md-icon>
                            <ng-md-icon icon="swap_vertial_circle" class="color-grey"
                                        data-ng-if="!dataProvider.is_valid">
                                <md-tooltip md-direction="top">Certificate is not verified</md-tooltip>
                            </ng-md-icon>
                        </div>

                        {{dataProvider.name}}
                    </div>
                    <div layout="row" layout-align="end center">
                        <md-button
                                class="md-raised md-primary" ng-class="{'disabled-btn': !dataProvider.has_p12cert}"
                                data-ng-click="vm.testBloombergCall()">
                            Make a Test Request
                        </md-button>
                        <md-button
                                class="md-raised data-provider-btn-sref"
                                data-ui-sref="app.settings.data-providers-config({dataProviderId: dataProvider.id})">
                            Edit
                        </md-button>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div data-ng-if="!vm.readyStatus.dataProviders && !vm.readyStatus.configs">
        <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
            <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
        </div>
    </div>
</div>