<div>
    <div data-ng-if="vm.readyStatus.dataProviders">
        <md-card data-ng-repeat="dataProvider in vm.dataProviders">
            <md-card-content>
                <div layout="row" layout-align="space-between">
                    <div layout="row" layout-align="begin center">
                        {{dataProvider.name}}
                    </div>
                    <div layout="row" layout-align="end center">
                        <md-button
                                class="md-raised data-provider-btn-sref"
                                data-ui-sref="app.settings.general.data-providers-config({dataProviderId: dataProvider.id})">
                            <ng-md-icon icon="keyboard_arrow_right"></ng-md-icon>
                        </md-button>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div data-ng-if="!vm.readyStatus.dataProviders">
        <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
            <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
        </div>
    </div>
</div>