<div class="complex-datepicker-popup">

    <complex-datepicker data-date="popupData.date"
                        data-datepicker-options="popupData.datepickerOptions"
                        data-second-date="popupData.secondDate"
                        data-second-datepicker-options="popupData.secondDatepickerOptions"
                        data-ev-data-service="popupData.evDataService"
                        data-ev-event-service="popupData.evEventService"
                        data-attribute-data-service="popupData.attributeDataService"
                        data-popup-event-service="popupEventService"
                        data-dates-range="popupData.datesRange"></complex-datepicker>

    <div class="flex-row fc-flex-end fi-center complex-datepicker-popup-footer">
        <div>
            <md-button ng-click="cancel()" class="link-button">
                <span>CANCEL</span>
            </md-button>
        </div>

        <div>
            <md-button ng-click="save()" class="link-button">
                <span>SAVE</span>
            </md-button>
        </div>
    </div>

</div>