<!--<md-menu>

    <md-button aria-label="entity viewer column settings"
               class="md-icon-button column-btns column-settings-menu"
               ng-click="$mdOpenMenu($event)">
        <ng-md-icon icon="settings"></ng-md-icon>
    </md-button>

    <md-menu-content width="4">-->
<div class="popup-menu">
        <div>
            <md-button ng-click="vm.data.renameColumn(vm.data.column, $mdMenu, $event)"
                       class="popup-menu-item">
                <ng-md-icon icon="visibility_off"
                            style="visibility: hidden;"></ng-md-icon>
                <span>Rename</span>
            </md-button>
        </div>

        <div data-ng-if="!vm.data.columnHasCorrespondingGroup(vm.data.column.key)">
            <md-button data-ng-click="vm.data.addColumnEntityToGrouping(vm.data.column)"
                       class="popup-menu-item">
                <ng-md-icon icon="visibility_off"
                            style="visibility: hidden;"></ng-md-icon>
                <span>Add to grouping</span>
            </md-button>
        </div>

        <div data-ng-if="vm.data.checkForFilteringBySameAttr(vm.data.column.key)">
            <md-button data-ng-click="vm.data.addFiltersWithColAttr(vm.data.column)"
                       class="popup-menu-item">
                <ng-md-icon icon="visibility_off"
                            style="visibility: hidden;"></ng-md-icon>
                <span>Add to Filters</span>
            </md-button>
        </div>

        <div>
            <md-button ng-click="vm.data.resizeColumn(vm.data.column, $mdMenu, $event)"
                       class="popup-menu-item">
                <ng-md-icon icon="visibility_off"
                            style="visibility: hidden;"></ng-md-icon>
                <span>Resize</span>
            </md-button>
        </div>

        <div data-ng-if="!vm.data.isReport || !vm.data.columnHasCorrespondingGroup(vm.data.column.key);">
            <md-menu md-offset="260px 0">
                <md-button aria-label="Open phone interactions menu"
                           class="popup-menu-item"
                           ng-click="$mdMenu.open()">
                    <ng-md-icon icon="done"
                                class="z-menu-icon"
                                style="visibility: hidden;"></ng-md-icon>
                    <span>Text aligning</span>
                    <ng-md-icon icon="arrow_drop_up"
                                class="z-dropdown-icon"></ng-md-icon>
                </md-button>

                <md-menu-content width="3">
                    <md-menu-item>
                        <md-button ng-click="vm.data.changeColumnTextAlign(vm.data.column, 'left')"
                                   class="g-settings-option-btn">
                            <ng-md-icon icon="done"
                                        data-ng-show="!vm.data.checkColTextAlign(vm.data.column, 'left')"
                                        class="z-menu-icon"
                                        style="visibility: hidden;"></ng-md-icon>
                            <ng-md-icon icon="done"
                                        data-ng-show="vm.data.checkColTextAlign(vm.data.column, 'left')"
                                        class="z-menu-icon"></ng-md-icon>
                            <span>Left</span>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button ng-click="vm.data.changeColumnTextAlign(vm.data.column, 'center')"
                                   class="g-settings-option-btn">
                            <ng-md-icon icon="done"
                                        data-ng-show="!vm.data.checkColTextAlign(vm.data.column, 'center')"
                                        class="z-menu-icon"
                                        style="visibility: hidden;"></ng-md-icon>
                            <ng-md-icon icon="done"
                                        data-ng-show="vm.data.checkColTextAlign(vm.data.column, 'center')"
                                        class="z-menu-icon"></ng-md-icon>
                            <span>Center</span>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button ng-click="vm.data.changeColumnTextAlign(vm.data.column, 'right')"
                                   class="g-settings-option-btn">
                            <ng-md-icon icon="done"
                                        data-ng-show="!vm.data.checkColTextAlign(vm.data.column, 'right')"
                                        class="z-menu-icon"
                                        style="visibility: hidden;"></ng-md-icon>
                            <ng-md-icon icon="done"
                                        data-ng-show="vm.data.checkColTextAlign(vm.data.column, 'right')"
                                        class="z-menu-icon"></ng-md-icon>
                            <span>Right</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>

        <div data-ng-if="vm.data.isReport && vm.data.columnHasCorrespondingGroup(vm.data.column.key)">
            <md-button data-ng-click="vm.data.removeGroup(vm.data.column.___column_id)"
                       class="popup-menu-item">
                <ng-md-icon icon="visibility_off"></ng-md-icon>
                <span>Remove</span>
            </md-button>
        </div>

        <div data-ng-if="!vm.data.isReport || !vm.data.columnHasCorrespondingGroup(vm.data.column.key)">
            <md-button ng-click="vm.data.removeColumn(vm.data.column)"
                       class="popup-menu-item">
                <ng-md-icon icon="visibility_off"></ng-md-icon>
                <span>Remove</span>
            </md-button>
        </div>
</div>

<!--    </md-menu-content>
</md-menu>-->
