<div class="selector2-popup popup-menu">
    <md-button data-ng-repeat="option in popupData.options"
               data-ng-disabled="option.isDisabled"
               data-ng-class="option.classes"
               data-ng-click="option.onClick(option, _$popup, $event)"

               class="popup-menu-item">

        <div data-ng-if="option.icon"
             class="material-icons option-icon"
             zdata-ng-bind="option.icon"></div>

        <div data-ng-bind="option.name"></div>
    </md-button>
</div>