<md-dialog aria-label="dashboard constructor control component"
           class="draggable-dialog width-50"
           drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Control Component</h2>
            <span flex></span>

            <div data-ng-if="vm.processing" class="dialog-toolbar-loader">
                <progress-circular diameter="20"></progress-circular>
            </div>

        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-tabs md-border-bottom md-dynamic-height>

            <md-tab>
                <md-tab-label>Main</md-tab-label>

                <md-tab-body>
                    <md-content>
                        <div class="p-24">

                            <md-input-container style="width: 200px;">
                                <label for="">Name</label>
                                <input type="text" data-ng-model="vm.item.name">
                            </md-input-container>

                            <div>
                                <md-input-container class="dashboard-constructor-field1">
                                    <label for="">Label</label>
                                    <input type="text" data-ng-model="vm.item.custom_component_name">
                                </md-input-container>
                            </div>


                            <md-input-container class="md-block" style="height: 58px">
                                <label>Value Type</label>
                                <md-select data-ng-model="vm.item.settings.value_type">
                                    <md-option ng-value="10">Text</md-option>
                                    <md-option ng-value="20">Number</md-option>
                                    <md-option ng-value="40">Date</md-option>
                                    <md-option ng-value="100">Relation</md-option>
                                </md-select>
                            </md-input-container>

                            <div data-ng-if="vm.item.settings.value_type == 100" layout="row">

                                <md-input-container class="md-block no-error-spacer"
                                                    aria-label="select with filter"
                                                    style="height: 58px">
                                    <label>Content Type</label>
                                    <md-select ng-model="vm.item.settings.content_type"
                                               md-container-class="common-select-container"
                                               md-on-close="searchTerm = ''"
                                               style="margin-bottom: 10px">

                                        <md-select-header>
                                            <input data-ng-model="searchTerm"
                                                   type="search"
                                                   placeholder="Search for a ..."
                                                   class="md-text md-select-search-pattern select-input-filter"
                                                   ng-keydown="$event.stopPropagation()">
                                        </md-select-header>

                                        <div class="select-options-holder">

                                            <md-option
                                                    data-ng-repeat="contentType in vm.contentTypes | filter: {name: searchTerm}"
                                                    ng-value="contentType.key"
                                                    ng-bind="contentType.name">
                                            </md-option>

                                        </div>

                                    </md-select>
                                </md-input-container>

                                <div>

                                    <md-input-container style="height: 58px">

                                        <md-checkbox data-ng-model="vm.item.settings.multiple">Multiple Select</md-checkbox>

                                    </md-input-container>

                                </div>

                            </div>


                            <md-input-container style="height: 58px">

                                <md-checkbox data-ng-model="vm.item.settings.auto_refresh">Trigger Refresh on Value Change</md-checkbox>

                            </md-input-container>

                        </div>
                    </md-content>
                </md-tab-body>
            </md-tab>

            <md-tab data-ng-disabled="!vm.isRequiredDefaultValue()">
                <md-tab-label>Default value</md-tab-label>

                <md-tab-body>
                    <md-content>
                        <div class="p-24">
                            <md-radio-group ng-model="vm.defaultValue.mode">

                                <md-radio-button ng-value="0">Get default value</md-radio-button>
                                <md-radio-button ng-value="1">Set default value</md-radio-button>
                                <md-radio-button ng-value="2">No default value</md-radio-button>

                            </md-radio-group>

                            <div class="p-t-24" data-ng-if="vm.defaultValue.mode === 0">

                                <md-input-container class="dashboard-constructor-field1" style="height: 58px">
                                    <label for="">Report Type</label>
                                    <md-select data-ng-model="vm.defaultValue.entity_type"
                                               data-ng-change="vm.reportTypeChange()">
                                        <md-option value="balance-report">Balance Report</md-option>
                                        <md-option value="pl-report">P&L Report</md-option>
                                        <md-option value="transaction-report">Transaction Report</md-option>
                                    </md-select>
                                </md-input-container>

                                <expandable-items-selector data-model="vm.defaultValue.layout"
                                                           data-title="Layout"
                                                           data-dialog-title="Choose layout"
                                                           data-items="vm.layoutsWithLinkToFilters"
                                                           data-is-disabled="!vm.defaultValue.entity_type"
                                                           data-on-change-callback="vm.onRvLayoutChange()"
                                                           class="dashboard-constructor-selector-directive"></expandable-items-selector>

                                <md-input-container class="dashboard-constructor-field1" style="height: 58px">
                                    <label for="">Report Field</label>
                                    <md-select data-ng-model="vm.defaultValue.report_field">

                                        <md-option
                                                data-ng-repeat="reportField in vm.reportFields"
                                                ng-value="reportField"
                                                ng-bind="reportField.name">
                                        </md-option>

                                    </md-select>
                                </md-input-container>

                                <div class="p-t-24" data-ng-if="vm.defaultValue.report_field.value">
                                    Current default value: {{vm.defaultValue.report_field.value}}
                                </div>

                            </div>

                            <div class="p-t-24" data-ng-if="vm.defaultValue.mode === 1">

                                <md-input-container class="field-date-pick-holder no-error-spacer">
                                    <label data-ng-bind="vm.item.custom_component_name || vm.item.name"></label>
                                    <zh-date-picker data-date-value="vm.defaultValue.setValue"></zh-date-picker>
                                </md-input-container>

                            </div>

                        </div>
                    </md-content>
                </md-tab-body>
            </md-tab>

        </md-tabs>

    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="vm.cancel()" style="margin-right:20px;">
            Cancel
        </md-button>
        <md-button ng-click="vm.agree()" data-ng-disabled="!vm.isValidDefaultValue()" style="margin-right:20px;">
            OK
        </md-button>
    </md-dialog-actions>
</md-dialog>