<md-dialog aria-label="dashboard report viewer charts constructor dialog" class="draggable-dialog width-50" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Report Viewer Charts Component</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="p-24">

            <div layout="row">
                <md-input-container class="dashboard-constructor-field1">
                    <label for="">Name</label>
                    <input type="text" data-ng-model="vm.item.name">
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container class="md-block no-error-spacer dashboard-constructor-field1">
                    <label for="">Chart Type</label>
                    <div>
                        <md-select data-ng-model="vm.item.type"
                                   class="m-0"
                                   md-container-class="common-select-container">

                            <div class="select-options-holder">
                                <md-option value="report_viewer_bars_chart">Chart With Bars</md-option>
                                <md-option value="report_viewer_pie_chart">Pie Chart</md-option>
                            </div>
                        </md-select>
                    </div>
                </md-input-container>
            </div>


            <div class="m-t-16 m-b-16" layout="row">
                <md-input-container class="dashboard-constructor-field1">
                    <label for="">Report Type</label>
                    <md-select data-ng-model="vm.item.settings.entity_type"
                               data-ng-change="vm.reportTypeChange()">
                        <md-option value="balance-report">Balance Report</md-option>
                        <md-option value="pl-report">P&L Report</md-option>
                        <md-option value="transaction-report">Transaction Report</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div class="m-t-16 m-b-16" layout="row">
                <md-input-container class="dashboard-constructor-field1">
                    <label for="">Layout</label>
                    <md-select data-ng-model="vm.item.settings.layout"
                               ng-class="{'disabled-btn': !vm.item.settings.entity_type}"
                               md-on-open="vm.getLayouts()">
                        <md-option
                                data-ng-repeat="layout in vm.layouts | orderBy:'-name' track by layout.id "
                                ng-value="layout.id">
                            {{layout.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="row">

                <md-input-container style="width: 200px;">
                    <label for="">Reference Name (Abscissa)</label>
                    <md-select ng-model="vm.item.settings.abscissa"
                               md-container-class="common-select-container"
                               md-on-close="abscissaSearchTerm = ''"
                               style="width: 200px">
                        <div>
                            <md-select-header>
                                <input data-ng-model="abscissaSearchTerm"
                                       type="search"
                                       placeholder="Search for a ..."
                                       class="md-text md-select-search-pattern select-input-filter"
                                       ng-keydown="$event.stopPropagation()">
                            </md-select-header>

                            <div class="select-options-holder">

                                <md-option
                                        data-ng-repeat="attribute in vm.attributes | filter: {name: abscissaSearchTerm}"
                                        ng-value="attribute.key"
                                        ng-bind="attribute.name">
                                </md-option>

                            </div>
                        </div>
                    </md-select>
                </md-input-container>

                <md-input-container style="width: 200px;">
                    <label for="">Reference Name (Ordinate)</label>
                    <md-select ng-model="vm.item.settings.ordinate"
                               md-container-class="common-select-container"
                               md-on-close="ordinateSearchTerm = ''"
                               style="width: 200px">
                        <div>
                            <md-select-header>
                                <input data-ng-model="ordinateSearchTerm"
                                       type="search"
                                       placeholder="Search for a ..."
                                       class="md-text md-select-search-pattern select-input-filter"
                                       ng-keydown="$event.stopPropagation()">
                            </md-select-header>

                            <div class="select-options-holder">

                                <md-option
                                        data-ng-repeat="attribute in vm.numericAttributes| filter: {name: ordinateSearchTerm}"
                                        ng-value="attribute.key"
                                        ng-bind="attribute.name">
                                </md-option>

                            </div>
                        </div>
                    </md-select>
                </md-input-container>

            </div>

            <div layout="row" class="m-t-16 m-b-16">
                <md-input-container style="width: 200px;">
                    <label for="">Chart bar minimal width (in pixels)</label>
                    <input class="no-input-arrows"
                           type="number"
                           data-ng-model="vm.item.settings.min_bar_width">
                </md-input-container>

                <md-input-container style="width: 200px;">
                    <label for="">Chart bar maximal width (in pixels)</label>
                    <input class="no-input-arrows"
                           type="number"
                           data-ng-model="vm.item.settings.max_bar_width">
                </md-input-container>
            </div>

        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="vm.cancel()" style="margin-right:20px;">
            Cancel
        </md-button>
        <md-button ng-click="vm.agree()"
                   style="margin-right:20px;"
                   ng-disabled="!vm.item.type">
            OK
        </md-button>
    </md-dialog-actions>
</md-dialog>