<md-dialog aria-label="dashboard report viewer charts constructor dialog"
           class="draggable-dialog width-90 dialog-actions-bottom dcChartsElemToDrag dashboard-constructor-dialog"
           drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <is-draggable-sign></is-draggable-sign>

            <h2>New Apex Chart Component</h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div>

            <md-tabs md-dynamic-height>

                <md-tab label="Main">
                    <md-content class="p-16">

                        <div layout="row">
                            <md-input-container class="dashboard-constructor-field1">
                                <label for="">Name</label>
                                <input type="text" data-ng-model="vm.item.name">
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="dashboard-constructor-field1">
                                <label for="">User Code</label>
                                <input type="text" data-ng-model="vm.item.user_code">
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <two-fields-multiselect ng-model="vm.item.settings.components_to_listen"
                                                    title="Components to Listen"
                                                    items="vm.componentsTypesToListen"
                                                    model="vm.item.settings.components_to_listen"
                                                    name-property="name"
                                                    data-selected-items-indication="array"
                                                    class="dashboard-constructor-selector-directive"></two-fields-multiselect>
                        </div>

                        <div>

                            <md-input-container style="height: 58px">

                                <md-checkbox data-ng-model="vm.item.settings.show_header"
                                >Show Header
                                </md-checkbox>

                            </md-input-container>

                        </div>

                        <javascript-editor source="vm.item.source" index="0"></javascript-editor>

                    </md-content>
                </md-tab>

            </md-tabs>

        </div>
    </md-dialog-content>

    <!--    <md-dialog-actions layout="row" layout-align="space-between">-->
    <md-dialog-actions layout="row">


        <md-button ng-click="vm.cancel()" style="margin-right:20px;">
            Cancel
        </md-button>
        <md-button ng-click="vm.agree()"
                   style="margin-right:20px;">
            OK
        </md-button>

        <dialog-window-resizer data-ng-if="vm.dialogElemToResize"
                               data-elem-to-resize="vm.dialogElemToResize"
                               data-on-resize-callback="vm.rearrangeMdDialogActions()"
                               class="dialog-window-resizer_type1"></dialog-window-resizer>
    </md-dialog-actions>
</md-dialog>